$footer-background-color:#edf7fd;

.skyplus-button-width {
  width: 100%;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  font-size: rem(12px);
  font-weight: 400;
  line-height: rem(18px);
  font-family: var(--font-family-poppins-regular);
  padding-bottom: rem(8px);
  color: var(--text-tertiary);
  @include media('>tablet') {
    font-size: rem(18px);
    line-height: rem(32px);
  }
}

.desc {
  font-size: rem(16px);
  text-align: center;
  font-weight: 500;
  line-height: rem(20px);
  font-family: var(--font-family-poppins-regular);
  @include media('>tablet') {
    padding-top: rem(10px);
  }
}

.info {
  padding-top: rem(10px);
  font-size: rem(24px);
  line-height: rem(32px);
  font-family: var(--font-family-bauhuas-std-medium);
  font-weight: 500;
  letter-spacing: rem(-0.6px);

  &__text {
    color: var(--accent-dark)
  }
}

.sub {
  color: var(--text-tertiary);
  font-size: rem(12px);
  padding-left: rem(33px);
  line-height: rem(18px);
  font-weight: 400;
  font-family: var(--font-family-poppins-regular)
}

.sub-header {
  padding-top: rem(10px);
  font-size: rem(14px);
  line-height: rem(20px);
  font-weight: 600;
}

.radio-div {
  margin-top: rem(20px);
}

.radio {
  padding-bottom: rem(0px) !important;
}

.label {
  font-size: rem(14px);
  line-height: rem(20px);
  font-weight: 400;
  font-family: var(--font-family-poppins-regular);
}
.destination {
  &-toggle {
    margin: rem(20px) 0;
    padding: rem(4px);
    background-color: var(--white);
    border: rem(1px) solid var(--secondary-deep);
    border-radius: rem(22px);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(50%, 1fr);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scrollbar-width: none;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: rem(4px);

    &>* {
      scroll-snap-align: start;
    }

    @include media(">=desktop") {
      margin: rem(36px) 0 rem(20px) 0;
      grid-auto-columns: minmax(33.33%, 1fr);
    }
  }

  &-segment-btn {
    button {
      padding: rem(8px) rem(16px) !important;
      display: flex;
      gap: rem(8px);
      align-items: center;
      justify-content: center;
      border: 0;
      outline: 0;
      font-family: var(--font-family-poppins-regular);
      font-size: rem(16px);
      font-weight: 500;
      line-height: rem(24px);
      background: var(--primary-main);
      border-radius: rem(25px);
      color: var(--secondary-light);

      @include media(">=desktop") {
        font-size: rem(16px);
        line-height: rem(24px);
      }
    }
    &.not-selected button {
      background-color: transparent;
      color: var(--text-tertiary);
    }
  }
}

.options {
  font-size: rem(12px);
  line-height: rem(24px);

  @include media('>tablet') {
    font-size: rem(16px);
  }
}

.flight-card-not-selected {
  background-color: var(--secondary-white) !important;
}

.flight-card-selected {
  background-color: var(--secondary-light) !important;
}

.flight-card {
  display: flex;
  justify-content: space-between;
  padding: rem(16px) rem(24px) rem(16px) rem(24px);
  border-radius: 8px;
  border: rem(1px) solid var(--secondary-main);
  gap: rem(16px);
  margin-top: rem(15px);
  cursor: pointer;
}

.travel-info {
  justify-content: center;
  gap: 0.8rem;
  align-items: center;
  display: inline-flex;
  .dest{
    font-family: var(--font-family-poppins-regular);
  }
}

.source {
  font-weight: 500;
  font-size: rem(16px);
  line-height: rem(24px);
  font-family: var(--font-family-poppins-regular);
}

.dots {
  display: flex;
  flex-grow: 1;
  width: rem(30px);
  max-width: rem(30px);
  border-bottom: rem(1px) dotted currentcolor;
  color: var(--text-tertiary-dark);
}

.seat {
  align-items: center;
  display: flex;
  height: rem(0px);
  padding: rem(20px) rem(0px) rem(10px) rem(0px);

  .date {
    white-space: nowrap;
    align-items: center;
    display: flex;
    padding: rem(15px) rem(20px) rem(15px) rem(8px);
    border-radius: rem(4px);
    color: var(--text-tertiary);
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    font-family: var(--font-family-poppins-regular);
  }

  .pax {
    white-space: nowrap;
    align-items: center;
    display: flex;
    padding: rem(15px) rem(15px) rem(15px) rem(8px);
    border-radius: rem(4px);
    color: var(--text-tertiary);
    font-family: var(--font-family-poppins-regular);
  }
}

.checkbox {
  grid-row: span 2;
  align-items: center;
  display: flex;
  transform: scale(1.5);
  margin: rem(8px);
}

input[type="checkbox"]:checked {
  accent-color: var(--primary-main);
}

.change-cancel-flight{
  .skyplus-offcanvas {
    &__contents {
      background-color: transparent;
    }
    &__overlay {
      background: rgba(40, 30, 168, 0.5490196078) !important;
      justify-content: center !important;
    }
  }
  .sky-icons{
    position: relative;
    cursor: pointer;
      &::before{
        position: absolute;
        top: -20px;
        left: -10px;
        background: var(--white);
        border-radius: rem(20px);
        padding: rem(9px);
      }
  }
}

.change-flight-details {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20px);
    box-shadow: rem(1px) rem(1px) rem(1px) #D7E1E9;
  }
  &__footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: unset;
    width: 100%;
    padding-top: rem(48px);
    @include media('>=tablet') {
      padding-top: rem(8px);
      bottom: rem(12px);
      width: 92%;
      position: fixed;
    }
    .skyplus-button {
      width: 100%
    }

    button {
      display: flex;
      gap: rem(8px);
      align-items: center;
      justify-content: center;
      border: 0 !important;
      outline: 0;
      font-size: rem(14px);
      font-weight: 500;
      line-height: rem(20px);
      background: var(--primary-main) !important;
      border-radius: rem(25px);
      color: var(--secondary-light) !important;
      width: 100% !important;
      &.skyplus-button--disabled{
        background-color: var(--btn-disabled-background) !important;
        cursor: default !important;
        pointer-events: none;
        border-color: transparent;
      }
      @include media('>=tablet') {
        line-height: rem(24px);
      }

      &.skyplus-button--link{
        background: none !important;
        color: #009 !important;
      }
    }

    @include media('>=desktop') {
      justify-content: space-around;

    }

    &.ff-enroll-button.footer{
      flex-direction: column;
      background-color: $footer-background-color;
      bottom: 0;
      padding-bottom: rem(12px);
    }
  }
  
  &__close {
    font-size: rem(28px);
    line-height: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  &__container {
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    padding: rem(10px) rem(0px) rem(80px);
    @include media('>tablet') {
      padding: rem(24px) rem(0px) rem(0) rem(0px);
    }
    .head {
      gap: rem(4px);
      .heading {
        padding-bottom: 0;
        text-align: center;
        font-size: rem(12px);
        line-height: rem(18px);
        color: var(--text-secondary);
        font-family: var(--font-family-poppins-regular);
        font-weight: 400;
        @include media('>tablet') {
          font-size: rem(20px);
          line-height: rem(32px);
          gap: rem(24px);
          text-align: left;
          color: get-color("color-text-grey1");
        }
      }
    }
    .desc{
      padding-top: rem(8px);
      text-align: left;
      font-size: rem(16px);
      line-height: rem(20px);
      letter-spacing: -0.6px;
      font-weight: 500;
      .sub-title {
        font-weight: 500;
        p {
          line-height: rem(20px);
          font-size: rem(16px);
          text-align: center;
          @include media('>tablet') {
            font-size: rem(24px);
            line-height: rem(32px);
            text-align: left;
          }
        }
      }
      @include media('>tablet') {
        font-size: rem(24px);
        line-height: rem(32px);
      }
    }
    .container-info {
      gap: rem(48px);
      @include media('>tablet') {
        gap: rem(24px);
      }
      .btn-container {
        padding: rem(12px);
        @include media('>tablet') {
          padding: rem(16px);
        }
        .btn-content {
          gap: 0px;
          .sub-title {
            font-size: rem(16px);
            line-height: rem(20px);
            font-family: var(--font-family-bauhuas-std-medium);
            font-weight: 500;
            line-height: rem(20px);
            width: 53%;
            @include media('>tablet') {
              font-size: rem(18px);
              line-height: rem(24px);
            }
          }
        }
      }
      .btn-change-flight {
        .change-flight-btn-label {
          font-family: var(--font-family-poppins-regular);
          font-weight: 500;
          @include media('>tablet') {
            font-size: rem(16px);
          }
        }
        .sky-icons {
          color: var(--primary-main);
          &::before {
            color: var(--primary-main);
          }
        }
      }
      .table-container {
        border: 1px solid var(--secondary-deep);
        margin-top: rem(16px);
        @include media('>tablet') {
          margin-top: rem(24px);
        }
        .content-container {
          margin: 0;
          margin-top: rem(12px);
          display: flex;
          position: relative;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          font-family: var(--font-family-poppins-regular);
          @include media('>tablet') {
            margin-top: rem(16px);
          }
          .content-row {
            padding: 0 rem(16px);
            gap: rem(8px);
            justify-content: space-between;
            width: 100%;
            margin-bottom: rem(4px);
            font-weight: 400;
            @include media('>tablet') {
              margin-bottom: rem(8px);
              &:last-child {
                padding: rem(10px) rem(16px);
              }
            }
            .content-cell {
              line-height: rem(18px);
              font-size: rem(12px);
              @include media('>tablet') {
                font-size: rem(14px);
                line-height: rem(20px);
              }

            }
            &:last-child {
              margin-bottom: 0px;
              margin-top: rem(4px);
              padding: rem(9px) rem(16px);
              font-weight: 600;
              color: var(--text-primary);
            }
            &.active-row {
              line-height: rem(20px);
              font-size: rem(14px);
              @include media('>tablet') {
                line-height: rem(16px);
                font-size: rem(16px);
                padding: rem(10px) rem(16px);
              }
            }
          }
        }
      }
      .change-booking-details__container {
        margin-top: rem(32px);
        font-family: var(--font-family-poppins-regular);
        @include media('>tablet') {
          margin-top: rem(40px);
        }
        .sub-header {
          padding-top: 0;
        }
        div {
          .radio-div {
            margin-top: rem(20px);
            @include media('>tablet') {
              margin-top: rem(12px);
            }
            label {
              padding: 0;
              height: rem(30px);
              @include media('>tablet') {
                height: rem(40px);
              }
              p {
                font-size: rem(12px);
                @include media('>tablet') {
                  font-size: rem(14px);
                }
              }
              .custom-radio {
                width: rem(16px);
                height: rem(16px);
                @include media('>tablet') {
                  width: rem(20px);
                  height: rem(20px);
                }
              }
            } 
          }
          &:last-child {
            .radio-div {
              margin-top: rem(16px);
              @include media('>tablet') {
                margin-top: rem(20px);
              }
            }
          }
        }
        
      }
      .flight-card {
        border: 1px solid var(--secondary-deep);
        background-color: var(--white);
        padding: rem(12px);
        @include media('>tablet') {
          padding: rem(16px) rem(24px);
        }
        & > div {
          .travel-info {
            .source, .dest {
              color: var(--text-primary);
              font-family: var(--font-family-poppins-medium);
              font-size: rem(14px);
              line-height: rem(24px);
              font-weight: 500;
              @include media('>tablet') {
                font-size: rem(16px);
                line-height: rem(24px);
              }
            }
          }
          .seat {
            padding-top: rem(9px);
            @include media('>tablet') {
              padding-top: rem(16px);
            }
            .date, .pax {
              font-weight: 400;
              color: var(--text-secondary);
              font-family: var(--font-family-poppins-regular);
              font-size: rem(12px);
              line-height: rem(18px);
              @include media('>tablet') {
                font-size: rem(14px);
                line-height: rem(20px);
              }
            }
            .icon-calender, .icon-Passenger {
              &::before {
                color: var(--text-secondary);
              } 
            }
          }
          .checkbox > input[type="checkbox"] {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              border: 1.5px solid var(--primary-main);
              width: 100%;
              height: 100%;
              border-radius: rem(3px);
            }
            
          }
        }
      }
      .destination-toggle {
        margin-top: rem(32px);
      }
    }

    .destination-toggle {
      margin: rem(34px) 0 rem(20px);
      @include media('>tablet'){
        margin: rem(20px) 0 rem(20px);
      }
      .skyplus-button {
        width: 95%;
        display: inline-block;
        color: var(--secondary-white);

        &.not-selected {
          color: var(--text-tertiary);
        }
        &.destination-segment-btn {
          width: 100%;
        }
        button {
          width: 100%;
          display: inline-block;
          padding: rem(8px) rem(12px) !important;

          span {
            width: 100%;
            text-align: center;
            font-family: var(--font-family-poppins-regular);
            font-style: normal;
            font-weight: 500;
            line-height: rem(20px);
            font-size: rem(14px);
            @include media('>tablet') {
              font-size: rem(16px);
              line-height: rem(24px);
            }
          }
        }

      }
    }
    .footer {
      background-color: transparent;
      border-top:none;
      @include media('<tablet') {
        padding-top: 0;
        margin-top: 40px;
      }
    }
    .head {
      // @include media('<tablet') {
      //   display: none;
      // }
    }
  }
}
.mobile-variation1 {
  .skyplus-offcanvas {
    &__contents {
      background-color: transparent !important;
      @include media('>tablet') {
        background-color: var(--secondary-white) !important;
      }
      &--header {
        .icon-close-simple {
          background-color: var(--white);
          padding: rem(8px);
          border-radius: 50%;
          margin-left: 0;
          font-weight: 600;
          @include media('>=tablet') {
            margin-left: rem(12px);
          }
          
        }
      }
      
    }
    &__overlay {
      background: linear-gradient(224deg, rgba(21, 32, 95, 0.80) 6.84%, rgba(36, 64, 154, 0.80) 73.19%) !important;
      justify-content: center !important;
    }
  }
  &.change-cancel-flight {
    .skyplus-offcanvas {
      justify-content: center !important;
      &__contents {
        @include media('<tablet') {
          align-items: flex-end;
        }
        &--header {
          @include media('<tablet') {
            display: inline-block;
            margin-bottom: 24px;
            text-align: center;
            position: relative;
          }
          .icon-close-simple {
            background-color: var(--white);
            padding: unset;
            margin-left: unset;
            &::before {
              top: unset;
              left: unset;
              @include media('>=tablet') {
                left: rem(12px);
              }
            }
          }
          @include media('<tablet') {
            align-items: flex-end;
            padding-bottom: rem(12px);
            height: auto;
            padding-right: rem(20px);
            margin-bottom: rem(32px);
          }
        }
        @include media('<tablet') {
          &--body {
            padding: rem(24px) rem(20px);
            position: relative;
            bottom: 0;
            margin-bottom: 0;
          }
          .container-info {
            display: inline-block;
            width: 100%;
            position: relative;
            height: auto;
          }
        }
        @include media('>tablet') {
          &--body {
            margin-bottom: 0;
          }
        } 
      }
      &__overlay {
        background: linear-gradient(224.24deg,
        rgba(21, 32, 95, 0.8) 6.84%,
        rgba(36, 64, 154, 0.8) 73.19%) !important;
      }
    }
  }
}