@import '../../styles/utils/utils';

.pe-shimmer {
  .animate {
    border-radius: rem(8) !important;
  }

  .tabs {
    height: rem(40);
  }

  .access-saved-pax {
    height: rem(150);

    .animate {
      background-color: var(--white);
    }
  }

  .pax-input div {
    height: rem(56);
  }

  .terms-condition div {
    height: rem(20);
  }

  .pax-contact {
    .title {
      height: rem(20);
    }

    .contact-fields {
      grid-template-columns: 1fr 5fr;

      @include media('>=tablet') {
        grid-template-columns: 1fr 5fr 5fr;
      }

      div {
        height: rem(42);
      }
    }
  }

  .pe-shadow-box {
    box-shadow: 0 0 10px 0 get-color(action-disabled-stroke);
    width: rem(100);
    background-color: $white;
    border-radius: rem(8);
  }

  .title-height {
    height: rem(20);
  }

  .h-40 {
    height: rem(40);
  }

  .w-sm {
    width: rem(30);
  }

  .w-md {
    width: rem(150);
  }
}