$background-linear-1 : #F7F9FE;
  $background-linear-2 : #ECF7FC;

  .fare-details-wrapper {
    width: 100%;
    background: var(--white);
    border-radius: rem(12px);
    padding: rem(12px) rem(20px);
      @include media('>=desktop') {
      background: linear-gradient(to bottom, $background-linear-1, $background-linear-2);
    }

    &__header {
      @include media('>=desktop') {
        background: var(--white);
        padding: rem(12px) rem(16px) rem(12px) rem(16px);
        margin: rem(-20px) rem(-20px) rem(20px) rem(-20px);
      }
    }

    &__title {
      font-family: var(--font-family-poppins-regular);
      font-weight: 400;
      font-size: rem(20px);
      line-height: rem(32px);
      color: var(--text-secondary);
    }

    &__sub-title {
      @extend .fare-details-wrapper__sub-title;
      font-family: var(--font-family-bauhuas-std-medium);
      font-weight: 400;
      font-size: rem(24px);
      line-height: rem(32px);
      margin-bottom:rem(6px);
      color: var(--text-primary);
      //@include media('>=desktop') {
        padding: rem(12px) 0;
      //}
    }

    .fare-breakup-container {
      font-family: var(--font-family-poppins-regular);
      background: var(--white);
      border-radius: rem(8px) rem(8px) 0 0;
      border: rem(1px) solid var(--action-selected-background);
      padding: rem(16px);

      &__card {
        .fare-breakup-container-lbl {
          font-weight: 500;
          font-size: rem(14px);
          line-height: rem(24px);
          color: var(--text-primary);
          margin-bottom: rem(12px);
          @include media('>=desktop') {
            font-size: rem(16px);
          }
        }

        .fare-breakup-container-charge {
          border-top: rem(1.5px) dotted var(--action-disabled-stroke);
          border-bottom: rem(1.5px) dotted var(--action-disabled-stroke);
          padding: rem(4px) 0 rem(4px) 0;
        }

        .fare-breakup-container-group {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: rem(7px) 0;
          font-weight: 400;
          font-size: rem(12px);
          line-height: rem(20px);
          color: var(--text-secondary);
          @include media('>=desktop') {
            font-size: rem(14px);
          }
        }

        .fare-breakup-container-subtotal {
          display: flex;
          align-items: center;
          justify-content: end;
          padding: rem(4px) 0 rem(4px) 0;
          color: var(--text-primary);
          font-weight: 400;
          font-size: rem(14px);
          line-height: rem(24px);
          @include media('>=desktop') {
            font-size: rem(16px);
          }
        }
      }

    }
    &__total{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--text-alice-blue);
      padding: rem(8px) rem(16px)  rem(8px) rem(16px);
      border-radius: 0 0 rem(8px) rem(8px);
      font-weight: 600;
      font-size: rem(16px);
      line-height: rem(24px);
      color: var(--text-primary);
      margin-bottom: rem(100px);
    }
  }

  .payment-details-footer-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: rem(16px) rem(37px) rem(24px) rem(22px);
    box-shadow: 0px rem(-12px) rem(24px) var(--modal-head-shadow-color);

    &__lbl {
      display: flex;
      flex-direction: column;

      &__price {
        font-weight: 600;
        font-size: rem(16px);
        line-height: rem(24px);
        color: var(--text-primary)
      }

      &__travellers {
        color: var(--text-tertiary);
        font-size: rem(12px);
        line-height: rem(18px);
      }
    }

    &__amt {
      color: var(--text-green);
      font-weight: 600;
      font-size: rem(20px);
      line-height: rem(32px);
    }
  }
  .sky-icons{
    margin: 0;
  }
  .skyplus-offcanvas__contents--body{
    padding: 0;
  }

  .fare-detail-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99999999999;
    position: relative;
}
.skyplus-offcanvas__contents{
  overflow: hidden;
}