@import "../../../index.scss";

.vouchers-container {
  font-family: var(--font-family-bauhuas-std-medium);
  min-height: rem(257px);
  padding: rem(16px) rem(12px);
  border-radius: rem(12px);
  opacity: 0px;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px 0px #4C5D9E14;
  margin: rem(24px) 0;
  display: flex;
  flex-flow: column;

  &--title {
    font-size: rem(16px);
    font-weight: 500;
    line-height: rem(19.2px);
    text-align: left;
    color: #2E2E2E;

    @include media(">=desktop") {
      font-size: rem(24px);
      line-height: rem(28px);
    }
  }

  .chip-container {
    font-family: var(--font-family-poppins-semibold);
    margin: rem(16px) 0;

    .chip {
      font-family: var(--font-family-poppins-semibold);
      font-size: rem(10px);
      font-weight: 500;
      line-height: rem(16px);
      text-align: center;
      margin-right: rem(12px);
      width: rem(61px);
      height: rem(28px);
      padding: rem(6px) rem(12px);
      border-radius: 16px;
      background-color: #FFFFFF;
      border: 1px solid #DAF1FF;
      color: #4B5772;
      opacity: 0px;

      &.active {
        color: #25304B;
        background: #EAF8FF;
        border: 1px solid #AFE4FF
      }

    }
  }

  .content-container {
    display: flex;
    flex: 1;
    flex-flow: column;
  }
}