.stepper-input {
  display: inline-flex;
  gap: rem(16px);
  border-radius: rem(15px);
  align-items: center;
  padding: rem(2px);
  border: var(--border-secondary);

  &--left {
    cursor: pointer;
    color: var(--other-divider);
  }

  &--counter {
    font-weight: 400;
    font-size: rem(14px);
  }

  &--right {
    cursor: pointer;
    color: var(--other-divider);
  }

  .sky-icons.disabled {
    opacity: 0.5;
    cursor: default;
    color: var(other-divider);
  }
}

.stepper-input.highlight {
  background-color: get-color(secondary-light);

  .stepper-input--counter {
    color: get-color(primary-main);
  }
}
