.passenger-barcode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary-light);
    padding: rem(12px);
    border-radius: rem(12px);
}
