.webckeckin-success {
  .skyplus-modal-content {
    width: rem(335px);
    &-heading {
      font-family: var(--font-family-bauhuas-std-medium);
      font-size: rem(20px);
      line-height: rem(24px);
    }

    &-body {
      font-size: rem(12px);
      line-height: rem(18px);
      color: get-color(text-tertiary);
      font-family: var(--font-family-poppins-regular);
    }

    &-footer {
      justify-content: space-between;
      gap: rem(12px);

      .skyplus-button {
        flex: 1;

        button {
          font-family: var(--font-family-poppins-medium);
          font-size: rem(14px);
        }
      }
    }
  }
}
