@import '../../../../styles/utils/utils';

.remove-contact-modal-wrapper {
    .main-heading {
        color: var(--text-primary);
        font-family: var(--font-family-poppins-medium);
        font-size: rem(14px);
        line-height: rem(20px);
    }

    .sub-heading {
        color: var(--text-tertiary);

    }

    .btn {
        border-radius: rem(22);
        padding: rem(12) rem(32);    
        font-size: rem(14px);
        font-family: var(--font-family-poppins-regular);
    }

    .dismiss-btn {
        background: var(--white);
        color: var(--action-selected-text);
        border: rem(1) solid var(--action-selected-text);
    }

    .remove-btn {
        color: var(--white);
        background: var(--action-selected-text);
        border: rem(1) solid var(--action-selected-text);
    }
}