.custom-calendar-day {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;

  .date {
    line-height: 1.6;

    margin-top: rem(4px);
  }

  .price {
    display: block;
    line-height: 1.5;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-left-radius: rem(1px);
    border-bottom-right-radius: rem(1px);
    color: get-color(text-tertiary) !important;
    font-family: var(--font-family-poppins-regular) !important;
    font-size: rem(10px);
  }

  .holiday-dot {
    position: absolute;
    top: rem(4px);
    right: rem(4px);
    width: rem(4px);
    height: rem(4px);
    background-color: get-color(system-information);
    border-radius: rem(2px);
  }

  .loading {
    filter: blur(2px);
    text-shadow: 0 0 2px rgb(0 0 0 / 12%);
  }
}

.skyplus-calendar {
  box-sizing: content-box;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 rem(20px);

  @include media('>=desktop') {
    padding: unset;
  }

  * {
    box-sizing: content-box;
  }

  .rdrDayHovered {
    border-radius: 0;
  }

  .rdrDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    gap: rem(3px);
    justify-content: center;
    .rdrDayHovered {
      .rdrDayNumber::after {
        border-radius: rem(8px);
        // height: rem(42px);
      }
    }
  }

  @include media('>=desktop') {
    padding: rem(10px);
  }

  .rdrWeekDay {
    width: rem(46px);
    margin: rem(1px);
    @include media('>=desktop') {
      max-width: rem(45px);
    }
  }

  .rdrDay {
    height: rem(48px);
    width: rem(46px);

    @include media('>=desktop') {
      height: rem(42px);
      width: rem(45px);
    }

    @include outline-within();
  }

  .rdrDateDisplayWrapper {
    display: none;
  }

  .rdrNextPrevButton {
    width: 0;
    height: 0;
    &:focus-within {
      i::before {
        outline: rem(1px) solid get-color(secondary-main) !important;
        outline-offset: rem(2px);
      }
    }
  }

  .rdrDayPassive {
    visibility: hidden;
  }

  .rdrDayDisabled {
    position: relative;
    background-color: transparent;

    .price {
      display: none;
    }

    .holiday-dot {
      opacity: 0.5;
    }

    .rdrDayNumber {
      span {
        color: get-color(sel-con-disabled-text);
      }
    }

    .holiday-dot {
      background-color: get-color(btn-disabled-background);
    }

    .rdrDayNumber {
      .custom-calendar-day {
        border: none;
      }
    }
  }

  .rdrPprevButton i {
    font-size: rem(20px);
    margin-top: rem(-10px);

    @include media('>=desktop') {
      margin-top: rem(16px);
    }

    font-style: normal;
    border-width: 0;
    border-color: transparent;
    transform: unset;
    position: relative;

    &::before {
      font-family: $font-family-indigo;
      content: '\e96d';
      font-size: rem(20px);
      font-style: normal;
      border-width: 0;
      border-color: transparent;
      transform: unset;
    }
  }

  .rdrDayToday {
    background-color: transparent !important;
    border-radius: rem(4px);
  }

  .rdrNextButton i {
    margin-top: rem(-10px);

    @include media('>=desktop') {
      margin-top: rem(16px);
    }

    position: relative;
    font-size: rem(20px);
    font-style: normal;
    border-width: 0;
    border-color: transparent;
    transform: unset;
    right: rem(30px);

    &::before {
      font-family: $font-family-indigo;
      content: '\e971';
      font-style: normal;
      border-width: 0;
      border-color: transparent;
    }
  }

  span.rdrMonthAndYearPickers {
    font-size: rem(12px);
    line-height: 1.5;
    font-weight: 400;
    color: get-color(text-secondary);

    @include media('>=desktop') {
      display: none;
    }
  }

  // .rdrSelected {
  //   border-radius: rem(4px);
  //   color: get-color(text-primary) !important;
  //   background-color: get-color(secondary-main) !important;
  //   font-size: rem(12px);
  //   font-family: var(--font-family-poppins-medium);
  //   inset: 0;
  // }

  .rdrDayNumber span {
    color: get-color(text-secondary);
  }

  .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
  .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
  .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span {
    color: get-color(action-active);
    font-family: var(--font-family-poppins-medium);
  }

  .rdrDayToday .rdrDayNumber span::after {
    display: none;
  }

  .rdrCalendarWrapper:not(.rdrDateRangeWrapper)
    .rdrDayHovered
    .rdrDayNumber::after {
    border: none;
  }

  .rdrDayEndPreview,
  .rdrDayStartPreview {
    border: none;
  }

  .rdrMonth {
    width: 91vw;

    padding: 0 rem(10px);

    @include media('>=desktop') {
      width: rem(335px);
    }

    .rdrMonthName {
      display: none;
      @include media('>=desktop') {
        text-align: center;
        font-weight: 400;
        color: get-color(text-secondary);
        padding: rem(16px) 0;
        display: block;
      }
    }

    .rdrWeekDay {
      color: get-color(primary-main);
      font-weight: 400;
    }
  }

  .rdrInRange,
  .rdrEndEdge,
  .rdrStartEdge {
    inset: 0;
    border-radius: rem(2px);
  }

  .rdrInRange {
    background-color: get-color(text-alice-blue);
  }

  .rdrStartEdge,
  .rdrEndEdge {
    background-color: get-color(secondary-main);
  }

  .rdrMonthAndYearWrapper {
    padding: 0;
    height: 0;
    display: flex;
    margin: 0 rem(10px) rem(24px);

    @include media('>=desktop') {
      margin: 0;
    }

    width: 100%;
  }

  .rdrDayEndOfWeek {
    .rdrInRange {
      border: rem(2px);
    }
  }
}

.journey-row {
  .search-widget-form-body {
    &__departure,
    &__return {
      background-color: get-color(white);

      &.layout-1 {
        div.bw-popover__content {
          @include media('>=desktop') {
            left: rem(-100px);
          }
        }
      }

      &.layout-2 {
        div.bw-popover__content {
          @include media('>=desktop') {
            left: rem(-300px);
          }
        }
      }
    }
  }
}

.date-selection {
  overflow: hidden auto;
  position: relative;
  background-color: get-color(white);
  border-top-left-radius: rem(12px);
  border-top-right-radius: rem(12px);
  height: min-content;
  margin: rem(-5px) rem(-1px);

  &-header {
    position: sticky;
    top: 0;
    background-color: get-color(white);
    z-index: 9;

    .skyplus-heading {
      font-size: rem(16px);
      font-weight: 400;
      font-family: var(--font-family-bauhuas-std-medium);
    }

    .skyplus-heading,
    .skyplus-dropdown-list__searchbox {
      @include media('>=desktop') {
        display: none;
      }
    }

    &-pill {
      display: flex;
      padding: rem(2px);
      margin: rem(16px) rem(24px) rem(32px);
      border: var(--border-secondary);

      @include media('>=desktop') {
        display: none;
      }
    }
  }

  .holiday-container {
    margin-top: rem(24px);

    @include media('>=desktop') {
      margin-top: 0;
    }

    background-image: radial-gradient(
      circle closest-side,
      get-color(secondary-main) calc(100% - 0.5px),
      transparent 100%
    );
    background-repeat: repeat-x;
    background-size: 4px 2px;
    padding: rem(12px) rem(24px);
    display: flex;
    gap: rem(8px);
    align-items: center;

    span {
      color: get-color(text-secondary);
    }

    .dot {
      width: rem(8px);
      height: rem(8px);
      border-radius: rem(4px);
      background-color: get-color(system-information);
      margin-top: rem(-2px);
    }

    &-label {
      font-size: rem(14px);
      color: get-color(text-secondary);
    }
  }
}

.rdrCalendarWrapper:not(.rdrDateRangeWrapper)
  .rdrDayHovered
  .rdrDayNumber::after {
  border-radius: rem(4px) !important;
  top: 0;
  bottom: 0;
}

.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber {
  span {
    color: get-color(text-primary) !important;
    background-color: transparent !important;
    font-size: rem(12px);
    font-family: var(--font-family-poppins-medium);
  }

  .price {
    font-family: var(--font-family-poppins-regular) !important;
    color: get-color(text-secondary) !important;
  }

  .custom-calendar-day {
    background-color: get-color(secondary-main) !important;
    border-radius: rem(2px);
  }
}

.rdrDayStartPreview {
  display: none;
}

.rdrDayNumber {
  top: 0;
  bottom: 0;
}

.custom-calendar-day {
  border-radius: rem(2px);

  &.L {
    border-bottom: 1px solid get-color(accent-main);
  }

  &.M {
    border-bottom: 1px solid transparent;
  }

  &.H {
    border-bottom: 1px solid transparent;
  }
  &.null {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.rdrWeekDays {
  gap: rem(4px);

  font-size: rem(10px);

  @include media('>=desktop') {
    font-size: rem(12px);
  }
}
