// TD: not in global CSS
$backgroundColor: #26304e59;
$boxShadow: #194a6914;

.skyplus-recommended {
  position: relative;
  height: 100%;

  &__dialog-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__each-label {
    color: var(--white);
    font-family: var(--font-family-poppins-regular);
    font-weight: 400;
    font-size: rem(12px);
    line-height: rem(18px);   
  }

  img {
    max-width: 100%;
    object-fit: cover;
    border-radius: rem(16px);
    height: inherit;
    width: 100%;
  }

  &__blur-container {
    position: absolute;
    background: $backgroundColor;
    border-radius: rem(16px);
    box-shadow: 0 0 rem(12px) 0 $boxShadow;
    backdrop-filter: blur(10px);
    padding: rem(16px);
    bottom: rem(8px);
    left: rem(8px);
    right: rem(8px);

    @include media('>=tablet') {
      bottom: rem(20px);
      left: rem(24px);
      right: rem(24px);
    }

    &-title {
      color: var(--white);
      margin-bottom: rem(4px);
      font-size: rem(18px);
      font-weight: 500;
      line-height: rem(24px);
      font-family: var(--font-family-poppins-medium);
    }

    &-sub-title {
      color: var(--white);
      margin-bottom: rem(4px);
      max-width: 50%;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      button:disabled{
        border: none !important;
        background-color: var(--btn-disabled-background-light) !important;
        color: var(--action-disabled-text);
      }
    }
  }

  &__added-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--edit-button {
      color: var(--white);
      padding: rem(4px) rem(6px);
      text-align: center;
      cursor: pointer;

      &.disabled {
        color: var(--btn-disabled-background);
        pointer-events: none;
      }
    }
  }

  &__slashed-price {
    color: var(--secondary-deep);
  }

  &__offered-price {
    margin-left: rem(4px);
    color: var(--accent-main);
    font-size: rem(24px);
    font-weight: 600;
    line-height: rem(30px);
    font-family: var(--font-family-poppins-semibold);
  }
}

.Addon.skyplus-carousel__slide:has(.skyplus-recommended) {
  height: rem(189px) !important;

  @include media('>=tablet') {
    height: rem(362px) !important;
  }
  
  .skyplus-addon-mf__addon-item {
    height: 100%;
  }
}
