@import '~skyplus-design-system-app/src/common/scss/base';

.my-bookings__card {
  &-flight-time {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &-divider-imgs {
    height: 10px;
  }

  &-divider {
    border-bottom: 1px dotted var(--text-alice-blue) !important;
  }

  &-divider-dark {
    border-bottom: 1px dotted var(--text-disabled) !important;
  }

  &-info {
    .cityCode {
        color: var(--text-primary) !important;
        font-size: rem(16px);
        line-height: rem(24px);
    
        @include media(">=tablet") {
          font-size: rem(24px);
          line-height: rem(36px);
        }
      }

    .deptTime,
    .arrivalTime{
      color: var(--text-tertiary);

      @include media(">=tablet"){
        color: var(--text-secondary);
      }
    }

    .divider-spacing{
      margin-bottom: rem(12px);
      padding-bottom: rem(12px);
      
      @include media(">=tablet"){
        margin-bottom: rem(16px);
        padding-bottom: rem(16px);
      }

    }
  }

  .text-light {
    font-family: var(--font-family-poppins-regular);
    font-size: rem(10px);
    line-height: rem(16px);

    @include media('>=tablet'){
      font-family: var(--font-family-poppins-regular);
      font-size: rem(14px);
      line-height: rem(20px);
    }
  }
  
.booking-info-loyalty-chip {
  float: right;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
}

.burn-points-chip {
  div:first-child {
    background-color: #E4454D;

    span:first-child {
      color: #fff;
    }
  }
}

.earn-points-chip {
  div:first-child {
    background-color: #218946;

    span:first-child {
      color: #fff;
    }
  }
}
}

.border-primary-main {
  border-color: var(--primary-main) !important;
}

.border-gray {
  border-color: var(--action-disabled-text) !important;
}

.fw-inc{
  font-weight: 500 !important;
}

.reverse{  
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.headingFont{
    @media screen and (width >=768px) {
    font-size: 24px;
  }

    font-size: 16px;
}

.tags-regular {
  font-family: var(--font-family-poppins-regular);
  font-size: rem(10px);
  line-height: rem(16px);

  @include media('>=tablet'){
    font-family: var(--font-family-poppins-regular);
    font-size: rem(12px);
    line-height: rem(18px);
  } 
}

.tags-light {
  font-family: var(--font-family-poppins-regular);
  font-size: rem(10px);
  line-height: rem(16px);

  @include media('>=tablet'){
    font-family: var(--font-family-poppins-regular);
    font-size: rem(12px);
    line-height: rem(18px);
  } 
}

.cityFont {
  font-family: var(--font-family-poppins-light);
  font-size: rem(12px);
  line-height: rem(18px);

  @include media('>=tablet') {
    font-family: var(--font-family-poppins-regular);
    font-size: rem(14px);
    line-height: rem(20px);
  }
}
.flightNumbers {
  display: flex;
  width: 100%;
  gap: rem(8);
  
  @include media('>=tablet') {
    width: initial;
    justify-content: initial;
    gap: rem(16px);
  }
}

.flightNumbersMore {
  display: flex;
  gap: rem(8px);

  @include media('>=tablet') {
    gap: rem(16px);
  }
}