@import '../../styles/main';

.tier-card-cross-container {
  height: 50px;
  width: 50px;

  &::after {
    content: '';
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 32px;
    border-left: 2px dotted var(--text-tertiary);
  }
}

.tier-card:last-child {
  .tier-card-cross-container::after {
    display: none; // Hide the dotted line for the last tier
  }
}
