.wc-passenger-selection {
  display: flex;
  flex-direction: column;
  margin: rem(20px) 0 rem(8px);

  @include media('>=tablet') {
    margin: rem(24px) 0 rem(8px);
  }

  &__checkin-btn {
    button {
      height: rem(56px);
      border-radius: rem(28px);
      padding: rem(16px) rem(56px);
    }
  }
  &__undo-checkin-btn {
    button {
      background-color: var(--action-disabled-stroke) !important;
      color: var(--text-disabled);
      font-weight: 500;
    }
  }

  &__header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: get-color(secondary-light);
    padding: rem(12px);
    border-top-left-radius: rem(12px);
    border-top-right-radius: rem(12px);

    @include media('>=tablet') {
      padding: rem(18px);
    }
  }

  &__header {
    font-family: var(--font-family-poppins-semibold);
    font-size: rem(12px);
    font-weight: 600;
    text-align: left;
    color: var(--text-primary);
    line-height: rem(18px);
    @include media('>=tablet') {
      font-size: rem(16px);
      line-height: rem(24px);
    }
  }

  &__item {
    border: rem(1px) solid var(--secondary-deep);
    background: get-color(white);
    padding: rem(11px);

    @include media('>=tablet') {
      padding: rem(16px);
    }

    border-top: 0;
    align-items: center;

    &__profile {
      display: flex;
      justify-content: space-between;

      &__icon {
        align-items: center;
        color: get-color(text-primary);
        display: flex;
        height: rem(36px);
        width: rem(36px);
        justify-content: center;
        gap: rem(4px);
        border-radius: rem(20px);
        background: var(--secondary-main);
        font-family: var(--font-family-poppins-regular);
        margin-right: rem(12px);
        text-transform: uppercase;

        @include media('>=tablet') {
          height: rem(40px);
          width: rem(40px);
          margin-right: rem(16px);
        }
      }

      &__details {
        h5 {
          color: var(--text-primary, #25304b);
          font-family: var(--font-family-poppins-regular);
          font-size: rem(14px);
          font-weight: 400;
          line-height: rem(20px);

          @include media('>=tablet') {
            font-size: rem(16px);
            line-height: rem(24px);
          }
        }

        span {
          font-family: var(--font-family-poppins-regular);
          font-size: rem(12px);
          font-weight: 400;
          line-height: rem(18px);
          color: get-color(text-secondary);

          @include media('>=tablet') {
            font-size: rem(14px);
            line-height: rem(20px);
          }
        }
      }
    }

    &__passenger-details {
      background-color: #eaf8ff;
      padding: rem(12px);
      gap: rem(12px);
      border-radius: rem(8px);
      display: flex;

      .journey-details {
        margin-bottom: rem(8px);
      }

      p {
        color: #7a85a0;
        font-family: var(--font-family-poppins-regular);
        font-size: rem(12px);
        font-weight: 400;
        line-height: rem(18px);
        margin-top: rem(8px);
      }
    }

    &.lastChild {
      border-bottom-left-radius: rem(8px);
      border-bottom-right-radius: rem(8px);
    }
  }

  .skyplus-button button {
    font-family: var(--font-family-poppins-medium) !important;
  }

  .mt-6 {
    margin-top: rem(6px) !important;
    @include media('>=tablet') {
      margin-top: rem(12px) !important;
    }
  }
}

.wc-passenger-selection__item {
  &.checked {
    border-color: get-color(secondary-main);
    background-color: get-color(secondary-light);
  }
  .wc-passenger-selection__item__passenger-details {
    background-color: get-color(secondary-medium);
  }
  .wc-passenger-selection__item__passenger-details p {
    min-width: 15%;
  }
}
.right-container-styling {
  .image {
    margin-bottom: rem(20px);
  }
  .cmp-imagecomponent .cmp-container {
    margin: rem(0px);
  }
  .campaign__card {
    font-family: var(--font-family-bauhuas-std-medium);
    color: var(--text-primary);
    border-radius: rem(12px);
    border: rem(1px) solid var(--secondary-light);
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 0px rem(24px) 0px rgba(76, 93, 158, 0.04);
    backdrop-filter: blur(12px);
    &__content {
      width: 68%;
      .carousel-heading {
        .heading-participate {
          font-size: rem(18px);
          line-height: rem(24px);
          font-family: var(--font-family-bauhuas-std-medium);
          font-weight: 500;
        }
        .trip-date {
          font-size: rem(10px);
          line-height: rem(16px);
          padding-bottom: rem(4px);
        }
      }
      .skyplus-button {
        button {
          width: fit-content;
        }
      }
    }
    picture {
      height: rem(112px);
      width: rem(100px);
      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: rem(8px);
      }
    }
  }

  .cmp-text {
    p .body-medium-medium {
      color: #25304b;
      font-size: 14px !important;
      line-height: 20px;
      font-weight: 400 !important;
    }
    .body-medium-regular.p-6.text-secondary {
      padding: rem(0px) rem(0px) rem(6px) rem(0px) !important;
      .body-medium-regular {
        span {
          color: var(--text-primary);
          font-family: var(--font-family-poppins-regular);
          font-size: rem(14px);
          font-style: normal;
          font-weight: 400;
          line-height: rem(20px);
        }
      }
    }
  }
  .rounded-cards {
    .cmp-text {
      .body-medium-regular.p-6.text-secondary {
        padding: rem(12px) !important;
        span.body-small-regular.p-4,
        span.p-4 {
          padding: rem(0px) !important;
        }
        .span.body-small-medium {
          color: var(--text-primary);
        }
      }
    }
  }
  .information-list {
    .h4.title {
      margin-top: rem(30px);
      p {
        @include h4;
      }
    }
    .card__title {
      color: var(--text-primary);
      font-size: rem(14px);
      font-style: normal;
      font-weight: 500;
      line-height: rem(20px);
    }

    .card__content {
      color: var(--text-primary);
      @include body-medium-regular;
    }
    .card__description {
      p {
        color: var(--text-primary);
        font-size: rem(12px);
        font-style: normal;
        font-weight: 400;
        line-height: rem(18px);
      }
    }
    .card__icon {
      height: rem(38px);
      width: rem(36px);
    }
  }
  .rounded-cards {
    border-radius: rem(8px);
    p {
      @include body-medium-medium;
    }
  }
}
.retrieve-pnr-infoalert .skyplus-heading.h4 {
  color: var(--text-primary);
}

.skyplus-checkbox-v2 {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
  span {
    display: flex;
    &[aria-checked='true'] {
      svg {
        path {
          fill: var(--primary-main);
        }
      }
    }
  }
}

.checkin-scheduled {
  padding: rem(12px);
  text-align: center;
  font-size: rem(12px);
  margin-top: rem(16px);
  border-radius: rem(8px);

  @include media('>=tablet') {
    font-size: rem(14px);
  }

  span {
    font-family: var(--font-family-poppins-semibold);
    display: block;
  }

  a {
    font-family: var(--font-family-poppins-medium);
    color: get-color(primary-main);
  }
}

.skyplus-button--outline.skyplus-button--disabled {
  color: var(--text-disabled);
  border: transparent !important;
}
