.no-transaction-found {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: rem(50px) auto;

  @include media('>=desktop') {
    margin: rem(85px) rem(276px) rem(110px);
  }

  &__image {
    height: rem(55px);
    width: rem(80px);
    margin: rem(12px) auto;

    @include media('>=desktop') {
      height: rem(80px);
      width: rem(116px);
      margin: rem(25px) auto;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__heading {
    font-weight: 500;
    color: var(--text-secondary);

    @include media('>=desktop') {
      font-size: rem(24px);
    }
  }

  .sky-icons.no-transaction-found__cross::before {
    font-size: rem(57px);
  }

  p {
    color: var(--text-tertiary);
    font-size: rem(12px);
    width: rem(319px);
    font-family: var(--font-family-poppins-regular);
    font-weight: 400;
    padding-top: rem(2px);

    @include media('>=desktop') {
      padding: rem(8px) rem(0) rem(0px);
      font-size: rem(14px);
      width: rem(584px);
    }
  }
}
