.back-confirmation-popup {
  .popup-modal-global__bg-overlay {
    align-items: center;
    
  }

  .popup-modal-global__header__title {
    font-size: rem(24px);
    text-align: center;
    line-height: rem(32px);
    color: initial;
  }

  .text-green {
    display: block;
  }

  .popup-modal-global__close-overlay-button {
    display: none;
  }

  .popup-modal-global__content {
    border-radius: rem(12px);
    margin: 0 rem(16px);
    padding: rem(16px);

  }

  .back-confirmation-info {
    color: var(--text-primary);
    text-align: center;
    font-size: rem(14px);
  }

  .confirmation-modal-footer {
    display: flex;
    justify-content: center;
    gap: rem(16px);

    .skyplus-button {
      &:first-child {
        flex: 0.3;
      }

    &:last-child {
      flex: 0.5;
    }
    }
  }
}