.visa-dropdown-component {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;

}

.visa-dropdown-component .selected-option {
  padding: rem(10px);
  border-radius: rem(5px);
  font-size: rem(14px);
  color: var(--text-primary);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-white);
  border: rem(1px) solid var(--text-alice-blue);
}

.visa-dropdown-component .options {
  position: absolute;
  //top: 100%;
  left: 0;
  background-color: var(--secondary-white);
  border: rem(1px) solid var(--secondary-deep);
  width: 100%;
  box-sizing: border-box;
  display: none;
  font-size: rem(16px);
  color: var(--text-primary);
}

.visa-dropdown-component .options .option {
  padding: rem(10px);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.visa-dropdown-component .options .option.hovered {
  background-color: var(--secondary-main);
}

.visa-dropdown-component .invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  color: var(--system-error);
}

// .visa-dropdown-component .invalid-feedback {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   box-sizing: border-box;
// }

.visa-dropdown-component .options {
  display: block;
}

.visa-dropdown-component.disabled {
  //opacity: 0.5; 
  pointer-events: none;
}

.visa-dropdown-component.disabled .selected-option,
.visa-dropdown-component.disabled .option {
  cursor: not-allowed;
}

.visa-dropdown-component.disabled .selected-option {
  background-color: var(--btn-disabled-background-light) !important;
  color: var(--text-primary);
}

.visa-dropdown-component.disabled .option {
  color: var(--text-primary);
}

.visa-dropdown-component .invalid-feedback {
  color: var(--system-error);
  font-kerning: auto;
  font-size: .625rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1rem;
  font-family: var(--font-family-poppins-regular);
}



