$baseFontSize: 16;

@function rem($pixels, $context: $baseFontSize) {
	@if  unitless($pixels) {
		$pixels: $pixels * 1px;
	}

	@if  unitless($context) {
		$context: $context * 1px;
	}

  @return calc($pixels / $context) + rem;
}

@function get-color($key: "primary") {
	@return var(--#{$key});
}

.fare-summary-app,
.fare-summary-details-modal {
	.flex-h-between {
		display: flex;
    align-items: center;
    justify-content: space-between;
	}

	.t-3 {
		color: var(--text-tertiary);
		font-size: rem(14px);
	}

	.lh-2 {
		line-height: 2;
	}

	.skyplus-chip [class*="chip-filled"] {
		padding: rem(4px) rem(12px);
    background-color: var(--secondary-light);
    
    span {
      color:  var(--system-information);
    }
	}
}