
$screen-m-xxs: 320px;
$screen-m-xs: 375px;
$screen-m-sm: 540px;
$screen-t-sm: 768px;
$screen-t-lg: 900px;
$screen-d-sm: 1024px;
$screen-d-md: 1280px;
$screen-d-ml: 1440px;
$screen-d-xl: 1600px;
$screen-d-xxl: 1920px;

 $light-aqua-2: #001B94;
 $light-aqua-3: #CBE8FA;
 $light-blue-3: #263B98;
 $gray-d-new: #2E2E2E;
 $light-grey-alpha-1-1: rgba(255, 255, 255, 0.50);
 $light-grey-alpha-1-2: rgba(223, 244, 255, 0.50);
 $light-grey-alpha-1-3: rgba(218, 241, 255, 0.50);
 $light-grey-alpha-1-4: rgba(38, 59, 152, 0.50);
 $border-color-secondary: #daf1ff;
 $light-grey-alpha-1: rgba(255, 255, 255, 0.60);
 $light-grey-black: rgba(76, 93, 158, 0.08);
 $light-grey-black-alpha: rgba(0, 0, 0, 0.12);