$top-circle-color: #e3f1fa;
$bottom-circle-color: #fcfdff;

.banner-heading {
  &__banner {
    background-color: #009;
    padding: rem(24px) rem(15px) rem(24px) rem(20px);
    position: relative;

    @include media('>=tablet') {
      border-radius: rem(12px);
      width: rem(320px);
    }

    &::before {
      background-color: get-color(white);
      height: rem(30px);
      width: rem(30px);
      top: rem(-13px);
      border-radius: 50%;
      left: rem(-13px);
      z-index: 3;
      display: block;
      content: '';
      position: absolute;
      top: rem(250px);

      @include media('>=tablet') {
        content: '';
        position: absolute;
        height: rem(30px);
        width: rem(30px);
        background-color: $top-circle-color;
        top: rem(-13px);
        border-radius: 50%;
        right: rem(-13px);
        z-index: 3;
        display: block;
        left: unset;
      }
    }

    &::after {
      background-color: get-color(white);
      height: rem(30px);
      width: rem(30px);
      right: rem(-13px);
      border-radius: 50%;
      z-index: 3;
      display: block;
      content: '';
      position: absolute;
      top: rem(250px);

      @include media('>=tablet') {
        display: block;
        position: absolute;
        height: rem(30px);
        width: rem(30px);
        background-color: $bottom-circle-color;
        border-radius: 50%;
        content: '';
        bottom: rem(-15px);
        right: rem(-13px);
        z-index: 3;
        top: unset;
      }
    }
  }

  &__journey-detail {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__from,
    &__to {
      span {
        color: get-color(other-two-tone-icon-light);
        font-family: var(--font-family-poppins-regular);
        font-size: rem(14px);
        font-weight: 400;
        line-height: rem(20px);
        text-transform: uppercase;

        @include media('>=tablet') {
          font-size: rem(12px);
          line-height: rem(18px);
        }
      }

      h2 {
        color: #7fd287;
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(40px);
        font-weight: 500;
        line-height: rem(48px);
        letter-spacing: rem(-0.8px);

        @include media('>=tablet') {
          font-size: rem(44px);
          line-height: rem(52px);
        }
      }
    }

    &__duration {
      p {
        color: get-color(other-two-tone-icon-light);
        font-family: var(--font-family-poppins-regular);
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;

        @include media('>=tablet') {
          font-size: rem(12px);
          line-height: rem(18px);
        }
      }

      p:first-child {
        padding-bottom: rem(4px); /* Adjust as needed */
        margin-bottom: 0; /* Adjust as needed */
      }
      p:last-child {
        background-image: radial-gradient(
          circle closest-side,
          get-color(other-two-tone-icon-light) calc(100% - 0.5px),
          #0000 100%
        );
        background-repeat: repeat-x;
        background-size: 4px 2px;
      }
    }
  }

  &__journey-date-detail {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__date,
    &__time {
      span {
        color: get-color(other-two-tone-icon-light);
        font-family: var(--font-family-poppins-regular);
        font-size: rem(14px);
        font-weight: 400;
        line-height: rem(20px);
        text-transform: uppercase;

        @include media('>=tablet') {
          font-size: rem(12px);
          line-height: rem(18px);
        }
      }

      h5 {
        color: #fff;
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(20px);
        font-weight: 500;
        line-height: rem(24px);
        letter-spacing: rem(-0.6px);

        @include media('>=tablet') {
          font-size: rem(24px);
          line-height: rem(32px);
        }
      }
    }
  }

  &__boarding-image {
    height: rem(114px);
    left: calc(50% - 64px);
    position: absolute;
    width: rem(115px);

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      border-radius: rem(8px);
    }
  }
}

.boarding-detail {
  margin-top: rem(96px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 rem(20px);

  @include media('>=tablet') {
    box-shadow: 0px 4px 15px 0px #7e99ad1a;
    margin: rem(0px);
    flex: 2;
    border: 1px solid #eaf8ff;
    border-radius: rem(12px);
    padding: 0;
  }

  &__passenger-name {
    padding-bottom: rem(10px);
    border-bottom: 1px solid var(--secondary-main);
    display: flex;
    flex-direction: column;

    @include media('>=tablet') {
      justify-content: space-between;
      text-align: left;
      display: flex;
      background-color: #eaf8ff;
      padding: rem(12px) rem(16px);
      border-radius: rem(12px) rem(12px) 0 0;
      border: none;
    }

    h4 {
      font-family: var(--font-family-poppins-medium);
      color: var(--text-primary);
      font-size: rem(16px);
      line-height: rem(24px);
      font-weight: 500;
    }

    .loyalty-tier {
      .tier {
        font-size: rem(12px);
        font-family: var(--font-family-poppins-regular);
        text-transform: uppercase;
        span {
          font-family: var(--font-family-poppins-semibold);
        }
      }
      .ffn {
        font-size: rem(12px);
        text-transform: uppercase;
        margin-left: rem(12px);

        font-family: var(--font-family-poppins-regular);

        span {
          font-family: var(--font-family-poppins-semibold);
        }
      }
    }
  }

  &__passenger-detail {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: get-color(white);
    gap: rem(8px) rem(30px);

    &__detail {
      margin-bottom: rem(6px);

      span {
        color: get-color(text-tertiary);
        font-family: var(--font-family-poppins-light);
        font-size: rem(14px);
        line-height: rem(16px);

        @include media('>=tablet') {
          font-size: rem(12px);
          line-height: rem(18px);
          font-weight: 300;
        }
      }

      h5 {
        color: get-color(text-primary);
        font-family: var(--font-family-poppins-medium);
        font-size: rem(14px);
        font-weight: 500;
        line-height: rem(20px);

        @include media('>=tablet') {
          font-size: rem(16px);
          line-height: rem(24px);
        }
      }
    }

    &__special-services {
      border: rem(0px);
      margin: rem(0px);
    }

    &__detail-img {
      width: rem(111px);
      height: rem(106px);
      border-radius: rem(4px);
      border: 2px solid get-color(secondary-light);
      margin-right: 15px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__passenger-view {
    flex: 1;
    padding: rem(20px);

    @include media('>=tablet') {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    background-color: #fff;
  }
}

.boarding-pass-container {
  &__heading {
    font-family: var(--font-family-bauhuas-std-medium);
    font-size: rem(32px);
    font-weight: 500;
    line-height: rem(44px);
    letter-spacing: -0.8px;

    p {
      color: var(--text-primary);
    }
  }

  &__description {
    font-family: var(--font-family-poppins-regular);
    font-size: rem(16px);
    font-weight: 600;
    line-height: rem(24px);
  }

  .info-alert-disclaimer {
    background-color: red;
    font-family: var(--font-family-poppins-regular);
    font-weight: 500;
    line-height: rem(20px);
    margin-left: rem(12px);

    .title {
      font-size: rem(14px) !important;
    }

    @include media('>=tablet') {
      width: 30%;
    }

    p {
      font-size: rem(12px);
      @include media('>=tablet') {
        font-size: rem(14px);
      }
    }
  }
}

.boarding-pass {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: get-color(white);
  border-radius: rem(8px);

  @include media('>=tablet') {
    align-items: stretch;
    position: relative;
    flex-direction: row;
  }

  &-list-slider {
    .swiper-des {
      position: relative;
      .swiper-pagination {
        position: absolute;
        top: rem(320px);

        @include media('>=tablet') {
          top: unset;
          position: relative;
        }

        @include media('>=tablet') {
          position: relative;
          margin-top: rem(16px);
        }

        &-bullet-active {
          background: var(--primary-main);
          border-radius: 16px;
          color: var(--white);
          width: 32px;
        }
      }
    }
  }
}

.info-alert-disclaimer {
  .title {
    font-size: rem(14px);
    color: get-color(text-primary);
    font-family: var(--font-family-poppins-medium);
  }
}

.boarding-detail {
  &__airport {
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    padding: rem(16px) 0;

    @include media('>=tablet') {
      padding: rem(28px) rem(20px);
    }

    .continer {
      display: flex;
      flex-direction: column;
      gap: rem(4px);
      flex: 1;
    }

    .heading {
      font-size: rem(10px);
      font-family: var(--font-family-poppins-light);
      color: var(--text-tertiary);
      font-weight: 300;

      @include media('>=tablet') {
        font-size: rem(12px);
      }
    }

    .value {
      font-size: rem(14px);
      font-family: var(--font-family-poppins-medium);
      color: var(--text-primary);
      @include media('>=tablet') {
        font-size: rem(16px);
      }
    }

    &__top {
      display: flex;
      justify-content: space-between;
      gap: rem(24px);
      border-bottom: rem(1px) solid var(--bg-light-gray);
      padding-bottom: rem(12px);

      &__zone {
        display: none;
        @include media('>=tablet') {
          display: block;
        }
      }
    }

    &__bottom {
      display: flex;
      gap: rem(12px);

      &__img {
        display: none;
        @include media('>=tablet') {
          display: flex;
          justify-content: center;
          align-items: baseline;
        }
        img {
          min-width: rem(111px);
          max-width: rem(111px);
          height: rem(106px);
          border: rem(2px) solid get-color(secondary-light);
          border-radius: rem(4px);
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        gap: rem(12px);
        flex: 1;
        &__top {
          display: flex;
          justify-content: space-between;
          gap: rem(16px);
          border-bottom: rem(1px) solid var(--bg-light-gray);
          padding-bottom: rem(12px);
        }
        &__bottom {
          display: flex;
          justify-content: space-between;
          gap: rem(16px);

          flex-direction: column;

          @include media('>=tablet') {
            flex-direction: row;
          }

          div:nth-child(2) {
            border-top: rem(1px) solid var(--bg-light-gray);
            padding-top: rem(16px);

            flex: 2;

            @include media('>=tablet') {
              border-top: 0;
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

.boarding-detail__airport__top__zone {
  display: none !important;
  @include media('>=tablet') {
    display: flex !important;
  }
}

.wc-boarding-pass-not-valid {
  display: none;

  @include media('>=tablet') {
    display: block;
  }

  > div {
    border-radius: rem(4px);
    background-color: get-color(system-warning-light) !important;
    padding: rem(4px);
    span {
      font-family: var(--font-family-poppins-medium);
      color: get-color(system-warning) !important;
      text-transform: uppercase;
    }
  }
}

.boarding-detail__not_valid_for_travel1,
.boarding-detail__not_valid_for_travel2 {
  position: absolute;
  top: rem(100px);
  right: 0;
  text-transform: uppercase;
  font-size: rem(32px);
  color: get-color(text-tertiary);
  transform: rotate(-15deg);
  opacity: 0.1;
  display: none;

  @include media('>=tablet') {
    display: block;
  }
}

.boarding-detail__not_valid_for_travel2 {
  top: rem(200px);
}

.boarding-check__next-chip-home {
  color: var(--text-primary);
  right: rem(24px);
  top: rem(24px);
  font-size: rem(16px);
}

.boarding-detail__passenger-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
