.border-divider {
  border-bottom: 1px dotted var(--secondary-deep);
}

.corp-connect {
  margin-bottom: rem(80px);

  @include media('>=desktop') {
    margin-bottom: 2.5rem;
  }

  &-profile-form {
    &-header {
      padding-top: 2rem;
      background: var(--gradient-navy-blue);
      height: 15rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      margin-bottom: -4rem;

      @include media('>=desktop') {
        padding-top: 0;
        background: initial;
        margin-bottom: -6.5rem;
      }
    }

    &-body {
      margin: 1.125rem;

      @include media('>=desktop') {
        margin: 0;
      }
    }
  }
}