.skyplus-cancellation {
  padding-top: rem(24px);
  margin-bottom: rem(80px);
  &-slider {
    // background-color: get-color("white");

    .right-slider-modal__content {
      &__title {
        margin-bottom: rem(16px);
      }
    }

    .select-wrapper {
      position: relative;

      &::after {
        // font-family: $font-family-indigo;
        position: absolute;
        content: '\e9da';
        right: rem(12px);
        top: rem(10px);
        font-size: rem(12px);
        pointer-events: none;
      }
    }
  }

  &__title {
    // TD: update color typograpgy
    text-transform: uppercase;
    color: var(--storm-grey);
  }

  &__description {
    margin-top: rem(12px);
    p {
      @include body-small-regular;
      color: var(--text-secondary);
    }

    .cancellation_price {
      font-weight: 700;
    }
  }

  &__viewbtn {
    all: unset;
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--primary-main);
    @include link-small;
  }

  &__benefit-path-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(8px);
    margin-bottom: rem(8px);
    flex: 33% 0 0;
  }
  &__benefit-path-info {
    display: flex;
    width: calc(33.33% - 10px);
    min-height: rem(132px);
    padding: rem(16px) rem(0px);
    flex-direction: column;
    align-items: center;
    gap: rem(15px);
    border-radius: rem(8px);
    border: 1px solid var(--action-disabled-stroke);
    background: var(--other-background-blur);
    margin-top: rem(12px);
  }
  &__benefit-path-title {
    // TD: update typography
    color: var(--text-primary);
    text-align: center;
    font-family: var(--font-family-poppins-medium);
    font-size: rem(10px);
    padding: rem(0px) rem(12px);
    font-style: normal;
    font-weight: 400;
    line-height: rem(12px); /* 120% */
  }
  &__benefit-path-icon {
    margin-bottom: rem(15px);
  }
  &__benefit {
    &-head {
      width: 100%;
      border-radius: rem(8px);
      // TD: background color typography not available
      background: var(--other-background-blur);
      padding: rem(12px);
      display: flex;
      flex-direction: column;
      b {
        // TD: Typo graphy is not availabale
        color: var(--text-secondary);
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(16px);
        font-style: normal;
        font-weight: 500;
        line-height: rem(18px);
      }
    }

    &-poweredby {
      // TD: update typo graphy
      color: var(--text-secondary);
      font-family: var(--font-family-bauhuas-std-medium);
      font-size: rem(16px);
      font-style: normal;
      font-weight: 500;
      line-height: rem(18px); /* 112.5% */
    }

    &-information {
      // TD: typo graphy is not available
      color: var(--text-secondary);
      @include body-small-regular;
      p {
        padding-top: rem(8px);
        font-size: rem(16px);
        @include media('<tablet') {
          font-size: rem(12px);
        }
        margin-bottom: 0;
      }

      ul {
        list-style: none;
        margin-top: rem(12px);
        display: flex;
        align-items: flex-start;
        gap: (8px);
        @include media('>=tablet') {
          gap: (12px);
        }
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: space-between;
          font-family: var(--font-family-poppins-regular);
          border-radius: rem(8px);
          border: 1px solid var(--action-disabled-stroke);
          padding: rem(16px) rem(12px);
          flex-basis: calc(33.33% - 5.33px);
          min-height: rem(132px);
          @include media('>=tablet') {
            flex-basis: calc(33.33% - 8px);
          }
          &::before {
            padding-bottom: rem(15px);
            font-size: rem(32px);
            color: var(--text-primary);
            text-align: center;
          }
        }

        li:nth-child(1) {
          &::before {
            content: '\e9d2';
          }
        }

        li:nth-child(2) {
          &::before {
            content: '\e9e7';
          }
        }

        li:nth-child(3) {
          &::before {
            content: '\e9e1';
          }
        }
      }

      a {
        text-decoration: none;
        font-weight: 500;
      }
    }

    &-poweredByInformation {
      // TD: update typography
      p {
        color: var(--text-tertiary);
        font-family: var(--font-family-poppins-regular);
        font-size: rem(12px);
        font-style: normal;
        font-weight: 400;
        line-height: rem(16px); /* 133.333% */
      }
    }
    &-poweredbyname {
      // TD: update typograpgy
      width: 100%;
      padding: rem(12px);
      border-radius: rem(8px);
      margin-top: rem(24px);
      background: var(--secondary-medium);
      margin-bottom: rem(20px);
    }
    &-poweredbycontainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: rem(16px);
    }

    &-text {
      // TD: Typography is not available
      color: var(--text-primary);
      font-family: var(--font-family-bauhuas-std-medium);
      font-size: rem(16px);
      font-style: normal;
      font-weight: 500;
      line-height: rem(20px); /* 125% */
      letter-spacing: rem(-0.4px);
      text-transform: capitalize;
    }

    &-logo {
      height: rem(41px);
      width: rem(132px);

      @include media('>=tablet') {
        width: rem(142px);
      }
    }

    &-disclaimer {
      @include body-small-regular;
      color: var(--text-tertiary);
      cursor: pointer;
      text-transform: initial;
      b {
        color: var(--text-primary);
      }
      // margin-bottom: rem(28px);
      // margin-top: rem(24px);
    }

    &-more {
      @include link-small;
      text-decoration: underline;
      text-transform: capitalize;
      color: var(--primary-main);
      cursor: pointer;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: rem(24px);
      margin: rem(16px) 0;

      &-item {
        display: flex;
        gap: rem(16px);

        p {
          width: rem(48px);
          height: rem(48px);
          // background-color: $light-gray;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin-bottom: 0;

          i {
            font-size: rem(30px);
            // color: $color-cyan-blue;
          }
        }
      }
    }
  }

  &__content {
    &-datelabel {
      font-size: rem(16px);
      font-weight: 600;
      // color: $gray-2;
      margin: rem(24px) 0 rem(16px);
    }

    & .dateContainer {
      justify-content: space-around;
      margin-left: rem(-5px);
      gap: rem(6px);

      @include media('>phone') {
        justify-content: flex-start;
      }
    }

    &-passport {
      display: flex;
      gap: rem(40px);
      margin-top: rem(20px);
      flex-direction: column;

      @include media('>=tablet') {
        flex-direction: row;
      }
    }

    &-pdetails {
      .input-text-field__input {
        margin-top: rem(16px) !important;
        border: none;
        border-bottom: rem(1px) solid gray;
        outline: none;
        width: 100%;
        border-radius: 0;

        @include media('>=tablet') {
          width: rem(200px);
        }
      }

      .input-text-field__input:focus {
        // border-bottom: rem(1px) solid $blue-1;
      }
    }

    &-plabel {
      font-size: rem(16px);
      font-weight: 600;
      margin-bottom: rem(16px);
      // color: $gray-5;
    }

    &-expirylabel {
      font-size: rem(16px);
      font-weight: 600;
      margin-bottom: rem(16px);
      // color: $gray-5;
    }

    &-visa {
      display: flex;
      gap: rem(40px);
      margin-top: rem(20px);
      flex-direction: column;

      @include media('>=tablet') {
        flex-direction: row;
      }
    }

    &-vdetails {
      .input-text-field__input {
        margin-top: rem(16px) !important;
        border: none;
        border-bottom: rem(1px) solid gray;
        outline: none;
        width: 100%;
        border-radius: 0;

        @include media('>=tablet') {
          width: rem(200px);
        }
      }

      .input-text-field__input:focus {
        // border-bottom: rem(1px) solid $blue-1;
      }
    }

    &-vlabel {
      font-size: rem(16px);
      font-weight: 600;
      margin-bottom: rem(16px);
      // color: $gray-5;
    }

    &-vnumber {
      font-size: rem(16px);
      font-weight: 600;
      margin-bottom: rem(16px);
      // color: $gray-5;
    }

    &-terms {
      display: flex;
      align-items: flex-start;
      margin-top: rem(24px);

      @include media('>=tablet') {
        margin-top: rem(20px);
      }

      &.error input {
        // border: rem(1px) solid get-color("red");
      }
    }

    &-checkboxdata {
      text-transform: initial;
      margin-left: rem(2px);
      p {
        @include body-small-regular;
        color: var(--text-primary);
        margin-bottom: 0;
      }
    }

    &-disclaimer {
      p {
        @include body-small-regular;
        color: var(--text-primary);
        margin-bottom: rem(30px);
        margin-top: rem(20px);
      }
    }
  }

  &__date-field {
    display: flex;
    width: 100%;
    padding: rem(12px) !important;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: rem(8px);
    border: 1px solid var(--secondary-deep);
    background: var(--secondary-white);
    color: var(--text-primary);
    @include body-small-light;
    // TD: after design change
    &--error {
      color: var(--system-error);
    }
    &--input-error {
      border: 1px solid var(--system-error) !important;
    }

    &[readonly] {
      cursor: not-allowed;
    }
  }

  &__country {
    font-size: rem(13px);
    font-weight: normal;
    margin-bottom: rem(8px);
    // color: $gray-6;
  }

  &__country-dropdown {
    width: 100% !important;
  }

  // &__country-dropdown-container {
  //   padding-top: rem(12px);
  // }

  &__mandatory {
    font-size: rem(13px);
    font-weight: normal;
    margin: rem(24.5px) 0 rem(-4px);
    // color: $gray-6;
  }

  &__single {
    padding-bottom: rem(8px);
  }

  &__donebtn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(70px);
    // background: $white;
    // border-top: rem(1px) solid $color-gains-boro;

    .custom-button {
      position: absolute;
      bottom: rem(10px);
      left: rem(10px);
      right: rem(10px);
      display: block;
      width: calc(100% - rem(20px));
      font-size: rem(18px);
      font-weight: bold;
      // color: $white;
    }
  }

  &__checkbox {
    &__error {
      @include body-small-regular;
      color: var(--text-primary);
      color: get-color('red');
    }
  }

  .tab-container {
    ul {
      margin-bottom: rem(24px);
    }
  }

  select {
    background-color: transparent;
  }

  &-benefit-slider {
    & > .right-slider-modal {
      background-color: get-color('white');
    }

    .right-slider-modal__content {
      max-height: 90%;
    }

    & .right-slider-modal__close {
      &__icon {
        &::before {
          content: '\e9da';
        }
      }

      rotate: 0deg;

      @include media('>=tablet') {
        rotate: 90deg;
      }
    }
  }

  &-add-on-popover {
    // background-color: $white;
    width: 90vw;
    border-radius: 0;

    .popover {
      padding: rem(32px) rem(30px);
      min-width: auto;
      border-radius: 0;

      @include media('>=tablet') {
        min-width: rem(500px);
      }

      &-content {
        font-size: rem(16px);
        position: relative;

        & button {
          right: 0;
          top: rem(-10px);
          position: absolute;
          margin-top: rem(5px);
          margin-bottom: rem(5px);
          display: flex;
          margin-left: auto;

          i {
            font-size: rem(12px);
          }
        }
      }
    }
  }

  &-addon {
    ul,
    ol,
    li {
      padding: unset;
      list-style: disc;
      margin-left: rem(10px);
      margin-bottom: rem(4px);
      line-height: rem(21px);
      font-size: rem(14px);
    }

    ul {
      margin-top: rem(4px);
      margin-bottom: rem(4px);
    }

    .addon-card__left__desc__otherInfo {
      // color: $gray-2;

      p {
        // font-size: $font-size-14;
        margin-bottom: 0;
      }
    }
  }

  // TD: Change it based on requirment
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
  }

  .skyplus-dropdown {
    position: relative;
    z-index: 999;
  }

  .styled-checkbox + label:before {
    border: 1.5px solid var(--primary-main) !important;
  }
}
