.alt-contact-wrapper {
    .link-variation {
        border: none;
        background: none;
        font-size: 14px;
        font-weight: 500;
        margin: 1rem 0;
        color: #000099;
        float: right;
    }
    .alt-contact-subHeading {
        font-size: 12px;
        font-weight: 400;
        padding: 1rem 0;
        color: #7A85A0;

    }
}