.top-divider {
  background-image: repeating-linear-gradient(
    to right,
    var(--action-disabled-stroke),
    var(--action-disabled-stroke) rem(4px),
    transparent rem(4px),
    transparent rem(8px)
  );
  background-position: left top;
  background-size: 100% rem(1px);
  background-repeat: no-repeat;
}

.bottom-divider {
  background-image: repeating-linear-gradient(
    to right,
    var(--action-disabled-stroke),
    var(--action-disabled-stroke) rem(4px),
    transparent rem(4px),
    transparent rem(8px)
  ) !important;
  background-size: 100% rem(1.6px);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.payment-details {
  display: inline-block;
  position: relative;
  width: 100%;
  box-shadow: 0 0 rem(12px) 0 rgb(76 93 158 / 8%);

  .h4 {
    margin: rem(12px);
  }

  .flight-payment {
    border: rem(1px) solid var(--secondary-deep);
    border-radius: rem(8px);
    pointer-events: none;

    @include media('>=tablet') {
      border: none;
    }

    .skyplus-accordion__icon {
      display: none;
    }

    .skyplus-accordion {
      margin-bottom: 0;
      box-shadow: none;
    }
  }

  .skyplus-heading {
    margin-bottom: rem(8px);

    @include media('>=tablet') {
      & {
        margin-bottom: rem(11px);
      }
    }
  }

  .price-summary__list__list-item {
    .price-summary__list__price {
      font-family: var(--font-family-poppins-regular);
    }

    span.green-text {
      color: var(--accent-dark);
    }
  }
/* stylelint-disable no-descending-specificity */ 
  .skyplus-accordion {
    border-bottom: none;
    
    .skyplus-accordion__header {
      background: none;
      padding: 0 rem(16px);
      border-bottom: none;
    }

    .skyplus-accordion__header-left {
      display: none;
    }

    .skyplus-accordion__body {
      padding: 0;
    }

    .skyplus-accordion__header-name {
      font-weight: 600;
    }

    .skyplus-accordion__header-container {
      margin-bottom: 0;
      padding: rem(12px) 0;
    }
  }

  .payment-summary-table {
    .fare-breakup-container-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: rem(6px) rem(16px);
    }

    .fare-breakup-container-subtotal{
    text-align: right;
    padding-right: rem(16px);
    margin: rem(12px) 0;
    }

    .payment-summary {
      padding: $padding-16;
    }   

    .child-gap {
      gap: rem(4px);
      display: flex;
      flex-direction: column;
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
    }

    li {
      font-family: var(--font-family-poppins-regular);
      display: flex;
      justify-content: space-between;
      color: var(--text-secondary);
      font-size: $font-size-12;
      font-weight: 400;
      line-height: rem(20px);

      @include media('>=tablet') {
        & {
          font-size: $font-size-14;
          line-height: rem(20px);
        }
      }
    }
  }

  .payment-summary-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family-bauhuas-std-medium);
    color: var(--text-primary);
    background-color: var(--text-alice-blue);
    font-size: $font-size-16;
    font-weight: 500;
    line-height: rem(20px);
    padding: $padding-8 $padding-16;

    @include media('>=tablet') {
      & {
        font-size: $font-size-18;
        line-height: rem(24px);
      }
    }

    .tfee {
      font-family: var(--font-family-poppins-regular);
      font-weight: 500;
      font-size: rem(16px);
      line-height: rem(24px);
    }

    .convenience {
      font-family: var(--font-family-poppins-light);
      font-weight: 400;
      font-size: rem(14px);
      line-height: rem(20px);
    }

    .price {
      font-family: var(--font-family-poppins-semibold);
      font-weight: 600;
      font-size: rem(20px);
      line-height: rem(32px);
    }
  }
}
