@import '../../index';

.seat-selection-app {
  box-sizing: border-box;
  margin: rem(24px) auto rem(10px) ;

  .button-container{
    .icon-arrow-top-right:before {
      color: var(--primary-main);
    }
  }


  & * {
    box-sizing: border-box;
  }

  &-skyplus-addon-mf__head-back{
    display: none;

    @include media('>=desktop') {
      display: block;
    }
  }

  &-skyplus-addon-mf__head-back-btn{
    background: none;
    border: none;
    color: var(--primary-main);
    cursor: pointer;
    text-decoration: underline;
    text-transform: uppercase;
  }

  &-skyplus-accordion__icon{
    color: var(--primary-main);
    position: relative;
    top: 2px;
  }
  
  &-promotional-message p {
    color: var(--text-primary);
    font-family: var(--font-family-bauhuas-std-medium);
    font-kerning: auto;
    font-size: rem(20);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: rem(-0.8);
    @include media('>tablet') {
      font-size: rem(44);
      line-height: rem(52);
    }
  }
}

.seat-map-preview {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .seat-map-preview-wrapper {
    height: 100%;
    position: relative;
  }

  &-seat-selection-backToAddon{
    cursor: pointer;
  }
}

.seat-selection-mandatory p{
  padding: rem(8px) rem(16px);
  border-radius: 8px;
  border: 1px solid  var(--system-warning);
  background: var(--system-warning-light);
  color: var(--text-dark);
  font-family: var(--font-family-poppins-regular);
  font-size: rem(12px);
  font-weight: 400;
  line-height: rem(20px);
  margin: 1rem; 

  @include media('>tablet') {
    display: inline-block;
    min-width: rem(347px);
    margin: 0;
  }

  & span{
    &::before{
      color: var(--system-warning);
      font-weight: 900;
    }
    margin-right: rem(8px);
  }
}

.seat-not-available {
  width: 100%;
  height: calc(100vh - 156px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &.units-not-available {
    height: 40vh;
  }

  @include media('>=tablet') {
    height: calc(100vh - 180px)
  }
}

.icon-accordion-left-simple{
  cursor: pointer;
}