@import '../../styles/main';

.login-sso-password__link {
  margin-bottom: rem(10px);
}

.login-with-mobile {
  button {
    text-transform: capitalize;
    font-family: var(--font-family-poppins-medium);
    font-size: rem(16px);
    line-height: rem(24px);
  }
}
