.double-tab-container {
  &__wrapper {
    position: relative;
    clear: both;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: rem(12px);

    &::-webkit-scrollbar {
      display: none;
    }

    & > ul {
      padding: rem(4px);
      display: inline-flex;
      border-radius: rem(22px);
      border: 1px solid var(--secondary-deep);
      background: var(--secondary-white);
      min-width: 100%;

      & li {
        min-width: rem(138px);
        flex-grow: 1;
        list-style: none;

        @include media('>=tablet') {
          min-width: rem(190px);
        }
      }
    }

    &.double-tab-container__wrapper--disabled {
      & > ul {
        background: var(--btn-disabled-background);
      }
    }
  }

  &__btn {
    &-title {
      display: flex;
      height: rem(18px);
      justify-content: center;
      align-items: center;

      span {
        &:nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: center;

          &::after {
            content: '';
            border: rem(1px) dotted;
            width: rem(24px);

            @include media('>=tablet') {
              width: rem(48px);
            }

            display: inline-block;
            margin: 0 rem(10px);

            @include media('>=tablet') {
              margin: 0 rem(20px);
            }

            border-bottom: 0;
            border-left: 0;
            border-right: 0;
          }
        }
      }
    }

    button {
      padding: rem(8px) rem(16px);
      -webkit-tap-highlight-color: transparent;
      width: 100%;

      &.skyplus-button--outline-primary {
        border: none !important;
        color: var(--text-tertiary);
        background-color: transparent;

        &.skyplus-button--disabled {
          color: var(--secondary-white);
          opacity: 1 !important;
          pointer-events: none;
        }
      }
    }
  }
}
