.skyplus-modal {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--blur-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  &-content {
    padding: rem(16px);
    border-radius: rem(12px);
    background-color: get-color(white);
    animation-name: animatetop;
    animation-duration: 1s;
    width: 100%;
    margin: 0 rem(16px);

    @include media('>=tablet') {
      max-width: rem(500px);
    }

    &-heading {
      font-family: var(--font-family-poppins-semibold);
      display: flex;
      align-items: center;
      gap: rem(12px);
      margin-bottom: rem(8px);
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: rem(24px);
    }
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
