.sky-icons {
  font-style: normal;
  display: inline-flex;
  align-items: center;
  &::after {
    font-family: $font-family-indigo;
    content: '';
    font-size: rem(20px);
  }
}

.sky-icons.sm {
  &::before {
    font-size: rem(16px);
  }
}
.sky-icons.md {
  &::before {
    font-size: rem(20px);
  }
}
.sky-icons.lg {
  &::before {
    font-size: rem(24px);
  }
}
