@keyframes shimmer {
  0% {
    background-position: rem(-1000px) 0;
  }

  100% {
    background-position: rem(1000px) 0;
  }
}

.promocode-slider-shimmer {
  .shimmer-row {
    display: grid;
    grid-template-rows: 1fr;
    gap: rem(10px);
  }

  .shimmer-cell {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
    background-size: rem(1000px) 100%;
    border-radius: rem(4px);
  }

  .ht-4 {
    height: rem(4px);
  }

  .ht-6 {
    height: rem(6px);
  }

  .ht-12 {
    height: rem(12px);
  }

  .ht-16 {
    height: rem(16px);
  }

  .ht-36 {
    height: rem(36px);
  }

  .ht-160 {
    height: rem(160px);
  }

  .row-1 {
    grid-template-columns: 1fr;
  }

  .row-1-1-1-1 {
    grid-template-columns: repeat(4, 1fr);
  }

  .row-1-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .row-2-0-1 {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .row-3-1 {
    grid-template-columns: 3fr 1fr;
  }
}