.promocodecard {
  display: flex;
  border-radius: rem(10px);
  background-color: get-color(white);
  box-shadow: var(--box-shadow-cards);

  &--left {
    width: rem(52px);
    background-color: get-color(secondary-main);
    color: get-color(text-primary);
    font-size: rem(16px);

    @include media('>=desktop') {
      background-color: get-color(primary-main);
      color: get-color(white);
      font-size: rem(20px);
    }

    border-radius: rem(10px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-poppins-medium);

    span {
      transform: rotate(-90deg);
      white-space: nowrap;
    }
  }

  &--left.success {
    background-color: get-color(accent-dark);
  }

  &--right {
    padding: rem(10px);
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    flex: 1;

    @include media('>=desktop') {
      padding: rem(16px) rem(20px);
    }

    &__top {
      display: flex;
      gap: rem(8px);
      align-items: center;

      &--img {
        width: rem(32px);
        height: rem(32px);
        border-radius: 50%;

        @include media('>=desktop') {
          width: rem(46px);
          height: rem(46px);
        }
      }

      &--info {
        line-height: 1.5;
        font-family: var(--font-family-poppins-medium);
        font-weight: 500;

        &__title {
          font-size: rem(14px);

          @include media('>=desktop') {
            font-size: rem(16px);
          }

          color: get-color(text-primary);
          font-family: var(--font-family-poppins-medium);
          font-weight: 500;
        }

        &__subtitle {
          font-size: rem(12px);

          @include media('>=desktop') {
            font-size: rem(14px);
          }

          color: get-color(accent-dark);
          font-family: var(--font-family-poppins-medium);
          font-weight: 500;
        }
      }
    }

    &__body {
      background-image: radial-gradient(
        circle closest-side,
        get-color(secondary-main) calc(100% - 0.5px),
        transparent 100%
      );
      background-repeat: repeat-x;
      background-size: 4px 2px;
      padding-top: rem(8px);
      font-size: rem(12px);
      line-height: rem(18px);
      color: get-color(text-secondary);

      @include media('>=desktop') {
        font-size: rem(14px);
        line-height: rem(20px);
      }

      p {
        font-family: var(--font-family-poppins-light);
        color: get-color(text-secondary);

        a {
          display: block;
          font-weight: 500;
          font-family: var(--font-family-poppins-medium);
          color: get-color(primary-main);
        }
      }
    }

    &__coupon {
      border: var(--border-secondary);
      border-radius: rem(5px);
      display: flex;
      background-color: get-color(secondary-light);
      justify-content: space-between;
      padding: rem(4px) rem(8px);
      position: relative;

      &::before {
        border-radius: 50%;
        position: absolute;
        top: rem(12px);

        @include media('>=desktop') {
          top: rem(13px);
        }

        left: rem(-6px);
        height: rem(8px);
        width: rem(8px);
        background-color: get-color(white);
        content: '';
      }

      &::after {
        border-radius: 50%;
        position: absolute;
        top: rem(12px);

        @include media('>=desktop') {
          top: rem(13px);
        }

        right: rem(-6px);
        height: rem(8px);
        width: rem(8px);
        background-color: get-color(white);
        content: '';
      }

      span {
        font-size: rem(14px);

        @include media('>=desktop') {
          font-size: rem(16px);
        }

        color: get-color(text-primary);
      }

      &-code {
        border: 1px solid transparent;
        padding-left: rem(4px);
      }

      &-action {
        border-left: 1px dotted get-color(action-disabled-text);
        font-weight: 500;
        color: get-color(primary-main);
        padding-right: rem(4px);
        padding-left: rem(8px);
        cursor: pointer;
        font-family: var(--font-family-poppins-medium);
      }
    }
  }
}
