.infobanner-iti {
    border: 1px solid var(--system-warning);
    border-radius: rem(8px);
    padding: rem(12px);
    font-size: rem(12px);
    line-height: rem(20px);
    font-family: var(--font-family-poppins-regular);
    background-color: var(--system-warning-light);
    display: flex;
    gap: rem(16px);
    align-items: center;
    margin-bottom: rem(24px);

    &-icon {
        font-size: rem(18px);
        color: var(--system-warning);
    }
}