$screen-m-xxs: 320px;
$screen-m-xs: 375px;
$screen-m-sm: 540px;
$screen-t-sm: 768px;
$screen-t-lg: 900px;
$screen-d-sm: 1024px;
$screen-d-md: 1280px;
$screen-d-ml: 1440px;
$screen-d-xl: 1600px;
$screen-d-xxl: 1920px;

$color-faint-black: #0000000a;
$color-forest-green: #209326;
$color-cobalt-blue: #24409a;
$color-prussion-blue: #25304b;
$color-duke-blue: #000099;
$color-green-blue: #4c5d9e14;
$color-alice-blue: #eaf8ff;
$color-alice-blue-light: #d1efff;
$color-fire-engine-red : #C3272E;
$color-manatee : #9BA4B8;
$color-munsell : #EBECEE;

$color-paris-green: #56bf7c;
$color-meidum-sea-green: #15b06d;

$color-light-slate-gray: #7a85a0;
$color-light-payne-gray: #4b5772;
