.skyplus-checkbox-container {
  .styled-checkbox {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      user-select: none;
      display: inline-flex;
      align-items: center;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: rem(24px);
      height: rem(24px);
      background: var(--secondary-white);
      border: var(--border-secondary);
      border-radius: rem(8px);
    }

    // Box checked
    &:checked + label:before {
      background: var(--primary-main);
    }

    // Disabled state label.
    &:disabled + label {
      color: #25304b;
      cursor: pointer;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: rem(6px);
      top: rem(11px);
      background: var(--secondary-white);
      width: rem(2px);
      height: rem(2px);
      box-shadow: 2px 0 0 var(--secondary-white), 4px 0 0 var(--secondary-white),
        4px -2px 0 var(--secondary-white), 4px -4px 0 var(--secondary-white),
        4px -6px 0 var(--secondary-white), 4px -8px 0 var(--secondary-white),
        4px -10px 0 var(--secondary-white);
      transform: rotate(45deg);
    }
  }
}
