@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.city-selection-shimmer {
  width: rem(360px);
  background-color: var(--white);
  padding: 1rem;
  box-shadow: var(--box-shadow-card-soft);
  border-radius: 0.75rem;

  .shimmer-row {
    display: grid;
    grid-template-rows: 1fr;
    height: rem(12px);
    margin: rem(8px) 0;
    gap: rem(16px);
  }

  .shimmer-cell {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
  }

  .row-1-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .row-1-12-8 {
    grid-template-columns: 1fr 12fr 8fr;
  }

  .row-1-1-1-1 {
    grid-template-columns: repeat(4, 1fr);
  }

  .row-1-8-8-3 {
    grid-template-columns: 1fr 8fr 8fr 3fr;
  }
}