@import './utils/utils';

:root {
  --secondary-main-dark: #c4e7f8;
  --text-tertiary-dark: #757c8a;
  --bg-active-light: #f4fbff;
  --bg-active-dark: #24409a;
  --bg-active-green: #56bf7c;
  --text-label: #a97d0e;
  --bg-label: #fff8e5;
  --other-side-sheet-background-dark: linear-gradient(
    180deg,
    rgb(254 254 254 / 0%) 0%,
    rgb(255 255 255 / 96%) 8.73%,
    #f7f9fe 17.51%,
    #ecf7fc 81.97%
  );
  --gradient-card: linear-gradient(234deg, #c4e7f8 13.04%, #aadaf2 82.32%);
  --blur-card-dark: linear-gradient(
    178deg,
    rgb(121 157 165 / 69%) -68.53%,
    rgb(33 25 17 / 69%) 98.21%
  );
  --box-shadow-bottom-sticky: 0px -12px 24px 0px rgb(76 93 158 / 8%);
  --box-shadow-card-soft: 0px 0px 12px 0px rgb(76 93 158 / 8%);
  --box-shadow-card-light: 0px 1px 12px 0 rgb(28 108 159 / 8%);
  --blur-overlay: linear-gradient(
    224deg,
    rgb(21 32 95 / 80%) 6.84%,
    rgb(36 64 154 / 80%) 73.19%
  );
}

// removing the default browser padding for the button in passenger edit
.passenger-details-app button {
  padding: 0;
}

.In6e2 div.passenger-details-app,
.passenger-details-app {
  padding-bottom: var(--padding-bottom);
  @include media(">=tablet"){
    padding-bottom: 0;
  }
}

.bg-active-light {
  background-color: var(--bg-active-light);
}

.loyalty-auth-banner-container > .banner-container {
  box-shadow: var(--bs-box-shadow-sm);
}
