@import "../../index";

.exit-row {
  position: absolute;
  font-size: rem(12px);
  font-weight: 400;
  font-family: var(--font-family-poppins-regular);
  color: var(--text-tertiary);
  text-transform: uppercase;

  &--top,&--bottom {
    &::before {
      content: '';
      display: inline-block;
      height: rem(16px);
      width: rem(32px);
      position: absolute;
      visibility: visible;
      background: rgb(217 217 208 / 10%);
      backdrop-filter: saturate(169%) blur(40px);
      box-shadow: inset 0 0 12px 0 rgb(76 93 158 / 7.8%);
      border: none;
    }
  }

  &--top {
    top: rem(40px);

    &::before {
      left: rem(-8px);
      top: rem(-40px);
      border-bottom: rem(1px) solid var(--white) ;
      border-bottom-left-radius: rem(32px);
      border-bottom-right-radius: rem(32px);
    }
  }

  &--bottom {
    bottom: rem(40px);

    &::before {
      left: rem(-4px);
      bottom: rem(-40px);
      border-top: rem(1px) solid var(--white) ;
      border-top-left-radius: rem(32px);
      border-top-right-radius: rem(32px);
    }
  }
}

.seat-map-preview{
  .exit-row {
    visibility: hidden;

    &--top {
      border-top: rem(1.5px) solid var(--white) ;
    }

    &--bottom {
      border-bottom: rem(1.5px) solid var(--white) ;
    }
  }
}