.wc-dangerous-goods {
  padding-bottom: rem(120px);

  display: flex;
  gap: rem(24px);
  flex-direction: column;

  @include media('>=tablet') {
    flex-direction: row;
    gap: rem(16px);
  }

  .important-block {
    border-radius: rem(8px);
    padding: rem(12px);

    .title {
      font-family: var(--font-family-poppins-medium);
      font-size: rem(14px);
      margin-bottom: rem(12px);
      color: get-color(text-primary);
    }

    .description {
      color: get-color(text-secondary);
      p {
        font-size: rem(12px);
        line-height: 1.75;

        @include media('>=tablet') {
          font-size: rem(14px);
          line-height: rem(30px);
        }
      }
    }
  }

  &-left {
    display: flex;
    flex-direction: column;
    gap: rem(32px);
    flex: 2;

    .body-medium-lite {
      font-family: var(--font-family-poppins-lite);
    }
  }

  &-right {
    flex: 1;
  }

  ul {
    margin: rem(8px) 0 rem(20px);

    p {
      list-style: auto;
      font-size: rem(14px);
      color: get-color(text-secondary);
    }
  }

  .skyplus-checkbox-container {
    font-size: rem(14px);
    .label {
      font-family: var(--font-family-poppins-regular);
    }
  }

  .terms {
    display: none;

    @include media('>=tablet') {
      display: block;
    }

    label {
      color: get-color(text-primary);
    }

    &.mobile {
      display: block;
      margin-top: rem(24px);

      @include media('>=tablet') {
        display: none;
      }

      label {
        font-size: rem(12px);
      }
    }
  }

  .skyplus-checkbox-container .styled-checkbox:checked + label:after {
    top: unset;
  }

  .skyplus-checkbox-container .styled-checkbox + label:before {
    width: rem(36px);

    @include media('>=tablet') {
      width: rem(24px);
    }
  }
}

.dangerous-good-block {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
  .mt-8 {
    margin-top: rem(12px) !important;
  }

  .body-medium-regular {
    font-size: rem(12px);

    @include media('>=tablet') {
      font-size: rem(14px);
    }
  }

  p {
    color: var(--text-primary);
  }
}

.wc-footer {
  .icon {
    color: get-color(white);
    margin-left: rem(8px);

    @include media('>=tablet') {
      display: none;
    }
  }
}

.dg-item {
  height: rem(110px);
  box-shadow: var(--box-shadow-card-soft);
  padding: rem(16px) rem(10px) rem(12px) !important;
  border-radius: rem(8px) !important;
  width: 100%;

  @include media('>=tablet') {
    height: auto;
    padding: rem(16px) !important;
  }

  .body-medium-regular {
    font-size: rem(12px);

    @include media('>=tablet') {
      font-size: rem(14px);
    }
  }

  .sky-icons {
    color: var(--text-secondary);
  }
}

.wc-webcheckin-link {
  font-family: var(--font-family-poppins-regular);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: rem(33px);
  color: var(--primary-main);
  align-items: center;

  a,
  i {
    color: var(--primary-main);
  }

  display: none;
  @include media('>=tablet') {
    display: flex;
  }
}

.checkindangerousgood {
  @include media('>=tablet') {
    margin-top: rem(12px);
  }
}
