/* stylelint-disable no-descending-specificity */
@mixin arrowButton() {
  cursor: pointer;
  height: rem(20px);
  width: rem(20px);
  top: rem(2.54px);
  left: (2.25px);
}

.skyplus-carousel {
  &__header {
    display: flex;
    padding-bottom: rem(16px);
    justify-content: space-between;
  }

  &__header-title {
    display: flex;
    color: var(--text-primary);
    font-size: rem(18px);

    @include media('>=tablet') {
      font-size: rem(24px);
    }
  }

  &__header-icon {
    display: flex;
    justify-content: space-between;
    padding: rem(0px) rem(20px);

    &--left {
      @include arrowButton();
    }

    &--right {
      @include arrowButton();
    }

    &--right:focus,
    &--left:focus {
      outline: 1.5px dotted var(--primary-main);
    }
  }

  &__slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__slider-wrapper {
    display: flex;
    transition: transform 0.75s ease;
    width: 100%;

    &--loyalty {
      display: flex;
      transition: transform 0.75s ease;
      min-height: rem(100px) !important;
      padding-bottom: rem(16px);
    }
  }

  &__slide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 100%;
    border-radius: rem(4px);
    width: 100%;
    height: auto;

    @include media('>=tablet') {
      flex: 0 0 78%;
      margin-left: 2%;
      border-radius: rem(4px);
    }
  }

  &__dots-container {
    text-align: center;
  }

  &__dot {
    display: inline-block;
    height: rem(8px);
    width: rem(8px);
    margin: 0 rem(2px);
    border-color: #eae8e8;
    background-color: #e2ebf2;
    border-radius: 50%;
    cursor: pointer;

    &--active {
      width: rem(32px);
      height: rem(8px);
      border-radius: rem(6px);
      background-color: #009;
    }
  }
}

.addon-carousel {
  & .skyplus-carousel {
    &:has(.inline) {
      position: relative;
    }
    
    &__header-icon {
      &--left,
      &--right {
        & span {
          &::before {
            display: inline-block;
            height: rem(24px);
            width: rem(24px);
            place-content: center center;
            flex-wrap: wrap;
            color: var(--primary-main);
            font-size: rem(24px);
          }
        }
      }

      &--left {
        margin-right: rem(8px);

        & span:hover {
          &::before {
            content: '\e96e';
          }
        }
      }

      &--right {
        margin-right: rem(8px);

        & span:hover {
          &::before {
            content: '\e973';
          }
        }
      }

      &.inline {
        padding: 0;
        margin: 0;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate-y(-50%);
        z-index: 3;

        .skyplus-carousel__header-icon {
          &--right, &--left {
            margin: 0;
            width: rem(24px);
            height: rem(24px);
          }
        }
      }
    }

    &__slide {
      @include media('>=tablet') {
        flex: 0 0 48%;
        margin-left: 0;
        margin-right: rem(8px);
      }

      & .skyplus-addon-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: rem(366px);

        &__image-container {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;

          & img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
          }
        }

        &__description {
          padding: rem(16px) rem(16px) rem(12px);
          border-radius: rem(16px);
          background: rgb(38 48 78 / 35%);
          backdrop-filter: blur(rem(16px));
          margin: rem(20px) rem(24px);

          &-header {
            color: var(--white);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: rem(16px);
            margin-bottom: rem(16px);
          }

          &-passenger {
            @include body-small-regular;

            color: var(--secondary-white);
            font-size: rem(12px);
            line-height: rem(18px);
            margin-bottom: rem(4px);
          }

          &-price {
            display: flex;
            gap: rem(4px);
            align-items: baseline;

            & .strike-price {
              @include body-small-regular;

              color: var(--secondary-deep);
              text-decoration-line: line-through;
            }
            // ToDo :- Need to check the typography
            & .price {
              color: var(--accent-main);
              font-size: rem(24px);
              font-weight: 600;
              line-height: rem(30px);
            }
          }

          &-button {
            position: absolute;
            right: rem(16px);
            bottom: rem(12px);

            & .skyplus-button {
              & button {
                padding: rem(6px) rem(20px);
                font-size: rem(16px);
                font-weight: 500;
                line-height: rem(24px);
              }
            }
          }
        }
      }
    }
  }
}

.next-carousel {
  & .skyplus-carousel {
    &__header-icon {
      &--left,
      &--right {
        & span {
          &::before {
            display: inline-block;
            height: rem(24px);
            width: rem(24px);
            place-content: center center;
            flex-wrap: wrap;
            color: var(--primary-main);
            font-size: rem(24px);
          }
        }
      }

      &--left {
        margin-right: rem(8px);

        & span:hover {
          &::before {
            content: '\e96e';
          }
        }
      }

      &--right {
        margin-right: rem(8px);

        & span:hover {
          &::before {
            content: '\e973';
          }
        }
      }
    }

    &__slider-wrapper {
      min-height: auto !important;
    }

    &__slide {
      // flex: 0 0 rem(166px);
      flex: 0 0 54%;
      margin-left: 0;
      margin-right: rem(12px);

      @include media('>=tablet') {
        flex: 0 0 22%;
        margin-right: rem(16px);
      }

      & .skyplus-addon-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;

        &--active {
          border-color: var(--secondary-deep);
          background-color: transparent;
        }

        &__image {
          &-variation {
            padding: rem(12px);
            border-radius: rem(12px);
          }

          &-container {
            border-radius: rem(8px);
            height: 100%;

            & img {
              height: 100%;
              min-height: rem(141px);
              min-width: rem(142px);
              border-radius: rem(8px);
              display: block;
            }
          }

          &-header {
            .skyplus-chip [class*='size-sm'] {
              padding: rem(2px) rem(8px);

              span {
                @include tags-small;
              }
            }
          }

          &-footer {
            padding: rem(8px);
            border-radius: rem(8px);
            margin: rem(8px);
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: rem(8px);

            &-subtitle {
              margin-left: 0 !important;
            }
          }
        }

        &__description {
          padding: rem(16px) rem(16px) rem(12px);
          border-radius: rem(16px);
          background: rgb(38 48 78 / 35%);
          backdrop-filter: blur(rem(16px));
          margin: rem(20px) rem(24px);

          &-header {
            color: var(--white);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: rem(16px);
            margin-bottom: rem(16px);
          }

          &-passenger {
            @include body-small-regular;

            color: var(--secondary-white);
            font-size: rem(12px);
            line-height: rem(18px);
            margin-bottom: rem(4px);
          }

          &-price {
            display: flex;
            gap: rem(4px);
            align-items: baseline;

            & .strike-price {
              @include body-small-regular;

              color: var(--secondary-deep);
              text-decoration-line: line-through;
            }
            // ToDo :- Need to check the typography
            & .price {
              color: var(--accent-main);
              font-size: rem(24px);
              font-weight: 600;
              line-height: rem(30px);
            }
          }

          &-button {
            position: absolute;
            right: rem(16px);
            bottom: rem(12px);

            & .skyplus-button {
              & button {
                padding: rem(6px) rem(20px);
                font-size: rem(16px);
                font-weight: 500;
                line-height: rem(24px);
              }
            }
          }
        }

        &__footer {
          &-text {
            font-size: rem(14px);
            line-height: rem(18px);
          }
        }
      }
    }
  }
}
