@import '~skyplus-design-system-app/src/common/scss/base';

.saved-passengers {
  .header {
    font-weight: 500;
    color: var(--text-primary);
    display: flex;
    justify-content: center;

    @include media('>=tablet') {
      justify-content: start;
    }
  }

    margin-bottom: rem(100px) !important;
  
    @include media('>=tablet') {
      margin-bottom: rem(20px) !important;
    }

  .profile-img-avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-main);
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .bg-color {
    background-color: var(--white);
  }

  .skyplus-add-passenger__button {
    // background: var(--white);
    height: 4.75rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--white);
  
    @include media('>=tablet') {
      position: static;
      justify-content: flex-end;
      background-color: unset;
    }
  }
  
  .passenger-card{
    background-color: var(--white);
  }

  .saved-passenger-cards {
    display: grid;
    grid-template-columns: 1fr; // Single column on mobile view
    gap: 1rem;

    @include media('>=tablet') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .card-sub-heading {
    color: var(--text-tertiary);
  }

  .skyplus-remove-passenger__button-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
  }

  .skyplus-remove-passenger__button {
    width: auto;
    display: flex;
    justify-content: center;

    @include media('>=tablet') {
      width: max-content;
      justify-content: initial;
    }
  }

  .compact-toast {
    padding: 0.4rem 0.8rem !important;
    min-width: max-content;
  }

  .compact-toast-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed !important;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @include media('>=tablet') {
      width: max-content;
    }
  }

  .edit-link {
    color: var(--primary-main);
    cursor: pointer;
    font-weight: 500;
    margin-left: 10px;
    text-decoration: underline;
  }

  &-title {
    display:none;

    @include media('>=tablet') {
      display:block;
    }
  }
}

.edit-saved-passengers {
  .my-profile1 {
    padding: 0 !important;
  }

  .header {
    font-weight: 500;
    color: var(--text-primary);
  }

  .save-button-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--white);
    height: 4.75rem;
    align-items: center; 
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  .save-button {
    width: 70%;
  }
}

.remove-passengers {
  position: sticky;

  .profile-img-avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-main);
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .saved-passenger-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .remove-passenger-header-container {
    margin-bottom: 1rem;
    text-align: center;

    // Title
    p.title {
      font-family: var(--font-family-poppins-medium);
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 2rem;
      color: #757C8A;
    }

    // Description
    p {
      font-family: var(--font-family-bauhuas-std-medium);
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      color: #25304B;

      .highlight {
        color: #209326; // Different color for "select" text
      }
    }

    p.title,
    p.description {
      text-align: center;
    }

    @include media('>=tablet') {
      text-align: left;

      p.title,
      p.description {
        text-align: left;
      }
    }
  }

  // Divider
  hr {
    height: 0;
    border: 1.5px solid transparent;
    border-width: 1.5px 0 0;
    border-image-source: linear-gradient(180.07deg, #A8D9F1 0.06%, #E5F7FF 217.63%);
    border-image-slice: 1;
    margin: 1rem 0;
    opacity: 1;
  }

  .remove-passenger-button-container {
    background: var(--white);
    height: 4.75rem;
    display: flex;
    gap: 1rem;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  .remove-passenger-button {
    width: 40%;
  }
}

@include media('<tablet') {
  .slide-from-bottom.skyplus-offcanvas {
    .skyplus-offcanvas__contents {
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;

      /* Adjust as needed */
      transform: translateY(100%);

      /* Initially hidden below */
      transition: transform 0.25s ease-in-out;
      background-color: var(--secondary-white);

      /* Ensure consistency */
    }

    .skyplus-offcanvas__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--blur-overlay);

      /* Should be semi-transparent */
      z-index: 2000;

      /* Ensure it sits above other content */
      transition: opacity 0.25s ease-in;
    }

    &.is-hidden {
      .skyplus-offcanvas__contents {
        transform: translateY(100%);

        /* Hide by sliding down */
      }

      .skyplus-offcanvas__overlay {
        opacity: 0;
        visibility: hidden;
      }
    }

    &:not(.is-hidden) {
      .skyplus-offcanvas__contents {
        transform: translateY(0);

        /* Slide up into view */
      }

      .skyplus-offcanvas__overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.skyplus-offcanvas__contents {
  z-index: 99999;
}

.removePassengerCb {
  display: flex;
  align-items: start;

  .skyplus-checkbox-container {
    .styled-checkbox {
      &+label::before {
           border-color: var(--primary-main);
    border-width: rem(1.5px);
      }
    }
  }
}