@import './styles/main';

.rt_container_wrapper {
  min-height: 100vh;
  padding: 1rem;
  

  @include media('>=tablet') {
    padding: 1rem 4rem;
  }
 
  .refundGoBackLabel {
    display: block;
    width: max-content;
    font-weight: 600;
    color: var(--primary-main);
    margin-top: rem(10px);
    margin-bottom: rem(50px);
  }

  .refund--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: rem(1440px);
    gap: rem(16px);
    align-items: flex-start;

    .refundSummary {
      width: 100%;
      margin-bottom: 10rem;

      @include media('>=tablet') {
        max-width: calc(70% - (1rem));
      }
    }

    .asideSection {
      width: 100%;

      @include media('>=tablet') {
        max-width: calc(30% - (0.5rem));
      }
    }
  }
}
