.flight-journey-tab-container {
  display: flex;
  flex-direction: row;
  overflow: auto hidden;

  &::-webkit-scrollbar {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &__outer {
    padding: rem(4px);
    min-width: rem(160px);

    @include media('>=tablet') {
      // min-width: rem(500px);
    }

    flex: 1;

    &.active {
      > div {
        background-color: get-color(primary-main);
        border-radius: rem(24px);

        span {
          color: get-color(white);
        }
      }

      .flight-journey-tab-container__leg {
        span {
          &:nth-child(1) {
            &::after {
              background-image: radial-gradient(
                circle closest-side,
                get-color(white) calc(100% + 1.5px),
                transparent 100%
              );
            }
          }
        }
      }
    }

    &:nth-child(1) {
      border-top-left-radius: rem(24px);
      border-bottom-left-radius: rem(24px);
    }

    &:nth-last-child(1) {
      border-top-right-radius: rem(24px);
      border-bottom-right-radius: rem(24px);
    }

    &:not(:nth-child(1)) {
      border-left: 0;
    }

    &:not(:nth-last-child(1)) {
      border-right: 0;
    }
  }

  &__leg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(8px) rem(16px);
    cursor: pointer;

    span {
      font-size: rem(16px);
      display: inline-block;
      font-weight: 500;
      color: get-color(text-tertiary);
      font-family: var(--font-family-poppins-medium);

      &:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          content: '';
          background-image: radial-gradient(
            circle closest-side,
            get-color(text-tertiary) calc(100% - 0.5px),
            transparent 100%
          );
          background-repeat: repeat-x;
          background-size: 4px 2px;
          height: rem(2px);
          width: rem(24px);

          @include media('>=tablet') {
            width: rem(48px);
          }

          display: inline-block;
          margin: 0 rem(10px);

          @include media('>=tablet') {
            margin: 0 rem(20px);
          }

          border-bottom: 0;
          border-left: 0;
          border-right: 0;
        }
      }
    }
  }
}

.flight-journey-tab-wrapper {
  max-width: rem(1440px);
  overflow: hidden;
  border: var(--border-secondary);
  border-radius: rem(24px);
}
