@import "../../index";

.drag-handle-range {
  position: absolute;
  width: 100%;
  z-index: 2;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: 100%;

  &.disabled{
    cursor: default;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    height: 100%;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    border-radius: rem(8px);

    /* custom styles */
    background: var(--other-overlay-gradient);
    height: 100%;
    width: rem(12px);
  }

  &::-moz-range-thumb {
    border-radius: rem(8px);
    background: var(--other-overlay-gradient);
    height: 100%;
    width: rem(12px);
  }
}
