.user-profile {

  &__nav-link {
    display: flex;
    align-items: center;
    gap: rem(6px);
    margin-bottom: rem(24px);
    
    a {
      color: var(--primary-main);
    }
  }

  &__nominee {
    @include media('>=tablet') {
      margin-top: rem(24px);
    }

    padding-bottom: rem(40px);
    margin-bottom: rem(200px);

    &__header {
      &__heading {
        font-family: var(--font-family-bauhuas-std-medium);
        line-height: rem(24px);
        font-size: rem(20px);

        @include media('>=tablet') {
          line-height: rem(32px);
          font-size: rem(24px);
          font-weight: 500;
          line-height: rem(32px);
        }
        .icon-tick-green {
          font-family: var(--font-family-bauhuas-std-medium) !important;
          font-size: rem(20px) !important;
          color: var(--accent-dark);
        }
      }

      &__sub_heading {
        color: get-color(text-secondary);
        font-family: var(--font-family-poppins-regular);
        line-height: rem(32px);
        font-size: rem(12px);

        @include media('>=tablet') {
          font-size: rem(14px);
        }
      }
    }

    &__note {
      margin-top: rem(16px);
      background-color: get-color(text-alice-blue);
      padding: rem(12px) !important;
      border-radius: rem(8px);
      display: flex;
      flex-direction: column;
      gap: rem(12px);

      p:nth-child(1) {
        font-size: rem(14px);
        color: get-color(text-secondary);
        line-height: rem(20px);
        font-family: var(--font-family-poppins-regular);
      }

      p:nth-child(2) {
        color: get-color(text-tertiary);
        line-height: rem(20px);
        font-size: rem(14px);
        font-family: var(--font-family-poppins-regular);
      }
    }

    &__remove-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: rem(24px);

      button,
      .skyplus-button {
        width: 100%;
        font-size: rem(14px);
        font-family: var(--font-family-poppins-medium);

        @include media('>=tablet') {
          font-size: rem(16px);
          width: auto;
        }

        &:focus-visible {
          outline: 1px solid get-color(secondary-main);
          outline-offset: rem(2px);
        }
      }
    }

    &__add-btn {
      display: flex;
      cursor: pointer;
      align-items: center;
      margin-left: auto;
      color: get-color(primary-main);
      font-family: var(--font-family-poppins-light);
      width: max-content;

      span {
        margin-left: rem(8px);
        display: inline-block;
        font-family: var(--font-family-poppins-medium);
        font-size: rem(14px);

        @include media('>=tablet') {
          font-size: rem(16px);
        }
      }

      &.disable {
        color: get-color(text-disabled);
        pointer-events: none;
      }

      &:focus-visible {
        outline: rem(1px) solid get-color(secondary-main);
      }
    }
  }
}
