@import '../../../../../styles/utils/utils';

.form-checkbox {
  cursor: pointer;

  input[type='checkbox'] {
    appearance: none;
    outline: rem(2) solid var(--primary-main);
    height: rem(16);
    min-width: rem(16);
    border-radius: rem(4);

    &::before {
      visibility: hidden;
      content: '✓';
      font-size: rem(16);
      color: var(--white);
    }

    &:checked {
      background-color: var(--primary-main) !important;

      &::before {
        visibility: visible !important;
      }
    }
  }

  &.form-checkbox-v2 {
    input[type='checkbox'] {
      width: rem(24px);
      max-width: rem(24px);
      height: rem(24px);
      outline: none;
      border-radius: rem(8px);
  
      &::before {
        content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M16.3345 2.75024H7.66549C4.64449 2.75024 2.75049 4.88924 2.75049 7.91624V16.0842C2.75049 19.1112 4.63549 21.2502 7.66549 21.2502H16.3335C19.3645 21.2502 21.2505 19.1112 21.2505 16.0842V7.91624C21.2505 4.88924 19.3645 2.75024 16.3345 2.75024Z" stroke="%2324409A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
        display: inline-block;
        vertical-align: middle;
        width: inherit;
        height: inherit;
        visibility: visible;
        border-radius: rem(8px);
        cursor: pointer;
      }
  
      &:checked {
        background: var(--secondary-white) !important;
  
        &::before {
          content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M16.34 1.99988C19.73 1.99988 22 4.37988 22 7.91988V16.0909C22 19.6199 19.73 21.9999 16.34 21.9999H7.67C4.28 21.9999 2 19.6199 2 16.0909V7.91988C2 4.37988 4.28 1.99988 7.67 1.99988H16.34ZM16.18 8.99988C15.84 8.65988 15.28 8.65988 14.94 8.99988L10.81 13.1299L9.06 11.3799C8.72 11.0399 8.16 11.0399 7.82 11.3799C7.48 11.7199 7.48 12.2699 7.82 12.6199L10.2 14.9899C10.37 15.1599 10.59 15.2399 10.81 15.2399C11.04 15.2399 11.26 15.1599 11.43 14.9899L16.18 10.2399C16.52 9.89988 16.52 9.34988 16.18 8.99988Z" fill="%2324409A"%3E%3C/path%3E%3C/svg%3E');
        }
      }
    }
  }
}