.booking-summary-wrapper {
  z-index: 9;

  .visa-booking-summary-close-icon {
    position: absolute;
    top: rem(-60px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    cursor: pointer;
    font-size: rem(20px);
    color: var(--primary-main);
    background-color: var(--secondary-white);
    width: rem(40px);
    height: rem(40px);
    border-radius: rem(20px);
    gap: rem(4px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  display: flex;
  flex-direction: column;
  gap: rem(19px);

  .booking-traveler-details {
    gap: rem(12px);
    height: rem(31px);

    .tags-small {
      font-size: rem(12px);
      color: var(--text-primary);
      font-family: var(--font-family-poppins-regular);
      line-height: rem(18px);
      font-weight: 400;
    }
  }

  .booking-summary-details {
    display: grid;
    padding: rem(16px);
    gap: rem(16px);
    background-color: var(--secondary-white);
    box-shadow: rem(0px) rem(0px) rem(12px) rem(0px) var(--bg-color-border);

    .booking-summary-text {
      font-family: var(--font-family-bauhuas-std-medium);
      font-weight: 500;
      font-size: rem(24px);
      line-height: rem(32px);
      letter-spacing: rem(-0.6px);
      color: var(--text-primary);
    }

    .traveler-count {
      border-radius: rem(12px);
      border: rem(1px) solid var(--secondary-main);
      padding: rem(12px) rem(16px);
      gap: rem(10px);
      background-color: var(--secondary-light);

      .traveler-count-text {
        font-family: var(--font-family-poppins-regular);
        font-weight: 400;
        font-size: rem(12px);
        line-height: rem(18px);
        color: var(--text-tertiary);
      }
    }

    @include media('>=tablet') {
      border-radius: rem(12px);
    }
  }

  .payment-summary-details {
    display: grid;
    gap: rem(16px);

    .payment-summary-text {
      font-family: var(--font-family-bauhuas-std-medium);
      font-weight: 500;
      font-size: rem(18px);
      line-height: rem(24px);
      letter-spacing: rem(-0.4px);
      color: var(--text-primary);
    }

    .traveler-count {
      border-radius: rem(12px);
      border: rem(1px) solid var(--secondary-deep);
      padding: rem(12px) rem(16px);
      gap: rem(10px);

      .traveler-count-text {
        font-family: var(--font-family-poppins-regular);
        font-weight: 400;
        font-size: rem(12px);
        line-height: rem(18px);
        color: var(--text-tertiary);
      }
    }
  }

  .departing-details-wrapper {
    display: grid;
    border: rem(1px) solid var(--secondary-deep);
    border-radius: rem(8px);
    gap: rem(8px);

    .departing-details {
      padding: rem(8px) rem(16px);
      background-color: var(--secondary-light);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .departing-text {
        font-family: var(--font-family-poppins-regular);
        font-weight: 500;
        font-size: rem(14px);
        line-height: rem(20px);
        color: var(--text-secondary);
      }

      .departing-date {
        font-family: var(--font-family-poppins-regular);
        font-weight: 500;
        font-size: rem(14px);
        line-height: rem(18px);
        color: var(--text-secondary);
      }
    }

    .tourist-visa {
      display: flex;
      flex-direction: column;
      gap: rem(2px);
      padding: rem(0px) rem(16px);

      .tourist-visa-text {
        font-family: var(--font-family-poppins-regular);
        font-weight: 600;
        font-size: rem(14px);
        line-height: rem(20px);
        color: var(--primary-main);
      }

      .tourist-visa-days {
        font-family: var(--font-family-poppins-regular);
        font-weight: 400;
        font-size: rem(12px);
        line-height: rem(18px);
        color: var(--text-primary);
        padding-bottom: rem(8px);
      }
    }

    .visa-amount {
      display: flex;
      align-items: center;
      justify-content: right;
      background-color: var(--primary-main);
      border-bottom-left-radius: rem(8px);
      border-bottom-right-radius: rem(8px);
      padding: rem(6px) rem(11px);

      .visa-amount-text {
        font-family: var(--font-family-poppins-regular);
        font-weight: 600;
        font-size: rem(16px);
        line-height: rem(24px);
        color: var(--secondary-white);
      }
    }
  }
}

.booking-summary-m-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(22px);
  margin-bottom: rem(24px);

  .booking-traveler-details {
    gap: rem(12px);
    height: rem(31px);

    .tags-small {
      font-family: var(--font-family-bauhuas-std-medium);
      font-weight: 500;
      font-size: rem(10px);
      line-height: rem(16px);
    }
  }

  .booking-summary-details {
    display: grid;
    gap: rem(22px);

    .booking-summary-detials--wrapper {
      display: flex;
      justify-content: space-between;
      padding: rem(16px) rem(8px);
      border: rem(1px) solid var(--secondary-white);
      border-radius: rem(12px);
      background-color: var(--secondary-white);
      height: rem(40px);
      align-items: center;

      .booking-summary-details-text-left {
        font-weight: 500;
        font-size: rem(14px);
        line-height: rem(20px);
        color: var(--text-secondary);

        &.active {
          color: var(--primary-main);
          font-weight: 600;
        }
      }

      .booking-summary-details-text-right {
        font-weight: 500;
        font-size: rem(14px);
        color: var(--primary-main);
        text-transform: uppercase;
        text-decoration: underline;
        font-family: var(--font-family-poppins-semibold);
        text-underline-offset: rem(4px);

        i {
          transform: rotate(180deg);
        }

        i::before {
          font-size: rem(14px);
        }
      }

      .rotate-270 {
        color: var(--primary-main);

        i {
          transform: rotate(270deg);
          color: var(--primary-main);
          margin-left: rem(8px);
        }

        i::before {
          font-size: rem(16px);
          margin-top: rem(-4px);
          transform: rotate(270deg);
        }
      }
    }

    .booking-summary-button--wrapper {
      display: none;
    }

    .booking-summary-button--text {
      font-weight: 500;
      font-size: rem(14px);
      line-height: rem(20px);
      text-align: center;
      color: var(--secondary-white);
    }
  }
}
