@import '../../index';

.seatmap-seat {
  position: absolute;
  width: rem(32px);
  height: rem(32px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: rem(1px) solid var(--secondary-main);
  background-color: var(--white);
  border-radius: rem(8px);
  cursor: pointer;
  font-family: var(--font-family-poppins-regular);
  color: var(--other-border-divider);
  font-size: rem(12px);
  font-weight: 400;
  line-height: rem(18px);
  box-sizing: border-box;

  @include font-styles(12px, 400, 18px);

  &.preview {
    cursor: default;
    border: none;
    border-radius: rem(14px);
    color: var(--secondary-main);
  
    &.basinet{
      color: var(--system-warning);
    }
  
    &.free{
      color: var(--accent-dark);
    }
  
    &.non-recline{
      color: var(--action-selected-stroke);
    }
  
    &.xl{
      color: var(--action-selected-stroke);
    }
  
    &.premium{
      color: var(--action-selected-stroke);
    }
  
    &.recliner{
      color: var(--action-selected-stroke);
    }

    &.female{
      color: var(--system-error-light);
    }

    &.disabled {
      color: var(--btn-disabled-background-light);
    }

    &.selected{
      color:  var(--text-primary-main);
    }

    background-color: currentcolor;
  }

  &:not(.preview) {
    &.basinet {
      color: var(--other-border-divider);
      background-color: var(--white);
      border-color: var(--system-warning);
      font-weight: 500;
    }

    &.free {
      color: var(--other-border-divider);
      background-color: transparent;
      border-color: var(--accent-dark);
      font-weight: 500;

      &.selected {
        color: var(--text-primary-main);
        background-color: var(--action-selected-stroke);
        border-color: var(--action-selected-stroke);
      }
    }

    &.non-recline {
      color: var(--other-border-divider);
      background-color: var(--white);
      border-color: var(--action-selected-stroke);
      font-weight: 500;
      width: rem(34px);
      height: rem(32px);
      padding-right: 10px;

      &::after {
        content: '';
        position: absolute;
        width: rem(27px);
        height: rem(6px);
        border-radius: 0 0 rem(6px) rem(6px);
        background: var(--other-border-divider);
        right: rem(-10px);
        rotate: 270deg;
      }

      &.disabled {
        color: var(--btn-disabled-background-light);
        background-color: var(--btn-disabled-background-light);
        border-color: var(--btn-disabled-background-light);

        &::after {
          background: var(--action-disabled-stroke);
        }
      }

      &.selected {
        background-color: var(--action-selected-stroke);
        color: var(--text-primary-main);
      }
    }

    &.xl {
      width: rem(40px);
      height: rem(32px);
      color: var(--text-primary-main);
      background-color: var(--white);
      border-color: var(--action-selected-stroke);
      font-weight: 500;
      padding-right: 10px;
      /* stylelint-disable no-descending-specificity */
      &::after {
        content: '';
        position: absolute;
        width: rem(28px);
        height: rem(7px);
        border-radius: 0 0 rem(6px) rem(6px);
        background: var(--action-selected-stroke);
        right: rem(-9px);
        rotate: 270deg;
      }

      &.female{
        color: var(--other-border-divider);
        background-color: var(--white);
        border-color: var(--system-error-light);
        font-weight: 500;
    
        &.selected{
          color: var(--text-primary-main);
          background-color: var(--action-selected-stroke);
          border-color: var(--action-selected-stroke);
        }
      }

      &.disabled {
        color: var(--btn-disabled-background-light);
        background-color: var(--btn-disabled-background-light);

        &::after {
          background: var(--action-disabled-stroke);
        }
      }

      &.selected {
        background-color: var(--action-selected-stroke);

        &::after {
          background: var(--action-selected-background);
        }
      }

      &.non-recline {
        &:not(.disabled) {
          &::after {
            background: var(--other-two-tone-icon-light);
          }
        }
      }

      &.next{
        width: rem(45px);
        height: rem(36px);

        &::after {
          width: rem(31px);
          height: rem(7px);
          background: var(--secondary-main);
          right: rem(-11px);
        }

        &.selected::after {
          background: var(--action-selected-background);
        }

        &.disabled::after {
          background: var(--action-disabled-stroke);
        }
      }
    }
  

    .seatLabel {
      position: absolute;
    }
  
    &.recliner{
      width: rem(40px);
      height: rem(48px);
      color: var(--text-primary-main);
      background-color: var(--white);
      border-color: var(--action-selected-stroke);
      font-weight: 500;
      justify-content: center;

      &::after {
        content: '';
        position: absolute;
        width: rem(44px);
        height: rem(7px);
        border-radius: 0 0 rem(6px) rem(6px);
        background: var(--action-selected-stroke);
        right: rem(-18px);
        rotate: 270deg;
      }

      &.disabled {
        color: var(--btn-disabled-background-light);
        background-color: var(--btn-disabled-background-light);

        &::after {
          background: var(--action-disabled-stroke);
        }
      }

      &.selected {
        background-color: var(--action-selected-stroke);

        &::after {
          background: var(--action-selected-background);
        }
      }
    }

    &.female {
      color: var(--other-two-tone-icon-light);
      background-color: var(--white);
      border-color: var(--system-error-light);
      font-weight: 400;

      &.selected {
        background-color: var(--secondary-light);
        border-color: var(--system-error-light);

        &::after {
          border-bottom: rem(8) solid var(--secondary-main);
        }

        .icon {
          color: var(--white);
        }
      }
    }
  
    &.disabled {
      color: var(--btn-disabled-background-light);
      background-color: currentcolor;
      border-color: currentcolor;
      cursor: not-allowed;
      pointer-events: none;

      &.female-selected{
        color: var(--system-error-light);
        background-color: var(--system-error-light);
        border: rem(1px) solid var(--system-error-light);
        pointer-events: auto;
        cursor: pointer;
        &::after {
          background: var(--system-error-light);
        }
      }
    }

    &.selected {
      color: var(--text-primary-main);
      background-color: var(--action-selected-stroke);
      border-color: var(--action-selected-stroke);
    }
  }
}

.seat-selection--toast-wrapper {
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: visible;

  > .seat--toast {
    max-width: rem(418px);

    & > .notifi-variation-container > .notifi-variation-col {
      width: 100%;
    }

    &.top-bottom {
      top: unset;
      background: var(--white);
    }

    &.bottom-top {
      bottom: unset;
    }
  }
}
