.cardstrip{
  display: flex;
  background: linear-gradient(180deg, #E0FED7 100%, #C1EDC1 100%);
  justify-content: space-between;
  align-items: center;  
  padding: rem(12px) rem(16px);
  border-radius: rem(8px);
  width: 100%;
  height: rem(58px);
 
  &__image{
    width:  rem(64px);
    height: rem(44px);
    padding-right: rem(8px);
  }

  &__text{
    font-size: rem(10px);
    line-height: 1.5;
    margin-right: rem(10px);
    font-family: var(--font-family-poppins-regular);
    flex-grow: 1;

    @include media('>=tablet') {
      font-size: rem(16px);
    }
   
    &--subtext{
      padding-left: rem(8px);
      font-weight: 600;
    }

  } 

}