@import '../../../styles/utils/utils';

.sp-banner {
  box-shadow: var(--box-shadow-card-soft);

  &__title {
    font-family: var(--font-family-poppins-medium) !important;
    font-weight: 600;

    .text-green {
      color: var(--accent-dark);
    }
  }

  &__sub-heading {
    @include defaultTypoStyles(
      12,
      0,
      18,
      normal,
      var(--font-family-poppins-regular)
    );

    @include media('>=tablet') {
      @include defaultTypoStyles(
        16,
        0,
        24,
        normal,
        var(--font-family-poppins-regular)
      );
    }
  }

  &__heading {
    @include media('>=tablet') {
      @include defaultTypoStyles(
        24,
        -0.6,
        32,
        normal,
        var(--font-family-bauhuas-std-medium)
      );
    }
  }

  &__card {
    background: var(--gradient-card);
    border-radius: rem(8);
  }

  &__close-icon {
    cursor: pointer;
  }

  &__cta {
    height: rem(44);
    border-radius: rem(22);
    color: var(--bg-primary-main);
    width: rem(186);
    cursor: pointer;

    &-icon {
      width: rem(36);
      height: rem(36);
    }
  }
}

.sp-sidebar {
  &__body {
    background: var(--other-side-sheet-background-dark);

    @include media('>=tablet') {
      width: rem(471) !important;
    }
  }

  &__info {
    &-card {
      border-radius: rem(20);
    }

    &-text {
      width: rem(290);
      font-size: rem(12);
      color: var(--text-tertiary);
    }
  }

  &__heading {
    color: var(--text-tertiary-dark);

    @include media('>=tablet') {
      font-size: rem(20);
    }
  }

  &__done-cta {
    cursor: pointer;

    @include media('>=tablet') {
      width: 100%;
    }
  }

  &__search-container {
    border-radius: rem(22);
    border-color: var(--secondary-deep);
    font-size: rem(12);

    @include media('>=tablet') {
      font-size: rem(14);
    }
  }

  &__search-icon {
    &::before {
      font-size: rem(24);
    }
  }

  &__subheading {
    .text-green {
      color: var(--accent-dark);
    }

    @include defaultTypoStyles(
      20,
      -0.6,
      24,
      normal,
      var(--font-family-bauhuas-std-medium)
    );

    @include media('>=tablet') {
      @include defaultTypoStyles(
        28,
        0,
        32,
        normal,
        var(--font-family-bauhuas-std-medium)
      );
    }
  }

  &__close-icon {
    cursor: pointer;
  }

  &__initials {
    color: var(--primary-main);
    font-size: rem(16);
    height: rem(36);
    width: rem(36);

    &-label {
      cursor: pointer;
    }
  }

  &__search {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: rem(20);
      height: rem(20);
      z-index: 1;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &::placeholder {
      color: var(--text-tertiary);
    }

    &:focus {
      outline: none;
    }
  }

  &__footer {
    box-shadow: var(--box-shadow-bottom-sticky);

    @include media('>=tablet') {
      padding-left: rem(64);
      padding-right: rem(64);
    }
  }

  &__results {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    .disabled-saved-pax {
      pointer-events: none;
      background-color: var(--btn-disabled-background-light) !important;
      color: var(--sel-con-disabled-text);
      .sp-slider__initials {
        background-color: var(--white) !important;
      }
    }
  }

  &__card {
    box-shadow: var(--box-shadow-card-soft);
    cursor: pointer;

    &-name {
      @include defaultTypoStyles(
        14,
        0,
        20,
        normal,
        var(--font-family-poppins-regular)
      );

      @include media('>=tablet') {
        @include defaultTypoStyles(
          16,
          0,
          24,
          normal,
          var(--font-family-poppins-regular)
        );
      }
    }

    &-type {
      font-size: rem(12);
      color: var(--text-tertiary);

      @include media('>=tablet') {
        font-size: rem(14);
      }
    }

    &--active {
      border-color: var(--secondary-main) !important;
    }
  }

  .skyplus-offcanvas {
    &__contents {
      &--footer {
        z-index: 10;
      }
    }
  }
}

.sp-slider {
  box-shadow: var(--box-shadow-card-light);

  &__heading {
    font-family: var(--font-family-poppins-semibold) !important;
  }

  &__icon-right {
    color: var(--btn-link);
  }

  &__avatar {
    width: rem(24);
    height: rem(24);

    @include defaultTypoStyles(
      12,
      0,
      18,
      normal,
      var(--font-family-poppins-regular)
    );

    @include media('>=tablet') {
      width: rem(36);
      height: rem(36);

      @include defaultTypoStyles(
        16,
        0,
        24,
        normal,
        var(--font-family-poppins-regular)
      );
    }
  }

  &__passenger-name {
    @include media('>=tablet') {
      @include defaultTypoStyles(
        16,
        0,
        24,
        normal,
        var(--font-family-poppins-regular)
      );
    }
  }

  &__list {
    // height: rem(112);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__input-container {
    cursor: pointer;

    .checkbox-container {
      @include media('>=tablet') {
        min-width: rem(150);
      }
    }

    &--active {
      border-color: var(--secondary-main) !important;
    }
  }

  &__viewall {
    color: var(--primary-main);
    cursor: pointer;
  }

  .disabled-saved-pax {
    pointer-events: none;
    background-color: var(--btn-disabled-background-light);
    color: var(--sel-con-disabled-text);
    .sp-slider__avatar {
      background-color: var(--white) !important;
    }
  }
}
