.doc-required-note, .embassy-note {
    display: flex;
    align-items: center;
    font-family: var(--font-family-poppins-light);
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    color: var(--text-secondary);
    background: var(--text-alice-blue);
    border-radius: rem(8px);
    padding: rem(12px);
    margin-bottom: rem(15px);
    @include media('>=desktop') {
        background: var(--system-warning-light); 
        border: rem(1px) solid var(--system-warning);
        border-radius: rem(12px);
        padding: rem(16px);
    }
    .title{
        font-weight: 600;
        font-size: rem(14px);
        line-height: rem(20px);
        color: var(--text-primary);
        padding-bottom: rem(13px);
    }
   
}

.doc-required-note p, .embassy-note p {
    padding-left: rem(13px);
}

.embassy-note {
    display: none;
    .title{
        display: none;
    }
}

@include media('>=desktop') {
    .embassy-note {
        display: flex;
        
    }
}
