.fare-rules {
  gap: rem(4px);
  display: flex;
  flex-direction: column;
  margin-bottom: rem(24px);

  &__rule {
    i {
      color: var(--accent-dark);
    }

    div {
      color: var(--text-secondary);
      margin-left: rem(8px);
    }

    .body-small-regular {
      p {
        font-size: rem(12px);

        a {
          color: get-color(primary-main);
          font-family: var(--font-family-poppins-regular);
        }
      }
    }
  }
}
