.retrieve-pnr-infoalert {
  border-radius: rem(12px);
  padding: rem(14px) rem(18px);
  @include media('>=tablet') {
    padding: rem(19px) rem(30px) rem(32px) rem(24px);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cornflower-blue {
  background-color: #daf1ff;
  color: get-color(text-secondary);
}

.login-now-wrapper{
  padding: rem(24px);
  background: #fff;
  box-shadow: 0 0 .75rem 0 rgba(76, 93, 158, .078);
  border-radius: rem(12px);
}

.login-now {
  margin-top: rem(20px);
  margin-bottom: rem(40px);
  
  @include media('>=tablet') {
    margin-top: rem(12px);
    margin-bottom: 0;
  }

  .login-button-container {
    width: 100%;
    max-width: rem(211px);
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    background-color: get-color(system-information-light);
    padding: rem(4px);
    border-radius: rem(20px);
    margin-right: rem(69px);

    .skyplus-text {
      color: get-color(primary-main) !important;
      margin-left: rem(12px);
      font-family: var(--font-family-poppins-medium);
    }

    .right {
      background-color: get-color(primary-main);
      border-radius: 20px;
      height: 2rem;
      position: relative;
      width: 2rem;
    }

    .text-medium-regular {
      font-size: rem(14px) !important;
    }
      
    &.rt_login_btn {
      padding: rem(4px) rem(4px) rem(4px) rem(24px);

      .skyplus-text {
        margin-left: 0;
      }
    }
  }

  .link-container {
    flex-direction: column;
    gap: rem(20px);
    align-items: flex-start;

    @include media('>=tablet') {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  h4 {
    p {
      font-size: rem(20px);
    }
  }
}

#retrieve-pnr[data-page-type="my-bookings"] {
  .login-button-container {
    max-width: initial;
    margin-right: 0;
  }
}