@import '../../index';

.fare-details-segment {
  .segment-table {
    margin: rem(16px) 0;
    border-radius: rem(8px);
    border: 1px solid var(--bs-light-border-subtle);
    overflow: hidden;

    .fare-list {
      &__row {
        :nth-child(2) {
          text-wrap: nowrap;
        }
        .green {
          color: var(--accent-dark);
        }
      }
    }

    .skyplus-chip--next {
      padding: rem(4px) rem(8px);
    }

    &__head,
    &__fare-list,
    &__fare-total {
      padding: rem(12px) rem(16px);
    }

    &__head {
      background-color: var(--secondary-light);
    }

    &__fare-list {
      display: flex;
      flex-direction: column;
      background: var(--white);

      .fare-list-title {
        color: var(--text-primary);
        font-weight: bold;

      }

      .divider {
        margin: rem(12px) auto;
        height: 0;
        width: 100%;
        border-bottom: 1px solid var(--bs-light-border-subtle);
      }

      .trip-divider {
        margin: rem(12px) auto;
        height: 0;
        width: 100%;
        border-bottom: rem(1px) dotted var(--bs-light-border-subtle);
      }
    }

    &__fare-total {
      display: flex;
      justify-content: flex-end;
      background-color: var(--secondary-medium);
    }
  }
}
