@import '../../index';

.swipe-up-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: rem(16px);
  background: transparent;
  border: none;

  &::before {
    content: '';
    width: rem(40px);
    height: rem(4px);
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--action-disabled-stroke);
    border: 1px solid var(--action-disabled-stroke);
    border-radius: rem(24px);
    left: 50%;
    top: 50%;
  }

  @include media('>=desktop') {
    display: none;
  }
}
