.itinerary-hotel-strip {
    margin: rem(32px) rem(22px);
    padding: rem(12px);
    border: rem(1px) solid var(--Secondary-Deep-Grey, #E2EBF2);
    border-radius: rem(8px);
    @include media(">=tablet") {
        margin: 0  0 rem(32px);
    }
    position: relative;
    .swiper-button-prev,.swiper-button-disabled {
        right: 2.375rem;
        opacity: 1;
    }
    &.noBookingFlow{
        @include media(">=tablet") {
            margin: rem(32px) 0;
        }
    }
    &.isCancelFlight{
        margin: rem(32px) rem(22px) 0;
    }
    &-heading{
        position: relative;
        font-size: rem(20px);
        letter-spacing: rem(-0.6px);
        line-height: rem(32px);        
        font-weight: 500;
        color: var(--text-primary);
        font-family: var(--font-family-bauhuas-std-medium);
        margin-bottom: rem(4px);
        .green,.text-green {
            color: var(--accent-dark);
        }
        @include media(">=tablet") {
            position: absolute;
            padding-left: 0;
            margin-bottom: rem(14.5px);
            font-size: rem(24px);
          }        
    }
    &-sub-heading{
        position: relative;
        margin-top: rem(4px);
        @include media(">=tablet") {
            position: absolute;
            margin-top: rem(47px);
        }
        p{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: rem(300px);
            width: 100%;
            font-size: rem(12px);
            letter-spacing: rem(-0.6px);
            line-height: rem(20px);        
            font-weight: 400;
            color: var(--color-text-secondary);
            font-family: var(--font-family-poppins-regular);
            max-width: 98%;
            max-height: rem(38px);
            @include media(">=tablet"){
                font-size: rem(14px);
                max-width: rem(721px);
                max-width: rem(690px);
            }
        }
        @include media(">=tablet") {
            padding-left: 0;
          }    
    }
    &--item {
        width: rem(159px);
        height: rem(146px);
        position: relative;
        color: white;
        cursor: pointer;
        padding-left: 0;
        @include media(">=tablet") {
            padding-left: 0;
            font-size: rem(12px);
            min-width: rem(276px);
            width: rem(276px);
            height: rem(244px);
        }  
    }

    &--image {
        width: 100%;
        height: 100%;
        border-radius: rem(8px);
    }

    &--item-over {
        display: flex;
        width: 100%;
        height: 100%;
        padding: rem(12px);
        align-items: flex-start;
        align-content: center;
        gap: rem(0px) rem(18px);
        position: absolute;
        bottom: 0;
        left: 0;
        flex-direction: column;  
        line-height: rem(24px);  
        @include media(">=tablet") {
            padding: rem(20px);
        }
        &--price-tag{
            display: flex;
            align-items: flex-start;
            .hotel-price{
                font-size: rem(12px);
                margin-right: rem(8px);
                color: #FFF;
                font-family: var(--font-family-poppins-regular);
                @include media(">=tablet") {
                    font-size: rem(20px);
                }
            }
            .hotel-stay{
                font-family: var(--font-family-poppins-regular);
                font-size: rem(14px);
                font-weight: 300;
                line-height: rem(20px);
            }
            .return-flight-banner__link{
                height: rem(35px);
                width: rem(35px);
                position: absolute;
                right: rem(12px);
                &__wrapper{
                    left: rem(10px);
                    top: rem(8px);
                }
            }
        }
        & > span {
            width: 100%;
            .title {
                width: 100%;
            }
        }    
    }
    .swiper-slide{
        margin-right: rem(15px) !important;
        width: rem(159px) !important;
        @include media(">=tablet") {
            margin-right: rem(15px) !important;
            width: rem(276px) !important;
        }
    }
    &--rating{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(4px);
        font-family: var(--font-family-poppins-regular);
        font-size: rem(14px);
        margin-bottom: rem(34px);
        @include media(">=tablet") {
         margin-bottom: rem(110px);
        }
    }
    .show-more-cta{
        display: flex;
        justify-content: center;
        font-family: var(--font-family-poppins-regular);
        font-size: rem(16px);
        font-weight: 500;
        line-height: rem(20px);
        color: #009;
        gap: rem(4px);
        margin-top: rem(12px);
        .text{
            text-decoration-line: underline;
            cursor: pointer;
        }
        .icon-accordion-down-simple{
            transform: rotate(268deg);
            margin-top: rem(3px);
            cursor: pointer;
            &::before{
                width: rem(10px);
                height: rem(10px);
            }
        }
    }
    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: rem(72px);
        display: block;
        font-size: rem(16px);
        font-family: var(--font-family-bauhuas-std-medium);
        font-weight: 500;
        line-height: rem(44px);
        letter-spacing: -0.8px;
        color: #FFF;
        @include media(">=tablet") {
           font-size: rem(32px);
        }
    }
    .travel-tips-slider{
        padding: rem(12px) 0 0 0;
        @include media(">=tablet") {
            padding: rem(98px) 0 0 0;

        }
        .swiper-button-prev,.swiper-button-next{
            display: none;
            @include media(">=tablet") {
                display: block;
                width: rem(20px);
                height: rem(20px);
                top: rem(32px);
                position: absolute;
                background: get-color("indigo-primary");
                color: #FFF;
                border: rem(1px) solid get-color("indigo-primary");
                &::after{
                    position: absolute;
                    top: rem(5px);
                    left: rem(8px);                
                }
                &.swiper-button-disabled{
                    background: #FFF;
                    color: get-color("indigo-primary");
                    border: rem(1px) solid get-color("indigo-primary");
                }
             }
        }

    }
}