.visa-footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: var(--other-sticky);
  box-shadow: var(--box-shadow-bottom-sticky);
  backdrop-filter: blur(12px);
  border-radius: rem(16px) rem(16px) 0 0;
  border: 1px solid rgb(255 255 255 / 39%);
  z-index: 99999999;

  @include media('>=tablet') {
    border-radius: 0px;
    border-top: 0.0625rem solid var(--secondary-medium);
    box-shadow: var(--bs-box-shadow-sm);
    z-index: 999;
  }

  .visa-price-footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: rem(14px) rem(24px);
    position: relative;

    @include media('>=tablet') {
      gap: rem(105px);
      padding: rem(24px) rem(32px);
      justify-content: flex-end;
    }

    .dash {
      content: '';
      border: 2px solid var(--sel-con-disabled-stroke);
      width: rem(40px);
      top: rem(6px);
      left: calc(50% - rem(20px));
      position: absolute;
      border-radius: rem(20px);

      @include media('>=tablet') {
        display: none;
      }
    }

    &-left {
      .total {
        color: var(--text-secondary);
        font-size: rem(14px);
        line-height: rem(20px);
        align-items: center;
        font-weight: 500;


        @include media('>=tablet') {
          margin-top: rem(16px);
        }

        &.loyaltyLabel {
          text-transform: uppercase;
        }
      }

      .pax-details {
        color: var(--text-tertiary);
        font-size: rem(12px);
        line-height: rem(18px);
        align-items: center;
        font-weight: 400;
      }

      .total-amount {
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(24px);
        letter-spacing: rem(-0.6px);
        margin: rem(8px) 0 0;
        color: var(--text-primary);
      }

      .view-details {
        display: block;
        color: var(--color-button-link);
        cursor: pointer;
        font-size: rem(14px);
        text-transform: uppercase;
        text-decoration: underline;
        font-family: var(--font-family-poppins-regular);
        font-weight: 400;

        @include media('>=tablet') {
          margin-bottom: rem(20px);
        }
      }
    }

    .visa-price-footer-left {
      flex-direction: column;

      @include media('>=tablet') {
        display: flex;
        align-items: flex-start;
      }

      .total,
      .pax-details,
      .view-details {
        @include media('>=tablet') {
          margin: 0;
        }
      }

      .view-details {
        color: var(--primary-main);
        cursor: pointer;
        font-size: rem(14px);
        text-transform: capitalize;
        text-decoration: underline;
        font-family: var(--font-family-poppins-regular);
        font-weight: 400;
        line-height: rem(20px);
      }

    }

    &-right {
      width: 100%;

      @include media('>=tablet') {
        width: initial;
      }

      button {
        padding: rem(12px) rem(32px) !important;
        border-radius: rem(22px);
        font-family: var(--font-family-poppins-medium);
        font-size: rem(16px);
        min-width: rem(129px);
        height: rem(42px);

        @include media('>=tablet') {
          min-width: rem(186px);
          height: rem(56px);
          border-radius: rem(28px);
          padding: rem(16px) rem(56px) !important;
        }
      }
    }
  }
}