@import '../../../../../skyplus-design-system-app/src/common/scss/base';

.info-contact-us-summary,
.trip-card {
  .tooltip-content {
    span {
      background-color: transparent !important;
      padding: 0 !important;
    }
    .self-section,
    .partner-section {
      display: flex;
      gap: rem(4px);

      .pnr-section {
        color: var(--text-tertiary);
      }
      .partner-logo {
        position: unset;
        height: 10px;
        width: 10px;
        margin-top: 5px;
      }
    }
    .self-section {
      align-items: center;
    }
    .partner-section {
      img {
        width: rem(16px);
      }
    }
  }
}
.info-contact-us-summary {
  .partial-status-container{
    span {
      cursor: pointer;
    }

    &:hover {
      .tooltip-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .tooltip-content{
    position: absolute;
    bottom: 100%;
    padding: rem(6px) rem(8px);
    background-color: var(--system-warning-light);
    opacity: 0;
    visibility: hidden;
    margin-bottom: rem(8px);
    border-radius: rem(12px);
    display: flex;
    flex-direction: column;
    gap: rem(4px);

    span{
      background-color: transparent !important;
      padding: 0 !important;
      font-size: rem(10px) !important;
    }
    .self-section,.partner-section{
        display: flex;
        gap: rem(4px);
  
        .pnr-section{
          color: var(--text-tertiary);
        }
    }
    .self-section {
      align-items: center;
    }
    .partner-section {
      img {
        width: rem(16px);
      }
    }
  }
}
