.mp-last-trip{
  font-family:  var(--font-family-poppins-regular);

  &__heading{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 12px;

    a{
      color: #009;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; 
      text-decoration-line: underline;
      text-transform: capitalize;
    }
  }

  &__container{
    position: relative;

    &__pnr{
      background-color: #DAF1FF;
      padding: 12px 16px 8px;
      border-radius: 28px;

      &-chip{
        color: #F0FFF6!important;

        span{
          color: #218946!important;
          font-size: 10px;
          font-weight: 500;
          line-height: 16px;

        }
      }

      &-detail{
        display: flex;
        justify-content: space-between;
        margin: 10px 0 40px;
      }

    }

    &__flight-details{
      background-color: #FFF;
      position: absolute;
      top: 75%;
      left: 0;
      right: 0;
      border-radius: rem(16px);
      padding-left: rem(16px);

      &-chip{
        margin: 10px 0;
        color: #EAF8FF;

        span{
          color: #348DC4!important;
          padding: 4px 6px;;
        }
      }
    }
  }

  &__journey-detail {
    align-items: center;
    display: flex;
    justify-content: space-between;
  
    &__from,
    &__to {
      span {
        color: #9ca5d7;
        font-family: var(--font-family-poppins-regular);
        font-size: rem(14px);
        font-weight: 400;
        line-height: rem(20px);
        text-transform: uppercase;
  
        @include media('>=tablet') {
          font-size: rem(12px);
          line-height: rem(18px);
        }
      }
  
      h2 {
        color: #7fd287;
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(40px);
        font-weight: 500;
        line-height: rem(48px);
        letter-spacing: rem(-0.8px);
  
        @include media('>=tablet') {
          font-size: rem(44px);
          line-height: rem(52px);
        }
      }
    }
  
    &__duration {
      p {
        color: #9ca5d7;
        font-family: var(--font-family-poppins-regular);
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
  
        @include media('>=tablet') {
          font-size: rem(12px);
          line-height: rem(18px);
        }
      }
  
      p:first-child {
        border-bottom: 1px dotted #fff;
        padding-bottom: 4px; /* Adjust as needed */
        margin-bottom: 0; /* Adjust as needed */
      }
    }
  }

  &__dotted{
    border-top: 3px dotted #DAF1FF;
    margin: 12px 0;
  }

}
