$black: #000000;

.info-contact-us-summary {
  margin-top: 0;
  padding-top: 0 !important;

  .pnr-info-main {
    height: rem(280px);
    max-height: rem(280px);
    border-radius: rem(12px);
    overflow: hidden;
    @include media('>=tablet') {
      height: rem(310px);
      max-height: rem(310px);
    }

    img {
      height: 100%;
    }

    .banner-section__text-content {
      width: 100%;
      left: 0;
      flex-direction: row;
      top: auto;
      padding: rem(16px) 0;
      gap: rem(32px);
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, $black 100%);

      @include media('>=tablet') {
        padding: rem(54px) 0;
      }

      .banner-section__text {
        width: 100%;

        .booking-details {
          position: relative;
          padding: 0 rem(16px);

          @include media('>=tablet') {
            padding: 0 rem(54px);
          }

          .booking-status {
            display: flex;
            gap: rem(8px);
            position: relative;

            .journey-type {
              padding: 0 rem(8px);
              background-color: transparent;
              border: solid rem(1px) var(--white);
              color: var(--white);
            }

            span {
              background-color: var(--white);
              padding: rem(2px) rem(8px) rem(2px) rem(2px);
              border-radius: rem(30px);
              display: flex;
              font-size: rem(10px);
              font-family: var(--font-family-poppins-medium);
              align-items: center;
              gap: rem(4px);
              @include media('>=tablet') {
                font-size: rem(12px);
              }

              i {
                &::before {
                  font-size: rem(16px);
                  @include media('>=tablet') {
                    font-size: rem(20px);
                  }
                }
              }
            }
            span.bg-green {
              background-color: var(--secondary-deep);
              color: var(--system-success);
            }

            span.bg-red {
              background-color: var(--system-warning-light);
              color: var(--system-warning);
            }

          }
        }

        .swiper-slide {
          padding: 0 rem(16px);

          @include media('>=tablet') {
            padding: 0 rem(54px);
          }
        }

        .passenger-data,
        .booking-date {
          justify-content: space-between;
          color: var(--white);
          font-size: rem(10px);
          font-family: var(--font-family-poppins-medium);
          margin: rem(10px) 0;
          @include media('>=tablet') {
            font-size: rem(12px);
          }

          i {
            &:before {
              color: var(--white);
              font-size: rem(16px);
            }
          }
        }

        .passenger-data {
          position: absolute;
          right: 0;
          bottom: rem(-30px);
          margin: 0;
        }

        .pnr-details-main {
          flex-direction: column;

          .pnr-details {
            width: 100%;
          }

          .skyplus-slider {
            width: 100%;
          }

          .view-itinerary-btn {
            padding: 0 rem(16px);
            
            button {
              width: 100%;
              margin: 0 auto;
              @include media('>=tablet') {
                width: rem(320px);
              }
            }
          }

          .swiper-pagination {
            position: relative;
            margin-top: rem(16px);

            .swiper-pagination-bullet {
              width: rem(6px);
              height: rem(6px);
              background-color: var(--white);
              opacity: 0.6;
              margin: 0 rem(2px);
            }

            .swiper-pagination-bullet-active {
              width: rem(16px);
              opacity: 1;
            }
          }
        }
      }
    }

    .pnr-details {
      .pnr-info {
        gap: rem(16px);

        .flight-time {
          font-size: rem(20px);
          color: var(--white);
          line-height: 1;
          @include media('>=tablet') {
            font-size: rem(24px);
          }
        }

        .flight-city-name {
          font-family: var(--font-family-poppins-light);
          font-size: rem(12px);
          color: var(--secondary-deep);
          @include media('>=tablet') {
            font-size: rem(14px);
          }
        }

        .text-right {
          text-align: right;
        }
      }
    }

    .journey-lap {
      gap: rem(4px);

      &-dot {
        border: rem(1px) solid var(--secondary-deep);
      }
      &-line {
        max-width: rem(500px);
        border-top: rem(1px) dotted var(--secondary-deep);
      }
      .icon-Flight {
        color: get-color(secondary-deep);
      }
      .text-color {
        color: var(--secondary-deep);
        min-width: auto;
        text-align: center;
        @include media('>=tablet') {
          min-width: rem(280px);
        }
      }
    }
  }

  .title-icon-card__title {
    display: block;
  }
  .loyalty-footer {
    display: none;
  }
  &__card {
    @include media('>=tablet') {
      background-color: var(--white);
      border-radius: rem(12px);
      padding: rem(24px);
      box-shadow: 0 0 rem(28px) rem(16px) rgba(76, 93, 158, 0.039);
    }

    .banner-section {
      margin-bottom: rem(32px);
    }
  }

  .pnr-cancelled {
    .banner-section__text-content {
      padding: 2rem;
      top: 0;
      background: linear-gradient(349.66deg, rgba(0, 0, 0, 0) 7.68%, rgba(0, 0, 0, 0.2) 61.71%);
      background-color: rgba(244, 222, 223, 0.8);

      @include media('<tablet') {
        padding: 1rem;
      }
  
      .banner-section__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .booking-details {
          display: flex;
          justify-content: space-between;
          padding: 0;

          .booking-status {
            span.holdcancelled {
              background-color: $light-red;
              color: $error-red-1;
            }
          }
          .passenger-count {
            color: $white;
            font-size: 0.75rem;

            .icon-Passenger {
              &::before {
                color: $white;
              }
            }
          }
        }
        .pnr-details-main {
          .view-itinerary-btn {
            @include media('<tablet') {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.accordion {
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.tooltip-message-container{
  background-color: var(--system-warning-light);
  width: auto;
  bottom: 0px;
  padding: rem(4px) rem(8px);
}
.partial-status-container{
  cursor: pointer;
}
