.fare-price-know-more {
  .table-container {
    .table {
      border-spacing: 0;
      border: rem(1px) solid get-color(secondary-deep);
      table-layout: fixed;
      width: 100%;
      display: table;
      border-bottom: 0;
      overflow-y: auto;
      overflow-x: hidden;

      &:nth-child(1) {
        border-top-left-radius: rem(8px);
        border-top-right-radius: rem(8px);
      }

      &:nth-last-child(1) {
        border-bottom-left-radius: rem(8px);
        border-bottom-right-radius: rem(8px);
      }

      &-thead {
        &-row {
          display: table-row;

          @include media('>=tablet') {
            position: sticky;
            top: rem(0);
          }

          &-head {
            display: table-cell;
            font-size: rem(12px);
            padding: rem(8px);

            @include media('>=tablet') {
              font-size: rem(14px);
              padding: rem(16px);
            }

            background-color: get-color(secondary-light);
            border: rem(1px) solid get-color(secondary-deep);
            border-left: 0;
            border-top: 0;
            text-align: left;
            font-family: var(--font-family-poppins-medium);
            color: get-color(text-primary);

            &:first-child {
              border-top-left-radius: rem(7px);
            }

            &:last-child {
              border-right: 0;
              border-top-right-radius: rem(7px);
            }
          }
        }
      }

      &-body {
        &-row {
          display: table-row;

          &-data {
            font-size: rem(10px);
            border-bottom: rem(1px) solid get-color(secondary-deep);
            border-right: rem(1px) solid get-color(secondary-deep);
            color: get-color(text-tertiary);
            display: table-cell;
            padding: rem(8px);
            font-family: var(--font-family-poppins-regular);

            @include media('>=tablet') {
              font-size: rem(14px);
              padding: rem(16px);
            }

            &:nth-child(1) {
              font-family: var(--font-family-poppins-medium);
              color: get-color(text-primary);
            }

            &:last-child {
              border-right: 0;
            }

            p {
              a {
                color: get-color(primary-main);
              }
            }
          }
        }
      }
    }
  }

  .terms {
    padding: rem(16px);
    display: flex;
    flex-direction: column;
    gap: rem(8px);

    p {
      font-size: rem(10px);
      line-height: rem(16px);
      margin-bottom: rem(8px);

      @include media('>=tablet') {
        font-size: rem(14px);
        line-height: rem(30px);
      }
    }
  }
}
