@import '../../index';
$font-family-bold: var(--font-family-poppins-semibold);

.leg-details {
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;

  .layover-info {
    width: 70%;
    border-radius: rem(4px);
    border: 1.5px dashed var(--secondary-deep);
  }

  .time-info {
    font-size: rem(14px);
  }

  .package-details {
    padding: rem(12px) rem(48px);
    text-align: center;

    p {
        font-family: $font-family-bold;
      }

    i {
      padding-right: rem(8px);
      position: relative;
      top:rem(2.5px);
    }
  }

  .change-aircraft {
    overflow: hidden;
    text-align: center;
    @include media('>=tablet') {
      text-align: unset;
    }

    &__text {
      &__changeText {
        text-wrap: nowrap;
        text-align: center;

        @include media('>=tablet') {
          float: right;
        }
      }
    }
  }

}
