@import '../../../index.scss';

.voucher-history-container {
  font-family: var(--font-family-bauhuas-std-medium);
  min-height: rem(257px);
  padding: rem(16px) rem(12px);
  border-radius: rem(12px);
  opacity: 0px;
  margin: rem(24px) 0;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 0px 12px 0px #4C5D9E14;

  &--title {
    font-size: rem(16px);
    font-weight: 500;
    line-height: rem(19.2px);
    text-align: left;
    color: #2e2e2e;

    @include media(">=desktop") {
      font-size: rem(24px);
      line-height: rem(28px);
    }
  }

  .chip-container {
    font-family: var(--font-family-poppins-semibold);
    margin: rem(16px) 0;
    position: relative;
    display: flex;

    .chips {
      white-space: nowrap;
      overflow-x: auto;
      width: 75%;
      scrollbar-width: none;

      @include media(">=desktop") {
        white-space: unset;
        overflow-x: unset;
        width: unset;
        scrollbar-width: unset;
      }
    }

    .chip {
      font-family: var(--font-family-poppins-semibold);
      font-size: rem(10px);
      font-weight: 500;
      line-height: rem(16px);
      text-align: center;
      margin-right: rem(12px);
      min-width: rem(61px);
      height: rem(28px);
      padding: rem(6px) rem(12px);
      border-radius: 16px;
      background-color: #ffffff;
      border: 1px solid #daf1ff;
      color: #4b5772;
      opacity: 0px;  

      &.active {
        color: #25304b;
        background: #eaf8ff;
        border: 1px solid #afe4ff;
      }
    }

    .actions {
      position: absolute;
      right: 0;

      .filter-section {
        display: flex;
        align-items: flex-start;
        width: rem(64px);
        position: relative;

        &--item {
          display: flex;
          padding: rem(8px);

          align-items: flex-start;
          gap: rem(4px);
          cursor: pointer;

          .icon-switch_destination {
            transform: rotate(90deg);
          }

          .icon-switch_destination::before {
            font-size: rem(22px);
          }
        }

        .sorting-option {
          display: flex;
          width: rem(165px);
          padding: rem(16px) 0px;
          flex-direction: column;
          align-items: flex-start;
          gap: rem(12px);
          position: absolute;
          right: rem(44px);
          z-index: 2;
          top: rem(44px);
          border-radius: rem(12px);
          background: var(--white);

          /* Drop Shadow/Fold Hard */
          box-shadow: 0px 0px rem(32px) rem(2px) rgba(76, 93, 158, 0.12);

          &--label {
            display: flex;
            padding: 0px rem(16px);
            align-items: flex-start;
            gap: rem(4px);
            align-self: stretch;

            p {
              color: var(--text-tertiary);
              font-size: rem(14px);
              font-style: normal;
              font-weight: 400;
              line-height: rem(20px);
              text-transform: uppercase;
            }
          }

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            li {
              padding: rem(12px) rem(16px);
              align-items: flex-start;
              gap: rem(12px);
              align-self: stretch;
              color: var(--other-divider);
              font-size: rem(14px);
              font-style: normal;
              font-weight: 400;
              line-height: rem(20px);
              font-family: var(--font-family-poppins-medium);
              cursor: pointer;

              @include media('>=tablet') {
                padding: rem(12px) rem(16px);
                font-size: rem(14px);
                font-style: normal;
                font-weight: 400;
                line-height: rem(20px);
              }

              li:hover {
                background: #EAF8FF;
              }

              /* 142.857% */
            }

            li.active {
              color: var(--primary-main);
              background-color: var(--action-selected-background);
            }
          }
        }
      }
    }
  }

  .content-container {
    display: flex;
    flex-flow: column;
    flex: 1;
  }
}
