.country-codes-picker {
  display: flex;
  gap: rem(6px);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.country-picker-field {
  position: relative;

  .wc-popover__content {
    width: rem(300px);

    .scroll-container {
      max-height: rem(320px);
      overflow: auto;
    }
  }
}
