.faretype-imagegrid {
  display: grid;
  grid-template-columns: repeat(3, rem(180px));
  gap: rem(8px);

  &--item {
    position: relative;
    border-radius: rem(8px);
    display: flex;
    justify-content: end;

    img {
      width: 100%;
      height: 100%;
      border-radius: rem(8px);
      object-fit: cover;
      object-position: 10% 15%;

      @include media('>=tablet') {
        object-fit: cover;
        object-position: 70%;
      }
    }

    h5 {
      font-size: rem(14px);
      font-family: var(--font-family-poppins-light);
      color: get-color(white);
      position: absolute;
      bottom: rem(16px);
      left: rem(16px);
      font-weight: 300;

      @include media('>=tablet') {
        padding-right: rem(24px);
      }
    }
  }

  &.column {
    grid-template-rows: repeat(3, rem(120px));
    grid-template-columns: rem(260px);

    &--item {
      position: relative;
      border-radius: rem(8px);
      display: flex;
      justify-content: end;

      img {
        width: 100%;
        height: 100%;
        border-radius: rem(12px);
      }

      h5 {
        font-size: rem(14px);
        font-family: var(--font-family-poppins-light);
        color: get-color(white);
        position: absolute;
        bottom: rem(16px);
        left: rem(16px);
        font-weight: 300;
      }
    }
  }
}
