.flightRefund {
  span{
    color: $secondary-text;  
  }

  .text-green{
    color: $success-color;
  }

  h1{
    color: $secondary-text;
    font-style: normal;
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(24px);
  }

  p {
    color: $primary-text;
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(32px);
    letter-spacing: -0.6px;
  }
}

.yourRefund {
  display: flex;
  width: rem(769px);
  flex-direction: column;
  align-items: flex-start;
  gap: rem(8px);
  margin-bottom: rem(24px);

  .text-green {
    color: $success-color;
  }

  h1 {
    color: $secondary-text;
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(24px);
  }

  p {
    color: $primary-text;
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(32px);
    letter-spacing: rem(-0.6px);
  }

  h4 {
    color: $secondary-text;

    span {
      color: unset;
    }
  }
}

.flightDetails {
  display: flex;
  padding: rem(12px) rem(16px);
  align-items: center;
  gap: rem(12px);
  border: 1px solid $light-blue-bg;
  border-radius: rem(12px);
  margin: rem(25px) 0;

  .refund {
    color: $secondary-text;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
  }

  .pnr {
    color: $secondary-text;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    
  }

  .pnrStatus {
    background: $error-light;
    display: flex;
    padding: rem(2px) rem(8px) rem(2px) rem(2px);
    justify-content: center;
    align-items: center;
    gap: rem(4px);
    border-radius: rem(12px);

    span {
      color: $error-color;
      text-align: center;
      font-size: rem(12px);
      font-style: normal;
      font-weight: 500;
      line-height: rem(18px);
    }

    i{
      color: $error-color;
    }
  }

  .refundStatusHeader {
    display: flex;
    align-items: flex-start;
    
    .statusWrapper {
      border-radius: rem(12px);
      background: $success-light;
      display: flex;
      padding: rem(4px) rem(8px) rem(4px) rem(6px);
      justify-content: center;
      align-items: center;
      gap: rem(4px);
      margin-right: 2rem;

      &.success {
        span {
          color: $success-color;
        }

        i {
          &::before {
            color: $success-color;
          }
        }
      }

      &.pending {
        background: $warning-light;

        span {
          color: $warning-color;
        }

        i {
          &::before {
            color: $warning-color;
          }
        }
      }

      &.failed {
        background: $error-light;

        span {
          color: $error-color;
        }

        i {
          &::before {
            color: $error-color;
          }
        }
      }
    }
  }
}

@include media('>=phone', '<=tablet') {
  .flightRefund,
  .yourRefund {
    width: 100%;
    padding: 0;
  }

  .flightDetails {
    flex-flow: row wrap;
    padding: rem(12px) rem(8px);
    gap: rem(5px);
  }
}