@import '../../styles/variables';
.wc-smartcheckin {
  display: flex;
  gap: rem(16px);

  &__right {
    flex: 1;
    gap: rem(20px);
    flex-direction: column;
    display: flex;
    overflow: hidden;
    display: none;

    @include media('>=tablet') {
      display: block;
    }

    .addon-cards {
      &-container {
        margin-top: rem(20px);

        &-slider {
          .swiper {
            width: 100% !important;
          }
        }

        .swiper-slide {
          height: unset;
        }
      }

      .sky-icons {
        cursor: pointer;
      }
    }

    .seat-info {
      .title {
        font-size: rem(16px);
        color: get-color(text-primary);
        font-family: var(--font-family-poppins-medium);
      }

      .desc {
        font-size: rem(14px);
        color: get-color(text-secondary);
        margin-top: rem(16px);
      }
      .link {
        font-family: var(--font-family-poppins-medium);
        color: get-color(primary-main);
      }
    }

    h3 {
      p {
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(24px);
        line-height: rem(32px);
        font-weight: 500;
      }
    }
  }
}

.checkinpassportvisa {
  .phonewithcountry {
    display: flex;
    flex-direction: row;
    gap: rem(12px);
    flex-wrap: wrap;

    .col-2 {
      min-width: rem(60px);
    }

    .col-5 {
      flex: 1;
      @include media('>=tablet') {
        flex: 5;
      }
    }
    .error-msg {
      font-size: rem(10px) !important;
    }

    .country-codes-picker {
      background: #fff;
      border: 1px solid #e2ebf2;
      border-radius: 8px;
      -webkit-box-pack: justify;
      padding: rem(10px);
      margin-bottom: 8px;
      font-size: rem(14px);

      color: get-color(text-primary);
      font-family: var(--font-family-poppins-light);
      &.disabled{
        background-color:#ebecee;
      }
    }

    > div:nth-last-child(1) {
      flex: unset;
      width: 100%;
      @include media('>=tablet') {
        flex: 5;
        width: auto;
      }
    }
  }
}

.wc-international-web-checkin {
  @include media('>=tablet') {
    padding-bottom: rem(160px);
    margin-top: rem(12px);
  }

  h2 {
    p {
      color: var(--text-primary);
    }
  }
}

.radio-label {
  .label {
    font-family: var(--font-family-poppins-regular);
    font-size: rem(14px);
  }
}

.gdpr-form {
  font-size: rem(14px);
  font-family: var(--font-family-poppins-regular);
  margin-top: rem(12px);
  color: get-color(text-primary);
  display: flex;
  gap: rem(8px);
  flex-direction: column;

  .gdpr-selection {
    display: inline-flex;
    gap: rem(8px);
  }
}

.form {
  &-field {
    .error-msg {
      font-size: rem(10px) !important;
      @include media('>=tablet') {
        font-size: rem(12px) !important;
      }
    }
  }
}

.consent-container {
  margin-top: rem(16px);

  .heading {
    font-size: rem(14px);
  }

  .edit {
    display: flex;
    text-align: right;
    gap: rem(8px);
    color: get-color(primary-main);
    font-size: rem(14px);
    justify-content: flex-end;

    .sky-icons {
      cursor: pointer;

      &::before {
        color: get-color(primary-main);
        font-size: rem(16px);
      }
    }

    .anchor {
      color: get-color(primary-main);
      text-decoration: underline;
      cursor: pointer;
      text-transform: uppercase;
      font-family: var(--font-family-poppins-medium);
    }
  }
}

.booking-is-authorised {
  margin-top: rem(16px);

  label {
    font-size: rem(12px) !important;
  }
}

.passsenger-details-form {
  display: flex;
  flex-direction: column;

  .adult-passenger {
    order: 1;
  }

  .gdpr-form {
    order: 2;
    margin-bottom: rem(16px);
  }

  .other {
    order: 3;
  }
}

label[for='gdpr-consent'] {
  align-items: flex-start !important;
  &::before {
    min-width: rem(24px);
  }

  a {
    color: get-color(primary-main);
    font-family: var(--font-family-poppins-medium);
  }
}

.emergency-form {
  cursor: pointer;
  background-color: var(--text-alice-blue);
  border-radius: rem(8);

  &__options-label,
  &__close-icon,
  &__label {
    &-btn,
    &-icon--cta {
      cursor: pointer;
    }
  }

  &__label-btn {
    color: var(--primary-main);
  }

  &__note {
    background-color: var(--text-alice-blue);
  }

  &__label {
    background-color: var(--text-alice-blue);

    &-icon {
      height: rem(16);
      min-width: rem(16);
    }
  }
.emergency-form-title{
  margin-top: rem(10);
}
  .design-system-input-field{
    .error-msg{
      text-align: left;
    }
    input[disabled]{
      background-color:$bg-color-disabled;
    }
    .suggestion-msg{
      color:$bg-suggestion-color;
      font-size: rem(12px);
      margin:rem(2px) rem(4px);
      text-align:left;
    }
  }
}


.visa-details{
  & .skyplus-checkbox-container{
    & label::before{
      min-width: rem(24px);
    }
    
    & label::after{
      top: rem(20px) !important;
      @include media ('>=desktop'){
        top: rem(11px) !important;
      }
    }
  }
}