$font-family-poppins-semibold: 'Poppins-SemiBold';
$font-family-poppins-medium: 'Poppins-Medium';
$font-family-poppins-regular: 'Poppins-Regular';
$font-family-poppins-light: 'Poppins-Light';
$font-family-bauhuas-std-medium: 'BauhausStd-Medium';