@function get-color($key: 'primary') {
    @return map-get($color-palette, $key);
}
@function get-opaque-color($key: 'primary', $opacity: '1') {
    $result: map-get($color-palette, $key);
    @return rgba($result, $opacity);
}

// Common
$baseFontSize: 16;

@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context) * 1rem;
}

@function get-color($key: "primary") {
  @return var(--#{$key});
}
