$icon-font-family: 'indigo-icons' !default; // need to change

//** WKND Specific Fonts

$icon-6e-rewards: "\e901";
$icon-departure-path1: "\e902";
$icon-departure-path2: "\e903";
$icon-departure-path3: "\e904";
$icon-arrival-path1: "\e905";
$icon-arrival-path2: "\e906";
$icon-arrival-path3: "\e907";
$icon-switch-destination-fill: "\e908";
$icon-profile-solid-path1: "\e909";
$icon-profile-solid-path2: "\e90a";
$icon-profile-solid-path3: "\e90b";
$icon-manage-booking: "\e90d";
$icon-chat-with-us: "\e90e";
$icon-email: "\e90f";
$icon-download: "\e910";
$icon-flight-delay: "\e911";
$icon-check: "\e912";
$icon-terms-and-conditions: "\e913";
$icon-note: "\e914";
$icon-terminal-information: "\e915";
$icon-baggage-allowance: "\e916";
$icon-share: "\e917";
$icon-net-banking: "\e919";
$icon-card-payment: "\e91a";
$icon-upi: "\e91b";
$icon-credit-shell: "\e91c";
$icon-baggage-tag: "\e91d";
$icon-discount: "\e91e";
$icon-edit: "\e91f";
$icon-non-veg: "\e920";
$icon-veg: "\e921";
$icon-my-trips: "\e922";
$icon-bestsellar-solid-path1: "\e923";
$icon-bestsellar-solid-path2: "\e924";
$icon-bestsellar-stroke: "\e925";
$icon-search: "\e926";
$icon-fast-forward: "\e927";
$icon-link: "\e928";
$icon-wifi: "\e929";
$icon-launge: "\e92a";
$icon-free-fast-forward: "\e92c";
$icon-cancellation-fee: "\e92d";
$icon-6e-eats: "\e92e";
$icon-cabin-bag: "\e930";
$icon-checkin-bag: "\e931";
$icon-canadian-dollar: "\e932";
$icon-usd: "\e933";
$icon-seat: "\e935";
$icon-calender: "\e937";
$icon-hotel: "\e938";
$icon-flight-path1: "\e939";
$icon-flight-path2: "\e93a";
$icon-flight-path3: "\e93b";
$icon-flight-path4: "\e93c";
$icon-add-simple: "\e93d";
$icon-minus: "\e93e";
$icon-add-circle: "\e93f";
$icon-switch-destination: "\e940";
$icon-location: "\e941";
$icon-inr: "\e942";
$icon-backword: "\e943";
$icon-forward: "\e944";
$icon-pause: "\e945";
$icon-play: "\e946";
$icon-close-simple: "\e947";
$icon-close-solid: "\e948";
$icon-close-circle: "\e949";
$icon-arrow-down-circle: "\e94a";
$icon-arrow-up-solid: "\e94b";
$icon-arrow-left-solid-path1: "\e94c";
$icon-arrow-left-solid-path2: "\e94d";
$icon-arrow-right-solid-path1: "\e94e";
$icon-arrow-right-solid-path2: "\e94f";
$icon-arrow-top-right-simple: "\e950";
$icon-arrow-bottom-right-simple: "\e951";
$icon-arrow-top-left-simple: "\e952";
$icon-arrow-bottom-left-simple: "\e953";
$icon-arrow-down-simple: "\e954";
$icon-arrow-up-simple: "\e955";
$icon-arrow-left-simple: "\e956";
$icon-arrow-right-simple: "\e957";
$icon-arrow-top-right-solid: "\e958";
$icon-arrow-down-solid: "\e959";
$icon-arrow-top-right-circle: "\e95a";
$icon-arrow-top-left-solid: "\e95b";
$icon-arrow-top-left-circle: "\e95c";
$icon-arrow-up-circle: "\e95d";
$icon-arrow-bottom-right-solid: "\e95e";
$icon-arrow-bottom-right-circle: "\e95f";
$icon-arrow-left-circle: "\e960";
$icon-arrow-right-circle: "\e961";
$icon-arrow-bottom-left-solid: "\e962";
$icon-frame-2: "\e963";
$icon-accordion-down-simple: "\e964";
$icon-accordion-down-circle: "\e965";
$icon-accordion-down-solid: "\e966";
$icon-accordion-up-simple: "\e967";
$icon-accordion-up-circle: "\e968";
$icon-accordion-up-solid: "\e969";
$icon-accordion-left-circle: "\e96a";
$icon-accordion-left-simple: "\e96b";
$icon-accordion-left-solid: "\e96c";
$icon-caution: "\e96d";
$icon-voucher: "\e96f";
$icon-accordion-left-24: "\e970";
$icon-accordion-left-ouline-24: "\e971";
$icon-accordion-left-filled-24: "\e972";
