@import "../../../index.scss";

$other-disabled-border: #cdd1db;
$primary-main:#000099;

.tabs-container {
  overflow: auto;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;

  //new css
  justify-content: space-between;
  
  &:-webkit-scrollbar {
    display: none;
  }
  
  .tab {
    font-family: var(--font-family-poppins-semibold);
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(20px);
    text-align: center;
    padding: rem(16px) 0;
    height: rem(52px);
    opacity: 0px;
    cursor: pointer;

    border-bottom: 2px solid $other-disabled-border;

    &.active {
      color: $primary-main;
      border-bottom: 2px solid $primary-main;
    }
  }
}