.cardstacker{
  box-shadow: none;
  border-radius: rem(32px);
  display: flex;
  padding: rem(12px) rem(16px);
  flex-wrap: wrap;
  align-items: center;
  justify-content:start;
  gap: rem(8px);
  background-color: var(--white);
  max-width: 96%;
  margin: rem(0) auto;
 
   @include media('>=desktop') {
      box-shadow: var( --box-shadow-fold-hard);
      gap: rem(16px);
      padding: (24px);
      max-width: rem(1200px);
      margin: 0 auto rem(15px) auto;
    }
}