

$font-family-secondary: "Open Sans", arial;
$color-blur: rgb(0 0 0 / 40%);

$screen-m-xxs: 320px;
$screen-m-xs: 375px;
$screen-m-sm: 540px;
$screen-t-sm: 768px;
$screen-t-lg: 900px;
$screen-d-sm: 1024px;
$screen-d-md: 1280px;
$screen-d-ml: 1440px;
$screen-d-xl: 1600px;
$screen-d-xxl: 1920px;

$color-palette: (
  "color-blur": rgb(207 206 207 / 40%)
)
