.swiper {
  &-button-next,
  &-button-prev {
    width: rem(20px);
    height: rem(20px);
    color: get-color(bs-black);
    font-weight: 600;
    top: 55%;

    &::after {
      font-size: rem(14px);
    }
  }

  &-slide {
    box-sizing: border-box;
  }

  &-pagination-bullet {
    width: 8px;
    height: 8px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgb(0 0 0 / 20%);

    &-active {
      color: get-color(white);
      background: get-color(primary-main);
      width: 32px;
      border-radius: 16px;
    }
  }
}

.skyplus-slider {
  .swiper {
    overflow: inherit;

    @include media('>=tablet') {
      width: 95%;
    }

    &-button-prev {
      left: rem(-30px);
    }

    &-button-next {
      right: rem(-30px);
    }
  }
}
