@mixin submit-otp-btn($mb, $py, $border-radius) {
  margin-bottom: $mb;

  & button {
    @include btn;
    padding-block: $py;
    border-radius: $border-radius;
  }
}

.refund-mf-modal {
  max-width: rem(373px);
  padding: rem(20px);


  & .popup-modal-global__header {
    align-items: flex-start;

    &__title {
      font-size: rem(32px);
    }
  }


  & p {
    color: var(--color-text-secondary);
    font-weight: 400;
    font-family: var(--font-family-poppins-regular);
    margin-bottom: 0;
  }

  & span {
    font-family: var(--font-family-poppins-semibold);
  }

  & .refund-otp-btn {
    @include submit-otp-btn(rem(36px), rem(16px), rem(28px));
  }

  & .refund-otp__helper-text {
    color: var(--text-secondary);
    margin-top: rem(4px);
    @include body-medium-light;
    font-size: rem(12px);
  }

  & .refund-otp__didnt--recieved {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: var(--text-primary);

      @include body-large-medium;
    }

    a {
      color: var(--primary-main);

      @include link-small;

      text-decoration-line: underline;
      text-transform: capitalize;
    }
  }

}

.skyplus-otpInput__container.refund-otp {
  margin-block: rem(24px) rem(16px);
  padding-inline: rem(16px);
  justify-content: space-evenly;
  justify-self: center;

  @include media(">=tablet"){
    margin-block: rem(24px);
  }

  & .skyplus-otpInput__otp-input {
    border: rem(1px) solid $light-white;
    width: rem(45px);
    height: rem(42px);
    border-radius: rem(8px);
    margin-inline: rem(6px);

    & .input-text-field__input {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
  & p.otp-field__error{
    margin-left: rem(24px);
  }
}

.refund-popover__content {
  opacity: 1;
  z-index: 1031;
  transform: translate(0, 10px);
  position: fixed !important;
  inset: rem(-10px) 0 rem(-10px);
  width: 100vw;
  border-radius: 0 !important;
  background: rgb(40 30 168 / 55%);
  box-shadow: 0 rem(4px) rem(30px) rgb(0 0 0 / 10%);
  backdrop-filter: blur(4.1px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: rem(24px);
  min-height: 100%;

  .icon-circle {
    border-radius: 50%;
    padding: rem(12px);
    background-color: white;
  }

  .icon-close-simple {
    color: black;
  }


  & .pop-over-header-mobile {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: fit-content;

    .icon-circle {
      border-radius: 50%;
      padding: rem(12px);
      background-color: white;
    }

    .icon-close-simple {
      color: black;
      pointer-events: none;
    }
  }

  & .refund-mob-otp-wrapper {
    background: white;
    padding: rem(24px) rem(24px) rem(48px);
    border-radius: rem(12px) rem(12px) 0 0;
    margin-bottom: rem(20px);

    & .otp-heading {
      @include h3;
      margin-bottom: rem(4px);
    }

    & p {
      color: var(--color-text-secondary);
      font-size: rem(14px);
      font-weight: 400;
      font-family: var(--font-family-poppins-regular);
      margin-bottom: 0;
    }
    & span{
      font-size: rem(14px);
    }

    & .refund-otp-btn {
      @include submit-otp-btn(rem(24px), rem(12px), rem(28px));
    }
  }

  .skyplus-heading.h5 {
    font-size: rem(16px);
    font-family: var(--font-family-bauhuas-std-medium);
  }

  hr {
    display: none;

    @include media('>=desktop') {
      display: block;
    }
  }
}

.mt-24{
  padding-top: rem(24px);
}