@import '../../../../../styles/utils/utils';

.note{
  background-color: var(--text-alice-blue);
  border-radius: rem(8);
}

.title-disabled{
  pointer-events: none;
  color: var(--text-disabled);
}

.disabledClass{
  pointer-events: none !important;
  outline: rem(2) solid var(--text-disabled) !important;
}