
.animate {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #edf0f706 4%, #edf0f752 25%, #edf0f7b8 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.fs-shimmer-container {
  display: flex;
  width: 100%;
  gap: rem(22px);
  flex-direction: column;
  @include media(">=desktop") {
    gap: rem(22px);
    justify-content: center;
    margin: unset;
  }
}

.fs-shimmer {
  box-shadow: 0 0 10px 0 get-color(action-disabled-stroke);
  width: 100%;
  background-color: get-color(white);
  border-radius: rem(12px);
  height: rem(100px);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(8px);
  .first-item{
    height: 160px;
  }

  @include media(">=desktop") {
    width: 100%;
    // height: rem(100px);
    .first-item{
      height: 160px;
    }
  }

  .helarge2 {
    height: 11%;
    width: 94%;
    border-radius: 0.25rem;

    &--short {
      width: 50%;
    }
  }

}
