.skyplus-button {
  position: relative;

  button {
    border-radius: rem(20px);
    padding: rem(8px) rem(32px);
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(2px);
  }

  &--small {
    font-size: 14px;
    padding: 4px;
  }

  &--extra-small {
    font-size: rem(12px);
    padding: rem(2px);
  }

  &--medium {
    font-size: rem(16px);
    line-height: 1.5;
    padding: rem(8px) rem(32px);
  }

  &--large {
    font-size: rem(20px);
    padding: rem(12px);
  }

  &--disabled {
    cursor: default !important;
    background-color: var(--btn-disabled-background) !important;
  }

  &--outline {
    background-color: var(--action-active-background);
    &.skyplus-button--disabled {
      border: 1px solid  var(--action-disabled-stroke) !important;
      background-color: var(--btn-disabled-background-light) !important;
      color: var(--sel-con-disabled-text);
    }
  }

  &--outline-primary {
    color: var(--primary-main);
    border: 1px solid var(--primary-main) !important;
  }

  &--filled-primary {
    background-color: var(--primary-main);
    color: var(--action-active-background);
  }

  &--outline-success {
    color: var(--accent-dark);
    border: 1px solid var(--accent-dark) !important;
  }

  &--filled-success {
    background-color: var(--accent-dark);
    color: var(--action-active-background);
    border: 1px solid transparent !important;
  }

  &--block {
    width: 100%;
    display: block;
  }

  &--loading {
    opacity: 0.5;
    pointer-events: none;

    &::before {
      content: '';
      width: rem(24px);
      height: rem(24px);
      inset: 0;
      border: 2px solid transparent;
      border-top-color: get-color(white);
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }
  }

  .skyplus-button--small.skyplus-button--loading {
    &::before {
      width: rem(16px);
      height: rem(16px);
    }
  }

  .skyplus-button--large.skyplus-button--loading {
    &::before {
      width: rem(24px);
      height: rem(24px);
    }
  }

  .skyplus-button--medium.skyplus-button--loading {
    &::before {
      width: rem(20px);
      height: rem(20px);
    }
  }

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }
}


body:not(.user-is-tabbing) .skyplus-button {
  button
      &:focus-visible,
    &:focus {
      outline: none;
    }
  }