.skyplus-design-toast {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000000 !important;
  top: 10%;
  left: 0;
  pointer-events: none;

  &-container {
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
    z-index: 999999;
    color: #000;
    min-width: unset;
    max-width: 70%;
    height: auto;
    background-color: var(--white);
    pointer-events: all;

    @include media('>=tablet') {
      min-width: 400px;
      max-width: 45%;
    }

    padding: rem(12px);
    border-radius: rem(12px);
    border: rem(1px) solid var(--secondary-light);
    box-shadow: 0 0 rem(28px) rem(16px) $toast-box-shadow-primary;
    display: flex;
    justify-content: center;

    &.notifi-variation {
      &--Success,
      &--success {
        border: 1px solid var(--system-success);
        background: var(--system-success-light);

        .icon-close-solid {
          color: var(--system-success);
        }
      }

      &--Warning,
      &--warning,
      &--warn {
        border: 1px solid var(--system-warning);
        background: var(--system-warning-light);

        .icon-close-solid {
          color: var(--system-warning);
        }
      }

      &--Information,
      &--info {
        border: 1px solid var(--system-information);
        background: var(--system-information-light);

        .icon-close-solid {
          color: var(--system-information);
        }
      }

      &--Error,
      &--error {
        border: 1px solid var(--system-error);
        background: var(--system-error-light);

        .icon-close-solid {
          color: var(--system-error);
        }
      }
    }

    .desc {
      font-size: 12px;

      @include media('>=tablet') {
        font-size: 14px;
      }

      color: var(--text-secondary);
    }

    .title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .skyplus-design-toast {
      &__close {
        float: right;
        cursor: pointer;
        border-radius: 50%;
        // margin-left: rem(10px);
        z-index: 1000000;
        position: relative;

        &::before {
          color: var(--text-secondary);
          font-size: 16px;

          @include media('>=tablet') {
            font-size: 20px;
          }
        }
      }
    }

    .notifi-variation {
      &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        width: 100%;
      }

      &-icon-wrapper {
        padding-top: 3px;
        font-size: 16px;

        @include media('>=tablet') {
          font-size: 20px;
        }
      }

      &-col {
        width: 85%;
      }
    }
  }

  .top-bottom {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    transition: transform 0.6s ease-in;
    animation: toast-in-bottom 0.7s;
  }

  @keyframes toast-in-bottom {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0%);
    }
  }

  .bottom-top {
    bottom: -70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.6s ease-in;
    animation: toast-in-top 0.7s;
  }

  @keyframes toast-in-top {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }

  .top-right {
    top: 12px;
    right: -12px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
  }

  .bottom-right {
    bottom: -70%;
    right: -12px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
  }

  @keyframes toast-in-right {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  .top-left {
    top: 12px;
    left: 12px;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
  }

  .bottom-left {
    bottom: -70%;
    left: 12px;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
  }

  @keyframes toast-in-left {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  .no-animate {
    animation: none;
  }

  .toast-example {
    .skp-iconmoon-icon {
      color: white;
    }
  }
}
