@import '../../../../styles/utils/utils';

.loyalty-slider {
  box-shadow: var(--box-shadow-card-light);

  &__heading {
    font-family: var(--font-family-poppins-semibold) !important;
  }

  &__icon-right {
    color: var(--btn-link);
  }

  &__avatar {
    width: rem(36);
    height: rem(36);
    color: var(--bg-active-dark);

    @include defaultTypoStyles(
      12,
      0,
      18,
      normal,
      var(--font-family-poppins-regular)
    );

    @include media('>=tablet') {
      color: var(--action-selected-text);
      @include defaultTypoStyles(
        16,
        0,
        24,
        normal,
        var(--font-family-poppins-regular)
      );
    }
  }

  &__label-wrapper{
    flex-grow: 1;

    @include media('>=tablet') {
      width: rem(130);
    }
  }

  &__passenger-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-primary);

    @include media('>=tablet') {
      @include defaultTypoStyles(
        16,
        0,
        24,
        normal,
        var(--font-family-poppins-regular)
      );
    }
  }

  &__list {
    // height: rem(112);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__container {
    cursor: pointer;
    border-radius: rem(8);
    min-width: rem(235) !important;

    .checkbox-container {
      @include media('>=tablet') {
        min-width: rem(180);
      }
    }

    &--active {
      border-color: var(--secondary-main) !important;
    }
  }

  &__viewall {
    color: var(--primary-main);
    cursor: pointer;
  }

  .disabled-saved-pax {
    pointer-events: none;
    background-color: var(--btn-disabled-background-light);
    color: var(--sel-con-disabled-text);
    .loyalty-slider__avatar {
      background-color: var(--white) !important;
    }
  }
}
