.visa-traveller {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  flex-direction: column;
  margin-bottom: rem(32px);

  &-accordian {
    width: 100%;

    .skyplus-accordion {
      border: rem(1px) solid var(--secondary-deep);

      .skyplus-accordion__header-container {
        padding: 0 !important;
      }
    }

    .skyplus-accordion__header {
      background-color: var(--white);
      border: rem(1px) solid var(--secondary-deep);

    }

    .skyplus-accordion__header-left {
      display: none;
    }

    .skyplus-accordion__body {
      padding: 0;
    }

    .flight-card {
      border: none;
      background-color: #F4FBFF; // not in sheet 
    }

    .box-shadow-card-soft {
      border: none !important;
      box-shadow: rem(0px) rem(0px) rem(12px) rem(0px) #4C5D9E14; // color not in sheet
      border-radius: rem(8px) !important;

      .skyplus-accordion__header {
        border: none !important;
        background-color: #F4FBFF; // not in sheet 
      }

      // .skyplus-accordion__header {
      //   border-radius: .5rem .5rem 0 0;
      //   background-color: #F4FBFF; // not in sheet 
      //   border: none;
      // }
    }
  }

  .visa-form-journey-bar-wrapper {
    width: 100%;

    @include media('>=tablet') {
      width: 66%;
      margin-bottom: rem(140px);
    }

    .visa-title {
      &::after {
        display: none;
      }
    }
  }

  .visa-traveler-head-wrapper {
    display: flex;
    width: 100%;
    gap: rem(20px);
    margin-bottom: rem(16px);
    align-items: center;
    justify-content: space-between;

    .visa-calendar-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(224.24deg,
          rgb(21 32 95 / 100%) 6.84%,
          rgb(36 64 154 / 100%) 73.19%);
      z-index: 9997;
    }

    @include media('>=tablet') {
      .visa-calendar-overlay {
        display: none;
      }
    }

    .visa-login-text {
      font-weight: 400;
      font-size: rem(16px);
      line-height: rem(24px);
      font-family: var(--font-family-poppins-regular);
      color: var(--text-tertiary);

      a {
        color: var(--primary-main);
      }
    }

    .traveler-details-text {
      font-weight: 500;
      font-size: rem(20px);
      line-height: rem(24px);
      font-family: var(--font-family-bauhuas-std-medium);
      color: var(--text-primary);

      @include media('>=tablet') {
        font-size: rem(24px);
        line-height: rem(48px);
      }
    }

    .traveler-details-return-date {
      font-weight: 500;
      font-size: rem(14px);
      line-height: rem(20px);
      font-family: var(--font-family-poppins-regular);
      color: var(--primary-main);
      text-decoration: underline;
      text-transform: uppercase;
      cursor: pointer;
    }

    .visa-return-date-calendar-wrapper {
      position: relative;
    }

    .visa-return-date-calendar-container {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 999999999;
      background-color: transparent;
      margin-bottom: 0 !important;

      .visa-calendar-close-icon {
        position: absolute;
        top: rem(-60px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 10000;
        cursor: pointer;
        font-size: rem(20px);
        color: var(--primary-main);
        background-color: var(--secondary-white);
        width: rem(40px);
        height: rem(40px);
        border-radius: rem(20px);
        gap: rem(4px);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .rdrDateRangePickerWrapper,
      .rdrMonth {
        width: 100%;
      }

      @include media('>=tablet') {

        .rdrDateRangePickerWrapper,
        .rdrMonth {
          width: rem(360px);
        }
      }

      @include media('>=tablet') {
        position: absolute;
        bottom: unset;
        left: unset;
        top: unset;
        right: 0;
        width: auto;
        z-index: 999;

        .visa-calendar-close-icon {
          display: none;
        }
      }
    }

    .visa-line {
      border: rem(1px) solid var(--action-disabled-stroke);
    }
  }

  .visa-policy-details {
    display: flex;
    gap: rem(8px);
    margin-top: rem(32px);

    .checkbox-wrapper {
      height: rem(32px);
      width: rem(32px);

      .chekbox {
        width: rem(24px);
        height: rem(24px);
        top: rem(4px);
        left: rem(4px);
      }
    }

    .policy-details {
      font-weight: 400;
      font-size: rem(14px);
      line-height: rem(20px);
      font-family: var(--font-family-poppins-regular);
      color: var(--text-primary);

      a {
        color: var(--primary-main);
      }
    }

    .skyplus-checkbox-container {
      label {
        &::before {
          border-color: var(--primary-main);
          margin-right: 0;
        }
      }
    }
  }

  .visa-traveller-form-wrapper {
    width: 100% !important;

    .box-shadow-card-soft {
      border-radius: rem(8px);
      box-shadow: rem(0px) rem(0px) rem(12px) rem(0px) #4C5D9E14; // color not in sheet
      border: none;
    }

    .visa-traveller-accordian {
      margin-bottom: rem(32px);
    }
  }

  .booking-summary-comp-wrapper {
    @include media('>=tablet') {
      position: sticky;
      top: rem(120px);
    }

    width: 100%;
  }

  .booking-summary-m-comp-wrapper {
    top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999999999;
    background-color: transparent;
    margin-bottom: 0 !important;
  }

  @include media('>=tablet') {
    flex-direction: row;
    gap: rem(16px);

    .visa-traveller-form-wrapper {
      width: 66%;
    }

    .booking-summary-comp-wrapper {
      width: calc(34% - 16px);
    }
  }

  .visa-calendar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(224deg, rgba(21, 32, 95, .8) 6.84%, rgba(36, 64, 154, .8) 73.19%);
    z-index: 9997;
  }

  // handle footer button for mweb and desktop
  .visa-footer-wrapper {
    .visa-price-footer {
      .visa-price-footer-left {
        width: 60%;

        @include media('>=tablet') {
          width: initial;
        }
      }

      .visa-price-footer-right {
        width: 40%;

        @include media('>=tablet') {
          width: initial;
        }
      }
    }
  }

}