.skyplus-loyalty-member {
  &__heading {
    font-family: var(--font-family-bauhuas-std-medium);
    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(24px);
    letter-spacing: rem(-0.4px);
    margin-bottom: rem(12px);

    @include media('>=tablet') {
      font-family: var(--font-family-bauhuas-std-medium);
      font-weight: 500;
      font-size: rem(24px);
      line-height: rem(32px);
      margin-bottom: rem(20px);
    }
  }
  &__card {
    display: flex;
    padding: rem(16px);
    justify-content: space-between;
    border-radius: rem(12px);
    border: rem(1px) solid var(--secondary-light);
    background: var(--other-card---light-blur);
    // box-shadow: rem(0px) rem(0px) rem(28px) rem(16px) rgba(76, 93, 158, 0.04);
    backdrop-filter: blur(8px);
    margin-bottom: rem(12px);
    gap: rem(12px);
    height: 100%;
  }
  &__details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
  }
  &__title-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: rem(4px);

    .title {
      width: max-content;
      font-family: var(--font-family-bauhuas-std-medium);
    }
  }
  &__coupon-card {
    display: flex;
    padding: rem(4px) rem(8px);
    margin-left: rem(8px);
    justify-content: center;
    align-items: center;
    gap: rem(4px);
    border-radius: rem(12px);
    border: 1px solid var(--system-warning);
    background: var(--system-warning-light);
    &--text {
      color: var(--system-warning);
      text-align: center;
      white-space: nowrap;
      @include tags-medium;
    }
  }
  &__image-container {
    align-self: stretch;
  }
  &__member-card-image{
    height: rem(112px);
  }
  &__image {
    height: 100%;
    width: rem(100px);
    border-radius: rem(8px);
  }
  &__button {
    @include media('>=tablet') {
      margin-top: rem(24px);
    }

    .skyplus-button {
      button {
        padding: rem(6px) rem(12px) !important;

        @include media('>=tablet') {
          padding: rem(8px) rem(20px) !important;
        }
      }
    }

    &--full-width {
      width: 100%;
    }
  }

  &__display {
    display: flex;
  }
  &__notificatio-title {
    color: var(--system-information);
    font-family: var(--font-family-poppins-regular);
    font-size: rem(12px);
    font-style: normal;
    font-weight: 400;
    line-height: rem(18px);
  }
  &__info-container {
    display: flex;
    align-items: center;
    gap: rem(8px);
    color: var(--system-information);
    span {
      @include body-small-regular;
    }
  }
}

.skyplus-loyalty-member-benifit {
  padding-top: rem(24px);
  margin-bottom: rem(80px);

  &__head-container {
    display: flex;
  }
  &__title {
    //TD: update once finalize
    color: var(--storm-grey);
    margin-right: rem(16px);
  }
  &__coupon-card {
    display: flex;
    padding: rem(2px) rem(8px);
    justify-content: center;
    align-items: center;
    gap: rem(4px);
    border-radius: rem(16px);
    border: rem(1px) solid var(--frog-green-01, #209326);
    background: var(--accent-light, #209326);
    @include media('>=tablet') {
      padding: rem(8px) rem(12px);
    }
    // TD: update typography once figma updated
    &--title {
      color: var(--frog-green-01);
      font-family: var(--font-family-poppins-light);
      font-size: rem(10px);
      font-style: normal;
      font-weight: 500;
      line-height: rem(16px);
    }
  }
  &__desctiption {
    color: var(--text-primary);
    span {
      color: var(--frog-green-01, #209326);
    }
  }

  &__select-all-container {
    display: flex;
    padding: rem(4px) rem(12px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    &--tile {
      color: var(--primary-main);
      text-align: center;
      font-family: var(--font-family-poppins-light);
      font-size: rem(16px);
      font-style: normal;
      font-weight: 600;
      line-height: rem(24px);
      text-transform: uppercase;
    }
  }

  &__select-all-container-disabed{
    padding-top: rem(12px);
  }

  &__head-card {
    padding: rem(12px);
    align-self: stretch;
    border-radius: rem(8px);
    background: var(--secondary-white);
    box-shadow: var(--box-shadow-card-soft);
    margin-bottom: rem(8px);
  }
  &__head-root {
    display: flex;
  }

  &__header {
    cursor: pointer;
    padding: rem(12px) rem(16px);

    &-right {
      width: 100%;
    }

    &-left {
      background: var(--secondary-main);
      width: rem(4px);
      border-radius: rem(4px);
      margin-right: rem(12px);
    }

    &-left-desabled {
      background: var(--action-disabled-stroke);
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(4px);
    }

    &-name {
      color: var(--text-primary);
      font-size: rem(14px);
    }

    &:focus {
      border: rem(1px) dotted var(--primary-main);
    }

    @include media('>=tablet') {
      padding: rem(16px) rem(24px) rem(16px) rem(24px);

      &-name {
        font-size: rem(16px);
      }
    }
  }
  &__subtitle-container {
    display: flex;
    color: var(--text-tertiary);
    @include body-medium-regular;
    &-line {
      padding: rem(0px) rem(4px);
    }
  }
  &__price-container {
    display: flex;
    justify-content: space-between;
    padding: rem(8px);
    margin-top: rem(8px);
    align-items: flex-start;
    gap: rem(10px);
    align-self: stretch;
    border-radius: rem(8px);
    background: var(--secondary-medium);
  }
  &_desabled-container {
    background: var(--frog-grey-disabled-button, #bcc2cf);
  }
  &__price-title {
    @include body-medium-medium;
  }
  &__price-value {
    color: var(--primary-main);
  }

  &__desabled-text {
    color: var(--frog-grey-text-02, #4b5772);
  }

  &__desabled {
    border: 1px dashed var(--action-disabled-stroke);
    background: var(--button-disabled-background-light);
    box-shadow: var(--box-shadow-card-soft);
  }

  &__note-container {
    display: flex;
    padding: rem(16px);
    flex-direction: column;
    align-items: flex-start;
    gap: rem(16px);
    align-self: stretch;
    border-radius: rem(8px);
    background: var(--secondary-medium);
  }
  &__note {
    color: var(--text-secondary);
    @include body-small-regular;
  }

  .styled-checkbox + label:before {
    border: 1.4px solid var(--primary-main) !important;
  }
}
