.booking-mobile-temp-form {
  padding: 0 rem(16px);
  background-color: get-color(white);
  border-bottom-left-radius: rem(8px);
  border-bottom-right-radius: rem(8px);

  &-location {
    align-items: center;
    display: flex;
    gap: rem(12px);
    padding: rem(12px) 0;
    font-size: rem(12px);

    span {
      text-decoration: underline;
      font-family: var(--font-family-poppins-medium);
    }

    border-bottom: 1px dotted get-color(secondary-medium);
  }

  &-where {
    padding: rem(16px) 0 rem(24px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
