.loyalty-points-label {
  font-size: rem(10px);
  font-weight: 300;
  line-height: rem(20px);
  color: var(--text-tertiary);
  white-space: nowrap;

  @include media('>=tablet') {
    font-size: rem(12px);
  }
}
