.tab-container {
  & > ul {
    position: relative;
    clear: both;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: rem(12px);
    margin-bottom: rem(24px);

    @include media('>=tablet') {
      margin-bottom: rem(32px);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__btn {
    button.skyplus-button--outline {
      li:not(.checked) & {
        border: 1px solid var(--other-border) !important;
        color: var(--text-primary);
      }
    }

    button {
      -webkit-tap-highlight-color: transparent;
    }

    &-title {
      text-align: left;
      text-transform: capitalize;

      i {
        position: relative;
        top: rem(1px);

        &::before {
          font-size: rem(13px);
        }
      }
    }

    i {
      margin-left: rem(8px);
      font-weight: bold;
      line-height: rem(14px);

      &::before {
        color: inherit;
      }
    }

    &-desc {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: rem(101px);
      display: inline-block;
    }
  }
}

/* Tab Container within AddonSlider component */
.right-slider-modal {
  .tab-container {
    & > ul {
      position: relative;
      clear: both;
      width: 100%;
      white-space: nowrap;
      overflow-x: auto;
      padding: 0;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
