@import '~skyplus-design-system-app/src/common/scss/base';

.business-class-item {
  flex: 1;
  padding: 0 rem(6px) rem(14px);

  @include media('>=tablet') {
    height: rem(130px);
    width: rem(250px);
    margin-left: rem(32px);
    padding: unset;
  }

  @include media('<=tablet') {
    padding: unset;
  }

  .selected-fare {
    position: relative;
    padding: rem(12px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(16px);
    justify-content: center;
    cursor: pointer;
    border-radius: rem(4px);
    height: rem(48px);
    background: linear-gradient(
        0deg,
        rgb(255 255 255 / 20%),
        rgb(255 255 255 / 20%)
      ),
      linear-gradient(
        167.94deg,
        rgb(175 228 255 / 48%) -125.97%,
        rgb(227 245 255 / 48%) 3.76%,
        rgb(255 255 255 / 48%) 135.47%
      ),
      linear-gradient(0deg, rgb(255 255 255 / 16%), rgb(255 255 255 / 16%));

    @include media('>=tablet') {
      flex-direction: column;
      padding: rem(4px) rem(24px);
      align-items: flex-end;
      height: 100%;
      border: 1px solid #daf1ff;
      border-radius: rem(12px);
      gap: unset;
    }

    &__fare-price {
      font-family: var(--font-family-poppins-semibold);
      font-size: rem(16px);
      color: get-color(primary-main);
      line-height: 1.5;

      @include media('>=tablet') {
        font-size: rem(24px);
        color: get-color(text-primary);
        font-family: var(--font-family-poppins-medium);
      }
    }

    .skyplus-chip--next {
      padding: rem(4px) rem(8px);
      font-size: rem(12px);
    }

    .bgimage {
      object-fit: cover;
      object-position: top;

      @include media('>=tablet') {
        content: '';
        height: 100%;
      }

      background: linear-gradient(
          0deg,
          rgb(255 255 255 / 20%),
          rgb(255 255 255 / 20%)
        ),
        linear-gradient(
          167.94deg,
          rgb(175 228 255 / 48%) -125.97%,
          rgb(227 245 255 / 48%) 3.76%,
          rgb(255 255 255 / 48%) 135.47%
        ),
        linear-gradient(0deg, rgb(255 255 255 / 16%), rgb(255 255 255 / 16%));
      border-radius: rem(4px);

      @include media('>=tablet') {
        border-radius: rem(12px);
      }

      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.2;
      inset: 0;
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 100%;
    }

    &-wrapper {
      position: absolute;
      display: flex;
      gap: rem(16px);
      flex-direction: row;
      align-items: flex-end;
      top: rem(16px);

      @include media('>=tablet') {
        flex-direction: column;
        top: rem(30px);
      }
    }
  }

  &.no-data {
    border: none;

    &::before {
      background: none;
    }

    .dashes {
      display: flex;
      flex-direction: column;
      gap: rem(8px);
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: rem(16px) rem(32px) 0;
      font-size: rem(12px);
      color: get-color(text-tertiary);

      &::after {
        content: '--';
        font-size: rem(16px);
        line-height: 1.5;
        color: get-color(secondary-main);
      }
    }
  }
}

.economy-class-item {
  position: relative;
  border-radius: rem(12px);
  flex: 1;
  border: 1px solid transparent;

  @include media('>=tablet') {
    height: rem(130px);
    min-width: fit-content;
  }

  .starts-at {
    font-family: var(--font-family-poppins-light);
    font-size: rem(14px);
    height: rem(20px);
    font-weight: 300;
    display: none;

    @include media('>=tablet') {
      display: block;
    }
  }

  .selected-fare {
    padding: rem(12px);
    display: flex;
    flex-direction: row;
    gap: rem(16px);
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    height: rem(56px);
    position: relative;

    @include media('>=tablet') {
      flex-direction: column;
      padding: rem(24px) rem(32px);
      height: 100%;
      align-items: flex-end;
      border: rem(1px) solid transparent;

      &:hover {
        border: rem(1px) solid get-color(text-alice-blue);
        border-radius: rem(12px);
      }
    }

    .economy {
      font-size: rem(12px);
      color: get-color(text-tertiary);
    }

    &__fare-price {
      font-family: var(--font-family-poppins-semibold);
      font-size: rem(16px);
      color: get-color(primary-main);

      @include media('>=tablet') {
        font-size: rem(24px);
        color: get-color(text-primary);
        font-family: var(--font-family-poppins-medium);
      }
    }
  }

  &.no-data {
    border: none;

    &::before {
      background: none;
    }

    .dashes {
      display: flex;
      flex-direction: column;
      gap: rem(8px);
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: rem(16px) rem(32px) 0;
      font-size: rem(12px);
      color: get-color(text-tertiary);

      &::after {
        content: '--';
        padding: rem(24px) rem(32px);
        font-size: rem(16px);
        line-height: 1.5;
        color: get-color(secondary-main);
      }
    }
  }

  &.active {
    .selected-fare {
      border-color: transparent;
    }
  }
}

.fare-card-right-container {
  margin-top: rem(16px);
  margin-bottom: rem(-20px);
  gap: 0;
  flex: 1;
  width: calc(100% + 32px);
  margin-left: rem(-16px);

  @include media('>=tablet') {
    padding: rem(4px);
    gap: rem(16px);
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0;
    flex-direction: row;
  }


}

// loyalty styles for next changes
.fare-card-right-container:has(:is(.loyalty-points--wrapper, .loyalty-points-label)) {
  @include media('<tablet') {
    margin-bottom: -12px;
  }
  
  @include media('<phone') {
   display: unset !important;
  }

  @include media('>=tablet') {
    padding: 0;
  }

  .economy-class-item,
  .business-class-item {
    @include media('>=tablet') {
      width: auto;
      height: auto;

      &:has(.loyalty-points--wrapper) {
        min-width: rem(198px);
      }

      &:has(.loyalty-points-label) {
        min-width: unset;
      }
    }

    .selected-fare {
      height: auto;

      >div>div.d-flex {
        justify-content: flex-end;
      }

      .selected-fare__fare-price {
        text-align: right ;

        @include media('>=tablet') {
          &:has(.loyalty-points-label) {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: end;
            column-gap: rem(4px);
          }
        }
      }

      @include media('>=tablet') {
        padding: rem(8px) rem(32px);
      }

      .loyalty-points--wrapper {
        @include media('>=tablet') {
          margin-top: rem(4px);
          text-align: right;
        }

        .loyalty-points {
          width: rem(102px);
          text-align: right;
          margin-left: auto;


          @include media('>=tablet') { 
            width: rem(128px);
          }

          @include media('>=desktop-lg') {
            width: max-content;
          }
        }
      }

    }
  }

  .economy-class-item {
    @include media('>=tablet') {
      &:has(.loyalty-points-label) {
        flex: unset;
      }
    }

    .selected-fare {
      align-items: start;
      gap: unset;

      .icon-accordion-down-simple, .icon-accordion-up-simple {
        @include media('<tablet') {
          display: none;
        }
      }

      @include media('<tablet') {
        &:has(.loyalty-points--wrapper) {
          flex-wrap: wrap;
        }
      }

      @include media('>=tablet') {
        align-items: flex-end;
      }

      &>.body-small-light {
        line-height: rem(24px);

        @include media('>=tablet') {
          margin-bottom: rem(4px);
          line-height: rem(24px);
        }
      }

      .selected-fare__fare-price {
        line-height: 1.5;
      }

      .loyalty-points--wrapper {
        flex-basis: 100%;

        .loyalty-starts-at-points {
          text-align: right;
        }
      }
    }
  }

  .business-class-item {
    @include media('>=tablet') {
      margin-left: 8px;
    }

    .selected-fare {
      display: block;

      .selected-fare-wrapper {
        position: unset;
        justify-content: space-between;
        align-items: start;

        .icon-accordion-down-simple, .icon-accordion-up-simple {
          @include media('<tablet') {
            display: none;
          }
        }

        @include media('<tablet') {
          gap: unset;
        }

        
        @include media('>=tablet') {
          gap: rem(4px);
        }

        &>div {
          &:nth-child(2) {
            text-align: right;
          }
        }

        @include media('>=tablet') {
          align-items: flex-end;
        }

        .selected-fare__fare-price {
          @include media('>=tablet') {
            text-align: right;
          }
        }
      }
    }
  }
}
// loyalty styles for next changes ends

.srp__search-result-list__item[aria-expanded='true'] {
  .business-class-item {
    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0;
      position: relative;
      padding: 0;

      .selected-fare {
        @include media('>=tablet') {
          height: calc(100% + 20px);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          &:has(:is(.loyalty-points--wrapper, .loyalty-points-label)) {
            height: 100%;
          }
        }
      }

      .bgimage {
        @include media('>=tablet') {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .economy-class-item {
    &.active {
      background-color: #f6fcff;
      position: relative;
      height: calc(100%);
      border-top-right-radius: 0;

      @include media('<tablet') {
        &:has(:is(.loyalty-points--wrapper, .loyalty-points-label)) {
          height: auto;
        }
      }

      @include media('>=tablet') {
        border-top-right-radius: rem(12px);
      }

      &::before {
        position: absolute;
        top: 0;
        content: '';
        border-radius: rem(12px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        background-color: #f6fcff;

        @include media('>=tablet') {
          height: 100%;
        }
      }
    }
  }
}