.mp-banner-info{
  background: linear-gradient(180deg, #EAF8FF -58.33%, #AFE4FF 156.94%);
  padding: 12px 20px;
  border-radius: 8px;

  &__view-btn{
    padding-top: 16px;

    button{
      width: 100%;
      background-color: #FFFFFFA3!important;
      color: #009!important;
      justify-content: space-between!important;
      font-family: var(--font-family-poppins-regular);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      padding-left: 24px;
    }
  }
}