$baseFontSize: 16;

@function rem($pixels, $context: $baseFontSize) {
  @if unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @if unitless($context) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context) + rem;
}

@function get-color($key: 'primary') {
  @return var(--#{$key});
}