@import '../../index.scss';

.voucher-dashboard-title {
  font-family: var(--font-family-poppins-regular);
  font-size: rem(12px);
  font-weight: 400;
  line-height: rem(20px);
  text-align: center;
  color: #7a85a0;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(">=desktop") {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: rem(20px);
    line-height: rem(32px);
    color: #757C8A;
  }
}

.voucher-dashboard-heading {
  font-family: var(--font-family-bauhuas-std-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(24px);
  font-weight: 500;
  line-height: rem(20px);
  text-align: center;
  margin-bottom: rem(24px);
  padding: 0px rem(34px);

  p {
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    text-align: center;
    justify-content: center;
  }

  @include media(">=desktop") {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: rem(24px);
    line-height: rem(32px);
    padding: unset;
    
  p {
    display: inherit;
    flex-wrap: nowrap;
    line-height: normal;
    text-align: left;
    justify-content: unset;
  }
  }
}