.skyplus-addon-card {
  border-radius: rem(12px);
  border: rem(1px) solid var(--secondary-deep);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__button-wrapper {
    button {
      padding: rem(8px) rem(24px) !important;
    }

    @include media('>=tablet') {
      width: 100%;
    }
    button {
      @include media('<tablet') {
        padding: rem(6px) rem(12px) !important;
      }
    }
  }

  &__full-width-btn {
    width: 100%;
  }

  &--active {
    background-color: var(--accent-light);
    border-color: var(--secondary-light);

    &-white {
      background-color: var(--bs-white);
    }
  }

  &__image-container {
    position: relative;

    img {
      width: 100%;
      height: rem(142px);
      object-fit: cover;
      border-radius: rem(8px);
    }
  }

  &__image-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .skyplus-chip {
      font-size: rem(10px);

      @include media('>=tablet') {
        font-size: rem(12px);
      }
    }
  }

  &__image-footer {
    display: flex;
    padding: rem(8px) rem(16px);
    border-radius: rem(0px) rem(0px) rem(8px) rem(8px);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      178deg,
      rgba(121, 157, 165, 0.69) -68.53%,
      rgba(33, 25, 17, 0.69) 98.21%
    );
    backdrop-filter: blur(8px);
    align-items: center;

    &-title {
      color: var(--secondary-white);
    }

    &-subtitle {
      color: var(--secondary-light);
    }
  }

  &__footer-text {
    text-align: center;
    color: var(--primary-main);
    font-size: rem(16px);
    font-family: var(--font-family-bauhuas-std-medium);
  }

  .icon-edit {
    color: var(--primary-main);
  }
  &__selected-item {
    color: var(--text-secondary);
    font-size: rem(14px);
    font-weight: 400 !important;
    margin-right: rem(16px);
    font-family: var(--font-family-poppins-regular);
    line-height: rem(18px);
  }

  &__selected-item-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include media('>=tablet') {
      justify-content: center;
    }
  }

  &__raw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(2px);
    flex: 1;
    padding: rem(16px) rem(12px);

    @include media('>=tablet') {
      flex-direction: column;
      gap: rem(32px);
      text-align: center;
      padding: rem(16px);
    }

    &-title {
      color: var(--primary-main);
      font-size: rem(16px) !important;
    }

    &-subtitle {
      color: var(--text-secondary);
      font-size: rem(14px) !important;
      font-weight: 400 !important;
      font-family: var(--font-family-poppins-regular);
    }
  }
  &__rounded-button {
    height: rem(40px);
    width: rem(40px);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-main);
    display: flex;
    margin: auto;
  }
  &__image-variation {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: rem(8px);

    @include media('>=tablet') {
      padding: rem(12px);
    }
  }

  &__image-container-close-icon {
    .icon-close-solid {
      &::before {
        color: var(--bs-white) !important;
      }
    }
  }
}
