.ew-shimmer {
  padding: rem(20px);
  border-radius: rem(8px);
  background-color: white;
  box-shadow: var(--bs-box-shadow-sm);
  margin-bottom: rem(20px);

  &__text {
    width: 50%;
    height: rem(15px);
    background: linear-gradient(
      to right,
      white 0%,
      var(--system-information-light) 20%,
      white 40%,
      white 100%
    );
    border-radius: rem(25px);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

  &__title {
    width: 90%;
    height: rem(20px);
    background: linear-gradient(
      to right,
      white 0%,
      var(--system-information-light) 20%,
      white 40%,
      white 100%
    );
    border-radius: rem(25px);
    margin: rem(10px) 0;
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
  &__heading {
    width: 60%;
    height: rem(50px);
    background: linear-gradient(
      to right,
      white 0%,
      var(--system-information-light) 20%,
      white 40%,
       white 100%
    );
    border-radius: rem(5px);
    margin: rem(30px) 0;
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
  &__balance-strip{
    width: 100%;
    height: rem(200px);
    background: linear-gradient(
      to right,
      white 0%,
      var(--system-information-light) 20%,
      white 40%,
      white 100%
    );
    border-radius: rem(5px);
    margin: rem(30px) 0;
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
