@keyframes fullview {
  100% {
    width: 100%;
  }
}

.animate {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.flight-item-shimmer {
  @include card-border();

  box-shadow: 0 0 10px 0 get-color(action-disabled-stroke);
  padding: rem(2px) rem(10px) rem(40px);
  background-color: get-color(white);

  @include media('>=tablet') {
    padding: rem(20px) rem(40px) rem(40px);
  }

  .wrapper {
    width: 0;
    animation: fullview 0.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .comment {
    height: 10px;
    margin-top: 20px;
  }

  .w80 {
    width: 80%;
  }

  .w5 {
    width: 25%;

    @include media('>=tablet') {
      width: 5%;
    }
  }

  .w60 {
    width: 60%;
  }

  .w40 {
    width: 40%;
  }

  .w30 {
    width: 30%;
  }

  .w20 {
    width: 20%;
  }

  .w10 {
    width: 10%;
  }

  .w15 {
    width: 15%;
  }

  .he1 {
    height: rem(32px);
  }

  .he2 {
    height: rem(24px);
  }

  .he3 {
    height: rem(18px);
  }

  .he4 {
    height: rem(12px);
  }

  .br {
    border-radius: 8px;
  }

  .d-mobile {
    display: block !important;

    @include media('>=tablet') {
      display: none !important;
    }
  }

  .d-tablet {
    display: none;

    @include media('>=tablet') {
      display: block;
    }
  }
}

.flight-journey-shimmer {
  height: rem(64px);
  width: rem(84px);
  padding: rem(4px) rem(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  @include media('>=tablet') {
    padding: rem(8px) rem(12px);
    width: rem(122px);
    height: rem(84px);
  }

  .text {
    height: rem(12px);
  }
}
