.skyplus-excess-baggage {
  margin-top: rem(24px);
  margin-bottom: rem(80px);

  .excess-baggage-addon & {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__title {
    color: var(--storm-grey);
    text-transform: uppercase;
  }

  &__subTitle {
    color: var(--text-primary);

    span {
      color: var(--accent-dark);
    }
  }

  &__radio-container {
    display: flex;
    flex-direction: column;

    @include media('>=tablet') {
      flex-flow: row wrap;

      & > div {
        min-width: rem(180px);
        flex-basis: 33.33%;
      }
    }
  }

  &__addonradio {
    display: flex;
    align-items: flex-start;
    padding: rem(12px) rem(0px);
    border-radius: rem(4px);
    gap: rem(5px);
    min-width: rem(90px);

    &__btn {
      width: rem(20px);
      height: rem(20px);
      cursor: pointer;
    }

    &--label {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      span {
        @include body-small-regular;
        color: var(--text-secondary);
      }
    }
    &__price {
      padding-right: rem(24px);
      color: var(--text-secondary);
    }

    &.checked &__label {
      span:first-child {
        font-weight: 700;
      }
    }
  }
  &__radio-container-single {
    display: flex;
    flex-direction: row;
  }

  &__seperater {
    // @include tags-medium;
    color: var(--text-secondary);
    margin: rem(0px) rem(11px);
  }

  &__addition-baggage {
    margin-top: rem(16px);
    border-radius: rem(8px);
    padding: rem(16px);
    background: var(--secondary-white);
    box-shadow: var(--box-shadow-cards);
  }

  &__addition-baggage-details {
    padding: rem(4px) rem(8px);
    gap: rem(4px);
    border-radius: rem(8px);
    border: rem(1.25px) dotted var(--secondary-main);
  }

  &__addition-baggage-title {
    padding-bottom: rem(16px);
  }

  &__addition-baggage-count {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      border: none;
      background: none;
    }
  }
  &__addition-label {
    color: var(--bs-black);
  }
  &__price-title {
    color: var(--text-secondary);
  }
  &__addition-baggage-pacs {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__addition-baggage-icon {
    color: var(--primary-main);

    &--disabled {
      color: var(--btn-disabled-background);
    }
  }

  &__addition-baggage-piece {
    padding: rem(0px) rem(8px);
    margin-top: -2px;
  }
  // &__radiofield:nth-of-type(even) {
  //   order: 4;
  // }

  // .tab-container__content {
  //   .d-flex {
  //     gap: rem(24px);
  //     margin-top: rem(16px);

  //     @include media('>=phone-m') {
  //       margin-top: rem(24px);
  //     }
  //   }
  // }
  &__no-extra-baggage {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: rem(10px) rem(0px);
    // gap: rem(16px) rem(16px);
  }

  &__no-baggage-title {
    // padding-left: rem(6px);
    padding-right: rem(24px);
    color: var(--text-secondary);
  }

  &__description {
    p {
      font-size: rem(14px);
      font-weight: 600;
      // color: $gray-2;
      margin-bottom: rem(16px);
      line-height: 1;

      @include media('>=desktop') {
        margin-bottom: rem(24px);
        font-size: rem(16px);
      }
    }

    &-name {
      font-size: rem(14px);
      font-weight: bold;
      // color: $gray-2;
      @include media('>=desktop') {
        margin-bottom: rem(24px);
        font-size: rem(16px);
      }
    }
  }

  // &__domestic {
  //   display: inline;
  //   &-label {
  //     font-size: rem(14px);
  //     font-weight: bold;
  //     // color: $gray-2;
  //     margin-bottom: rem(8px);
  //     margin-top: 0;
  //     line-height: 1;
  //     @include media('>=desktop') {
  //       margin-bottom: rem(10px);
  //       font-size: rem(16px);
  //       margin-top: 0;
  //     }
  //   }
  //   &-data {
  //     display: flex;
  //     gap: rem(40px);
  //     flex-wrap: wrap;
  //   }
  //   .custom-radiobutton {
  //     display: flex;
  //     gap: rem(10px);
  //     .custom-radiobutton__radio-btn::before {
  //       height: rem(20px);
  //       width: rem(20px);
  //     }
  //   }
  // }

  // &__additional {
  //   border: solid rem(1px) silver;
  //   // background: $white;
  //   border-radius: rem(4px);
  //   padding: rem(16px) rem(14px);
  //   @include media('>=desktop') {
  //     padding: rem(24px);
  //   }

  //   &-main {
  //     display: flex;
  //     justify-content: space-between;
  //   }

  //   &-right {
  //     width: rem(60px);
  //     height: rem(72px);
  //   }

  //   &-prelabel {
  //     font-size: rem(15px);
  //     font-weight: bold;
  //     // color: $gray-2;
  //     line-height: rem(20px);
  //     margin-bottom: rem(4px);
  //     @include media('>=desktop') {
  //       width: rem(420px);
  //       font-size: rem(16px);
  //     }
  //   }
  //   &-prebook {
  //     width: rem(200px);
  //     font-size: rem(14px);
  //     @include media('>=desktop') {
  //       width: rem(420px);
  //     }
  //     p {
  //       font-size: rem(14px);
  //       font-weight: normal;
  //       // color: $gray-2;
  //       line-height: 1.43;
  //     }
  //     span {
  //       font-size: rem(14px);
  //       color: blue;
  //       cursor: pointer;
  //     }
  //   }

  //   &-count {
  //     display: flex;
  //     gap: rem(10px);
  //     justify-content: space-between;
  //     @include media('>=desktop') {
  //       display: flex;
  //       gap: rem(30px);
  //       justify-content: flex-start;
  //     }
  //   }
  //   &-piece {
  //     padding-top: rem(16px);
  //     margin-right: rem(10px);
  //     @include media('>=desktop') {
  //       padding-top: rem(12px);
  //     }
  //     &-add {
  //       font-size: rem(16px);
  //       font-weight: bold;
  //       // color: $gray-2;
  //       margin-bottom: 0;
  //     }
  //     &-price {
  //       font-size: rem(14px);
  //       font-weight: normal;
  //       margin-bottom: 0;
  //     }
  //   }
  //   &-count_data {
  //     display: flex;
  //     flex-direction: row;
  //     gap: rem(2px);
  //     align-items: center;
  //     margin-top: rem(20px);
  //     @include media('>=desktop') {
  //       display: flex;
  //       flex-direction: row;
  //       gap: rem(10px);
  //     }

  //     .stepper-input {
  //       display: flex;
  //     }
  //   }
  // }

  // &__lost {
  //   padding: rem(16px) rem(14px);
  //   @include media('>=desktop') {
  //     padding: rem(24px);
  //   }
  //   border-radius: rem(4px);
  //   border: solid rem(1px) silver;
  //   // background-color: $white;
  //   &-protection {
  //     display: flex;
  //     justify-content: space-between;
  //   }

  //   &-title {
  //     font-size: rem(15px);
  //     font-weight: bold;
  //     // color: $gray-2;
  //     margin-bottom: 0;
  //     @include media('>=desktop') {
  //       font-size: rem(16px);
  //     }
  //   }
  //   &-label {
  //     font-size: rem(14px);
  //     font-weight: normal;
  //     width: rem(200px);
  //     // color: $gray-2;
  //     @include media('>=desktop') {
  //       width: rem(420px);
  //     }
  //     span {
  //       color: blue;
  //       cursor: pointer;
  //     }
  //   }
  //   &-booking {
  //     font-size: rem(14px);
  //     font-weight: normal;
  //     // color: $gray-5;
  //     margin: rem(16px) 0;
  //     b {
  //       font-size: rem(16px);
  //     }
  //   }
  //   &-terms {
  //     display: flex;
  //     gap: rem(4px);
  //     .custom-checkbox {
  //       display: flex;
  //       align-items: flex-start;
  //       input {
  //         top: rem(4px);
  //       }
  //     }
  //   }
  //   &-conditions {
  //     p {
  //       font-size: rem(14px);
  //       font-weight: normal;
  //       // color: $gray-5;
  //       line-height: rem(20px);
  //       margin-bottom: 0;
  //     }
  //   }
  //   &-disclaimer {
  //     font-size: rem(14px);
  //     font-weight: normal;
  //     margin-top: rem(16px);
  //     p {
  //       font-size: rem(14px);
  //     }
  //     span {
  //       color: blue;
  //       cursor: pointer;
  //     }
  //   }
  //   &-btn {
  //     margin-top: rem(16px);
  //     &-head {
  //       display: flex;
  //     }
  //     &-add {
  //       padding: rem(6px) rem(10px);
  //       border-radius: rem(4px);
  //       font-size: rem(14px);
  //       font-weight: 600;
  //       line-height: 1.5;
  //       // color: $white;
  //       // background-color: $dark-blue-1;
  //       text-transform: none;
  //       &::before {
  //         content: '\e9a3';
  //         margin-right: rem(6px);
  //         font-size: rem(14px);
  //         // color: $white;
  //         // font-family: $font-family-indigo;
  //         font-weight: 300;
  //       }
  //     }
  //     &-added {
  //       padding: rem(6px) rem(10px);
  //       border-radius: rem(4px);
  //       font-size: rem(14px);
  //       font-weight: 600;
  //       line-height: 1.5;
  //       // background: $green-cyan;
  //       // color: $white;
  //       border: none;
  //       // font-family: $font-family-default;
  //       margin-right: rem(20px);
  //       text-transform: none;

  //       &::before {
  //         content: '\e979';
  //         margin-right: rem(6px);
  //         font-weight: 100;
  //         font-size: rem(14px);
  //         // font-family: $font-family-indigo;
  //       }
  //     }
  //     &-remove {
  //       all: unset;
  //       font-size: rem(12px);
  //       font-weight: normal;
  //       margin-left: rem(2px);
  //       // color: $blue-1;
  //       display: flex;
  //       align-items: center;
  //       // font-family: $font-family-default;

  //       &::before {
  //         content: '\e9a3';
  //         margin-right: rem(8px);
  //         font-size: rem(12px);
  //         font-weight: 300;
  //         transform: rotate(45deg);
  //         // font-family: $font-family-indigo;
  //       }
  //     }
  //   }
  // }

  // &__departure {
  //   padding: rem(16px) rem(30px);
  //   background-color: hsl(0deg, 0%, 96%);
  //   &-condition {
  //     p {
  //       font-size: rem(11px);
  //       font-weight: normal;
  //       // color: $gray-5;
  //       margin-bottom: 0;
  //       line-height: rem(18px);

  //       a {
  //         // color: $blue-1;
  //         text-decoration: underline;
  //       }
  //     }
  //   }
  //   order: 4;
  //   width: calc(100% + rem(32px));
  //   transform: translateX(rem(-16px));
  //   @include media('>=tablet') {
  //     width: calc(100% + rem(60px));
  //     transform: translateX(rem(-30px));
  //   }
  // }

  // &__donebtn {
  //   position: absolute;
  //   height: rem(65px);
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   // border-top: rem(1px) solid $color-very-light-grey;
  //   // background-color: $white;
  //   margin-top: rem(5px);
  //   .custom-button {
  //     display: block;
  //     width: calc(100% - rem(20px)) !important;
  //     position: absolute;
  //     bottom: rem(5px);
  //     right: rem(10px);
  //     left: rem(10px);
  //     font-size: rem(18px);
  //     font-weight: bold;
  //     // color: $white;
  //   }
  // }

  // &__international {
  //   margin: rem(20px);
  // }

  // .d-flex {
  //   &:nth-child(1) {
  //     order: -1;
  //   }
  // }

  // &-slide-pane {
  //   &.right-slider-modal {
  //     // background-color: $white;
  //   }
  //   .right-slider-modal__content__title {
  //     margin-bottom: rem(16px);
  //     @include media('>=desktop') {
  //       margin-bottom: rem(24px);
  //     }
  //   }
  // }
}

// .excess-baggage-addon {
//   .addon-custom-popover-content {
//     text-align: left;
//     min-width: rem(320px);
//   }

//   .addon-custom-popover {
//     margin-right: rem(16px);
//     @include media('>=tablet') {
//       margin-right: 0;
//     }
//   }
//   .addon-card__right__cta__added__name {
//     width: auto;
//   }

//   .addon-card__right__cta__added__name-ellipsis {
//     width: rem(54px);
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
// }

// .addon-abhf-stepper {
//   .tooltip-inner {
//     // background-color: $blue-1;
//     padding: rem(8px);
//   }

//   .tooltip-arrow {
//     &::before {
//       // border-top-color: $blue-1 !important;
//     }
//   }
// }

.cursor {
  cursor: pointer;
}
