@import '../../index';

.customerfacing__label{
    display: flex;
    margin-bottom: rem(12px);

    &__icon{
      width: rem(42px);
      font-size: rem(20px);
      display: flex;
      align-items: center;
      margin-right: rem(12px);

      & .icon-customer-facing-seats-2{
        margin-left: rem(2px);
      }
    }

    &__text{
      font-family: var(--font-family-poppins-regular);
      color: var(--action-disabled-text);
      font-size: rem(12px);
      font-weight: 400;
      line-height: normal;
    }
  }
