.loyalty-db-retro-claim {
  display: flex;
  padding: rem(12px) rem(16px) rem(12px) rem(24px);
  justify-content: space-between;
  align-items: center;
  border-radius: rem(40px);
  // background: #d8f2ff; // as per mweb figma
  background: var(--gradient-secondary);
  box-shadow: var(--box-shadow-cards);
  backdrop-filter: blur(8px);
  gap: rem(16px);
  margin-bottom: rem(24px);

  @include media('>=tablet') {
    border-radius: rem(12px);
    box-shadow: var(--box-shadow-card-soft);
    padding: rem(32px);
    margin-bottom: rem(32px);
  }

  &__content {
    & > p {
      color: var(--primary-main);

      /* Body Copy/Small - Medium */
      font-family: var(--font-family-poppins-medium);
      font-size: rem(12px);
      font-style: normal;
      font-weight: 500;
      line-height: rem(18px); /* 150% */
      margin-bottom: rem(2px);
    }

    h4 {
      color: var(--text-primary);

      /* Body Copy/Small - Regular */
      font-family: var(--font-family-poppins-regular);
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: rem(18px); /* 150% */

      @include media('>=tablet') {
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(32px);
        font-style: normal;
        font-weight: 500;
        line-height: rem(44px); /* 137.5% */
        letter-spacing: rem(-0.8px);
      }
    }
  }

  &__action {
    a {
      text-decoration: none;

      @include media('>=tablet') {
        display: flex;
        width: rem(326.5px);
        padding: rem(8px) rem(8px) rem(8px) rem(32px);
        justify-content: space-between;
        align-items: center;
        border-radius: rem(28px);

        p {
          color: var(--primary-main);

          /* Buttons/Web/Primary and Secondary */
          font-family: var(--font-family-poppins-medium);
          font-size: rem(16px);
          font-style: normal;
          font-weight: 500;
          line-height: rem(24px); /* 150% */
        }
      }

      span {
        width: rem(36px);
        height: rem(36px);
        border-radius: 50%;
        background-color: var(--primary-main);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(14px);

        @include media('>=tablet') {
          width: rem(40px);
          height: rem(40px);
          font-size: rem(15px);
        }
      }
    }

    @include media('>=tablet') {
      border-radius: rem(28px);
      background: var(--other-background-blur);

      /* Blur/Background */
      backdrop-filter: blur(8px);
    }
  }
}
