.delete-feedback {
  .skyplus-offcanvas__contents {
    width: rem(450px) !important;
  }

  .skyplus-offcanvas__contents--header {
    box-shadow: none;
  }

  .skyplus-offcanvas__contents--body {
    background: #fff !important;
  }
}

.skyplus-offcanvas__contents--footer {
  height: 8rem;
}

.cancel-btn>button {
  background-color: transparent !important;
  border: 1px solid var(--primary-main) !important;
  color: var(--primary-main) !important;
}

.sidebar-header {
  color: #25304B;

  .inner-text {
    color: #209326;
  }
}

.feedback-instruction {
  color: #4B5772;
  font-size: rem(14px);
  line-height: rem(20px);
}

.feedback-dropdown__item {
  padding: rem(16px);
  cursor: pointer;

  &:hover {
    background: #EAF8FF;
  }

  &--active {
    background: var(--secondary-light);
  }
}