.chatWithUs--wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(32px);
  border-radius: rem(8px);
  padding: 1rem 0.5rem 1rem 1rem;
  background-color: $white;
  box-shadow: 0 0 rem(12px) 0 rgb(76 93 158 / 8%);

  i{
    cursor: pointer;
  }

  .left{
    display: flex;

    img{
      background-color: var(--secondary-light, #eaf8ff);
      width: rem(42px);
      height: rem(42px);
      border-radius: 50%;
      margin-right: rem(12px);
      padding: rem(10px);
    }

    p{
      font-size: .7rem;
    }
  } 
}