.retry-btn {
  box-sizing: border-box;
  position: relative;
  height: auto;
  padding: 0;
  margin: rem(24px) auto 0;
  width: rem(244px);
  @include media(">=tablet") {
    margin-top: rem(32px);
  }
}