.loyalty-points {
  &--wrapper {
    position: relative;
  }

  font-family: var(--font-family-poppins-regular);
  font-size: rem(12px);
  font-weight: 500;
  line-height: rem(18px);
  color: var(--accent-dark);

  &--tooltip {
    display: none;
    position: absolute;
    top: calc(100% + 15px);
    left: 85%;
    transform: translateX(-85%);
    z-index: 100;
    background: var(--white);
    min-width: rem(455px);
    min-height: rem(192px);
    border-radius: rem(8px);
    border: 1px solid var(--secondary-light);
    box-shadow: var(--box-shadow-card-soft);
    padding: rem(16px);

    > * {
      margin: 0;
      padding: 0;
    }

    > h4 {
      font-family: var(--font-family-poppins-regular);
      font-size: rem(14px);
      font-weight: 400;
      text-align: left;
      margin-bottom: rem(20px);
      color: var(--text-secondary);
      padding: rem(3.33px);

      .member-benefit-icon {
        padding: 0 rem(3.33px);
        font-size: rem(16.67px);
        vertical-align: middle;
        margin-right: rem(8px);
      }
    }

    h5 {
      font-family: var(--font-family-bauhuas-std-medium);
      font-size: rem(20px);
      font-weight: 500;
      line-height: rem(20px);
      letter-spacing: -0.4px;
      color: var(--text-primary);
    }

    .loyalty-points {
      font-size: rem(14px);
    }

    .divider-line {
      margin: rem(12px) 0;
      border-top: rem(1px) dotted var(--secondary-deep);
    }

    .points-section {
      padding: 0 0 rem(12px);

      .points-break-up {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-child {
          margin-bottom: rem(12px);
        }

        .points-label,
        .points {
          font-family: var(--font-family-poppins-regular);
          font-size: rem(14px);
          font-weight: 400;
          line-height: rem(18px);
          color: var(--text-secondary);
        }

        .points {
          text-align: right;
        }
      }
    }

    .bonus-points-note {
      font-family: var(--font-family-poppins-regular);
      font-size: rem(14px);
      font-weight: 300;
      line-height: rem(16px);
      color: var(--text-tertiary);
    }
  }

  @include media('>=tablet') {
    &.loyalty-starts-at-points {
      font-size: rem(16px);
      line-height: rem(24px);

      &.hover-state:hover {
        opacity: 0.8;

        + .loyalty-points--tooltip {
          display: block;
        }
      }
    }

    &.loyalty-recommended-card-points {
      font-size: rem(14px);
      line-height: rem(20px);
    }
  }
}
