@import './../../../styles/utils/utils';

@mixin container-style($borderRadius){
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  box-shadow: var(--box-shadow-card-light);
  backdrop-filter: blur(22px);
  border-radius: $borderRadius;
}

.travel-assistance{
  @include container-style(rem(12px));

  gap: rem(12px);
  background: var(--secondary-white);
  padding: rem(12);

  @include media('>=tablet') {
    padding: rem(24);
  }

  &__container{
    @include container-style(rem(8px));

    gap: rem(4px);
    padding: rem(20px) rem(24px);
    justify-content: center;
    color: var(--text-primary);
    background: linear-gradient(180deg, var(--secondary-light) 0.06%, var(--secondary-main) 217.63%);

    &.protection-added{
      border: 1px solid var(--accent-dark);;
      background: var(--accent-light);
    }

    &.protection-not-added{
      background: var(--system-warning-light);
    }
  }

  &__added-section{
    &.skyplus-button{
      position: absolute;
      right: rem(24px);
      top:rem(24px);

      & button{
        padding: rem(2px) rem(2px) rem(2px) rem(8px);
        gap:rem(4px);
        border-radius: rem(12px);
        background: var(--accent-dark);
        color: var(--system-success-light);
        text-align: center;

        @include defaultTypoStyles(
          12,
          0,
          18,
          500,
          var(--font-family-poppins-regular)
        );
      }
    }
  }

  &__label{
    @include defaultTypoStyles(
      16,
      0,
      24,
      400,
      var(--font-family-poppins-regular)
    );
  }

  &__title{
    @include defaultTypoStyles(
      24,
      -0.6px,
      32,
      500,
      var(--font-family-bauhuas-std-medium)
    );
  }

  &__description{
    @include defaultTypoStyles(
      12,
      0,
      24,
      400,
      var(--font-family-poppins-regular)
    );
  }

  &__input-section{
    display: inline-flex;
    flex-flow: column wrap;
    align-items: baseline;
    gap:rem(24px);

    @include media('>=tablet') {
      flex-direction: row;
    }

    & &__checkbox-container{
      & input{
        height: rem(18.5px);
        width: rem(18.5px);
      }

      @include media('>=tablet') {
        order:1;
      }
    }

    &__warning{
      @include defaultTypoStyles(
      14,
      0,
      20,
      400,
      var(--font-family-poppins-regular)
    );

    @include media('>=tablet') {
      order:3;
      flex-basis: 100%;
    }
    }

    & &__button-container{
      & button{
        display: flex;
        padding: rem(4px) rem(4px) rem(4px) rem(24px);
        align-items: center;
        gap: rem(12px);

        & .circle{
          width: rem(36px);
          height: rem(36px);
          border-radius: rem(18px);
          background-color: var(--secondary-white);
          display: flex;
          align-items: center;
          justify-content: center;

          & span{
            font-size: rem(14px);
            color: var(--text-primary);

            &::before{
              content: '\e9a0';
              color: var(--primary-main);
            }
          }
        }
      }

      @include media('>=tablet') {
        order:2;
      }
    }
  }

  &__terms{
    display: flex;
    padding: rem(8px) rem(24px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(12px);
    align-self: stretch;

    @include media('>=tablet') {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__left-section, &__right-section{
      color: var(--text-tertiary);
      font-size: rem(10px);
      font-weight: 400;
      line-height: rem(16px);
    }

    &__right-section{
      font-size: rem(8px);

      & .logo img{
        height: rem(25px);
        align-self: stretch;
      }
    }
  }
}