.wc-footer {
  box-shadow: var(--box-shadow-bottom-sticky);
  border-top-left-radius: rem(12px);
  border-top-right-radius: rem(12px);
  padding: rem(24px);
  gap: rem(16px);
  z-index: 1000;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: get-color(white);
  height: rem(76px);
  display: flex;
  align-items: center;
  justify-content: center !important;

  @include media('>=tablet') {
    height: rem(100px);
    justify-content: flex-end;
    background-color: #edf0f7f5;
  }

  &-wrapper {
    max-width: rem(1440px);
    width: 100%;
    padding-right: rem(60px);
    display: flex;
    justify-content: flex-end;
  }

  button {
    padding: rem(8px) rem(24px);
    border-radius: rem(24px);
    font-size: rem(14px);

    @include media('>=tablet') {
      padding: rem(16px) rem(56px);
      border-radius: rem(28px);
      font-size: rem(16px);
      line-height: 1;
    }
  }
}
