@import '../../index';

.trip-summary-details-modal {
  z-index: 1034;
}

.trip-summary-details {
  background-color: var(--white);
  height: 100%;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: auto;
  padding: 0;

  &__head {
    height: rem(48px);
    box-shadow: var(--modal-head-shadow);
    display: flex;
    align-items: center;
    padding: rem(12px) rem(16px);
    background: var(--white);
  }

  &__body {
    padding: rem(20px);
    padding-bottom: rem(16px);
    margin-top: rem(6px);
    overflow: auto;
  }

  &__close {
    font-family: initial;
    font-size: rem(24px);
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0 !important;
    color: #24409A;
    height: rem(25px);
    width: rem(24px);

    span {
      font-weight: 600 ;
    }
    .icon-close-simple {
      height: rem(25px);
      display: block;
      width: rem(24px);
    }

    .icon-close-simple::before {
      color: #4C5D9E;
    }
  }

  .fare-inclusion {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: rem(10px);

      @include media(">=desktop") {
        font-size: rem(12px);
      }

      li {
        &::before {
          content: '+';
          display: block;
          margin-right: rem(8px);
          color: var(--text-primary);
        }
      }
    }
  }
}