.loyalty-db-tier-upgrade-notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(12px) rem(16px);
  gap: rem(20px);
  border-radius: rem(12px);
  border: rem(1px) solid var(--system-success);
  background: var(--system-sucess-light);

  /* Effects/Global Navigation */
  box-shadow: var(--box-shadow-global-navigation);
  backdrop-filter: blur(8px);
  margin-bottom: rem(24px);

  @include media('>=tablet') {
    padding: rem(16px) rem(24px);
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(12px);

    span {
      width: rem(24px);
      height: rem(24px);
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--accent-dark);
      border-radius: 50%;
      font-size: rem(10px);

      @include media('>=tablet') {
        width: rem(40px);
        height: rem(40px);
        font-size: rem(15px);
      }
    }

    p {
      color: var(--text-primary);
      font-family: var(--font-family-poppins-regular);
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: rem(20px); /* 166.667% */
      max-width: calc(100% - rem(36px));

      @include media('>=tablet') {
        /* Body Copy/Medium - Regular */
        font-size: rem(14px);
        max-width: calc(100% - rem(52px));
      }
    }
  }

  &__action {
    font-size: rem(24px);
    line-height: rem(19px);
    width: rem(24px);
    height: rem(24px);
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
  }
}
