@import '../../index';

.seat-message-contaner {
  width: 100%;
  background: var(--text-alice-blue);
  padding: rem(12px);
  border-radius: rem(8px);
  margin: rem(14px) 0 rem(20px);
  
  @include media('>=tablet') {
    margin: rem(-2px) 0 rem(30px) ;
  }

  >* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-poppins-regular);
    line-height: rem(20px);
    font-weight: 400;
    font-size: rem(12px) ;

    @include media('>=tablet') {
      font-size: rem(14px);
    }
  }

  >h4 {
    color: var(--text-primary);
    margin-bottom: rem(8px);

    @include media('>=tablet') {
      margin-bottom: rem(10px);
    }
  }

  p {
    color: var(--text-secondary);
  }
}
