@media screen {
	.printComp {
		display: none;
	}
}

@media print {
	@page {
		size: A4;
		margin: 15mm 15mm 15mm 15mm;
	}
	.itinerary-details-title,
	.itinerary-details-description-title,
	.itinerary-details-description-confirm,
	.booking-info,
	.flight-details,
	.travel-tips-heading,
	.travel-checkout,
	.payment-details,
	.skip-itinearary-back-button,
	.header,
	.accordion,
	.retrieve-another-itinerary,
	.booking-confirmation,
	.booking-confirmation__section,
	.checkout-remainder-heading p,
	.itinerary-hotel-strip,
	.smart-web-checkin,
	.swiper-explore,
	.payment-transaction,
	.travel-remainder-heading,
	.travel-tips-slider,
	.webcheckin-cta,
	.itinerary-details-description-confirm
	{
		display: none;
	}
	.skp-itinerary-container--right {
		display: none;
		&.confirmation-right {
			display:unset;
			.return-flight-banner,
			.smart-web-checkin,
			.chat-section, 
			.swiper-explore,
			.accordion {
				display: none;
			}
			.quick-action {
				p {
					font-family: var(--font-family-poppins-regular);
					font-size: 14px;
					line-height: 20px;
				}
			}
			.booking-info__container{
				&__transaction {
					&__status {
						&.bg-green, 
						&.payment-status {
							color: #000;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
	
	.skp-itinerary-container--left {
		.confirmation-cta {
			.quick-action {
				p {
					font-family: var(--font-family-poppins-regular);
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
		.navigation-cta {
			.booking-info__container {
				&__transaction {
					&__status {
						&.bg-green, 
						&.payment-status {
							color: #000;
							font-weight: 600;
						}
					}
				}
			}
		}
		
		.retrieve-another-itinerary,
		.payment-transaction {
			display: none;
		}
	}
	.pageBreak-container {
		page-break-after: auto;
		display: block;
		page-break-inside: avoid;

	}

	.page-header-space {
		height: 60px;
	}
	.page-header {
		position: fixed;
		top: 0px;
		width: 100%;
		font-size: 15px;
		color: #fff;
		page-break-after: always;
		/* Firefox-specific styles */
		@-moz-document url-prefix() {
				position: static;
		}
	}

	.page-content {
		background-color: #fff;
		width: 100%;
		.dgr-info {
			display: inline-block;
			width: 100%;
			position: relative;
			margin-top: 16px;
			img {
				display: block;
				width: 100%;
			}
		}
	}

	.printComp {
		position: absolute;
		top: 0px;
		left: 0;
		background-color: #fff;
		width: 100%;
		.accordion__service-table {
			margin-left: 0;

			p {
				font-size: 14px;
			}

			ol,
			ul {
				padding-left: 0;

			}

			li {
				font-size: 14px;
			}

		}
	}
}



.print-logo {
	display: flex;
	flex-direction: row;
	align-items: center;

	&__image {
		margin: 0 120px 20px 0;
		width: 150px;
	}

	&__bookingheading {
		display: flex;
		flex-direction: row;
		width: 60%;
		float: left;
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
		color: var(--text-primary);
		font-family: var(--font-family-poppins-semibold);
	}

	&__bookingreference {
		margin-right: 5px;
	}

}

.print-itinerary-bottomImage {
	display: flex;
	align-items: center;
	margin-top: 100px;

	img {
		width: 1000px;
	}
}