@import './OneForSkiesCard.scss';

$color-text-grey1: #757c8a;

.sp-bar-pane {
  &__details {
    //@include font-p1;
    font-weight: normal;
    margin-bottom: 0;

    @include media('>=desktop') {
      margin-top: rem(4px);
    }

    & p {
      font: inherit;
      display: inline-block;
      margin-bottom: 0;
    }
  }

  &__title {
    text-transform: uppercase;
    // Need to check for color variable
    color: $color-text-grey1;
  }
  // Need to check for typography
  //Need to check font family
  &__description {
    font-size: rem(20px);
    line-height: rem(24px);
    font-weight: 500;
    color: var(--text-primary);
    margin-top: rem(16px);
    @include media('>=tablet') {
      font-size: rem(24px);
      line-height: rem(32px);
      margin-top: rem(8px);
    }
  }

  &__pax-name {
    font-size: rem(16px);
    font-weight: bold;
    //color: $gray-2;
  }

  &__item {
    border-radius: rem(12px);
    padding: rem(16px) 0;
    background-color: var(--secondary-white);
    box-shadow: 0px 0px rem(12px) 0px rgba(76, 93, 158, 0.08);
    margin-top: rem(16px);
    @include media('>=tablet') {
      margin-top: rem(24px);
    }

    //Need to check the typography for title
    &__title {
      font-size: rem(14px);
      line-height: rem(20px);
      font-weight: 600;
      padding-left: rem(16px);
      margin-bottom: rem(16px);

      @include media('>=tablet') {
        font-size: rem(16px);
        line-height: rem(24px);
        margin-bottom: rem(24px);
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      padding: rem(8px) rem(16px);
    }
  }

  &__condition {
    margin-top: rem(16px);
    background: var(--secondary-medium);
    padding: rem(12px);
    border-radius: rem(8px);
    color: var(--text-primary);
    margin-bottom: 6rem;
    //Need to check the fornt family variable
    font-family: var(--font-family-poppins-regular);

    &__label {
      font-size: rem(12px);
      font-weight: 400;
      line-height: rem(18px);
    }

    ul,
    ol,
    li {
      margin-left: 0;
      padding-left: 0;
      list-style: none;
    }

    @include media('>=desktop') {
      padding: rem(16px);
      margin-top: rem(16px);
    }

    &-data {
      ul {
        margin-left: 0;
        li {
          font-size: rem(12px);
          list-style: disc;
          font-weight: 400;
          line-height: rem(18px);
          color: var(--text-tertiary);
          a {
            color: var(--primary-main);
            font-weight: 500;
          }

          margin-left: rem(16px);
          @include media('>=desktop') {
            margin-left: rem(24px);
          }
        }
      }
    }
  }
  // &__clear {
  // 	@include clear-btn-addon-top();
  // }
  &__btn-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: rem(70px);
    //background-color: $white;
    border-top: rem(1px) solid rgb(207, 205, 205);
    padding-top: rem(10px);
    z-index: 11;

    .custom-button {
      position: absolute;
      bottom: rem(10px);
      left: rem(10px);
      right: rem(10px);
      display: block;
      width: calc(100% - 20px) !important;
      font-size: rem(18px);
      font-weight: 700;
      text-align: center;
      //color: $white;
    }
  }
}

.skyplus-bar-addon {
  margin-top: rem(24px);
}
