.popup-modal-global-v2 {
  inset: 0;

  &-content {
    $pad24: rem(24px);

    width: 100%;
    max-width: 100%;
    padding: $pad24;

    @include media('<tablet') {
      position: absolute !important;
      inset: auto 0 0;
      border-radius: rem(12px) rem(12px) 0 0;
    }

    @include media('>=tablet') {
      width: rem(648px);
      box-sizing: border-box;
      position: unset;
    }

    .popup-modal-global__header {
      align-items: flex-start;

      &>button {
        $iconSize: rem(16px);

        position: absolute;
        bottom: calc(100% + $pad24);
        left: 50%;
        transform: translateX(-50%);
        background: white;
        box-shadow: 0 0 28px 16px #4C5D9E0A;
        padding: rem(12px);
        border-radius: 50%;
        line-height: $iconSize;

        &>svg {
          width: $iconSize;
          height: $iconSize;
          vertical-align: middle;

          @include media('>=tablet') {
            vertical-align: text-top;
          }
        }

        @include media('>=tablet') {
          all: unset;
          cursor: pointer;
        }
      }
    }
  }

}


.split-pnr-popup {
  &-content {
    $pad:rem(24px);

    width: rem(335px);
    max-width: calc(100% - ($pad * 2));

    .popup-modal-global__header {
      &__title {
        @include font-styles(14px, 600, 20px, var(--text-primary));
      }
    }

    .split-pnr-popup-description {
      margin: rem(16px) auto rem(24px);

      &>p {
        @include font-styles(12px, 400, 18px, var(--text-tertiary));
      }
    }

    .split-pnr-button-container {
      display: flex;
      column-gap: rem(17px);
      justify-content: center;

      & > .split-pnr-button-wrapper {
        width: 100%;

        & > button {
          width: inherit;
          padding: rem(12px) 0;

          @include font-styles(14px, 500, 20px);
        }
      }
    }

    :not(&:has(.split-pnr-popup-description)) {
      .split-pnr-button-container {
        margin-top: rem(24px);
      }
    }
  }
}
