@import '~skyplus-design-system-app/src/common/scss/base';

.indigo-cash {
  &__card {
    background: linear-gradient(166deg, #9CD9FF 7.05%, #E5F7FF 114.29%);
  }

  &__amount {
    font-size: 32px;
    font-family: var(--font-family-poppins-regular);
  }
  &__title {
    display:none;

    @include media('>=tablet') {
      display:block;
    }
  }
}