.nutritional-info-details {
  border: rem(2px) solid var(--secondary-light, #EAF8FF);
  padding: rem(12px);
  border-radius: rem(8px);
  margin-top: rem(16px);

  &__title {
    p {
      font-family: var(--font-family-bauhuas-std-medium);
      text-align: left;
      font-size: rem(16px);
      font-weight: 500;
      line-height: rem(20px);
    }
  }

  &__serving {
    display: flex;
    margin-top: rem(8px);

    span {
      font-size: rem(12px);
      flex: 50%;
    }
  }

  &__nutrition-table {
    width: 100%;
    font-size: rem(12px);
    border-collapse: collapse;
    background: var(--secondary-light, #EAF8FF);
    border-radius: rem(8px);
    padding: rem(8px) rem(12px);
    margin-top: rem(8px);

    table {
      width:100%;

      tr {
        margin-top: rem(4px);

        td {
          font-family: var(--font-family-poppins-regular);
          font-size: rem(12px);
          font-weight: 400;
          flex: 1 1 auto;
        }
      }
    }
  }

  &__daily-value-note {
    margin-top: rem(8px);

    p {
      font-family: var(--font-family-poppins-regular);
      font-size: rem(12px);
      font-weight: 400;
      text-align: left;
      
      &:nth-child(1) {
        font-family: var(--font-family-poppins-medium);
        font-size: rem(12px);
        font-weight: 500;
      }
    }
  }
}