.skyplus-tiffin-slide {
  &__title {
    color: var(--text-secondary);
  }

  &__description {
    margin-top: rem(12px);
    @include h5;

    @include media('>=tablet') {
      @include h4;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: rem(12px) rem(12px) 0 0;
    background: var(--secondary-white);
    box-shadow: 0 rem(-12px) rem(24px) 0 rgb(76 93 158 / 8%);
    backdrop-filter: blur(12px);
    padding: rem(16px) rem(20px) rem(24px) rem(20px);

    &-continue-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-text {
        color: var(--text-primary);
      }

      &-amount {
        color: var(--accent-main);
      }

      &-recommendation {
        color: var(--text-tertiary);
      }

      &-slashed {
        color: var(--text-disabled);
      }

      &:nth-child(2) {
        margin-bottom: rem(16px);
      }
    }
  }

  &__double-tab {
    margin-bottom: rem(100px);
    margin-top: rem(24px);
  }

  &__caution-msg {
    border-radius: rem(8px);
    border: rem(1px) solid var(--system-warning);
    background: var(--system-warning-light);
    display: flex;
    align-items: center;

    i {
      color: var(--system-warning);
    }

    // TD: - check typography
    &-description {
      color: var(--bs-black);
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: rem(20px);
      font-family: var(--font-family-poppins-regular);
    }
  }
}
