.flight-details {
  margin-top: rem(25px);

  .flight-type-label {
    font-family: var(--font-family-poppins-semibold);
  }

  &__heading {
    margin-bottom: rem(16px);

    @include media('>=tablet') {
      margin-bottom: rem(32px);
    }

    .pts {
      color: var(--system-information);
      background-color: var(--secondary-light);
      padding: rem(2px) rem(8px);
      border-radius: rem(12px);
      border: rem(1px) solid get-color(system-information);
    }
  }

  &__card {
    background-color: var(--white);
    border-radius: rem(8px);
    margin-bottom: rem(24px);
    border: 1px solid var(--secondary-light);

    .fare-rules {
      display: flex;
      flex-direction: column;
      gap: rem(4px);
    }
  }

  &__date {
    font-size: rem(14px);
    color: var(--text-secondary);
    line-height: rem(20px);
    padding: rem(8px) rem(16px);
    border-radius: rem(6px) rem(6px) 0 0;
    background-color: var(--secondary-light);

    @include media('>=tablet') {
      line-height: rem(24px);
      font-size: rem(16px);
      padding: rem(12px) rem(16px);
    }
  }

  &__info {
    padding: rem(8px) rem(16px) rem(16px);

    @include media('>=tablet') {
      padding: rem(16px);
    }

    .location {
      color: var(--accent-dark);
    }

    .terminal {
      color: var(--text-secondary);
      text-transform: uppercase;
      font-size: rem(12px) !important;
    }

    &__duration {
      .time,
      .stops {
        color: var(--text-tertiary);
      }

      .line-bg {
        width: rem(116px);
        margin: rem(2px) 0;
        background-image: radial-gradient(
          circle closest-side,
          var(--secondary-main) calc(100% - 0.5px),
          #0000 100%
        );
        background-repeat: repeat-x;
        background-size: 4px 2px;
        height: rem(2px);
      }

      .body-small-medium {
        font-size: rem(12px);
        line-height: 1.5;
        font-family: var(--font-family-poppins-medium);
      }
    }
  }

  &__facilities {
    padding: rem(9px) rem(20px) rem(16px);
    margin: 0 rem(16px);
    border-top: rem(1px) dotted var(--other-border);
    border-radius: 0 0 8px 8px;

    .list {
      div {
        margin-right: rem(16px);

        i {
          margin-right: rem(8px);
        }
      }
    }
  }
}
