@import './../../../../../styles/utils/utils';

.change-seat-tagging-modal-wrapper  {
    max-width: rem(360);

    .main-heading {
        color: var(--text-primary);
        font-family: var(--font-family-poppins-semibold);
    }

    .sub-heading {
        color: var(--text-tertiary);

    }

    .btn {
        border-radius: rem(22);
        padding: rem(12) rem(32);    
    }

    .dismiss-btn {
        background: var(--white);
        color: var(--action-selected-text);
        border: rem(1) solid var(--action-selected-text);
    }

    .remove-btn {
        color: var(--white);
        background: var(--action-selected-text);
        border: rem(1) solid var(--action-selected-text);
    }

    .btn-disabled  {
        pointer-events: none;
        opacity: 0.3;
    }

    .sp-slider__avatar {
        width: rem(24);
        height: rem(24);
    }
}