@import '../../index';

@mixin border-top-radius {
  border-top-left-radius: rem(16px);
  border-top-right-radius: rem(16px);
}

.fare-summary {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 4;
  left: 0;
  background-color: var(--other-sticky);
  box-shadow: var(--box-shadow-bottom-sticky);
  backdrop-filter: blur(12px);

  .action-wrapper {
    @include border-top-radius;

    height: rem(108px);
    width: 100vw;
    padding: rem(24px);
    &.express-checkout{
      
        flex-direction: column;
        height: fit-content;
        row-gap: rem(20px);
        & .total-fare{
          width: 100%;
          display:flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;
          &__amount-content{
            display:flex;
            flex-direction: column;
          }
        }
        .fare-summary-actions{
          width: 100%;
        }
        & .next-btn{
          width: 100%;
        }
      
      @include media(">=tablet") {
        flex-direction: row;
        row-gap:unset;
        & .total-fare{
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
          &__amount-content{
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
          }
        }
        .fare-summary-actions{
          width: fit-content;
        }
        & .next-btn{
          width: fit-content;
          text-wrap: nowrap;
        }
      }
    }

    @include media('>=desktop') {
      padding: rem(8px) rem(64px) rem(8px) 0;
      display: flex;
      justify-content: flex-end !important;
      gap: rem(105px);
      max-width: rem(1440px);
      margin: auto;
      height: auto;
    }

    .total-fare {
      display: flex;
      flex-direction: column;
      color: var(--text-tertiary);
      font-size: 12px;
      gap: rem(4px);
      &__amount-content{
        display:flex;
        flex-direction: column;
      }

      @include media(">=tablet") {
        flex-direction: column;
        align-items: flex-start;
        &__amount-content{
          display:flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
      &__label {
        text-transform: capitalize;
        font-size: rem(12);

        @include media('>=desktop') {
          display: block;
          font-size: rem(14);
        }
      }

      &__info {
        display: none;
      }

      &__amount {
        color: var(--text-primary);
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0;
        font-family: unset;

        @include media(">=tablet") {
          margin: 0;
        }

        &--earnpoints {
          color: var(--accent-dark);
          font-size: rem(14px);

          @include media(">=tablet") {
            font-size: rem(24px);
          }
        }
      }

      &__details {
        background-color: transparent;
        border: none;
        text-transform: capitalize;
        text-align: left;
        text-decoration: underline;
        cursor: pointer;
        color: var(--primary-main);
        padding: 0 !important;
      }
    }
    & .fare-summary-actions {
      display: flex;
      flex-direction: column;
      column-gap: rem(20px);
      row-gap: rem(16px);
      @include media(">=tablet"){
        flex-direction: row;
      }
      .tooltip-message-container{
        bottom: 70%;
        width:24%;
        left: 73%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);

        .tooltip-header{
          .icon-warn::before{
            color: #A97D0E;
            padding-right: rem(10px);
            font-size: rem(20px);
          }
      }
    }

    }

    .next-btn {
      & button {
        padding: rem(12px) rem(32px);
        border-radius: rem(30px);
        border: none;
        background-color: var(--primary-main);
        color: var(--white);
        cursor: pointer;
        @include media (">=tablet"){
          padding: rem(6px) rem(16px);
        }
      }
      &.btn--skip-to-seat,
      &.btn--skip-to-payment{
          &.d-none{
            display:none;
          }
          & button {
          background-color: var(--white);
          color: var(--primary-main);
          cursor: pointer;
          &.skyplus-button--disabled {
            color: var(--white);
          }
        }
      }
    }
  }

  .added-to-fare {
    @include border-top-radius;

    padding: rem(12px);
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-main);
    padding-bottom: 36px;
    position: relative;
    top: rem(24px);
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s;

    @include media('>=tablet') {
      justify-content: flex-end;
      padding-right: rem(72px);
      gap: rem(180px);
    }

    &.added-to-fare--show {
      opacity: 1;
      transform: translateY(0);
    }

    .added-info {
      &__amount {
        font-weight: bold;
        margin-left: 16px;
      }
    }
  }
}
