.srp-offers-list {
  display: flex;
  gap: rem(12px);

  .carousel-left-control,
  .carousel-right-control {
    display: none;

    @include media('>=tablet') {
      display: flex;
    }
  }

  &-item {
    background-color: get-color(white);
    height: 100%;

    padding: rem(14px) rem(18px);
    display: flex;
    gap: rem(12px);
    cursor: pointer;

    @include media('>=tablet') {
      @include card-border;
      border: 1px solid get-color(system-information-light);
    }
    &--image {
      width: rem(32px);
      height: rem(32px);

      @include media('>=tablet') {
        width: rem(46px);
        height: rem(46px);
      }
    }

    &--offer {
      .text-blue {
        color: get-color(primary-main);
      }

      .upto-offer {
        color: get-color(accent-dark);
      }

      .offer-code {
        u {
          color: get-color(primary-main);
          font-family: var(--font-family-poppins-semibold);
          text-decoration: none;
        }
      }

      .slidertitle {
        .text-blue {
          color: get-color(primary-main);
          font-family: var(--font-family-poppins-medium);
        }
      }
    }
  }
}

.flight-offer-slider {
  .swiper-initialized {
    position: relative;
  }

  .swiper {
    width: 100%;
    position: relative;

    @include media('>=tablet') {
      width: 95% !important;
    }

    &-button-prev,
    &-button-next {
      top: 60%;
    }

    &-botton {
      &-prev {
        left: rem(-30px);
      }

      &-next {
        right: rem(-30px);
      }
    }

    &-pagination {
      top: rem(5px);
      padding-right: rem(16px);
      text-align: right;
      position: absolute;
      width: max-content;
      left: 80%;
    }
  }

  .swiper-wrapper {
    border: 1px solid get-color(system-information-light);
    box-shadow: 0 0 12px 0 rgba(76, 93, 158, 0.0784313725);
    border-radius: rem(12px);
    @include media('>=tablet') {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    .swiper-slide {
      height: unset;
    }
  }
}

.flight-offer-slider.w-100 {
  .swiper {
    width: 100% !important;
  }
}

.offer-details-slider {
  .skyplus-offcanvas__contents--header {
    align-items: flex-end !important;
    margin-bottom: rem(24px);
    .icon-close-simple {
      background-color: get-color(white);
      border-radius: 50%;
      padding: rem(8px);
      margin-left: 0;
      @include media('>=tablet') {
        margin-left: rem(8px);
      }

      &::after {
        font-size: rem(20px);
      }
    }
  }

  .skyplus-offcanvas__contents--body {
    margin-top: rem(24px);
    display: flex;
    flex-direction: column;
    gap: rem(12px);

    padding: rem(28px) rem(22px);
    background: none;

    .h4 {
      font-size: rem(20px);
      line-height: 1.25;

      @include media('>=tablet') {
        font-size: rem(24px);
      }
    }

    @include media('>=tablet') {
      gap: rem(24px);

      padding: 0 1.25rem 5rem;
      background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0.959) 8.73%,
        #f7f9fe 17.51%,
        #ecf7fc 81.97%
      );
    }

    .offer-heading {
      color: get-color(text-secondary);
      display: none;

      @include media('>=tablet') {
        display: block;
      }
    }

    @include media('>=tablet') {
      font-size: rem(14px) !important;
    }

    .offer-item {
      display: flex;
      gap: rem(12px);

      &--offer {
        .h4 {
          p {
            font-family: var(--font-family-bauhuas-std-medium);
          }
        }

        .body-small-regular {
          p {
            @include media('>=tablet') {
              font-family: var(--font-family-poppins-lite) !important;
              font-size: rem(14px);
              color: get-color(text-tertiary);
            }
          }
        }

        .note {
          font-size: rem(14px);
          font-family: var(--font-family-poppins-light);
        }
      }

      &--image {
        width: rem(48px);
        height: rem(48px);
      }
    }

    button {
      font-size: rem(14px);
      @include media('>=tablet') {
        font-size: rem(16px);
      }
    }
  }

  .offer-seperator {
    background-image: radial-gradient(
      circle closest-side,
      var(--secondary-main) calc(100% - 0.5px),
      #0000 100%
    );
    background-repeat: repeat-x;
    background-size: 4px 2px;
    height: rem(2px);
  }

  &-details {
    background-color: #ffffff8f;
    padding: rem(16px);
    border-radius: rem(8px);

    .bl-dashed {
      border-right: 1px dotted black;
      padding-right: rem(16px);

      h6 {
        color: get-color(text-secondary);
        font-size: rem(14px);
        font-family: var(--font-family-poppins-light);
        font-weight: 300;
      }
    }

    .key-terms {
      color: get-color(text-secondary);
      font-size: rem(14px);
    }

    .terms {
      margin-left: rem(8px);
      margin-top: rem(8px);
    }

    ul {
      list-style-type: disc;
      margin-left: rem(10px);
      li {
        font-size: rem(12px) !important;
        @include media('>=tablet') {
          font-size: rem(14px) !important;
        }

        color: get-color(text-tertiary);
        font-family: var(--font-family-poppins-regular);

        a {
          font-family: var(--font-family-poppins-medium);

          color: var(--primary-main);
        }
      }
    }

    .body-small-regular {
      font-size: rem(12px) !important;
      @include media('>=tablet') {
        font-size: rem(14px) !important;
      }

      color: get-color(text-tertiary);
      font-family: var(--font-family-poppins-light);
    }

    .tooltip {
      position: relative;
      display: block;

      .tooltiptext {
        visibility: hidden;
        background-color: #555;
        color: get-color(white);
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: rem(-20px);
        left: 25%;
        transition: opacity 0.3s;
        width: max-content;
        font-size: rem(12px);
      }
    }

    .tooltip.visible {
      .tooltiptext {
        visibility: visible;
      }
    }
  }

  .text-text-green {
    color: var(--text-green) !important;
  }

  /* taken from https://www.w3schools.com/howto/howto_js_copy_clipboard.asp */
}
