@import './styles/main';

.skyplus-button {
  button {
    &:focus-within {
      outline: rem(1px) solid get-color(secondary-light);
      outline-offset: rem(2px);
    }
  }
}

div[data-page-type='checkinmaster'],
div[data-page-type='checkinundo'] {
  .retrieve-pnr {
    p {
      font-size: rem(24px);
    }
  }

  .retrieve-pnr-form {
    flex-direction: column;
  }
}

.grid-1-2 {
  > div {
    @include media('>=tablet') {
      padding: rem(20px) 0;
    }
  }
}

.cmp-text {
  span.body-small-regular {
    display: block;
  }
}

/* The following CSS affects the global accordion CSS. If necessary, 
please add this CSS to the static accordion component. */
// .accordion {
//   span {
//     color: var(--text-secondary);
//     font-family: var(--font-family-bauhuas-std-medium);
//     font-size: 1.5rem;
//     font-weight: 500;
//   }
// }

#smart-web-checkin {
  padding: rem(16px);

  .pt-12 {
    padding-top: 0 !important;
  }

  .p-6 {
    padding-left: rem(16px) !important;
  }

  ul,
  li {
    list-style: disc;
  }

  .cmp-text {
    .h4 {
      p {
        span {
          font-size: rem(14px);
        }
      }
    }

    font-size: rem(20px);
    font-family: var(--font-family-bauhuas-std-medium);
  }

  .button {
    border-radius: rem(18px);
    text-align: center;
    background-color: var(--secondary-light);
    padding: rem(8px) rem(24px);
    font-size: rem(14px);

    a {
      text-decoration: none;
    }
  }
}

.information-list {
  section {
    margin-bottom: rem(32px);
  }

  .title {
    margin-bottom: rem(20px);
  }

  .card {
    max-width: rem(762px);
    background: var(--white);
    border-radius: rem(12px);
    padding: rem(12px) rem(16px);
    margin-bottom: rem(16px);
    box-shadow: var(--box-shadow-card-soft);
    gap: rem(12px);

    &__icon {
      border-radius: 50%;
      padding: rem(10px);
      width: rem(38px);
      height: rem(38px);
      display: flex;
      align-items: center;
      justify-content: center;

      @include media('>=tablet') {
        width: rem(42px);
        height: rem(42px);
      }

      background-color: var(--text-alice-blue);

      img {
        width: rem(24px);
        height: rem(24px);
        background-size: contain;
        border-radius: 50%;
      }
    }

    &__icon-right {
      margin-left: auto;

      &--accordion {
        rotate: 180deg;
      }
    }

    &__title {
      margin-bottom: rem(4px);
    }

    .b-s-m {
      font-size: rem(10px);

      @include media('>=tablet') {
        font-size: rem(12px);
      }
    }
  }

  &__head {
    .heading {
      margin-bottom: rem(8px);
    }
  }
}

// #skipToMainContent {
//   .rounded-cards {
//     margin-top: rem(16px);
//   }
// }

.cmp-container {
  .imagetextcarousel {
    margin-top: rem(32px);

    .waystoearnredeem__card {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}

.right-container-styling {
  @include media('>=tablet') {
    padding-bottom: 0;
  }
}

.stepdetails--image-icon-med {
  margin-bottom: rem(40px);

  & + div {
    margin-bottom: rem(40px);
  }

  @include media('>=tablet') {
    padding-left: rem(20px);

    & + div {
      padding-left: rem(20px);
    }
  }

  div {
    .scratchcard-steps {
      .scratchcard-steps-list {
        .scratchcard-steps-list__item {
          &::before {
            left: rem(24px);
          }

          .scratchcard-steps-list__item-icon {
            top: 0;
          }
        }
      }
    }
  }
}

#retrieve-pnr[data-page-type='checkinmaster'],
#retrieve-pnr[data-page-type='checkinundo'] {
  display: none;

  @include media('>=tablet') {
    display: block;
  }
}

#retrieve-pnr[data-page-type='my-bookings'] {
  .retrieve-pnr-container {
    background: var(--blur-card-light);
    box-shadow: var(--box-shadow-cards);
    padding: rem(12px);
    border-radius: rem(12px);
    margin-top: rem(32px);

    @include media('>=tablet') {
      margin-top: 0;
    }

    .booking-title {
      color: var(--text-secondary);
    }
  }

  .retrieve-pnr-form {
    padding: 0;
    box-shadow: none;
    background-color: transparent;

    input {
      &::placeholder {
        font-family: var(--font-family-poppins-light);
        font-size: rem(12px);

        @include media('>=tablet') {
          font-family: var(--font-family-poppins-regular);
          font-size: rem(14px);
        }
      }
    }

    .skyplus-button {
      margin-top: rem(16px);

      button {
        font-size: rem(14px);

        @include media('>=tablet') {
          font-size: rem(16px);
        }
      }
    }
  }
}

#split-pnr-retrieve-pnr-container div[data-page-type='split-pnr-details'] {
  .retrieve-pnr {
    background: rgb(255 255 255 / 45%);
    box-shadow: 0 0 rem(28) rem(16) rgb(76 93 158 / 4%);
    padding: rem(12);
    border-radius: rem(12);
    backdrop-filter: blur(8);
  }

  .retrieve-pnr-form {
    padding: 0;
    box-shadow: none;
    background-color: transparent;
  }
}
