$color-cornflower-blue: #daf1ff;

$color-fefefe: #fefefe;
$color-gradiant: rgba(255, 255, 255, 0.958959);
$color-f7f9fe: #f7f9fe;
$color-ecf7fc: #ecf7fc;
$bg-color-disabled:#ebecee;
$bg-suggestion-color:#7a85a0;
