.split_pnr--loader {
    &-overlay {
        position: fixed;
        z-index: 10000000;
        inset: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        background: var(--bg-white-72);
        overflow: auto;

        &-popup {
            position: relative;
            top: 40%;
            width: 100%;
            max-width: 100%;
            height: auto;
            max-height: 100%;
            overflow: visible;
            padding: 0;
            bottom: 0;
            animation: none;

            &-content {
                width: 100%;
                height: 100%;
                position: relative;
                padding: 0;
                margin: 0;
                border: 0;
                background: none;
                box-shadow: none;
                border-radius: 0;

                &-main {
                    overflow: auto;
                    max-height: rem(600px);
                    color: #222;

                    &-body {
                        padding: rem(10px);

                        &-text {
                            text-align: center;
                        }

                        &-circle {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: rem(97px);
                            height: rem(34px);
                            margin: auto;
                            padding: rem(10px) rem(15px);
                            border-radius: rem(12px);
                            background: var(--white);

                            &-circleG {
                                margin-left: rem(13px);
                                background-color: var(--white);
                                border-radius: rem(20px);
                                width: rem(10px);
                                height: rem(10px);
                                animation: bounce_circleG 0.8775s infinite;
                            }
                        }

                        &-flight-animation {
                            width: rem(200px);
                            height: rem(120px);
                            margin: 0 auto;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}