.split-pnr--button-container {
  &--link {
    margin-bottom: rem(8px);
    border: none;
    background: none;
    cursor: pointer;

    @include font-styles(14px, 400, 21px, var(--primary-main));

    &>span {
      text-transform: uppercase;
      text-decoration: underline;
    }

    @include media('>=tablet') {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: rem(8px);
    }
  }

  &--icon {
    font-size: rem(16px);
  }
}