@import '../../../../styles/main';

.zero-cancellation-slider-container {
  .zero-cancellation-benefits-table-container {
    margin-top: rem(20);


    .zero-cancellation-benefits-table-wrapper {
      border: rem(1) solid var(--secondary-deep);
      border-radius: rem(12);
      overflow: hidden;

      table {
        border-collapse: collapse;


        tr:first-child {
          background: var(--secondary-light);
        }

        .tr {
          background: var(--white);
        }

        th,
        td {
          padding: rem(12);
          text-align: left;
          font-size: rem(14);
          color: var(--black);
          border: 1px solid var(--secondary-deep);
        }

        th {
          span {
            font-weight: bold;
          }
        }

        td {
          font-weight: normal;
        }
      }
    }
  }
}