.process-container {
  border: rem(1px) solid var(--secondary-deep);

  .completed-step {
    &::before {
      border: rem(1px) solid var(--system-success);
    }
  }

  .progress-step {
    &::before {
      border: rem(1px) dashed var(--action-disabled-text);
    }
  }

  .last-stepper {
    &::before {
      border: none;
    }
  }

  .step {
    padding-left: rem(32px);
    min-height: rem(54px);

    &:not(:last-child)::before {
      content: "";
      position: absolute;
      left: rem(43px);
      top: rem(25px);
      height: 100%;
    }
  }

  .stepper:last-child {
    min-height: auto;
  }


  .section-wrapper {
    top: rem(0);
    left: rem(-15px);
    font-size: rem(9px);
    padding: rem(4px) rem(8px);
    height: fit-content;

    &.primary {
      background-color: var(--action-disabled-text);
      color: var(--white);
    }

    &.secondary {
      background-color: var(--action-disabled-text);
      color: var(--white);
    }

  }

  .step-wrapper-section {
    margin-bottom: rem(24px);
  }

  .step-marker {
    width: rem(24px);
    height: rem(24px);
    border-radius: 50%;
    font-size: rem(14px);
    font-weight: bold;
    flex-shrink: 0;
    background: var(--action-disabled-text);

    &.completed {
      background-color: var(--system-success);
      border-color: var(--system-success);
      color: var(--white);

      i::before {
        color: var(--white);
        font-size: 12px;
      }
    }

    &.inprogress {
      color: var(--primary-main);
      background-color: var(--other-right-border);
      border-color: var(--other-right-border);

      .circle-marker {
        height: rem(12px);
        width: rem(12px);
        background-color: var(--primary-main);
        border-radius: 50%;
      }
    }
  }

  /* Completed step styling */
  .step.completed {
    .step-marker {
      background-color: var(--secondary-light);
      border-color: var(--secondary-light);
      color: var(--btn-link);
    }
  }

  .step-title {
    font-size: rem(14px);
    font-weight: 500;
    margin: rem(4px) rem(4px) 0 0;

    &.completed {
      color: var(--accent-dark);
    }

    &.inprogress {
      color: var(--primary-main);
    }

    &.delay {
      color: var(--system-error);
      font-size: rem(12px);
    }

    &.default {
      color: var(--text-tertiary);
    }

    &.activities {
      font-size: rem(12px);

      &.activities-details {
        color: var(--system-success);
      }
    }
  }

  .step-date {
    font-size: rem(12px);
    color: var(--text-secondary);
  }

  .step-description {
    font-size: rem(12px);
    color: var(--text-secondary);
    margin-top: rem(4px);
  }

  .right-section-status {
    font-size: rem(12px);

    &.delayed {
      color: var(--system-error);
    }

    &.completed {
      color: var(--system-success);
    }
  }

  .bottom-container {
    padding: rem(24px) 0 rem(4px);
    border-top: rem(1px) dashed var(--action-disabled-text);
    font-size: rem(10px);

    @include media('>=tablet') {
      font-size: rem(12px);
    }


    .approved-date {
      color: var(--system-success);
      margin-left: rem(4px);
    }

    .right-bottom-section {
      div {
        font-size: rem(10px);
        color: var(--other-divider);
        margin-right: rem(4px);
      }
    }
  }
}