@import '../../../index.scss';

.voucher-card-container {
  display: flex;
  flex-flow: row;
  gap: rem(16px);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @include media(">=desktop") {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: thin;
    scrollbar-width: thin;
  }

  &:-webkit-scrollbar {
    display: none;
  }
  .voucher-card {
    min-width: rem(208px);
    width: rem(159px);
    height: rem(146px);
    padding: rem(12px);
    border-radius: rem(8px);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #eaf8ff -58.33%, #afe4ff 156.94%);

    @include media(">=desktop") {
      width: rem(276px);
      height: rem(244px);
      padding: rem(16px);
    }

    .top-content {
      display: flex;
      justify-content: space-between;
    }
    &--icon {
      img {
        width: rem(18px);
        height: rem(18px);
      }
    }
    &--count {
      font-family: var(--font-family-poppins-semibold);
      font-size: rem(10px);
      font-weight: 500;
      line-height: rem(16px);
      text-align: center;
      color: var(--system-warning);
      background: var(--system-warning-light);
      min-width: rem(48px);
      height: rem(20px);
      padding: rem(2px) rem(8px);
      border-radius: rem(12px);
      border: 1px solid var(--system-warning);
      display: flex;
      justify-content: center;
      align-items: center;

      @include media(">=desktop") {
        font-size: rem(12px);
      }
    }

    .bottom-content {
      display: flex;
      flex-flow: column;
    }
    &--title {
      font-size: rem(16px);
      font-weight: 500;
      line-height: rem(20px);
      text-align: left;
      color: #25304b;

      @include media(">=desktop") {
        font-size: rem(32px);
        line-height: rem(44px);
      }
    }
    &--expiry-date {
      font-family: var(--font-family-poppins-regular);
      font-size: rem(10px);
      font-weight: 400;
      line-height: rem(16px);
      text-align: left;

      @include media(">=desktop") {
        font-size: rem(14px);
        line-height: rem(20px);
      }
    }
  }
}