.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: rem(16px);

  @include media('>=desktop') {
    align-items: center;
    flex-direction: row;
  }

  justify-content: space-between;

  .besthotel-checkbox {
    display: none;
    padding-right: rem(15);
    @include media('>=desktop') {
      display: flex;
      align-items: flex-start;
    }
    .besthotel-checkbox-label {
      padding-top: rem(2);
      font-size: rem(14px);
      color: get-color(text-primary);
    }
  }

  .iam-travellling-to {
    &__wrapper {
      width: 100%;
      font-size: rem(10px);
      font-weight: 300;
      font-family: var(--font-family-poppins-light);
      box-sizing: border-box;
      flex-direction: column;
      border-radius: rem(12px);
      padding-left: rem(8px);

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      @include media('>=desktop') {
        width: fit-content;
        font-size: rem(16px);
        flex-direction: row;
        padding-left: 0;
      }

      background-color: get-color(white);
      display: inline-block;
      position: relative;

      .left {
        padding-left: rem(4px);
        color: get-color(text-tertiary);

        @include media('>=desktop') {
          border: var(--border-secondary);
          border-top-left-radius: rem(12px);
          border-bottom-left-radius: rem(12px);
          padding: rem(10px) 0 rem(10px) rem(12px);
          border-right: 0;
          font-family: var(--font-family-poppins-light);
          color: var(--text-primary);
        }
      }

      .travelling-reason-dropdown {
        border: var(--border-primary);
        border-top-right-radius: rem(12px);
        border-bottom-right-radius: rem(12px);
        border-left: 0;
        padding: 0 rem(8px);

        &.focused {
          .travelling-for-value {
            z-index: 2;
          }
        }
      }

      input {
        border: none;
        width: rem(80px);

        &:focus,
        &:focus-within {
          outline: none;
        }
      }

      .travelling-for-value {
        position: relative;

        &::after {
          content: '';
          background-image: radial-gradient(
            circle closest-side,
            $color-gray75 calc(100% - 0.5px),
            transparent 100%
          );
          background-repeat: repeat-x;
          background-size: 4px 2px;
          height: rem(2px);
          position: absolute;
          bottom: 0;
          top: 100%;
          width: 100%;
        }
      }
    }

    order: 2;

    @include media('>=desktop') {
      order: 1;
    }

    .travelling-reason-dropdown {
      display: none;

      .scroll-container {
        padding: rem(16px) rem(2px) rem(0);
      }

      @include media('>=desktop') {
        display: inline-flex;
        align-items: center;
      }

      .bw-popover__content {
        min-width: rem(130px);
        right: rem(-20px);
      }

      &__item {
        padding: 0 rem(16px) 0 rem(20px);

        input {
          width: 0;
        }
      }

      .travelling-for-value {
        display: flex;
        cursor: pointer;
        min-width: rem(100px);

        .sky-icons {
          margin-left: auto;
          &::before {
            color: get-color(primary-main);
          }
        }
      }
    }

    .travelling-reason-dropdown__mobile {
      display: flex;
      flex-direction: row;
      gap: rem(12px);

      @include media('>=desktop') {
        display: none;
      }

      input {
        width: auto;
      }
    }
  }

  .addpromocode-btn {
    font-size: rem(14px);
    line-height: 1.5;
    font-family: var(--font-family-poppins-medium);
    padding: rem(12px) rem(32px) rem(12px) rem(12px);
    text-align: right;
    order: 1;
    border-bottom-left-radius: rem(12px);
    border-bottom-right-radius: rem(12px);
    background-color: get-color(secondary-light);
    display: flex;

    @include media('>=desktop') {
      order: 2;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: transparent;
      font-size: rem(16px);
      margin-left: auto;
    }

    &--to-apply {
      color: #009;
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: rem(4px);
      background-color: transparent;
      font-family: var(--font-family-poppins-medium);
      outline: none;
      border: none;
      flex: 1;

      u {
        margin-left: rem(5px);
        text-align: right;
        text-decoration: underline;
        font-family: var(--font-family-poppins-medium);
      }

      @include outline-within;
    }

    &--to-apply.disabled {
      pointer-events: none;
      color: get-color(btn-disabled-background);
    }

    &--applied {
      color: get-color(text-primary);
      font-weight: 600;
      display: inline-flex;
      align-items: center;

      .success {
        font-weight: 500;
        margin-left: rem(2px);
        color: get-color(accent-dark);
      }

      i {
        margin-left: rem(4px);
        cursor: pointer;
        font-weight: 100;

        &::after {
          font-size: rem(16px);
        }
      }
    }
  }

  .search-btn {
    order: 3;
    align-self: center;

    button {
      @include outline-within();
    }
  }
}

.bookingmf-container.loyalty-enabled {
  &.srp {
      .bottom-container {
        .iam-travellling-to {
          margin: 0;

          &__wrapper {
            border-radius: 0;
          }
        }

        .search-btn {
          margin-top: 1rem;
      }
    }
  }

  .bottom-container {
    display: contents;

    @include media('>=desktop') {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: rem(24px);
      align-items: center;
      flex-direction: row;
    }

    .ipay-with {
      &__wrapper {
        width: 100%;
        font-size: rem(10px);
        font-weight: 300;
        font-family: var(--font-family-poppins-light);
        box-sizing: border-box;
        flex-direction: column;
        border-radius: rem(12px);
        padding-left: rem(8px);

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        @include media('>=desktop') {
          width: fit-content;
          font-size: rem(16px);
          flex-direction: row;
          padding-left: 0;
        }

        background-color: get-color(white);
        display: inline-block;
        position: relative;

        .left {
          padding-left: rem(4px);
          color: get-color(text-tertiary);
          font-weight: 400;
          font-family: var(--font-family-poppins-regular);

          @include media('>=desktop') {
            border: var(--border-secondary);
            border-top-left-radius: rem(12px);
            border-bottom-left-radius: rem(12px);
            padding: rem(10px) 0 rem(10px) rem(12px);
            border-right: 0;
            color: var(--text-dark);
          }
        }

        .pay-mode-dropdown {
          border: var(--border-primary);
          border-top-right-radius: rem(12px);
          border-bottom-right-radius: rem(12px);
          border-left: 0;
          padding: 0 rem(8px);
          color: var(--primary-main);

          &.focused {
            .pay-with-value {
              z-index: 2;
            }
          }
        }

        input {
          border: none;
          width: rem(80px);

          &:focus,
          &:focus-within {
            outline: none;
          }
        }

        .pay-with-value {
          position: relative;
          &-text {
            padding-left: rem(8);
            padding-right: rem(8);
            border-bottom: rem(2) dotted var(--primary-main);
          }

          &::after {
            background-image: radial-gradient(circle closest-side,
                $color-gray75 calc(100% - 0.5px),
                transparent 100%);
            background-repeat: repeat-x;
            background-size: 4px 2px;
            height: rem(2px);
            position: absolute;
            bottom: 0;
            top: 100%;
            width: 100%;
          }
        }
      }

      .pay-mode-dropdown {
        display: none;

        .scroll-container {
          padding: rem(16px) rem(2px) rem(0);
        }

        @include media('>=desktop') {
          display: inline-flex;
          align-items: center;
        }

        .bw-popover__content {
          min-width: rem(130px);
          right: rem(-20px);
        }

        &__item {
          white-space: nowrap;
          padding: 0 rem(16px) 0 rem(20px);

          input {
            width: 0;
          }
        }

        .pay-with-value {
          display: flex;
          cursor: pointer;
          min-width: rem(96px);

          .sky-icons {
            margin-left: auto;

            &::before {
              color: get-color(primary-main);
            }
          }
        }
      }

      .pay-mode-dropdown__mobile {
        display: flex;
        flex-direction: row;
        column-gap: rem(12px);

        @include media('>=desktop') {
          display: none;
        }

        input {
          width: auto;
        }
      }
    }

    .iam-travellling-to {
      order: 5;
      margin: rem(8px) 0 rem(16px);

      @include media('>=desktop') {
        order: 1;
        margin: 0;
      }
    }

    .ipay-with {
      order: 2;
      border: var(--border-secondary);
      border-top: 0;

      @include media('>=desktop') {
        order: 1;
        border: 0;
        margin-right: auto;
      }

      &__wrapper {
        border-radius: 0;

        @include media('>=desktop') {
          border-radius: rem(12px);
        }
      }
      
    .eligible-redemption-text {
      border-radius: rem(8);
    }
    }

    .addpromocode-btn {
      order: 4;
      width: 100%;

      @include media('>=desktop') {
        order: 2;
        width: auto;
      }
    }

    .search-btn {
      order: 4;
      padding-top: rem(12px);

      @include media('>=desktop') {
        order: 3;
        padding-top: rem(0);
      }
    }
  }
  .highlight-balance {
    font-family: var(--font-family-poppins-semibold);
    color: var(--primary-main);
    font-size: rem(12);
    line-height: rem(24);
  }
}

.homepage {
  .bookingmf-container--tab-container {
    .bookingmf-container__tabs--item {
      @include media('>=desktop') {
        padding: rem(8) rem(0);
      }
    }

    .bookingmf-container__tabs--content {
      @include media('>=desktop') {
        padding: rem(12) rem(24);
      }

    .search-widget-form {
      @include media('>=desktop') {
          gap: rem(8);
        }
      }
    }
  }
}