.custom-date-range-picker {
  .rdrDefinedRangesWrapper {
    display: none !important;
  }

  .rdrCalendarWrapper {
    background-color: var(--secondary-white);
    border-radius: rem(8px);
    box-shadow: rem(0px) rem(4px) rem(8px) rgba(0, 0, 0, 0.1);
    padding: rem(10px);
    border: rem(1px) solid var(--secondary-deep);

    .rdrCalendarHeader {
      background-color: var(--secondary-white);
      padding: rem(10px) rem(15px);
      border-bottom: rem(1px) solid var(--secondary-deep);
    }

    .rdrMonthPicker :hover {
      border-radius: rem(4px);
      background-color: var(--secondary-white);
    }

    .rdrYearPicker :hover {
      background-color: var(--secondary-white);
      border-radius: rem(4px);
    }

    .rdrNextPrevButton,
    .rdrPprevButton {
      background: transparent;
    }

    .rdrWeekDay {
      color: var(--primary-main);
    }

    .rdrDay {
      font-size: rem(14px);
      padding: rem(10px);
      border-radius: rem(4px);
    }

    .rdrDayDisabled {
      background-color: transparent;
    }

    .rdrDayToday {
      background-color: var(--secondary-white);
    }

    .rdrStartEdge,
    .rdrEndEdge {
      background-color: var(--secondary-main);
      border-radius: unset;
    }

    .rdrMonthName {
      display: flex;
      justify-content: center;
      display: none;
    }

    .rdrFooter {
      padding: rem(15px) 0;
      text-align: center;
    }
  }
}