@import '../../common/scss/base';

.travelling-reason-dropdown, .pay-mode-dropdown {
  display: inline-flex;

  .bw-popover {
    &__content {
      margin-top: rem(20px);
    }
  }

  .skyplus-dropdown-popover {
    padding: rem(10px) 0;
    min-width: rem(150px);
  }

  &__item {
    padding: 0 rem(16px) 0 rem(32px);

    input {
      width: 0;
    }
  }
}
