// @import '../../index';

.slider-skyplus-mf {
  position: fixed;
  inset: 0;
  overflow: auto;
  
  @include media('>=desktop') {
    background: var(--other-overlay-gradient);
  }

  .slider-main-content-wrapper {
    position: absolute;
    height: 100%;
    transform: translate(0, 100%);
    right: 0;
    background-color: var(--white);

    @include media('>=desktop') {
      transform: translate(100%, 0);
    }

    &.slide-now {
      transform: translate(0, 0);
      width: 100%;

      @include media('>=desktop') {
        width: rem(480px);
      }
    }
  }
}
