@import '../../../../styles/main';

.assistance-slider-container {
  .assistance-header {
      margin-top: rem(20);
  
      .assistance-title {
        font-size: rem(20);
        color: var(--text-tertiary-dark);
        font-weight: 400;
      }
  
      .assistance-subTitle {
        font-size: rem(24);
        letter-spacing: rem(-0.6);
        font-weight: 500;
        font-family: var(--font-family-bauhuas-std-medium);
        color: var(--text-primary);
        margin-top: rem(8);
  
        span {
          color: var(--accent-dark);
        }
      }
  }

  .readAllWrapper {
    margin-top: rem(24);
    font-size: rem(14);
    color: var(--text-primary);
    font-weight: 500;

    button {
      border: none;
      background: transparent;
      cursor: pointer;
      text-decoration: underline;
      font-size: rem(14);
      color: var(--primary-main);
      font-weight: 500;
    }
  }
}