.visa-plan-main-container {
  display: flex;
  align-items: flex-start;

  @include media('>=desktop') {
    padding: rem(10px);
  }

  &__left-nav {
    display: none;

    @include media('>=desktop') {
      position: sticky;
      top: rem(90px);
      display: flex;
      width: calc(34% - 16px);
      align-items: center;
      justify-content: flex-start;
      background: var(--white);
      font-family: var(--font-family-poppins-regular);
      font-size: rem(14px);
      font-weight: 400;
      line-height: rem(20px);
      color: var(--text-primary);
      padding: rem(20px);
      margin-right: rem(24px);
      border-radius: rem(16px);
    }

    ul {
      flex: auto;

      li {
        padding: rem(22px) 0;
        cursor: pointer;
        border-bottom: none;
        background-image: repeating-linear-gradient(to right,
            var(--action-disabled-stroke),
            var(--action-disabled-stroke) rem(4px),
            transparent rem(4px),
            transparent rem(8px));
        background-position: bottom;
        background-size: 100% rem(1px);
        background-repeat: no-repeat;
      }

      li:last-child {
        border-bottom: none;
      }

      li.active {
        font-weight: 600;
        line-height: rem(24px);
      }
    }
  }

  .visa-plan-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media('>=desktop') {
      width: 66%;
    }

    &__visa-application {
      font-family: var(--font-family-bauhuas-std-medium);
      font-size: rem(20px);
      font-weight: 500;
      padding-bottom: rem(12px);

      @include media('>=desktop') {
        font-size: rem(24px);
        padding-bottom: rem(16px);
      }

      .doc-heading {
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(20px);
        line-height: rem(28px);
        font-weight: 500;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;

        @include media('>=desktop') {
          font-size: rem(32px);
          line-height: rem(44px);
          color: var(--action-active);
        }

        .text-green {
          margin-right: rem(4px);
        }
      }
    }

    &__visa-image {
      img {
        width: 100%;
        height: rem(180px);
        border-radius: rem(12px);
      }

      margin-bottom: rem(15px);
    }

    &__info {
      display: flex;
      align-items: center;
      font-family: var(--font-family-poppins-light);
      font-size: rem(14px);
      font-weight: 400;
      line-height: rem(20px);
      color: var(--text-secondary);
      background: var(--system-warning-light);
      border-radius: rem(12px);
      border: rem(1px) solid var(--system-warning);
      padding: rem(16px);
      margin-bottom: rem(16px);

      p {
        padding-left: rem(12px);
      }
    }

    &-srp {
      display: flex;
      flex-direction: column;
      gap: rem(24px);
      padding: rem(8px);
      background: var(--white);
      border-radius: rem(12px);
      margin-bottom: rem(24px);
      box-shadow: 0 0 rem(12px) 0 rgb(76 93 158 / 7.8%);

      @include media('>=tablet') {
        padding: rem(24px);
      }

      &-upper {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        gap: rem(12px);
        overflow-x: auto;
        max-width: 100%;

        @include media('>=tablet') {
          display: grid;
          grid-template-columns: repeat(2, 1fr) auto;
          justify-items: start;
          gap: rem(10px);
        }

        &__main {
          gap: rem(12px);
          display: flex;
        }

        &__item {
          flex: 0 0 auto;
          text-align: center;

          .chips-bg {
            background-color: var(--bg-light-gray);

            .chips-text {
              display: flex;

              .journey {
                color: var(--text-secondary);
                font-weight: 600;
              }
            }
          }

          @include media('>=tablet') {
            width: max-content;
          }

          .item-visa {
            display: block;
            border: rem(1px) solid var(--chip-border);
            border-radius: rem(32px);

            @include media('>=tablet') {
              display: block;
            }
          }

          .currency {
            display: none;

            @include media('>=tablet') {
              display: block;
              color: var(--primary-main);
              font-size: rem(24px);
              font-weight: 500;
              line-height: rem(32px);
            }
          }
        }

        .item-right {
          display: flex;
          gap: rem(40px);

          @include media('>=tablet') {
            display: flex;
            place-self: center end;
            gap: rem(40px);
          }         

          &__child-price,
          &__adult-price {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: rem(4px);

            .text,
            .tax {
              font-family: var(--font-family-poppins-regular);
              font-size: rem(12px);
              font-weight: 400;
              color: var(--text-tertiary);
            }

            .text {
              line-height: rem(16px);
            }

            .tax {
              line-height: rem(18px);
            }

            .curr {
              font-family: var(--font-family-poppins-regular);
              font-size: rem(16px);
              font-weight: 600;
              line-height: rem(24px);
              color: var(--primary-main);
            }
          }
        }
      }

      &-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include media('>=tablet') {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
        }

        &__item {
          padding: rem(8px);
          border: rem(1px) solid var(--text-alice-blue);

          .srp-label-text {
            color: var(--text-secondary);
            font-family: var(--font-family-poppins-light);
            font-size: rem(16px);
            font-weight: 400;
            line-height: rem(24px);
          }

          .validity {
            color: var(--text-secondary);
            font-family: var(--font-family-poppins-regular);
            font-size: rem(14px);
            font-weight: 600;
            line-height: rem(24px);
          }
        }

        .one {
          border-radius: rem(12px) rem(0px) rem(0px);
          border-right: none;
          border-bottom: none;

          @include media('>=tablet') {
            border-radius: rem(12px) rem(0px) rem(0px) rem(12px);
            border-right: none;
            border-bottom: rem(1px) solid var(--text-alice-blue);
          }
        }

        .two {
          border-radius: 0 rem(12px) rem(0px) rem(0px);
          border-bottom: none;

          @include media('>=tablet') {
            border-radius: rem(0px);
            border-right: none;
            border-bottom: rem(1px) solid var(--text-alice-blue);
          }
        }

        .third {
          border-radius: rem(0px) rem(0px) rem(0px) rem(12px);
          border-right: none;

          @include media('>=tablet') {
            border-radius: rem(0px);
            border-right: none;
          }
        }

        .fourth {
          border-radius: rem(0px) rem(0px) rem(12px);

          @include media('>=tablet') {
            border-radius: rem(0px) rem(12px) rem(12px) rem(0px);
          }
        }
      }
    }

    &__visa-plan-card {
      width: 100%;
      font-family: var(--font-family-poppins-regular);
      color: var(--text-primary);
      background: var(--white);
      padding: rem(16px) rem(20px);
      margin-bottom: rem(40px);
      box-shadow: 0 0 rem(12px) 0 rgb(76 93 158 / 7.8%);

      @include media('>=desktop') {
        border-radius: rem(12px);
        margin-bottom: rem(24px);
        padding: rem(20px);
      }

      .visa-shedlue-heading {
        padding-bottom: rem(12px);

        .timing-heading {
          font-size: rem(16px);
          font-weight: 600;
          line-height: rem(24px);
          padding-bottom: rem(12px);
          display: flex;
          justify-content: start;

          @include media('>=desktop') {
            justify-content: end;
          }
        }
      }

      .doc-heading {
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(20px);
        line-height: rem(24px);
        font-weight: 500;
        color: var(--text-secondary);

        @include media('>=desktop') {
          font-size: rem(24px);
          padding-bottom: rem(16px);
          line-height: rem(32px);
        }

        .first-doc-heading {
          color: var(--text-green);
        }
      }

      .doc-file-name {
        font-family: var(--font-family-poppins-light);
        font-weight: 600;
        font-size: rem(16px);
        line-height: rem(24px);
        padding-top: rem(12px);
        padding-bottom: rem(12px);
        color: var(--text-primary);
      }

      .document-require-contain {
        padding-left: rem(18px);
      }

      .important-info-contain {
        padding-left: rem(11px);
      }

      div {
        ul {
          padding-left: rem(24px);
          color: var(--text-secondary);

          li {
            font-weight: 400;
            font-size: rem(14px);
            list-style: disc;
            padding-bottom: rem(12px);
            line-height: rem(20px);
          }
        }
      }
    }
  }
}