.visa-select-country {
  width: 100%;
  padding: 0;
  border-radius: rem(12px) rem(12px) 0 0;
  @include media('>=tablet') {
    border-radius: rem(8px);
  }
  .popup-modal-global {
    width: 100%;
    &__header {
      &__title {
        font-size: rem(24px);
        line-height: rem(36px);
        font-family: var(--font-family-bauhuas-std-medium);
        padding-top: rem(14px);
        @include media('>=tablet') {
          font-size: rem(32px);
          line-height: rem(44px);
          padding-top: rem(14px);
        }
      }
    }
    &__close-overlay-button {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: rem(270px);
      position: absolute;
      left: 50%;
      background:var(--white);
      border-radius: 50%;
      width: rem(40px);
      height: rem(40px);
      color: var(--text-primary);
      cursor: pointer;
      @include media('>=tablet') {
        background: transparent;
        border: none;
        line-height: normal;
        margin: rem(0);
        padding: rem(0);
        position: unset;
        width: rem(20px);
        height: rem(20px);
      }
    }
    &__bg-overlay {
      height: 100vh;
    }
  }
  &-popup {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    &-main {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      flex-direction: column;
      margin-top: rem(12px);
      &-title {
        width: 100%;
        height: auto;
        display: inline-flex;
        position: relative;
      }
      &-body {
        &-sub-heading {
          font-size: rem(14px);
          line-height: rem(20px);
          font-family: var(--font-family-poppins-regular);
          font-weight: 400;
          letter-spacing: rem(0);
          margin-bottom: rem(24px);
          color: var(--text-primary);
        }
        &-radio-group {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: var(--font-family-poppins-regular);
          font-size: rem(14px);
          line-height: rem(20px);
          font-weight: 400;
          letter-spacing: rem(0);
          width: rem(220px);
          gap: rem(16px);
          .radio-label {
            padding: 0;
            margin-right: rem(16px);
          }
        }
      }
      
    }
    &-radio-group {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      .visa-service-confirm__radio-group {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        flex-direction: row;
      }
      .radio-label{
        width: max-content;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
      }
    }
  }
  .skyplus-button {
    width: 100%;
    margin-top: rem(32px);
    margin-bottom: 0;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: rem(28px);
      cursor: pointer;    
      width: 100%;
      padding: rem(16px) rem(24px);
      margin: 0;
      background-color: var(--btn-disabled-background);
      color: var(--white);
      &.continue-btn {
        margin-bottom: 0;
      }
      &.active {
        background: var(--primary-main);
        color: var(--action-active-background);
        opacity: 1;
      }
    }
  }
  &.vs-unavailable {
    .popup-modal-global {
      &__header {
        height: auto !important;
        &__title {
          text-align: center;
        }
      }
    }
  }
}
.popup-modal-global__bg-overlay {
  align-items: flex-end;
  @include media('>=tablet') {
    align-items: center;
  }
}