@import '../../index';

.flight-details {
  border-radius: rem(8px);
  overflow: hidden;
  border: 1px solid var(--bs-light-border-subtle);
  margin-bottom: rem(16px);

  .skyplus-chip--next {
    padding: rem(4px) rem(12px);
  }

  .stretch-wrapper{
    padding: rem(12px);
    &__label {
      font-family: var(--bs-font-sans-serif);
      font-weight: 400;
      font-size: rem(10px);
      line-height: rem(16px);
      letter-spacing: 0;
    }

    &__flight-detail {
      font-family: var(--font-family-poppins-medium);
      font-weight: 500;
      font-size: rem(16px);
      line-height: rem(24px);
      letter-spacing: 0;
      vertical-align: middle;
    }

    &__flight-desc {
      font-family: var(--bs-font-sans-serif);
      font-weight: 400;
      font-size: rem(12px);
      line-height: rem(18px);
      letter-spacing: 0;
      color: var(--text-secondary);

    }
  }

  &__header {
    font-size: rem(14px);
  }

  &__body {
    font-size: rem(12px);

    h6 {
      font-size: rem(14px);
    }
  }

  .sky-icons.sm {
    &::before {
      font-size: rem(13px);
    }
  }

  .icon-info-filled {
    &::before {
      color: var(--text-secondary);
    }
  }

  .skyplus-accordion {
    margin-top: rem(4px);
    border: 1px solid var(--secondary-deep);
    box-shadow: none;
    &__body {
      padding: rem(0) rem(16px) rem(10px);
    }
    &__header {
      padding: rem(10px) rem(16px);
      &--active {
        background-color: var(--white);
      }
      &-left {
        display: none;
      }
      &-name {
        font-size: rem(14px);
        font-weight: 600;
        line-height: rem(20px);
        letter-spacing: 0;
        color: var(--primary-main);
        font-family: var(--font-family-poppins-semibold);
      }
    }
    &__icon {
      font-size: rem(24px);
      font-weight: 300 !important;
    }
  }

  .accordion-body-content {
    display: flex;
    justify-content: space-between;
    &__style {
      font-family: var(--font-family-poppins-light);
      font-weight: 300;
      font-size: rem(12px);
      line-height: rem(20px);
      letter-spacing: 0;
      vertical-align: middle;
      color: var(--text-secondary);
    }
    &__time {
      text-align: center;
    }
    &__segment-container {
      display: flex;
      align-items: center;
      flex: 1;
      margin: 0 rem(8px);
    }
    &__hr {
      border: 1px dotted var(--secondary-main);
      flex: 1;
      margin: 0 rem(1px);
    }
    &-flight-icon {
      color: get-color(secondary-main);
      transform: rotate(45deg);
      &::before {
        font-size: rem(10px);
      }
    }
    &__dot {
      border: 1px solid var(--secondary-main);
      border-radius: 50%;
      height: rem(6px);
      width: rem(6px);
    }
  }
}