@import '../../index';
$font-family-regular: var(--font-family-poppins-regular);

.trip-slider-pax {
    margin: rem(16px) 0 rem(24px);
    border: 1px solid var(--bs-light-border-subtle);
    background: white;
    border-radius: rem(10px);
    transition: transform 500ms ease 0s;

    &__title-container {
        margin: rem(16px) rem(16px) rem(8px);
        align-items: center;

        &--expanded {
            border-bottom: 1px dotted var(--other-divider);
            padding-bottom: rem(8px);

            .arrowIcon {
                transform: rotate(180deg);
            }
        }

        @include media('>=desktop') {
            padding-bottom: rem(16px);
        }

        display: flex;

        .heading {
            flex: 1;
        }
    }

    &-item {
        height: rem(38px);
        display: flex;
        gap: rem(12px);
        align-items: center;

        &-container {
            padding: rem(16px);
            gap: rem(16px);
            display: flex;
            flex-direction: column;
        }

        &__avatar {
            border-radius: 50%;
            background-color: var(--secondary-main);
            color: var(--primary-main);
            font-size: 16px;
            font-weight: 400;
            height: rem(36px);
            width: rem(36px);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__namebox {
            display: flex;
            flex-direction: column; 
        }

        .infant {
            font-family: $font-family-regular;
            font-size: rem(12px);
            font-weight: 400;
            line-height: rem(18px);

            .icon-link {
              width: rem(14px);
              height: rem(14px);
              margin-right: rem(2px);
            }
          }

    }
}