.signup {
  &__email-input-field {
    .design-system-phone-component.w-100.ms-md-8 {
      margin: 0 !important;
    }
  }

  &__checkbox-conditions {
    display: flex;
    margin-bottom: rem(10px);

    p {
      font-family: var(--font-family-poppins-regular);
      font-size: rem(12px);
      line-height: rem(18px);
      margin-left: rem(12px);

      a {
        font-size: rem(14px);
        font-weight: 500;
        line-height: rem(20px);
        color: #24409a;
        text-decoration: underline;
      }
    }
  }

  &__fullname {
    display: block;

    @include media('>=tablet') {
      display: flex;
    }
  }

  &__left-input {
    padding-bottom: 0 !important;

    @include media('>=tablet') {
      margin-right: rem(8px);
    }
  }

  &__radio-btn {
    margin-bottom: rem(4px);
    font-family: var(--font-family-poppins-regular);

    label {
      margin-right: rem(30px);
      font-size: rem(14px);
    }

    .radio-label {
      color: #4b5772;
    }
  }

  &__continue-button {
    margin-top: rem(20px);

    button {
      padding: rem(16px) rem(0px);
      border-radius: rem(28px);
    }
  }

  &_createPassword {
    &_popup {
      .login-form-V2 {
        &__lower {
          display: none;
        }
      }
    }
  }
}
