.initiate-refund {
  .passenger_details_container {
    background-color: var(--white);
    box-shadow: 0 0 rem(28px) rem(16px) rgba(76, 93, 158, 0.04);
    padding: rem(12px);

    @include media('>=tablet') {
      padding: rem(24px) rem(16px);
    }

    .passenger-details-form {
      gap: rem(12px);
      margin-bottom: rem(20px);
  
      @include media('>=tablet') {
        gap: rem(28px);
      }
  
      & > div {
        flex: 1;
        min-width: auto;
      }
  
      .popover__wrapper{
        pointer-events: none;
  
        .selected-country-box-wrapper {
          padding: rem(10px);
        }
      }
    }
  
    .passenger-details-form {
      display: flex;
      flex-direction: column;
  
      @include media('>=tablet') {
        flex-direction: row;
      }
    }
  
    .bank-details-form {
      &__section {
        display: flex;
        gap: rem(12px);
        flex-direction: column;
  
        @include media('>=tablet') {
          flex-direction: row;
          gap: rem(28px);
        }
  
        & > section,
        & > div {
          flex: 1;
        }
  
        &:first-child {
          margin-bottom: rem(12px);
          @include media('>=tablet') {
            margin-bottom: rem(28px);
          }
        }
      }
  
      button {
        margin-top: rem(32px);
      }
  
      .account-type-dropdown {
        position: relative;
  
        .popover__content {
          display: none;
          z-index: 9;
        }
  
        &.focused {
          .popover__content {
            display: block;
          }
        }
  
        .icon {
          position: absolute;
          right: rem(12px);
          top: rem(13px);
        }
  
        .popover__content {
          position: absolute;
          width: rem(165px);
          right: 0;
          border-radius: rem(12px);
          overflow: hidden;
          margin-top: rem(12px);
          box-shadow: 0 0 rem(32px) rem(2px) rgba(76, 93, 158, 0.12);
        }
  
        &__item {
          padding: rem(12px) rem(16px);
          color: var(--text-primary);
          font-size: rem(14px);
          font-family: var(--font-family-poppins-regular);
          background-color: var(--white)
        }
        .account-type-dropdown__item {
          &:not(:first-child) {
            cursor: pointer;
            &:hover {
              background-color: var(--secondary-light);
              color: var(--primary-main);
            }
          }
  
          &:first-child {
            color: var(--text-tertiary);
            text-transform: uppercase;
            pointer-events: none;
          }
        }
      }
  
      .file-uploader {
        position: relative;
  
        input {
          opacity: 0;
        }
  
        .info-msg {
          color: var(--text-tertiary);
          font-size: rem(12px);
          font-family: var(--font-family-poppins-regular);
          gap: rem(8px);
          display: flex;
          align-items: center;
        }
  
        .custom-input {
          position: absolute;
          top: 0;
          left: 0;
          border: rem(1px) solid $light-white;
          width: 100%;
          border-radius: rem(8px);
          padding: rem(12px) rem(8px);
          height: rem(41px);
          line-height: 1;
          color: var(--text-primary);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          span {
            color: var(--text-tertiary);
            font-size: rem(12px);
            font-family: var(--font-family-poppins-regular);
          }
  
          i::before {
            color: var(--primary-main);
          }
        }
      }
    }
  
    .customer-consent-checkbox {
      margin-top: rem(20px);
  
      @include media('>=tablet') {
        margin-top: rem(32px);
      }
  
      label {
        color: var(--text-primary);
        font-size: rem(14px);
        font-family: var(--font-family-poppins-regular);
        padding-left: rem(36px);
  
        @include media('>=tablet') {
          padding-left: 0;
        }
  
        &::before {
          position: absolute;
          left: 0;
          top: 0;
          min-width: rem(24px);
  
          @include media('>=tablet') {
            position: relative;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}