.skyplus-heading {
  color: var(--text-primary);
}

.my-bookings__card-title {
  font-family: var(--font-family-bauhuas-std-medium);
  font-size: rem(16px);
  line-height: rem(20px);
  letter-spacing: rem(-0.4px);

  @include media('>=tablet') {
    font-family: var(--font-family-bauhuas-std-medium);
    font-size: rem(20px);
    line-height: rem(24px);
    letter-spacing: rem(-0.6px);
  }
}