$font-family-default: var(--font-family-poppins-regular);

$color-box-shadow-1: #4c5d9e14;
$color-gray75: #bfbfbf;
$color-light-cyan-2: rgba(0, 174, 229, 0.2);
$color-light-cyan-3: rgba(0, 174, 229, 0.3);

.m-r-8 {
  margin-right: rem(8px);
}

// Display Block only on mobile and above
.d-n-m {
  display: none;

  @include media('>=desktop') {
    display: block;
  }
}

.z-1000 {
  z-index: 1000;
}

.cursor-default {
  cursor: default !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.fs-14 {
  font-size: rem(14px) !important;
}

.journey-pill {
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    height: 1px;
    border-bottom: 1px dotted;
    display: inline-block;
    width: rem(24px);
    order: 2;
    margin: rem(8px);
    max-width: rem(48px);
  }

  span {
    font-size: rem(14px);

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }
  }
}

.journey-pill.single {
  &::after {
    width: rem(48px);
  }
}

.disabled-icon {
  opacity: 0.5;
  pointer-events: none;
}

.f-bauhuas {
  font-family: var(--font-family-bauhuas-std-medium) !important;
}

$colors: (
  'primary-main': #009,
  'white': #fff,
  'secondary-main': #afe4ff,
  'secondary-light': #eaf8ff,
  'secondary-medium': #d1efff,
  'secondary-deep': #e2ebf2,
  'secondary-bright': #00aee5,
  'secondary-white': #fff,
  'accent-main': #7fd287,
  'accent-light': #f1fbf5,
  'accent-dark': #209326,
  'text-primary': #25304b,
  'text-secondary': #4b5772,
  'text-tertiary': #7a85a0,
  'text-disabled': #9ba4b8,
  'action-active': #25304b,
  'action-active-stroke': #9cd9ff,
  'action-active-background': #fff,
  'action-selected-text': #009,
  'action-selected-stroke': #9cd9ff,
  'action-selected-background': #eaf8ff,
  'action-disabled-text': #9ba4b8,
  'action-disabled-stroke': #d7e1e9,
  'action-disabled-background': #fff,
  'action-focus-text': #009,
  'btn-active': #fff,
  'btn-active-background': #009,
  'btn-disabled': #fff,
  'btn-disabled-background': #bcc2cf,
  'btn-disabled-background-light': #ebecee,
  'btn-link': #009,
  'sel-con-active-text': #25304b,
  'sel-con-active-stroke': #009,
  'sel-con-active-background': #fff,
  'sel-con-selected-text': #25304b,
  'sel-con-selected-stroke': #fff,
  'sel-con-selected-background': #009,
  'sel-con-disabled-text': #9ba4b8,
  'sel-con-disabled-stroke': #9ba4b8,
  'sel-con-disabled-background': #fff,
  'sel-con-toggle-active': #9ba4b8,
  'sel-con-toggle-selected': #009,
  'system-error': #c3272e,
  'system-error-light': #f4dedf,
  'system-warning': #a97d0e,
  'system-warning-light': #fff8e5,
  'system-warning-bright': #ffbd12,
  'system-success': #218946,
  'system-success-light': #f0fff6,
  'system-information': #348dc4,
  'system-information-light': #eaf8ff,
  'other-divider': #7a85a0,
  'other-border': #9ba4b8,
  'other-disabled-border': #cdd1db,
);

@each $color, $value in $colors {
  .text-#{$color} {
    color: $value !important;
  }
}
