@import '../../index';

.seat-select-popover {
  width: rem(160px);
  max-width: rem(144px);
  height: auto;
  background: var(--white);
  border: rem(0.2px) solid var(--secondary-main);
  border-radius: rem(8px);
  box-shadow: var(--box-shadow-card-soft);
  padding: rem(8px) rem(12px);
  display: flex;
  flex-direction: column;
  grid-row-gap: rem(8px);
  position: absolute;
  z-index: 999999;

  &.female-occupied{
    max-width: rem(140px);
  }

  p {
    margin: 0;
  }

  .xlSeatFreeMealLabel{
    width: rem(140px);
    @include media('>=desktop'){
      width: rem(155px);
    }
    max-width: rem(155px);
    height: auto;
    background: var(--accent-dark);
    border: transparent;
    border-radius: rem(8px) rem(8px) 0  0;
    padding: rem(4px) rem(10px) rem(12px);
    display: flex;
    position: absolute;
    top: -24px;
    left: 2px;
    color: white;
    z-index: 0;
        p {
          font-size: rem(12px);
          font-weight: 400;
          letter-spacing: 0;
          line-height: rem(18px);
        }
    }
    .xlSeatFreeMealBordertop{
      width: rem(144px);
    @include media('>=desktop'){
      width: rem(158px);
    }
    max-width: rem(158px);
    height: rem(16px);
    background: var(--white);
    border-top: rem(0.2px) solid var(--secondary-main);
    border-radius: rem(8px);
    position: absolute;
    top: 0;
    left: 0;
    }

  @include media('>=desktop') {
    max-width: rem(171px);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    >.passenger-name {
      margin: 0;
      font-size: rem(12px);
      font-weight: 400;
      letter-spacing: 0;
      line-height: rem(18px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include media('>=desktop') {
        font-size: rem(14px);
        line-height: rem(20px);
      }

    }

    >.close-icon {
      cursor: pointer;
      font-weight: 900;

      &::before {
        font-size: rem(12px);

        @include media('>=desktop') {
          font-size: rem(16px);
        }
      }
    }
  }

  &__description {
    font-size: rem(10px);
    font-weight: 400;
    line-height: rem(16px);
    letter-spacing: 0;
    color: var(--text-tertiary-c);

    @include media('>=desktop') {
      font-size: rem(12px);
    }
  }

  &__img--container {
    max-width: rem(121px);
    height: rem(94px);
    border-radius: rem(8px);
    position: relative;

    @include media('>=desktop') {
      max-width: rem(139px)
    }


    .seat-details-selected {
      position: absolute;
      top: rem(4px);
      left: rem(4px);

      @include media('>=desktop') {
        top: rem(8px);
        left: rem(8px);
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: rem(8px);
    }
  }

  &__fare--details {
    display: grid;
    grid-template-areas:
      "discountedPrice  addIcon"
      "price  addIcon"
      "discountedPricePercentage addIcon";
    align-items: center;
    justify-content: space-between;

    .discountedPrice {
      grid-area: discountedPrice;
      font-size: rem(12px);
      font-weight: 500;
      line-height: rem(18px);
      letter-spacing: 0;

      @include media('>=desktop') {
        font-size: rem(14px);
        line-height: rem(20px);
      }
    }

    .discountedPricePercentage {
      grid-area: discountedPricePercentage;
      color: var(--system-information);
      border-radius: rem(12);
      border: rem(1) solid var(--system-information);
      background: var(--system-information-light);
    }
    
    .price {
      grid-area: price;
      font-size: rem(10px);
      font-weight: 400;
      line-height: rem(18px);
      letter-spacing: 0;
      text-decoration: line-through;
      color: var(--text-disabled);

      @include media('>=desktop') {
        font-size: rem(12px);
      }
    }

    .add-icon-wrapper {
      grid-area: addIcon;

      >button {
        padding: rem(9px);
        border-radius: 50%;
        width: rem(28px);
        height: rem(28px);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          &::before {
            font-size: rem(12px);

            @include media('>=desktop') {
              font-size: rem(14px);
            }
          }
        }

        @include media('>=desktop') {
          padding: rem(11px);
          width: rem(36px);
          height: rem(36px);
        }
      }
    }
  }
}