@import '../../index';

.cockpit {
  width: rem(250px);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: rem(24px);
  gap: rem(12px);

  &.big {
    width: rem(350px);
  }

  &.small {
    width: rem(180px);
  }
}

.preview .cockpit {
  height: calc(100% - 1px);
  position: relative;

  img {
    transform: scaleX(0.8);
  }

  &::after {
    content: "";
    position: absolute;
    width: rem(32px);
    height: 100%;
    background-color: #edf7fd;
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}
