.print-baggage-information {
	border: rem(1px) solid get-color("color-text-primary");
	padding: rem(10px) rem(20px);
	display: flex;
	flex-direction: column;
	border-radius: rem(8px);
	width: 100%;
	position: relative;
	box-sizing: border-box;
	@include media(">=1024px") {
		padding: rem(20px) rem(20px);
	}

	&__heading {
		width: 100%;
		font-size: rem(20px);
		font-weight: 700;
		margin-bottom: rem(20px);
		display: flex;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;

		@include media(">=1024px") {
			flex-direction: row;
		}
	}

	&__baggage-table {
		padding: rem(10px) rem(0px);
		width: 100%;

		&__heading {
			font-weight: bold;
			text-align: left;
		}

		&__sector {
			font-weight: bold;
		}
	}

	&__disclaimer {
		font-size: rem(12px);
		font-weight: 600;
		margin: rem(10px) 0;
		width: 100%;
		color: get-color("color-text-primary");

		p {
			font-size: rem(12px);
			line-height: rem(18px);
			color: get-color("color-text-primary");
		}
	}
}