.loyalty-enroll-popup-content {
  width: 100%;
  font-family: var(--font-family-poppins-regular);

  &,
  &>ul {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
  }

  @include media('>=tablet') {
    gap: rem(24px);

    &>ul:not(.loyalty-enroll-popup-content--nominee-list) {
      margin-bottom: rem(88px);
    }

    &>ul.loyalty-enroll-popup-content--nominee-list {
      margin-bottom: rem(46px);
    }
  }

  &>p {
    margin: 0;
    padding: 0;
    font-size: rem(12px);
    line-height: rem(24px);
    font-weight: 400;
    color: var(--text-secondary);
    
    @include media('>=tablet') {
      font-size: rem(16px);
    }
  }

  &>ul:not(.loyalty-enroll-popup-content--nominee-list)>li {
    font-size: rem(12px);
    line-height: rem(20px);
    font-weight: 400;
    color: var(--text-secondary);

    @include media('>=tablet') {
      font-size: rem(14px);
    }
  }

  &>ul.loyalty-enroll-popup-content--nominee-list {
    gap: rem(16px);

    &>li {
      font-size: rem(14px);
      font-weight: 400;
      line-height: rem(20px);
      color: var(--text-primary);
      padding: rem(12px) rem(8px);
      border-radius: rem(8px);
      
      @include media('>=tablet') {
        padding: rem(12px) rem(16px);
      }
      
      >.icon-Child-filled, >.icon-adult-filled {
        padding: 0 rem(8.5px);
        margin-right: rem(12px);
        vertical-align: middle;
      }
    }
  }

  &--nominee-list {
    gap: 12px;
  }

  &--img-container {
    min-width: rem(150px);
    width: 100%;
    min-height: rem(102px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(24px) 0;

    &--img-gif {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: rem(150px);
      height: auto;
      max-height: rem(102px);
    }
  }

  >.button-contianer {
    display: flex;
    gap: rem(24px);
    padding-top: 16px;
    margin: auto;
    width: 100%;
    justify-content: center;

    .skyplus-button{
      &:not(:only-child) {
        flex: 1;
      }

      @include media('>=tablet') {
        flex: 1;
      }

      > button {
        padding: rem(12px) rem(32px);
        border-radius: rem(22px);
        font-size: rem(14px);
        font-weight: 500;
        line-height: rem(20px);
        text-align: center;
        cursor: pointer;
  
        @include media('>=tablet') {
          padding: rem(16px) rem(56px);
          border-radius: rem(28px);
          font-size: rem(16px);
          line-height: rem(24px);
        }
      }
    }
  }
}