@import '../../../styles/utils/utils';


.pointsplitup-container {
  padding: rem(16) !important;
  border-radius: rem(12);
  background: var(--white);
  box-shadow: 0 0 rem(12) 0 rgba(76, 93, 158, 0.08);
  margin-bottom: rem(10);
  display: flex;
  flex-direction: column;
  gap: rem(12);

  @include media('>=tablet') {
    gap: rem(16);
    padding: rem(24) !important;
  }

  &__heading {
    color: var(--text-primary);
    font-family: var(--font-family-poppins-semibold);
    font-size: rem(14);
    line-height: rem(24);

    @include media('>=tablet') {
      font-size: rem(20);
    }
  }


  &__chip-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(8);
    column-gap: rem(32);

    &__chip {
      font-size: rem(12);
      line-height: rem(18);

      @include media('>=tablet') {
        font-size: rem(16);
      }

      &__label {
        color: var(--text-secondary);
        font-family: var(--font-family-poppins-medium);
      }

      &__value {
        color: var(--accent-dark);
        font-family: var(--font-family-poppins-semibold);
      }
    }
  }

  // &__fare-breakage {
  //   font-size: rem(12);
  //   color: var(--text-primary);
  //   line-height: rem(24);

  //   @include media('>=tablet') {
  //     font-size: rem(14);
  //   }

  //   &__label {
  //     font-family: var(--font-family-poppins-light);
  //   }

  //   &__value {
  //     font-family: var(--font-family-poppins-medium);
  //     letter-spacing: rem(-0.6);
  //   }
  // }

  &__details-wrapper {
    padding: rem(20) !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: rem(8);
    gap: rem(12);
    background: linear-gradient(180deg, var(--secondary-light) -58.33%, var(--secondary-main) 156.94%);

    @include media('>=tablet') {
      padding: rem(24) !important;
      gap: rem(20);
    }

    &__common-label {
      color: var(--text-secondary);
      font-family: var(--font-family-poppins-light);
      font-size: rem(12);
      line-height: rem(20);
      text-transform: uppercase;

      @include media('>=tablet') {
        font-size: rem(14);
      }
    }

    &__dotted-line {
      border: none;
      border-top: rem(1) dotted var(--other-border);
      width: 100%;
      margin: 0;
    }

    &__fare-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: rem(4);
      align-self: stretch;

      @include media('>=tablet') {
        gap: rem(12);
      }

      &__value {
        color: var(--text-primary);
        font-size: rem(12);
        font-family: var(--font-family-poppins-regular);
        line-height: rem(24);

        @include media('>=tablet') {
          font-size: rem(16);
        }

        span {
          font-family: var(--font-family-poppins-semibold);
        }
      }
    }

    &__notConfirmed-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: rem(8);

      @include media('>=tablet') {
        gap: rem(12);
      }

      &__input-button-wrapper {
        display: flex;
        gap: rem(12);
        flex-direction: column;
        align-items: space-between;

        @include media('>=tablet') {
          flex-direction: row;
          justify-content: space-around;
        }

        &__input-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: rem(8);

          &__input-with-type {
            display: flex;
            align-items: center;
            gap: rem(8);

            &__input-type {
              color: var(--text-primary);
              font-family: var(--font-family-poppins-regular);
              font-size: rem(12);
              line-height: rem(18);

              @include media('>=tablet') {
                font-size: rem(16);
              }
            }

            &__input-wrapper-class {
              display: inline-block;

              &__input-class {
                padding: rem(12) rem(8) !important;
              }
            }

            &__input-wrapper-class.mb-6 {
              margin-bottom: 0 !important;
            }
          }

          &__error-msg {
            color: var(--system-error);
          }


          &__input-label {
            color: var(--text-secondary);
            font-family: var(--font-family-poppins-medium);
            font-size: rem(12);
            line-height: rem(20);
            text-transform: capitalize;
            margin-bottom: rem(12) !important;

            @include media('>=tablet') {
              font-size: rem(14);
            }
          }

          &__input-button-wrapper {
            margin-bottom: rem(4) !important;
            display: flex;
            justify-content: space-between;

            @include media('>=tablet') {
              margin-bottom: rem(8) !important;
            }
          }
        }

        &__confirm-button {
          width: 100%;
          align-self: end;
          font-family: var(--font-family-poppins-medium);
          white-space: nowrap;

          @include media('>=tablet') {
            width: fit-content;
          }

          button {
            padding: rem(6) rem(12) !important;
            @include media('>=tablet') {
              padding: rem(8) rem(32) !important;
            }
          }
        }
      }

    }

    &__confirmed-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: rem(8);

      @include media('>=tablet') {
        gap: rem(12);
      }

      &__updated-and-button {
        display: flex;
        flex-direction: column;
        gap: rem(8);

        @include media('>=tablet') {
          flex-direction: row;
          gap: rem(24);
        }
      }
    }

    .price-modify-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: rem(12);

      @include media('>=tablet') {
        row-gap: rem(20);
      }

      &__modify-button {
        color: var(--primary-main);
        outline: none;
        border: none;
        display: flex;
        align-items: center;

        @include media('>=tablet') {
          align-self: flex-end;
        }

        &__link-variation {
          background: none;
          padding: 0 !important;
          border: none !important;
          margin: 0 !important;
          cursor: pointer;

          span {
            font-size: rem(14);
            font-family: var(--font-family-poppins-medium);
            text-decoration: underline;
            text-transform: uppercase;
            line-height: rem(15);
          }

          &__icon-custom {
            width: rem(20);
            height: rem(20);
            display: flex;
            align-items: center;
          }

          @include media('>=tablet') {
            font-size: rem(16);
          }
        }
      }
    }

    &__info-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      gap: rem(4);

      @include media('>=tablet') {
        gap: rem(8);
      }

      .detail-icon:before {
        color: var(--text-secondary);
      }

      &__info {
        color: var(--text-secondary);
        font-size: rem(10);
        font-family: var(--font-family-poppins-regular);
        font-style: normal;
        line-height: rem(16);

        @include media('>=tablet') {
          font-size: rem(12);
        }
      }
    }
  }
}