.ad-wrappers {
  margin-top: 0;
  padding: 0 rem(16px);

  .title {
    color: var(--text-tertiary);
    margin: rem(20px) 0;
  }
  gap: rem(12px);
  div:first-child {
    grid-column-start: span 2;
  }

  .a-1 {
    img {
      height: rem(300px);
      width: 100%;
      object-fit: fill;
    }
  }

  .a-2,
  .a-3 {
    img {
      width: 100%;
      height: rem(200px);
      object-fit: fill;
    }
  }
}
