@import '../../../../../styles/utils/utils';

.ff-number {
  cursor: pointer;
  background-color: var(--text-alice-blue);
  border-radius: rem(8);

  &__options-label,
  &__close-icon,
  &__label {
    &-btn,
    &-icon--cta {
      cursor: pointer;
    }
  }

  &__label-btn {
    color: var(--primary-main);
  }

  &__note {
    background-color: var(--text-alice-blue);
  }

  &__label {
    background-color: var(--text-alice-blue);

    &-icon {
      height: rem(16);
      min-width: rem(16);
    }
  }

  .design-system-phone-component div {
    gap: rem(6) !important;
  }

  .design-system-input-field {
    margin-bottom: 0 !important;
    text-align: left;
  }
}

.ff-number-disabled {
  pointer-events: none !important;
  color: var(--text-tertiary) !important;

  &__label {
    background-color: var(--btn-disabled-background-light) !important;

    &-icon {
      height: rem(16);
      min-width: rem(16);
    }
  }

  .design-system-input-field {
    margin-bottom: 0 !important;
    text-align: left;
  }
}