@import '~skyplus-design-system-app/src/common/scss/base';

.hotel-item__card {
  &--image-container {
    overflow: hidden;
    height: rem(150px);

    @include media('>=tablet') {
      height: rem(200px);
    }

    figure {
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  

  &--detail-container {
    &-status{
      .rounded-pill{
        line-height: rem(24);
        padding: rem(2) rem(8) rem(2) rem(2);
        &.status{
          padding: rem(2) rem(8);
        }
      }
    }

    &-details{
      gap: rem(5);
      .ratings-block{
        display: flex;
        align-self: flex-end;
      }
    }

    &-summary {
      background-color: var(--text-alice-blue);
    }

    &-view-booking{
      text-decoration: none;
    }
    
  }
}

.showmore-hotel-items, .hotel-card-last-item{
  padding-bottom: rem(100);
  @include media('>=tablet') {
    padding-bottom: 0;
  }
}
