@import '../../../styles/main';

.login-sso-form-V2 {
  &__upper{
    min-height: auto;
    max-height: 80vh;
    overflow-y: auto;

    @include media('>=tablet') {
      height: auto;
      max-height: 100vh;
    }
  }
}

