@import '../../../styles/main';

.tz-wrapper {
  width: 100%;
  padding: rem(24) !important;
  border-radius: rem(12);
  box-shadow: var(--box-shadow-card-light);
  backdrop-filter: blur(44px);
  font-family: var(--font-family-poppins-regular);

  .tz-assistances-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(28);
    overflow: auto hidden;

    @include media(">=tablet") {
      overflow: unset;
    }

    .assistance-card-wrapper {
      border-radius: rem(8);
      padding: rem(12);
      background: var(--secondary-light);
      max-width: rem(250);
      min-width: rem(250);
      min-height: rem(363.95);

      @include media(">=tablet") {
        border-radius: rem(12);
        padding: rem(16);
        min-width: auto;
        max-width: rem(347);
      }

      .assistance-card-header {

        .assistance-card-title {
          font-weight: 600;
          font-size: rem(14);
          color: var(--text-primary);

          @include media(">=tablet") {
            font-size: rem(20);
          }

          span {
            color: var(--accent-dark);
          }
        }

        .assistance-card-desc {
          font-size: rem(12);
          line-height: rem(18);
          color: var(--text-primary);
          margin-top: rem(8);
        }
      }

      .assistance-benefits-wrapper {
        padding-bottom: rem(16);
        border-bottom: 1px solid var(--Secondary-Main, #AFE4FF);
        margin-top: rem(16);

        .assistance-benefits {

          .assistance-benefit {
            display: flex;
            align-items: center;
            gap: rem(8);
            margin-top: rem(8);

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: rem(21);
              height: rem(21);
              border-radius: rem(24);
              background: var(--white);

              @include media(">=tablet") {
                width: rem(24);
                height: rem(24);
              }


              &::before {
                color: var(--black);
              }
            }

            .assistance-benefit-text {
              font-size: rem(12);
              font-weight: 400;
              color: var(--text-secondary);

              @include media(">=tablet") {
                font-size: rem(14);
              }
            }

            &:first-child {
              margin-top: 0;
            }
          }
        }

        .viewBenefitsButton {
          border: none;
          cursor: pointer;
          font-size: rem(12);
          font-weight: 500;
          text-decoration: underline;
          color: var(--btn-active-background);
          margin-top: rem(16);
          font-family: var(--font-family-poppins-medium);

          .assistance-benefit-text {
            font-size: rem(14);
          }
        }
      }

      .assistance-add-wrapper {
        margin-top: rem(16);
        display: flex;
        justify-content: space-between;

        .assistance-price-wrapper {
          .assistance-add-text {
            font-size: rem(12);
            font-weight: 400;
            color: var(--text-secondary);

            @include media(">=tablet") {
              font-size: rem(14);
            }
          }
          .assistance-price {
              font-size: rem(20);
              font-weight: 600;
              color: var(--accent-dark);
              margin-left: rem(4);

              @include media(">=tablet") {
                font-size: rem(24);
              }
          }
        }

        .assistance-add-btn{
          border: 1px solid var(--white);
          padding: rem(6) rem(12);
          background: var(--primary-main);
          color: var(--white);
          font-size: rem(14);
          font-weight: 500;
          height: rem(36);
          border-radius: rem(20);
          align-self: flex-end;
          cursor: pointer;

          @include media(">=tablet") {
            padding: rem(6) rem(20);
            font-size: rem(16);
          }
        }
      }
      .assistance-term-conditions-wrapper {
        margin-top: rem(8);
        .assistance-term-conditions {
          font-size: rem(12);
          font-weight: 400;
          color: var(--text-disabled);
        }
      }

      &.assistanceAdded {
        background: var(--accent-light);
        border: 1px solid var(--accent-main);

        .assistance-add-wrapper {
          .assistance-add-btn {
            border: 1px solid var(--primary-main);
            background: var(--white);
            color: var(--primary-main);
          }
        }
        .assistance-term-conditions-wrapper {
          .assistance-term-conditions {
            color: var(--text-primary);
          }
        }
      }
    }
  }
}