$baseFontSize: 16;
$baseWhiteColor: #ffffff;

@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context) * 1rem;
}

@function get-color($key: 'primary') {
  @return var(--#{$key});
}

.sh7 {
  font-family: var(--font-family-poppins-semibold);
}

.skyplus-offcanvas__addon-mf {
  .skyplus-offcanvas__contents--body {
    padding: 0 rem(20px) 0;
    margin-bottom: rem(115px);

    @include media('>=tablet') {
      margin-bottom: rem(123px);
    }
  }
}
