.scfallback{
  text-align: center;
  font-family: var(--font-family-poppins-regular);
  color: var(--text-dark-charcoal);
  padding: rem(15px);
  margin: 0 auto;
  display: inline-block;
  
   &_title{
     font-size: rem(16px);
  
   }

   &_content{
     font-size: rem(14px);
     padding: rem(5px) rem(0px) rem(15px);
   }
  
   .skyplus-button--filled{
     margin: rem(15px) auto rem(0) auto;
     width: rem(150px);
   }
 }