
@mixin wrapper {
    color: var(--bs-black);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

@mixin overlay {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

@mixin content {
    border-radius: rem(8px);
    border: rem(1) solid var(--secondary-deep);
}

.design-system-modal-component-wrapper {
    background: transparent;

    @include wrapper;

    .modal-component-overlay {
        background: hsl(0deg 0% 100% / 90%);

        @include overlay;
    }

    .modal-content {
        padding: rem(24);
        background: var(--white);

        @include content;
    }
}

.modal-as-dropdown {
    background: transparent;
    opacity: 1;

    @include wrapper;

    .modal-component-overlay {
        backdrop-filter: blur(4.1px);
        background: #281ea88c;
        position: relative;

        @include overlay;

        .modal-component-cross-icon {
            top: 5rem;

            .cross-icon::before {
                font-size: rem(32px);
                color: var(--white);
            }
        }

        .modal-content {
            padding: 0 rem(24px) rem(24px);
            background: var(--white);
            position: absolute;
            overflow: auto;
            height: 80%;

            @include content;
        }
    }
} 