$black: get-color("gray-2");
$border-color: get-color("border");
$dark-gray-5: get-color("dark-grey-4");

.print-fare-contact {
	width: 100%;
	display: block;
	margin-bottom: rem(30px);
	margin-top: rem(20px);
	position: relative;
	clear: both;
	box-sizing:border-box;

	@include media(">=1024px") {
		padding: 0;
		width: 100%;
	}

	&__content {
		width: 100%;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row;
		box-sizing: border-box;
		max-width: 100%;
		position: relative;
		display: flex;

		&__voucher-price {  
			width: 100%;
			text-align: right;
		}

		&__bold {
			font-weight: bold;
			line-height: rem(24px);
			margin-bottom: rem(8px);

			&.total-fare {
				width: auto;
				color: #25304B;
				font-weight: 500;
				margin-bottom: 0;
			}
		}

		&__gst-list {
			padding-left: 0;
	
			&-value {
				font-weight: bold;
			}
	
			&-label {
				font-size: rem(14px);
			}
	
			&-item {
				padding-bottom: rem(5px);
			}
		}

		&__contact {
			width: 50%;
			display: flex;
			flex-direction: column;

			&__list {
				list-style: none;
				width: 100%;
				margin: 0;
				padding: 0;

				&__list-item {
					width: 100%;
					display: flex;
					flex-direction: row;
					padding-bottom: rem(8px);

					&__data {
						font-size: rem(16px);

						&.large-text {
							text-overflow: ellipsis; 
							display: inline-block; 
							max-width: 100%; 
							width: auto; 
							white-space: nowrap; 
							overflow: hidden; 
						}
					}

					&__align-right {
						// text-align: right;
						font-size: 16px;
						margin-left: rem(12px);
					}

					&--gstItems {
						flex-direction: row;
					}
				}
			}
		}

		&__left {
			width: 50%;
			display: inline-flex;
			position: relative;
			border: rem(1px) solid $black;
			border-radius: rem(8px);
		}

		&__right {
			width: calc(50% - 20px);
			display: inline-flex;
			position: relative;
			margin-left: rem(20px);
			flex-direction: column;

			.contact-section {
				width: 100%;
				display: inline-block;
				position: relative;
				border: rem(1px) solid $black;
				padding: rem(0px);
				border-radius: rem(8px);
				margin-bottom: rem(16px);

				>.print-fare-contact {
					box-sizing: content-box;

					&__content {
						width: 100%;

						&__bold {
							border-radius: rem(8px) rem(8px) 0 0;
							padding: rem(8px) rem(20px);
							background-color: get-color("light-grey-2");
							width: 100%;
						}

						&__contact__list {
							padding: rem(0px) rem(20px);
							width: 100%;
							display: inline-block;
							position: relative;
						}
					}
				}
			}

			.miles-section {
				width: 100%;
				display: inline-block;
				position: relative;
				border: rem(1px) solid $black;
				border-radius: rem(8px);
				margin-bottom: rem(16px);

			}

			.gst-section {
				width: 100%;
				display: inline-block;
				position: relative;
				border: rem(1px) solid $black;
				border-radius: rem(8px);
				margin-bottom: rem(16px);

				.print-fare-contact {
					&__content {
						width: 100%;

						&__bold {
							width: 100%;
							border-radius: rem(8px) rem(8px) 0 0;
							padding: rem(8px) rem(20px);
							background-color: get-color("light-grey-2");
						}

						&__contact__list {
							padding: rem(12px) rem(20px);
						}
					}

					&__gst-list {
						padding: rem(0px) rem(20px) rem(12px) rem(20px);
					}
				}
			}
		}

		&__heading {
			width: 100%;
			font-size: rem(20px);
			font-weight: 700;
			margin-bottom: rem(20px);
			display: flex;
		}

		

		&__gstHeading {
			margin-bottom: rem(20px);
			display: inline-block;
			width: 100%;

			.gst-number {
				color: var(--text-primary);
				font-size: rem(12px);
				line-height: rem(18px);
				display: inline-block;
				padding-top: rem(12px);
			}
		}

		&__price {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-right: 0;
			padding: rem(10px) rem(20px);

			&__list {
				list-style: none;
				width: 100%;
				margin: 0;
				padding: 0;

				&__list-item {
					width: 100%;
					display: flex;
					line-height: rem(20px);
					margin-bottom: rem(8px);

					&__data {
						width: 50%;
						flex: 1;
						word-break: break-all;

						&__slashed {
							text-decoration: line-through;
							font-size: 0.8em;
							padding-right: rem(8px);
						}
					}

					&__align-right {
						text-align: right;
					}

					&.indigo-cash{
						justify-content: space-between;

						.print-fare-contact {
							&__content {
								width: 50%;
							}
						}
					}
				
					&.sub-total {
						background-color: get-color("light-grey-2");
						padding: rem(10px) rem(16px);
						width: calc(100% + 40px);
						margin-left: -20px;
						justify-content: flex-end;
					}
				}
			}
		}
	}
	
	.nowrap {
		white-space: nowrap;
	}
}
