.bw-seat-input {
  padding: rem(14px) rem(16px);
  display: flex;
  flex-direction: column;
  gap: 10px;

  &--counter {
    display: flex;
    justify-content: space-between;

    &--left {
      &--pax-type {
        color: get-color(primary-main);
        font-weight: 500;
        font-size: rem(12px);
        line-height: rem(20px);
        font-family: var(--font-family-poppins-medium);

        @include media('>=desktop') {
          font-size: rem(12px);
          line-height: rem(18px);
        }

        span {
          font-weight: 300;
          font-family: var(--font-family-poppins-light);
          color: #7a85a0;
          margin-left: 10px;
        }
      }
    }
  }

  .bw-seat-dou-tri-container {
    &--info {
      display: flex;
      min-width: rem(200px);
      align-items: center;
      font-size: rem(12px);
      gap: rem(24px);
      color: get-color(text-secondary);

      @include media('>=desktop') {
        font-size: rem(14px);
      }
    }

    .disabled{
      pointer-events: none;
      opacity: 0.5;
    }

    &--controlls {
      padding: rem(8px);
      border-radius: rem(6px);
      display: flex;
      flex-direction: column;
      gap: 4px;
      background-image: radial-gradient(
          circle closest-side,
          get-color(secondary-main) calc(100% - 0.5px),
          transparent 100%
        ),
        radial-gradient(
          circle closest-side,
          get-color(secondary-main) calc(100% - 0.5px),
          transparent 100%
        ),
        radial-gradient(
          circle closest-side,
          get-color(secondary-main) calc(100% - 0.5px),
          transparent 100%
        ),
        radial-gradient(
          circle closest-side,
          get-color(secondary-main) calc(100% - 0.5px),
          transparent 100%
        );
      background-position: 0 0, 100% 0, 0 100%;
      background-repeat: repeat-x, repeat-y;
      background-size: rem(4px) rem(2px), rem(2px) rem(4px);

      &--double,
      &--triple {
        display: flex;
        justify-content: space-between;

        .label {
          display: flex;
          align-items: center;
          width: rem(200px);

          .seat-label {
            margin-right: rem(2px);
            font-size: rem(12px);
            @include media('>=desktop') {
              font-size: rem(14px);
            }
          }

          .seat-container {
            min-width: rem(50px);
            display: flex;
            align-items: center;
          }

          .descrip {
            font-size: rem(12px);
            color: get-color(text-secondary);
            font-family: var(--font-family-poppins-light);
            align-self: flex-start;
            @include media('>=desktop') {
              align-self: flex-end;
              text-align: right;
              flex: 1;
            }
          }
        }

        .stepper-input {
          max-height: rem(24px);
        }
      }
    }
  }
}

.bw-seat-input.disabled {
  cursor: not-allowed !important;
  color: get-color(action-disabled-text);

  .bw-seat-input--counter--left--pax-type {
    color: get-color(action-disabled-text) !important;
  }

  .sky-icons {
    opacity: 0.5;
    pointer-events: none;
  }
}
