.refundwrapper {
  display: flex;
  padding: rem(16px) rem(12px);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: $white;
  box-shadow: 0 0 rem(12px) $shadow;
  margin-bottom: rem(16px);
  border-radius: 0 0 rem(12px) rem(12px);
  overflow: hidden;

  ul,
  li {
    list-style: none;
    padding: 0;
  }

  .sessions {
    margin: 0 0 1rem;
    border-radius: rem(12px);
    position: relative;
  }

  li {
    padding: 0 0 1.5rem rem(36px);
    border-left: rem(1.5px) dashed $disabled-bg;
    position: relative;
    margin-left: rem(24px);

    i {
      transform: scale(0.8);
      color: $disabled-bg;
      position: absolute;
      top: rem(8px);
      left: rem(-12px);

      &::before {
        color: inherit !important;
      }
    }

    &::before {
      content: '';
      width: rem(40px);
      height: rem(40px);
      background: $gray-light;
      border-radius: 50%;
      position: absolute;
      left: rem(-20px);
      top: 0;
    }

    &.success {
      i {
        color: $success-color;
      }

      &::before {
        background-color: $success-light;
      }
    }

    &.warning {
      i {
        color: $warning-color;
      }

      &::before {
        background-color: $warning-light;
      }
    }

    &.error {
      i {
        color: $error-color;
      }

      &::before {
        background-color: $error-light;
      }
    }

    &.grey {
      i {
        color: $disabled-bg;
      }

      &::before {
        background-color: $gray-light;
      }
    }

    &:last-child {
      border: none;
      padding-bottom: 0;
    }
  }
}

.status {
  color: $success-color;
  text-align: center;
  font-size: rem(12px);
  font-weight: 500;
  line-height: rem(18px);
}

.time {
  color: $tertiary-text;
  font-size: rem(12px);
  font-weight: 300;
  line-height: rem(18px);
}

.nefttime {
  height: rem(10px);
  visibility: hidden;
}

.refundContainer {
  padding: rem(12px) rem(16px);
  background: $light-bg;
  border-radius: rem(12px) rem(12px) 0 0;

  .refundStatus {
    display: flex;
    align-items: flex-start;

    .bookedDate {
      color: $tertiary-text;
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: rem(18px);
      display: flex;
      height: rem(20px);
      flex-direction: column;
      justify-content: center;
      flex: 1 0 0;
    }

    .statusWrapper {
      border-radius: rem(12px);
      background: $success-light;
      display: flex;
      padding: rem(4px) rem(8px) rem(4px) rem(6px);
      justify-content: center;
      align-items: center;
      gap: rem(4px);

      &.success {
        span {
          color: $success-color;
        }

        i {
          &::before {
            color: $success-color;
          }
        }
      }

      &.pending {
        background: $warning-light;

        span {
          color: $warning-color;
        }

        i {
          &::before {
            color: $warning-color;
          }
        }
      }

      &.failed {
        background: $error-light;

        span {
          color: $error-color;
        }

        i {
          &::before {
            color: $error-color;
          }
        }
      }
    }
  }

  .refundSummaryAmount {
    align-self: stretch;
    color: $text-primary;
    font-size: rem(14px);
    font-weight: bold;
    line-height: rem(20px);
    display: flex;

    .amountWrapper {
      color: $primary-text;
      font-size: rem(12px);
      font-style: normal;
      font-weight: bold;
      line-height: rem(18px);
      display: flex;
      height: rem(20px);
      flex: 1 0 0;
    }

    .refundId {
      display: flex;
      padding: rem(4px) rem(0px) rem(4px) rem(6px);
      align-items: center;
      font-weight: normal;
      font-size: rem(12px);
      color: $tertiary-text;
    }

    .amount {
      color: $primary-text;
    }
  }
}

.refundStep {
  color: $text-primary;
  font-size: rem(14px);
  font-weight: 700;
  line-height: rem(20px);
}

.refundStepDescription {
  color: $secondary-text;
  font-size: rem(12px);
  font-weight: 400;
  line-height: rem(18px);
}

@include media('>=phone', '<=tablet') {
  .refund,
  .pnr {
    font-size: rem(12px);
  }

  .refundStatus,
  .pnrStatus {
    padding: rem(2px) rem(4px);

    span {
      font-size: rem(10px);
    }
  }

  .refundSummary {
    padding: 0;

    .flightDetails .pnr{
      margin-left: 0;
    }

    .refundwrapper {
      padding: rem(12px) rem(8px);
    }

    .refundContainer {
      padding: rem(8px) rem(12px);

      .bookedDate {
        font-size: rem(10px);
      }

      .refundSummaryAmount {
        font-size: rem(12px);

        .amount {
          font-size: rem(12px);
        }
      }
    }
  }

  .refundStep {
    font-size: rem(12px);
  }

  .refundStepDescription {
    font-size: rem(10px);
  }
}
