.wc-webcheckin {
  display: flex;
  gap: rem(16px);

  &-left {
    flex: 1;
    display: none;
    flex-direction: column;
    padding: rem(12px);
    border-radius: rem(12px);
    background-color: get-color(white);
    height: max-content;

    @include media('>=tablet') {
      display: flex;
    }

    &__header {
      font-size: rem(16px);
      text-transform: uppercase;
      color: get-color(text-secondary);
      font-family: var(--font-family-poppins-regular);
    }
    &__description {
      font-size: rem(24px);
      font-family: var(--font-family-bauhuas-std-medium);
      line-height: 1.25;
      margin-top: rem(8px);
      margin-bottom: rem(20px);
    }

    .design-system-input-field input {
      border: 1px solid #e2ebf2 !important;
      padding: 12px 0 12px 8px;
      margin: rem(6px) 0;
    }

    .skyplus-button {
      margin-top: rem(32px);
    }

    h2,
    h3 {
      p {
        font-family: var(--font-family-bauhuas-std-medium);
        letter-spacing: -0.8px;
        font-weight: 400;
      }
    }

    h4 {
      p {
        color: var(--text-primary);
      }
    }

    h2 {
      p {
        font-size: rem(32px);
        line-height: rem(44px);
      }
    }

    h3 {
      p {
        font-size: rem(32px);
        line-height: rem(24px);
      }
    }

    .body-medium-lite {
      font-family: var(--font-family-poppins-light);
      font-size: rem(14px);
    }

    .passport-form,
    .visa-form {
      display: grid;
      grid-template: 1fr;
      gap: rem(8px) rem(16px);

      @include media('>=tablet') {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &-left1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: rem(12px);
    border-radius: rem(12px);
    background-color: get-color(white);
    height: max-content;

    h2,
    h3 {
      p {
        font-family: var(--font-family-bauhuas-std-medium);
        letter-spacing: -0.8px;
        font-weight: 400;
      }
    }

    h2 {
      p {
        font-size: rem(32px);
        line-height: rem(44px);
      }
    }

    h3 {
      p {
        font-size: rem(32px);
        line-height: rem(24px);
      }
    }

    .body-medium-lite {
      font-family: var(--font-family-poppins-light);
      font-size: rem(14px);
    }

    .passport-form,
    .visa-form {
      display: grid;
      grid-template: 1fr;
      gap: rem(8px) rem(16px);

      @include media('>=tablet') {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &-left2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-radius: rem(12px);
    height: max-content;

    h2,
    h3 {
      p {
        font-family: var(--font-family-bauhuas-std-medium);
        letter-spacing: -0.8px;
        font-weight: 400;
      }
    }

    h4 {
      p {
        font-family: var(--font-family-bauhuas-std-medium);
        font-weight: 500;
        font-size: rem(20px);
      }
    }

    h2 {
      p {
        font-size: rem(32px);
        line-height: rem(44px);
      }
    }

    h3 {
      p {
        font-size: rem(32px);
        line-height: rem(24px);
      }
    }

    h4 {
      p {
        color: var(--text-primary);
      }
    }

    .design-system-input-field input {
      border: 1px solid var(--secondary-deep);
      padding: rem(12px) 0 rem(12px) rem(8px);
    }

    .border-error {
      border: rem(1px) solid var(--system-error) !important;
    }

    .body-medium-lite {
      font-family: var(--font-family-poppins-light);
      font-size: rem(14px);
    }

    .passport-form,
    .visa-form {
      display: grid;
      grid-template: 1fr;
      gap: rem(8px) rem(16px);

      @include media('>=tablet') {
        grid-template-columns: 1fr 1fr;
      }
    }

    .separator {
      margin: rem(18px) 0;
      background-image: radial-gradient(
        circle closest-side,
        var(--secondary-main) calc(100% - 0.5px),
        #0000 100%
      );
      background-repeat: repeat-x;
      background-size: rem(3px) rem(2px);
      content: '';
      height: 0.125rem;

      @include media('>=tablet') {
        width: calc(100% + rem(48px));

        margin-left: rem(-24px);
      }
    }

    .addon-container {
      &-header {
        font-size: rem(14px);
        font-family: var(--font-family-poppins-medium);
        color: get-color(text-primary);
        line-height: 1.5;
      }

      li.active {
        button {
          border-radius: rem(8px);
          background-color: var(--secondary-main);
          font-family: var(--font-family-poppins-medium);
          color: var(--text-primary);
        }
      }

      li {
        button.skyplus-button--outline {
          border-radius: rem(8px);
          background-color: var(--secondary-light);
          font-family: var(--font-family-poppins-medium);
          border: none !important;
          color: var(--text-primary);
        }
      }

      .tab-container__content {
        ul,
        li {
          list-style: none;
          font-size: rem(12px);
          font-family: var(--font-family-poppins-regular);
          color: get-color(text-secondary);
          line-height: 1.5;
          display: flex;
          gap: rem(4px);
          justify-content: flex-start;
        }

        ul {
          margin-top: rem(12px);
          display: flex;
          flex-direction: column;
          gap: rem(8px);
        }

        .sky-icons {
          color: var(--text-green);
        }
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    gap: rem(20px);
    flex: 2;
    margin-bottom: rem(12px);
    @include media('>=tablet') {
      margin-bottom: unset;
    }
    &-journey {
    }
  }

  &-link {
    color: #000099;
    font-family: var(--font-family-poppins-regular);
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(21px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
}
.undoWebcheckinModal {
  .skyplus-modal-content-body {
    font-family: var(--font-family-poppins-regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-tertiary) !important;
    padding-top: rem(20px);
  }
  .skyplus-modal-content-footer {
    width: 100%;
    .skyplus-button {
      width: 50%;
      button {
        width: 100%;
      }
    }
  }
}

.wc-guest-webcheckin {
  .pnr-form {
    margin: rem(20px) 0 rem(40px);
    background-color: get-color(white);
    padding: rem(21px) rem(16px);
    border-radius: rem(16px);
    display: flex;
    gap: rem(16px);

    > div {
      flex: 1;
    }

    .design-system-input-field {
      margin-bottom: 0 !important;
    }
  }

  .login-button-container {
    width: rem(244px);
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    background-color: get-color(system-information-light);
    padding: rem(6px);
    border-radius: rem(20px);

    .skyplus-text {
      color: get-color(primary-main) !important;
      margin-left: rem(12px);
      font-family: var(--font-family-poppins-medium);
    }

    .right {
      background-color: get-color(primary-main);
      border-radius: 20px;
      height: 2rem;
      position: relative;
      width: 2rem;
    }
  }

  .journies-container {
    display: flex;
    gap: rem(20px);
    flex-direction: column;
  }
}

.wc-session {
  &-smart {
    margin-top: rem(40px);
  }

  h3 {
    margin-bottom: rem(24px);
    font-family: var(--font-family-bauhuas-std-medium);
    font-size: rem(32px);
    line-height: rem(44px);
    color: get-color(text-primary);
    font-weight: 500;
  }

  .wc-passenger-selection {
    margin-top: rem(40px);
  }

  padding-bottom: rem(80px);
}

.select-passenger-checkin {
  display: block;
  font-family: var(--font-family-bauhuas-std-medium);
  font-size: rem(20px);
  font-weight: 500;

  p {
    color: var(--text-primary);
  }

  @include media('>=tablet') {
    display: none;
  }
}
