@import '../../common/scss/utils';
@import '../../common/scss/main';

.styled-dropdown {
  &__btn {
    cursor: pointer;
  }

  &__content {
    max-height: rem(200);
    min-height: min-content;

    &-item {
      cursor: pointer;

      &:hover {
        background: #eaf8ff;
      }
    }
  }
}
