.chat-section {
  margin: rem(20px) rem(20px) rem(8px);
  @include media(">=tablet") {
    margin: unset;
    margin-top: rem(32px);
    margin-bottom: 0;
  }

  &__heading {
    margin-bottom: rem(12px);
    font-size: rem(20px);
    font-style: normal;
    font-weight: 500;
    color: var(--text-primary);
    font-family: var(--font-family-bauhuas-std-medium);
    letter-spacing: -0.6px;
    line-height: rem(24px);

    .green {
      color: var(--accent-dark);
    }

    @include media(">=tablet") {
      font-size: rem(24px);
    }
  }

  &__list {
    &__chat-item {
      height: rem(54px);
      border-radius: rem(8px);
      background: var(--secondary-white);
      box-shadow: 0 0 12px 0 rgb(76 93 158 / 8%);
      padding: rem(8px) rem(12px);
      margin-bottom: rem(12px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid get-color('light-white');

      @include media (">tablet"){
        padding: rem(12px) rem(16px);
        height: rem(70px);
      }

      .help-item-left-sec {
        display: flex;
        align-items: center;
        gap: rem(8px);

        .help-icon {
          width: rem(38px);
          height: rem(38px);
          border-radius: rem(24px);
          background: var(--secondary-light);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .help-title {
          color: var(--text-primary);
          font-size: rem(12px);
          font-weight: 500;
          line-height: rem(18px);
          font-family: var(--font-family-poppins-medium);
          margin-bottom: rem(2px);

          @include media (">tablet"){
            font-size: rem(14px);
            line-height: rem(20px);
            margin-bottom: rem(6px);
          }
        }

        .help-description {
          color: var(--text-secondary);
          font-size: rem(10px);
          font-weight: 400;
          line-height: rem(16px);

          @include media (">tablet"){
            line-height: rem(18px);
          }
        }
      }

      .help-link {
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-icon-right {
          transform: rotate(180deg);
        }
        .help-icon {
          color: var(--text-primary);
        }
      }
    }
  }
  &.withoutprn {
    margin-top: rem(24px);
    @include media(">=tablet") {
      margin: 0;
    }
    .chat-section__list {
      
      &__chat-item {
        margin-bottom: 0;
      }
    }
  }
}
