@import '~skyplus-design-system-app/src/common/scss/base';

.Cfflag {
  background-image: url('../../../../../src/styles/images/flags-react-intl.png') !important;
}

.nationality-dropdown-desktop {
  .skyplus-dropdown-list__searchbox {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--action-active-background);
    
    .search-inputbox {
      padding: rem(10px) rem(12px);

      &:focus-visible {
        outline: none;
      }

      input {
        border: none;
      }

      .search-input {
        padding: rem(10px) rem(12px);
        font-size: rem(16px);
        border-radius: rem(25px);
        width: 100%;
        z-index: 1;
        position: relative;
        border: 1px dotted #afe4ff;
      }
    }

    hr {
      border: none;
      border-top: 1px solid #daf1ff;
      width: 100%;
    }
  }

  .scrollable-content {
    overflow: auto;
  }

  .skyplus-dropdown-list--container {
    background-color: get-color(secondary-white);
    position: relative;
    z-index: 1;
    top: rem(-10px);
  }

  .body-md-reg {
    padding: rem(8px) rem(16px);
  }

  .country-menu-item {
    padding: rem(8px) rem(16px);
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      background-color: get-color(secondary-light);
    }

    .fs-14 {
      gap: 1rem;
      display: flex;
      align-items: center; 

      .fw-500 {
        font-family: var(--font-family-poppins-regular);
        font-size: rem(18px);
        
      }

      .phone-code {
        color: var(--text-tertiary);
      }
    }
  }

  .skyplus-dropdown-popover {
    max-height: rem(520px);
    overflow-y: auto;
  }

  .scroll-container {
    overflow: hidden auto;
    height: calc(100vh - rem(280px));

    @include media('>=tablet') {
      max-height: rem(420px);
    }
  }

  .popover__content {
    left: auto;
    min-width: rem(320px);
    position: absolute;
  }
}
