.loyalty-message {
  padding: rem(12px);
  border-radius: rem(8px);
  background: var(--text-alice-blue);
  font-family: var(--font-family-poppins-medium);
  font-size: rem(12px);
  font-weight: 400;
  line-height: rem(20px);
  color: var(--text-secondary);
  border: 1px solid var(--secondary-bright);

  @include media('>=tablet') {
    padding: rem(12px);
    font-size: rem(14px);
  }
}

.loyalty-container {
  display: flex;
  align-items: center;
  padding-bottom: rem(12px);

  .loyalty-heading {
    padding-left: rem(12);
    font-size: rem(16px);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-secondary);
  }
}