.upgrade-card {
  border-radius: 8px;
  border: 1px dotted var(--secondary-main);
  background-color: var(--secondary-light);
  padding: 12px 8px;
  margin-top: rem(16px);
  max-width: rem(240px);

  &__note {
    .body-extra-small-regular {
      font-family: var(--font-family-poppins-light);
    }
  }

  &__body {
    margin-bottom: rem(4px);
    margin-top: rem(4px);
    display: flex;
    gap: rem(12px);
    align-items: center !important;
    justify-content: center;

    &__text {
      width: rem(130px);

      .skyplus-heading {
        font-size: rem(14px);
        line-height: rem(20px);
        margin-bottom: rem(4px);

        @include media('>=tablet') {
          font-size: rem(16px);
        }
      }
    }

    &__cta {
      button {
        padding: rem(6px) rem(12px) !important;
        line-height: rem(20px);
      }
    }
  }

  &__footer {
    margin-top: rem(12px);
    padding-top: rem(12px);
    border-top: 1px dotted var(--secondary-main);
  }
}
