@import '../../../styles/variables';
@import '../../../styles/common';
@import '../../../styles/include-media';
@import '../../../styles/colors';

.frequent-flyer {
  font-family: var(--font-family-poppins-regular);

  .flight-card {
    &-passenger {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;

      &-avtar {
        width: rem(36px);
        height: rem(36px);
        color: var(--primary-main);
        background-color: var(--secondary-main);
        font-family: var(--font-family-poppins-regular);
        border-radius: 50%;
        font-size: rem(16px);
        line-height: rem(24px);
        padding: rem(8px);
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @include  media('>tablet') {
          padding: rem(12px);
          width: rem(44px);
          height: rem(44px);
        }
      }

      &-info{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-left: rem(8px);

        @include  media('>tablet') {
          margin-left: rem(16px);
        }

        &-prename {
          font-family: var(--font-family-poppins-medium);
          font-size: rem(12px);
          line-height: rem(18px);
          color: var(--text-tertiary);
          font-weight: 400;
          margin-bottom: rem(4px);

          @include media('>tablet') {
            font-family: var(--font-family-poppins-regular);
            font-size: rem(14px);
            line-height: rem(20px);
          }
        }

        &-name {
          font-family: var(--font-family-poppins-medium);
          font-size: rem(14px);
          line-height: rem(20px);
          color: var(--text-primary);
          font-weight: 400;

          @include media('>tablet') {
            font-family: var(--font-family-poppins-regular);
            font-size: rem(16px);
            line-height: rem(24px);
          }
        }
        
      }
    }
  }

  &-booking-container {
    margin-top: rem(32px);

    @include  media('>tablet') {
      margin-top: rem(40px);
    }

    .booking-info-cancel-flight{
      width: 100%;

      .booking-info-container{
          display: flex;
          flex-direction: column;
          gap: rem(0px);
          padding: rem(12px) rem(16px) rem(20px);
          box-shadow: none;

          @include  media('>tablet') {
            gap: rem(20px);
          }

          .booking-info-container-transaction-block{
              display: flex;
              justify-content: space-between;
              padding-bottom: rem(14px);
              position: relative;
  
              &::after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: rem(1px);
                  border-bottom: rem(1px) dotted get-color("light-white"); 
                  top: rem(39px); 
              }              
          }
  
          .booking-info-container-transaction,.booking-info-container-other-info{
              width: 100%;
          }
      }
    }
  } 

  &-verify-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: rem(32px);

    @include  media('>tablet') {
      margin-top: rem(48px);
      padding-bottom: rem(100px);
    }
  }

  &-verify-pax-details {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: rem(12px);

    @include  media('>tablet') {
      margin-bottom: rem(48px);
    }

    &-title {
      display: inline-block;
      width: 100%;
      position: relative;
      font-size: rem(16px);
      line-height: rem(20px);
      color: var(--text-primary);
      font-family: 500;
      letter-spacing: -0.4px;
      margin-bottom: rem(10px);

      @include  media('>tablet') {
        letter-spacing: -0.6px;
        font-family: var(--font-family-poppins-regular);
        font-size: rem(20px);
        line-height: rem(32px);
        margin-bottom: rem(16px);
      }
    }

    .common-msg {
      display: inline-block;
      width: 100%;
      font-family: var(--font-family-poppins-regular);
      font-size: rem(12px);
      line-height: rem(18px);
      font-weight: 400;

      &.error-msg {
        color: get-color("color-text-error");
      }

      &.success-msg {
        color: var(--accent-dark);
      }

      .icon-check {
        margin-right: rem(8px);
      }
    }

    .design-system-input-field {
      margin-bottom: rem(8px) !important;
    }
  }

  .skyplus-offcanvas {
    @include  media('<tablet') {
      &__contents--body {
        padding: rem(24px) rem(20px);

        .head {
          .heading {
            font-size: rem(16px);
            line-height: rem(18px);
            font-weight: 400;
            font-family: var(--font-family-poppins-regular);
          }

          .desc {
            .sub-title,  .sub-title div {
              font-size: rem(14px);
              font-family: var(--font-family-bauhuas-std-medium);
              line-height: rem(20px);
              color: var(--text-primary);
              text-align: center;
              font-weight: 500;
              letter-spacing: -0.4px;
            }
          }
        }
      }
    }
  }
}