
.city-selection__list-item.date-select_xplore {
  &:hover,
  &:focus {
    background-color: get-color(secondary-light);
  }
}


.search-widget-form-body.xplore_grid > div{
  padding: rem(8px) rem(51.2px) rem(12px) rem(12px);

    @include media('>=desktop'){
      padding: rem(8px) rem(12px) rem(12px);;
    }
}

.search-widget-form-body.xplore_grid > div:first-child{
  grid-column: 1 / -1;

  @include media('>=desktop'){
    grid-column: 1;
    border-left: 1px solid;
    border: var(--border-secondary);
  }
}

.search-widget-form-body.xplore_grid > div:nth-child(2){
  .bw-popover__content{
    width: 100% !important;

    @include media('>=desktop') {
      left: 0;
    }
  }
}

.date-label .label_hint {
  color: #4b5772;
  padding: rem(16px) 0 0 rem(16px);
}