$minorheadingcolor: #757c8a;

.minor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(24px) 0;

  &__heading {
    font-size: rem(20px);
    font-weight: 400;
    line-height: rem(32px);
    color: $minorheadingcolor;
    font-family: var(--font-family-poppins-medium);
    text-transform: uppercase;
  }

  &__subHeading {
    margin-top: rem(8px);
    p {
      font-size: rem(24px);
      font-weight: 500;
      line-height: rem(32px);
      text-align: left;
      font-family: var(--font-family-bauhuas-std-medium);
      color: var(--text-primary);
    }
  }

  hr {
    background: linear-gradient(
      180deg,
      $color-fefefe 0%,
      $color-gradiant 8.73%,
      $color-f7f9fe 17.51%,
      $color-ecf7fc 81.97%
    );

    margin: rem(16px) 0;
    height: rem(1px);
    border: rem(0.1px) solid var(--secondary-main);
  }

  &__button {
    position: absolute;
    bottom: 0;
    background-color: get-color(white);
    border-top-left-radius: rem(18px);
    border-top-right-radius: rem(18px);
    height: rem(80px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%);
    left: 0;
    box-shadow: var(--box-shadow-bottom-sticky);

    .skyplus-button {
      width: 90%;
      margin-left: rem(12px);
    }
  }
}

.mc-passenger-selection {
  display: flex;
  flex-direction: column;
  margin: rem(20px) 0 rem(8px);

  @include media('>=tablet') {
    margin: rem(8px) 0 rem(8px);
  }

  &__passenge-container {
    gap: rem(15px);
  }

  &__item {
    border: rem(1px) solid get-color(secondary-deep);
    background: get-color(white);
    padding: rem(16px) rem(24px) !important;
    margin: rem(8px) 0 0 0 !important;
    align-items: center;
    border-radius: rem(8px);

    &.checked {
      border-color: get-color(secondary-main);
      background-color: get-color(secondary-light);
    }

    &__profile {
      display: flex;
      justify-content: space-between;

      &__icon {
        align-items: center;
        color: get-color(text-primary);
        display: flex;
        height: rem(36px);
        width: rem(36px);
        justify-content: center;
        gap: rem(4px);
        border-radius: rem(20px);
        background: var(--secondary-main);
        font-family: var(--font-family-poppins-regular);
        margin-right: rem(12px);
        text-transform: uppercase;

        @include media('>=tablet') {
          height: rem(40px);
          width: rem(40px);
          margin-right: rem(16px);
        }
      }

      &__details {
        h5 {
          color: var(--text-primary);
          font-family: var(--font-family-poppins-regular);
          font-size: rem(14px);
          font-weight: 400;
          line-height: rem(20px);

          @include media('>=tablet') {
            font-size: rem(16px);
            line-height: rem(24px);
          }
        }

        div {
          color: var(--text-tertiary);
          font-family: var(--font-family-poppins-regular);

          font-size: rem(12px);
          @include media('>=tablet') {
            font-size: rem(14px);
          }
        }

        span {
          font-family: var(--font-family-poppins-regular);
          font-size: rem(12px);
          font-weight: 400;
          line-height: rem(18px);
          color: get-color(text-secondary);

          @include media('>=tablet') {
            font-size: rem(14px);
            line-height: rem(20px);
          }
        }
      }
    }

    &__passenger-details {
      background-color: get-color(secondary-light);
      padding: rem(12px);
      gap: rem(12px);
      border-radius: rem(8px);
      display: flex;

      .journey-details {
        margin-bottom: rem(8px);
      }

      p {
        color: get-color(text-tertiary);
        font-family: var(--font-family-poppins-regular);
        font-size: rem(12px);
        font-weight: 400;
        line-height: rem(18px);
        margin-top: rem(8px);
      }
    }
  }
  .consent-container {
    margin: rem(15px) 0 0 0;
  }
}
