@import '../../index';

.recommended-seats {
  margin: 0;

  .skyplus-accordion__header-name {
    font-size: rem(14px);
    line-height: rem(20px);

    @include media('>=desktop') {
      font-size: rem(16px);
      line-height: rem(24px);
    }
  }

  h5 {
    margin: rem(16px) 0;
    font-weight: normal;
    font-size: rem(20px);
  }

  &-panel {
    font-size: rem(14px);
    padding: rem(10px);
    border-radius: rem(4px);
    background-color: var(--action-active-stroke);
    flex-wrap: wrap;

    .recommended-seats-panel-inner {
      display: flex;

      .seat-description-title {
        font-size: rem(14px);
        line-height: rem(18px);
        margin-bottom: rem(10px);
      }
    }

    .seat-description-left {
      flex: 1;
    }

    .seat-fare-right {
      display: flex;
      flex-direction: column;
    }

    .seat-description-saving {
      font-size: rem(12px);
      color: var(--text-secondary);
    }

    .seat-fare {
      font-size: rem(14px);
      line-height: rem(20px);
      margin-bottom: rem(10px);
    }

    .seat-fare-original {
      font-size: rem(12px);
      text-decoration: line-through;
      color: var(--text-secondary);
      text-align: right;
    }

    .add-recommended-seats-button-wrapper {
      text-align: right;
      margin-top: rem(10px);
    }
  }
}

.recommended-seats-accordian {
  font-size: rem(14px);
  margin-bottom: rem(10px);
  max-height: rem(280px);
  overflow-y: auto;

  &-more {
    background-color: transparent;
    border: none;
    color: var(--action-selected-text);
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    padding-left: rem(10px);
    font-family: var(--font-family-poppins-regular);
    font-size: rem(14px);
    line-height: rem(20px);
  }

  &-passenger-name {
    font-weight: 400;
    color: var(--text-tertiary);
    text-transform: capitalize;
    margin-bottom: rem(10px);
    line-height: rem(18px);
    font-size: rem(12px);
    font-family: var(--font-family-poppins-regular);
  }
}

.recommended-seats-radios {
  &-radio-button {
    padding: rem(12px);
    border: solid 1px var(--secondary-deep);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: rem(10px);
    cursor: pointer !important;

    &:focus{
      border: 1px dotted var(--primary-main);
    }

    .recSeatsBtns {
      cursor: pointer;
      position: relative;
      left: rem(8px);
      z-index: 1;
      opacity: 0;
      transform: scale(1.5);
    }

    .custom-radio-btn {
      left: rem(-8px);
      cursor: pointer;
      min-width: rem(20px);
      width: rem(20px);
      height: rem(20px);
      border: 1.5px solid var(--sel-con-selected-background);
      border-radius: 20px;
      display: inline-block;
      position: relative;
      z-index: 0;
    }

    .custom-radio-btn::after {
      content: '';
      width: 12px;
      height: 12px;
      background: var(--sel-con-selected-background);
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s;
    }

    .recSeatsBtns:checked + .custom-radio-btn::after {
      opacity: 1;
    }
  }

  &-radio-button.active {
    border-color: var(--action-active-stroke);
  }

  &-label {
    width: 100%;
    margin-left: rem(10px);
    display: flex;
    align-items: center;
    cursor: pointer;

    &-seat-numbers {
      color: var(--action-selected-text);
      font-size: rem(12px);
      line-height: rem(18px);
      margin-right: rem(10px);

      @include media('>=desktop') {
        font-size: rem(14px);
        line-height: rem(20px);
      }
    }

    &-seat-tag {
      position: relative;
      color: var(--system-information);
      padding: rem(3px) rem(10px);
      background-color: var(--system-information-light);
      border-radius: 10px;
      font-weight: 400;
      font-size: rem(10px);
      line-height: rem(16px);
      display: inline-block;
      width: 100px;
      text-align: center;
      font-family: var(--font-family-poppins-regular);

      @include media('>=desktop') {
        font-size: rem(12px);
        line-height: rem(18px);
      }
    }

    &-seat-type {
      font-weight: 400;
      color: var(--text-disabled);
      padding-top: rem(5px);
      font-size: rem(10px);
      line-height: rem(16px);
      font-family: var(--font-family-poppins-regular);
      text-transform: lowercase;
    }

    &-price {
      margin-left: auto;
      text-transform: capitalize;
      color: var(--text-primary);
    }

    &-price.free {
      color: var(--accent-dark);
    }
  }
}

.recommended-seats-selected--toast-wrapper {
  pointer-events: unset;

  .skyplus-design-toast-container.recommeded-seats-toast.bottom-top {
    background-color: var(--system-success-light);
    position: fixed;
    inset: auto 0 10%;
    margin: auto;
    border: solid 1px var(--system-success);
    transform: translate(rem(0px), rem(-40px));
    bottom: 15%;
  
    @include media('>=desktop') {
      max-width: 90%;
  
      .notifi-variation-col {
        transform: translateX(rem(-50px));
      }
    }
  }
}
