.visa-heading-wrapper {
  background-color: var(--secondary-light);
  padding: rem(12px) rem(16px);
  border: rem(1px) solid var(--secondary-deep);

  .applied-date {
    font-size: rem(10px);
    color: var(--text-tertiary);
    margin-bottom: rem(2px);

    @include media('>=tablet') {
      font-size: rem(12px);
    }
  }

  .application-title {
    font-size: rem(12px);
    font-weight: 500;

    @include media('>=tablet') {
      font-size: rem(14px);
    }
  }

  .application-assignment {
    background: var(--white);
    font-size: rem(10px);
    color: var(--system-information);
    padding: rem(4px) rem(6px);
    margin: auto 0;
    font-weight: 500;
    border-radius: rem(12px);

    &.approved {
      color: var(--system-success);
      border: rem(1px) solid var(--system-success);
      background-color: var(--system-success-light);

      @include media('>=tablet') {
        font-size: rem(12px);
      }
    }
  }
}