.passenger-details-header-wrap {
    text-align: left;

    .passenger-details-heading {
        padding: 1rem 0 0.5rem;
        color: var(--text-primary);

    }

    .passenger-details-sub-heading {
        color: var(--text-secondary);

        .loginWithSavedPaxClass{
            color: var(--text-primary-main);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}