.visa-review {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: rem(48px);

  .visa-booking-summary-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(224.24deg,
        rgb(21 32 95 / 100%) 6.84%,
        rgb(36 64 154 / 100%) 73.19%);
    z-index: 9997;
  }

  .booking-summary-m-comp-wrapper {
    top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999999999;
    background-color: transparent;
    margin-bottom: 0 !important;
  }

  @include media('>=tablet') {
    justify-content: space-between;
    flex-direction: row;
  }

  &--right {
    width: 100%;

    @include media('>=tablet') {
      width: calc(34% - 16px);
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &--left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    gap: rem(32px);

    @include media('>=tablet') {
      width: 66%;
    }


    .booking-info {
      min-width: initial;
      margin-bottom: inherit;
    }


    &--section {
      width: 100%;
      display: flex;
      gap: rem(24px);
      flex-direction: column;

      &--paxcard {
        display: flex;
        gap: rem(12px);
        flex-direction: column;

      }

      &--title {
        font-family: var(--font-family-bauhuas-std-medium);
        font-weight: 500;
        font-size: rem(32px);
        line-height: rem(44px);
        letter-spacing: rem(-0.8px);
        color: var(--text-primary);
      }

      &--desc {
        font-family: var(--font-family-poppins-medium);
        font-weight: 600;
        font-size: rem(16px);
        line-height: rem(20px);
        color: var(--text-primary);
      }

    }
  }

  .booking-summary-wrapper {
    @include media('>=tablet') {
      position: sticky;
      top: rem(90px);
    }
  }

}

.visa-review+.visa-footer-wrapper {
  .visa-price-footer {
    .visa-price-footer-left {
      width: 60%;

      @include media('>=tablet') {
        width: initial;
      }
    }

    .visa-price-footer-right {
      width: 40%;

      @include media('>=tablet') {
        width: initial;
      }
    }
  }
}