div[class^='flight-date-carousel-id-'] {
  position: relative;
  margin: 0;
  background: linear-gradient(
    180deg,
    rgb(255 255 255 / 0%) 0%,
    #f3f5f8 55%,
    rgb(255 255 255 / 0%) 100%
  );

  .swiper-wrapper {
    align-items: center;

    @include media('>=tablet') {
      overflow: hidden;
    }
  }

  @include media('>=tablet') {
    margin: 0 rem(32px);
  }

  .swiper-button {
    &-next,
    &-prev {
      top: 65%;
      color: var(--text-dark);

      &::after {
        font-size: rem(13);
      }

      @include media('>=tablet') {
        display: flex !important;
        align-items: center;
      }
    }

    &-prev {
      margin-left: rem(4px);
      justify-content: flex-start;
    }

    &-next {
      margin-right: rem(4px);
      justify-content: flex-end;
    }
  }

  .flight-date-carousel-container {
    &__item {
      border-radius: rem(8px);
      background-color: get-color(white);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      white-space: pre;
      cursor: pointer;
      padding: rem(8px) 0 0;
      position: relative;

      @include media('>=tablet') {
        padding: rem(12px) 0 rem(10px);
      }

      .date {
        font-size: rem(10px);
        line-height: rem(16px);

        @include media('>=tablet') {
          font-size: rem(12px);
          line-height: rem(18px);
        }

        color: var(--text-secondary);
      }

      .price {
        color: var(--text-primary);
        font-size: rem(10px);
        line-height: rem(16px);
        display: flex;
        align-items: center;

        @include media('>=tablet') {
          font-size: rem(14px);
          line-height: rem(20px);
        }
      }

      .bluechip-icon {
        margin: rem(2px) rem(2px) 0 0;
      }

      &__border {
        &--L {
          border-radius: rem(2px);
          min-width: rem(32px);
          border: 1px solid get-color(accent-dark);
          display: block;
        }
      }

      .load-10 {
        padding: rem(10px) 0;
        width: 100%;

        .bar {
          float: left;
          width: 15px;
          height: rem(4px);
          border-radius: 2px;
          animation: loadingline 2s cubic-bezier(0.17, 0.37, 0.43, 0.67)
            infinite;
        }
      }
    }

    &__item.selected {
      height: rem(62px);
      background-color: get-color(secondary-main);

      @include media('>=tablet') {
        height: rem(76px);
      }

      .price {
        color: var(--text-primary);
      }
    }

    &__item.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &__item.holiday::before {
      content: '';
      position: absolute;
      top: rem(4px);
      display: block;
      background-color: get-color(secondary-bright);
      right: rem(4px);
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;

      @include media('>=tablet') {
        right: rem(8px);
        top: rem(8px);
      }
    }
  }

  .flight-date-carousel-slider {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    @include media('>=tablet') {
      left: unset;
      margin-left: unset;
      margin-right: unset;
      right: unset;
      width: auto;
    }
  }
}

@keyframes loadingline {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(60px, 0);
    background-color: get-color(primary-main);
    width: 15px;
  }
}

.flight-date-slider {
  display: none;
  @include media('<tablet') {
    margin: 0 rem(-20px);
    position: relative;
  }
  @include media('>=tablet') {
     display: block;   
}
.hide-on-scroll {
  display: none;
}
  
}

