@import '../../styles/main';

$content-box-bg-color: var(--white);
$close-button-color: #555;
$content-box-shadow: #d5d5d580;
$content-box-border-color: #dedede;
$dropdown-button-border-color: #ccc;
$secondary-signup-label-color: #666;
$login-sso-form-anchor-tag-color: #007aff;
$close-button-hover-bg-color: #f4f4f8;
$login-sso-form-checkbox-border-color: #808080cc;
$primary-signup-label-color: rgb(34 34 34);
$input-text-field-label-bg-color: white;
$box-shadow-fold-hard: 0 0 32px 2px rgb(76 93 158 / 12%);

.popup-modal-with-content-login-sso-form,
.popup-modal-with-content.login-sso-otpverify {
  .popup-modal-with-content {
    * {
      font-family: inherit;
    }

    input:-webkit-autofill {
      box-shadow: none !important;
      background-color: $input-text-field-label-bg-color !important;
      -webkit-text-fill-color: unset !important;
    }

    &__bg-overlay {
      background: transparent;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 9999;

      @include media('>=tablet') {
        height: 100vh;
        background: var(
          --Other-Overlay-Gradient,
          linear-gradient(
            224deg,
            rgb(21 32 95 / 80%) 6.84%,
            rgb(36 64 154 / 80%) 73.19%
          )
        );
        backdrop-filter: blur(2.799999952316284px);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__close-overlay-button {
      top: rem(18px);
      left: rem(14px);
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;

      &__icon {
        display: contents;

        &--close {
          &::before {
            font-size: 0.9rem;
            color: $close-button-color;
          }
        }
      }

      &:hover {
        background: $close-button-hover-bg-color;
      }
    }

    .margin-right {
      display: inline-block;
      margin-right: rem(4px);
    }

    .input-text-field__label {
      background: $input-text-field-label-bg-color;
    }

    &__content {
      top: 0;
      left: 0;
      width: 100%;
      height: unset;
      margin: unset;
      transform: none;
      min-height: 100%;
      position: relative;
      border-radius: rem(12px);
      font-family: inherit;
      background-clip: padding-box;
      padding: 0;
      background-color: $content-box-bg-color;
      border: solid rem(1px) $content-box-border-color;
      box-shadow: $box-shadow-fold-hard;

      @include media('<tablet') {
        // comment - to avoid regression on desktop
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
      }

      @include media('>=tablet') {
        padding: rem(10px) rem(20px) rem(20px) rem(10px);
      }

      .popup-modal-with-content__header {
        justify-content: space-between;
        flex-direction: row-reverse;
        display: flex;
        margin-bottom: rem(24px);

        &__title {
          color: var(--text-primary);
          display: flex; // for member benfit page

          @include h3;

          font-weight: 500 !important;

          .green,
          .text-green {
            color: #209326;
          }
        }
      }

      .login-sso-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: inherit;

        &__link-redirection {
          p {
            margin-top: rem(8px);
            font-size: rem(15px);
            padding-right: rem(14px);

            a {
              text-decoration: none;
              transition: color 200ms ease;
              color: $login-sso-form-anchor-tag-color;
            }
          }
        }

        &__sign-up-new-user {
          display: flex;
          margin-top: rem(8px);
          padding-right: rem(14px);
          justify-content: flex-end;

          p {
            font-size: rem(15px);
            color: $primary-signup-label-color;

            a {
              color: $login-sso-form-anchor-tag-color;
            }
          }
        }

        &__wrapper {
          margin-top: rem(10px);

          @include media('>=tablet') {
            margin-top: rem(16px);
          }

          h3 {
            font-size: rem(26px);
            font-weight: 700;
            line-height: rem(36px);
            margin-bottom: rem(24px);
            font-family: inherit;
          }

          &__form {
            display: flex;
            align-items: stretch;
            flex-direction: column;
            gap: rem(8px);

            @include media('>=tablet') {
              gap: rem(24px);
            }

            &__persona {
              display: flex;
              padding: rem(8px);
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: rem(4px);
              align-self: stretch;
              border-radius: rem(8px);
              border: 1.25px dashed
                var(--Secondary-Medium, var(--text-alice-blue));
              background: var(--Stroke-for-Blur, var(--white));
              box-shadow: 0 0 28px 16px rgb(76 93 158 / 4%);
              backdrop-filter: blur(8px);

              &__radio-btn {
                display: flex;
                align-items: flex-start;
                gap: rem(12px);
              }
            }

            &__row {
              position: relative;
              // margin-bottom: rem(24px);
              display: flex;
              flex-direction: column;
              justify-content: flex-start;

              &--row1 {
                &.mobile {
                  justify-content: space-between;
                  padding-bottom: rem(10px);

                  @include media('>=tablet') {
                    padding-bottom: 0;
                  }

                  .input-field-wrapper {
                    &:first-child {
                      flex-basis: 30%;
                    }

                    &:last-child {
                      flex-basis: calc(70% - rem(16px));
                    }
                  }
                }

                &.staff {
                  .cmp-custom-drop-down {
                    display: flex;
                    flex-basis: rem(84px);
                    margin-right: rem(16px);

                    &__btn {
                      width: 100%;
                      padding: rem(8px);
                      height: rem(48px);
                      margin-right: 0;
                      border-radius: rem(4px);
                      border: rem(1px) solid $dropdown-button-border-color;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;

                      &::after {
                        margin: 0;
                        padding: 0;
                        border: none;
                        width: unset;
                        height: unset;
                        transition: unset;
                        display: inline-block;
                        vertical-align: unset;
                        top: unset;
                        right: unset;
                        content: '\e901';
                        font-size: 0.7rem;
                        position: relative;
                        font-family: icomoon, sans-serif;
                      }

                      &:hover {
                        border-color: black;
                      }

                      &:focus {
                        border-color: $login-sso-form-anchor-tag-color;
                        border: rem(2px) solid $login-sso-form-anchor-tag-color;
                      }
                    }

                    &__options {
                      top: rem(46px);
                      left: rem(-6px);
                    }
                  }

                  .input-field-wrapper {
                    flex-basis: calc(100% - rem(100px));
                  }
                }
              }

              &--row3 {
                justify-content: space-between;
              }

              &--row4 {
                &.secondary {
                  margin-bottom: 0;

                  .skyplus-button {
                    width: 100%;

                    & button {
                      width: 100%;
                      padding: rem(16px) rem(56px);
                      min-width: rem(180px);
                      border-radius: rem(28px);
                    }
                  }

                  & + div {
                    margin-bottom: 0;
                  }
                }

                &.no-secondary {
                  margin-bottom: rem(12px);
                }
              }

              &--row5 {
                justify-content: center;

                &.login-sso-form__sign-up-new-user {
                  margin-top: rem(16px);

                  p {
                    font-size: rem(15px);
                    color: $secondary-signup-label-color;

                    a {
                      font-weight: 600;
                    }
                  }
                }
              }

              .remember-me {
                margin-left: rem(2px);

                &__label {
                  font-size: rem(15px);
                }
              }

              a.anchor-tag {
                font-size: rem(14px);
                font-weight: 500;
              }

              &.justify-center {
                justify-content: center;
              }

              .form-control,
              .custom-button,
              .custom-form-control {
                flex-basis: 100%;

                .input-text-field__input {
                  width: 100%;
                  outline: none;

                  &:focus {
                    border: 2px solid $login-sso-form-anchor-tag-color;
                  }

                  &[type='password'] {
                    padding-right: rem(68px);
                  }

                  &:-webkit-autofill {
                    -webkit-text-fill-color: $primary-signup-label-color;
                    box-shadow: 0 0 0 1000px $input-text-field-label-bg-color
                      inset;
                  }
                }
              }

              .custom-button {
                margin-right: 0;

                &__loading__circle {
                  left: unset;
                }
              }

              .login-sso-form__anchor-tag {
                text-align: end;
              }

              &.submit-btn {
                .custom-button {
                  line-height: 1.2;
                  font-weight: 600;
                  font-size: rem(18px);
                  text-transform: none;

                  &:disabled {
                    opacity: 1;
                  }
                }
              }
            }

            .anchor-tag {
              color: $login-sso-form-anchor-tag-color;
            }
          }
        }

        &__otp-info-contatiner {
          padding-top: rem(33px);
          display: flex;
          align-items: flex-start;

          p,
          span {
            font-size: rem(12px);
            line-height: normal;
          }

          & > i {
            padding-right: rem(8px);
            height: rem(40px);
            font-size: rem(18px);
            line-height: normal;
          }
        }

        &__send-otp-btn {
          .skyplus-button {
            width: 100%;
          }

          button {
            padding: rem(12px) rem(0px);
            font-size: rem(14px);

            @include media('>=tablet') {
              padding: rem(16px) rem(0px);
              font-size: rem(16px);
              width: 100%;
              border-radius: rem(28px);
            }
          }
        }

        .design-system-phone-component {
          // comment for first phone
          width: 100%;

          .error-msg {
            position: absolute;
            left: -100px;
            padding-top: 8px;

            @include media('>=tablet') {
              left: -91px;
            }
          }
        }
      }
    }

    @include media('>=tablet') {
      // @media screen and (width >= 991px) {
      &__close-overlay-button {
        top: rem(36px);
        left: rem(34px);
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
          background: none;
        }
      }

      &__content {
        display: flex;
        width: rem(1000px);
        height: auto;
        min-height: rem(528px);
        max-height: 100vh;
        max-width: rem(1000px);
        padding: rem(16px);
        gap: rem(24px);

        .login-sso-image-V2 {
          position: relative;
          width: 100%;
          max-height: rem(300px);
          height: rem(300px);

          @include media('>=tablet') {
            min-width: rem(552px);
            border-radius: rem(8px);
            overflow: hidden;
            max-height: max-content;
            height: auto;
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .login-sso-form-V2 {
          display: flex;
          flex-direction: column;
          row-gap: rem(32px);
          width: 100%;
          padding: rem(10px) rem(20px);
          position: absolute;
          top: 94%;
          background-color: var(--white);
          border-radius: rem(12px);

          &:has(.otpScreen) {
            row-gap: rem(32px);
          }

          @include media('>=tablet') {
            padding: 0;
            position: unset;
          }

          &__upper {
            padding: 0 rem(8px) 0 rem(8px);
            // overflow: auto;
          }

          &__lower {
            @include body-medium-regular;

            font-size: 14px !important;
            padding-top: rem(16px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: rem(12px);

            &-dot {
              border-top: 4px dotted #bcc2cf;
              transform: scale(0.25);
              width: 400%;
            }

            a {
              color: var(--primary-main);
              text-align: center;
              text-decoration-line: underline;
              text-transform: uppercase;

              @include body-medium-regular;

              font-family: var(--font-family-poppins-medium) !important;

              &.link-small {
                @include link-small;

                color: var(--text-primary);
              }
            }

            .fw-medium {
              a {
                font-weight: 500 !important;
              }
            }

            &.otpScreen {
              row-gap: 0;

              a {
                color: var(--primary-main);
                text-transform: capitalize;
              }
            }
          }

          .skyplus-button--disabled {
            background-color: #bcc2cf;
            opacity: 1 !important;
            font-weight: 500;
          }
        }
      }
    }

    //   }
  }

  .login-sso-image-V2 {
    position: relative;
    width: 100%;
    max-height: rem(300px);
    height: rem(300px);

    @include media('<tablet') {
      // comment - to avoid regression on desktop
      max-width: unset;
      height: rem(500px);

      img {
        // height: 100vh;
        width: 100%;
        object-fit: cover;
      }
    }

    @include media('>=tablet') {
      min-width: rem(552px);
      height: rem(496px);
      max-height: rem(496px);

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-p {
      position: absolute;
      bottom: rem(36px);
      color: var(--secondary-white);
      pointer-events: none;

      @include media('<tablet') {
        // comment - to avoid regression on desktop
        top: rem(-82px);
      }

      @include media('>=tablet') {
        left: rem(48px);
      }

      p {
        @include h1;

        text-shadow: 2px 2px 12px rgb(0 0 0 / 40%);
      }
    }
  }

  .login-sso-form-V2 {
    padding: rem(24px) rem(24px) rem(32px) rem(24px);
    position: fixed;
    background-color: var(--white);
    border-radius: rem(12px);
    width: 100%;
    bottom: 0;
    // height: 100vh;

    @include media('>=tablet') {
      position: unset;
      height: auto;
    }

    &__login-screen {
      text-align: center;
      padding-top: rem(20px);
      font-size: rem(12px);
      font-family: var(--font-family-poppins-regular);

      @include media('>=tablet') {
        font-size: rem(14px);
      }

      .login-sso-form-V2__lower__row2 {
        a {
          color: var(--primary-main);
          font-size: rem(14px);
          font-family: var(--font-family-poppins-medium);
          text-decoration: underline;

          @include media('>=tablet') {
            font-size: rem(16px);
          }
        }
      }

      .link-small {
        a {
          color: var(--text-primary);
          font-size: rem(14px);
          font-family: var(--font-family-poppins-medium);
          font-weight: 400;
          line-height: rem(20px);
          text-transform: capitalize;
          text-decoration: underline;
        }
      }
    }

    .input-text-field__input {
      height: rem(42px);
      width: rem(42px);
      border: rem(1px) solid var(--text-alice-blue);
      margin-bottom: rem(16px);
      padding: 0;

      @include media('>=tablet') {
        width: rem(45.5px);
      }
    }

    &__lower {
      @include media('<tablet') {
        // comment - to avoid regression on desktop
        border-top: 1.5px dotted var(--secondary-deep);
        padding-bottom: rem(16px);
        margin-top: rem(16px);
      }

      &__row1 {
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: rem(12px);
        line-height: rem(18px);
        font-weight: 400;

        a {
          color: var(--primary-main);
          font-family: var(--font-family-poppins-medium);
          font-size: rem(14px);

          @include media('>tablet') {
            font-size: rem(16px);
          }
        }
      }

      &__sme-admin {
        align-items: center;

        p {
          font-size: rem(12px);
          font-weight: 400;
          font-family: var(--font-family-poppins-regular);
        }
      }
    }

    /* Hide the spinner arrows in Webkit browsers (Chrome, Safari) */
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    /* Hide the spinner arrows in Firefox */
    input[type='number'] {
      appearance: textfield;
    }
  }
}

.login-sso-otpverify {
  &__heading {
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #242424;
    font-size: rem(32px);
    font-weight: bold;
    margin-bottom: rem(8px);
  }

  &__paragraph {
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
    font-size: rem(14px);
    margin-bottom: rem(2px);
    font-family: var(--font-family-poppins-regular);

    p {
      font-size: inherit;
      margin: 0;
      padding: 0;
    }
  }

  &__number {
    display: flex;
    margin-bottom: rem(24px);

    a {
      font-size: rem(20px);
      margin-left: rem(8px);
    }

    p {
      padding-top: rem(2px);
    }

    & + .skyplus-otpInput__container {
      justify-content: space-between;
      width: 99%;

      @include media('>=tablet') {
        width: 100%;
      }

      margin-bottom: rem(6px);

      .skyplus-otpInput__otp-input.otp__error {
        .input-text-field__input {
          margin-bottom: rem(16px);
        }
      }

      .skyplus-otpInput__otp-input {
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &__otp-resent {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 12px !important;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      color: var(--system-success) !important;
      padding-right: 8px;
    }
  }

  &__resend {
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #242424;
    font-size: rem(14px);
    margin-bottom: rem(24px);

    &__time {
      font-weight: bold;
    }
  }

  &__resendlink {
    color: #06f;
    text-decoration: none;
  }

  .submit-otp {
    margin-top: rem(16px);

    @include media('>=tablet') {
      margin-top: rem(24px);
    }

    button {
      width: 100%;
    }
  }

  button.login-sso-otpverify-verify-button {
    width: 100%;
    margin-top: rem(27px);

    &:disabled {
      background-color: #ddd;
      border: 0;
      cursor: not-allowed;
      pointer-events: all;
    }

    .custom-button__loading__circle {
      left: 0;
    }
  }

  .login-sso-otpverify-verify-button {
    button {
      padding: rem(12px) rem(0px);
      border-radius: rem(22px);

      @include media('>=tablet') {
        padding: rem(16px) rem(0px);
        border-radius: rem(28px);
      }

      font-size: rem(14px);
      line-height: rem(20px);

      @include media('>=tablet') {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }
  }

  &__didnt--recieved {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;

    p {
      color: var(--text-primary);

      @include body-large-medium;
    }

    a {
      color: var(--primary-main);

      @include link-small;

      text-decoration-line: underline;
      text-transform: capitalize;
    }
  }

  &__helper-text {
    color: var(--text-tertiary);

    @include body-medium-light;

    font-size: rem(12px);
  }

  .popup-modal-with-content {
    &__content {
      display: block;
      padding: 0;

      @include media('>=tablet') {
        width: fit-content;
        min-width: rem(424px);
        display: flex;
      }
    }
  }

  &__otp-error {
    padding: rem(3px) rem(6px);
    background-color: rgb(199 86 86 / 10%);
    font-size: rem(14px);
    color: #c75656;
    display: flex;
    align-items: center;
    column-gap: rem(3px);
    border-radius: rem(4px);

    .icon-information {
      font-size: rem(14px);
      font-weight: 900;
      margin-left: rem(4px);

      &::before {
        content: '\e961';
      }
    }
  }
}

.login-sso-phone-dropdown {
  .error-msg {
    position: absolute;
    left: 0;
    top: rem(42px);
  }
}

.login-sso-phone-dropdown-error,
.login-sso-enrollment-phone-dropdown {
  .error-msg {
    @include media('<tablet') {
      left: rem(-90px);
    }

    left: rem(-80px);
  }
}

.login-sso-form-V2
  .signup__email-input-field
  .login-sso-enrollment-phone-dropdown.design-system-input-field.error-space {
  .error-msg {
    top: rem(44px);
  }
}

.error-space {
  .error-msg {
    position: absolute;
    top: rem(48px);
  }
}

.login-sso-form-V2
  .signup__email-input-field
  .login-sso-enrollment-phone-dropdown.design-system-input-field
  .error-msg {
  left: -90px;
}

.design-system-input-field.position-relative.mb-6.login-sso-phone-dropdown-error
  input {
  border: 1px solid #c75656;
}

.login-sso-phone-dropdown-error
  .skyplus-design-system-country-dropdown-wrapper
  .selected-country-box-wrapper {
  // .selected-country-box-wrapper{
  border: 1px solid #c75656;
  // }
}

.selected-country-box-wrapper {
  font-family: var(--font-family-poppins-regular);
}

.login-sso-password {
  &__inputfield {
    background-color: none;

    input::placeholder {
      font-style: normal;
      font-weight: 300;
    }
  }

  &__link {
    text-align: right;
    font-size: rem(12px);

    @include media('>=tablet') {
      font-size: rem(14px);
    }

    a {
      color: var(--primary-main);
      font-family: var(--font-family-poppins-regular);
    }
  }
}

.user-is-tabbing .popup-modal-with-content {
  button:focus {
    outline: 0.125rem solid gray;
    outline-offset: 0.25rem;
    text-decoration: none;
  }

  input.border-error {
    outline: none;
  }
}
.loyalty-content{
  img{
    height: rem(18px);
  }
}

body:has(.login-sso-form-V2) .skyplus-design-toast .top-bottom {
  @include media('<tablet') {
    // comment - to avoid regression on desktop
    max-width: 100%;
    margin: 0 rem(24px);
    top: rem(24px);
  }

  top: rem(-50px);
}
