.loyalty-footer {
  box-shadow: var(--box-shadow-bottom-sticky);
  border-top-left-radius: rem(12px);
  border-top-right-radius: rem(12px);
  padding: rem(24px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(16px);
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bs-white);
  height: rem(76px);

  @include media('>=tablet') {
    height: rem(100px);
    justify-content: flex-end;
    background-color: var(--other-radio-hover);
    padding: rem(20px) rem(64px) !important;
    bottom: 0;
  }

  button {
    padding: rem(12px) rem(32px);
    border-radius: rem(28px);
    font-family: var(--font-family-poppins-medium);
    width: 60vw;

    @include media('>=tablet') {
      padding: rem(16px) rem(56px);
      width: auto;
    }
  }
}
