:root {
  --seatmf-background-c: #f6faff;
  --seatmap-background-c: #fafcff;
  --passenger-box-shadow-c: #64646f33;
  --passenger-box-border-c: #daf1ff;
  --text-tertiary-c: #A9A9A9;
  --other-border-divider:#A7B3D7;
  --seat-wing-bottom-gradient: linear-gradient(
    180deg,
    rgb(167 179 215 / 50%) 0%,
    rgb(167 179 215 / 0%) 100.46%
  );
  --seat-wing-top-gradient: linear-gradient(
    0deg,
    rgb(167 179 215 / 50%) 0%,
    rgb(167 179 215 / 0%) 100.46%
  );
  --emergency-close-icon-c: #24409A
  --seat-map-background: rgb(255 255 255 / 48%);
}
