@mixin card-border {
  border: rem(1px) solid var(--secondary-deep);
  border-radius: rem(12px);
  box-shadow: 0 0 rem(12px) 0 var(--box-shadow-card-soft);
}

@mixin font-styles($fs, $fw, $lh, $clr: null) {
  font-size: rem($fs);
  font-weight: $fw;
  line-height: rem($lh);

  @if $clr {
    color: $clr;
  }
}

@mixin scroll-snap-styles($spi: 4px) {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scrollbar-width: none; 
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: rem($spi);

  & > * {
    scroll-snap-align: start;
  }
}