.tier-progress {
  display: flex;
  padding: rem(16px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(24px);
  align-self: stretch;
  border-radius: rem(12px);
  border: rem(1px) solid var(--secondary-deep);

  @include media("<phone") {
    padding: rem(16px) rem(4px) rem(16px) rem(4px);
  }

  @include media('>=tablet') {
    border: none;
    gap: rem(20px);
    padding: 0px;
    width: 50%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(8px);
    align-self: stretch;

    p {
      color: var(--text-secondary);
      text-align: center;
      font-family: var(--font-family-poppins-medium);
      font-size: rem(14px);
      font-style: normal;
      font-weight: 600;
      line-height: rem(20px);
      text-transform: capitalize;


      @include media('>=tablet') {
        font-size: rem(20px);
        font-style: normal;
        font-weight: 500;
        line-height: rem(20px);
      }
    }

  }

  &__progress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(24px);

    @include media("<phone") {
      gap: rem(15px);
    }

    @include media('>=tablet') {
      gap: rem(16px);
    }

    @include media('>=desktop') {
      gap: rem(44px);
      padding: rem(15px);
    }

    .spend-milestone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(12px);

      p {
        color: var(--text-tertiary);
        text-align: center;
        font-family: var(--font-family-poppins-regular);
        font-size: rem(12px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @include media('>=tablet') {
          font-size: rem(16px);
        }
      }

    }

    .flight-milestone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(12px);

      p {
        color: var(--text-tertiary);
        text-align: center;
        font-family: var(--font-family-poppins-regular);
        font-size: rem(12px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @include media('>=tablet') {
          font-size: rem(16px);
        }
      }

    }

  }

  .progress-vector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(24px);
    align-self: stretch;
    border-radius: rem(12px);
    border: rem(1px) dashed var(--secondary-deep);

  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16px);
    align-self: stretch;

    @include media('>=tablet') {
      height: -webkit-fill-available;
      gap: rem(12px);
    }

    .description-item {
      display: flex;
      align-items: flex-start;
      gap: rem(8px);
      align-self: stretch;

      .icon-add-simple:before {
        color: var(--text-primary);
        font-size: rem(12px);
        font-weight: 900;
      }

      p {
        color: var(--text-secondary);
        font-family: var(--font-family-poppins-regular);
        font-size: rem(12px);
        font-style: normal;
        font-weight: 400;
        line-height: rem(20px);
      }

      span {
        color: var(--text-green);
      }
    }
  }

}

.propress-bar-container {
  display: flex;
  gap: rem(24px);
  flex-direction: column;

  @include media('>=tablet') {
    flex-direction: row;
    gap: rem(44px);
    width: 100%;
  }

  .retain-promo-container {
    width: 50%;

    .retain-promo {
      border-radius: rem(16px);
      display: none;

      @include media(">=tablet") {
        width: auto;
        height: rem(242px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        padding: 0px 16px 16px 16px;
        align-content: flex-end;
      }

      @include media('>=desktop') {
        width: auto;
        height: rem(376px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        padding: 0px 16px 16px 16px;
        align-content: flex-end;
      }

      &--des {
        display: flex;
        padding: rem(16px);
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        border-radius: rem(12px);
        background: var(--blur-card-dark);

        box-shadow: 0px -12px 24px 0px rgba(76, 93, 158, 0.08);
        backdrop-filter: blur(12px);
        width: 100%;


        @include media('>=tablet') {
          width: 100%;
        }

        .title {
          color: var(--white);
          font-family: var(--font-family-bauhuas-std-medium);
          font-size: rem(18px);
          font-style: normal;
          font-weight: 500;
          line-height: rem(24px);
        }

        .sub-title {
          color: var(--secondary-deep);
          font-family: var(--font-family-poppins-light);
          font-size: rem(14px);
          font-style: normal;
          font-weight: 300;
          line-height: rem(20px);
        }
      }

    }
  }

}

.progress-vector2 {
  display: none;

  @include media('>=desktop') {
    display: block;
    border: 0.0625rem dashed var(--secondary-deep);
    stroke-width: 1.5px;
  }
}

.circulr-bar {
  display: flex;
  justify-content: space-around;
  width: rem(120px);
  height: rem(120px);

  @include media('>=desktop') {
    width: rem(180px);
    height: rem(180px);
  }

  @include media('>=desktop-lg') {
    width: rem(200px);
    height: rem(200px);
  }

}