
.popup-container .popup-modal-global__content {
  width: rem(391px);
  height: rem(204px);
  padding: rem(24px);
}

.popup-container .skyplus-heading{
  font-size: rem(16px);
  font-family: var(--font-family-poppins-medium);
  color: var(--text-dark-blue);
}

.popup-container .body-small-regular{
  color: var(--text-tertiary);
}

.popup-container .skyplus-button button{
  background-color: var(--white);
  width: 30%;
  border: rem(1px) solid  var(--action-selected-text);
  color: var(--action-selected-text);
  margin: rem(0) auto;
  padding: rem(12px) rem(36px);
  border-radius: rem(28px);
}