
.visa-shedule-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(30px);

    @include media('>=desktop') {
        grid-template-columns: calc(50% - rem(15px)) calc(50% - rem(15px));
        gap: rem(30px);
    }


    .timeline {
        position: relative;
        background-color: var(--white);
        padding: rem(16px);
        border-radius: rem(8px);

        @include media('>=desktop') {
            background-color: var(--white);
            border-radius: rem(12px);

            
        }
    }

    .item {
        border-radius: rem(12px);
        padding: rem(24px);

        &.timing-holidays {
            background-color: var(--secondary-light);
        }
    }

    &__view-more-btn-container {
        padding-top: rem(16px);
        padding-bottom: rem(19px);

        .btn-view-more {
            a{
                color: var(--primary-main);
            }

            margin-left: rem(70px);
            text-decoration: underline;
            cursor: pointer;
            font-weight: 600;
            font-size: rem(12px);
            line-height: rem(16px);
            margin-top: rem(10px);
        }
    }

    .timeline::before {
        content: "";
        position: absolute;
        left: rem(35px);
        height: 90%;
        background: var(--action-disabled-stroke);
        border: rem(2px) solid var(--action-disabled-stroke);
        border-radius: rem(10px);

        @include media('>=desktop') {
            height: 80%;
        }
    }

    .timeline-item {
        display: flex;
        align-items: flex-start;
        position: relative;
        width: fit-content;
        padding-bottom: rem(26px);
    }

    .button-item {
        border: rem(6px) solid var(--white);
        background: var(--embassy-background);
        cursor: default;
        padding: rem(4px) rem(11px);
        border-radius: unset;
        border-radius: rem(9px);
        color: var(--white);
        font-size: rem(10px);
    }

    .timeline-dot {
        width: rem(20px);
        height: rem(20px);
        background: var(--primary-main);
        border-radius: 50%;
        position: absolute;
        left: rem(11px);
        top: rem(0px);
        border: rem(4px) solid var(--white);
    }

    .timeline-content {
        margin-left: rem(45px);
        line-height: rem(16px);
        font-size: rem(14px);

        &__date {
            padding-bottom: rem(30px);

            .timeline-date {
                size: rem(12px);
                font-weight: 600;
                line-height: rem(16px);
                color: var(--text-dark-blue);

                @include media('>=desktop') {
                    size: rem(14px);
                }
            }
        }

        &__text {
            font-family: var(--font-family-poppins-regular);
            color: var(--text-tertiary);
            font-weight: 400;
            font-size: rem(12px);

            @include media('>=desktop') {
                size: rem(14px);
                line-height: rem(18px);
                color: var(--text-secondary);
                font-size: rem(14px);
            }
        }
    }
}