.srp-filter-container {
  display: flex;
  gap: rem(4px);
  position: relative;

  @include media('>=tablet') {
    gap: rem(10px);
  }

  box-shadow: none;

  .icon-container {
    gap: rem(16px);
    @include media('>=tablet') {
      gap: rem(24px);
    }
    i {
      cursor: pointer;
    }
  }

  &-left {
    overflow: auto;
    white-space: nowrap;
    flex: 1;

    .skyplus-chip {
      margin-right: rem(4px);
      @include media('>=tablet') {
        margin-right: rem(12px);
      }
      div {
        padding: rem(6px) rem(12px);
        @include media('>=tablet') {
          padding: rem(8px) rem(12px);
        }
        span {
          font-size: rem(10px);
          @include media('>=tablet') {
            font-size: rem(12px);
          }
        }
      }

      &.filter {
        div {
          background-color: get-color(white) !important;
          border-color: var(--text-alice-blue);

          span {
            color: var(--text-secondary);
            font-family: var(--font-family-poppins-medium);
          }
        }
      }
      &.filter-active {
        div {
          border-color: var(--secondary-main);
          span {
            color: var(--text-primary);
            font-family: var(--font-family-poppins-medium);
          }
        }
      }
    }

    .skyplus-chip--next {
      span {
        color: get-color(primary-main);
      }

      &.withBorder {
        border: none;
      }
      margin-right: rem(4px);
      @include media('>=tablet') {
          margin-right: rem(12px);
      }
    }
  }

  .skyplus-chip--next {
    span {
      display: flex;
      gap: rem(8px);
      align-items: center;
      justify-content: center;
    }
  }
}

.srp-filter-slider {
  .skyplus-offcanvas__contents {
    &--body {
      padding-top: rem(20px);

      .h4 {
        display: none;
        @include media('>=tablet') {
          display: block;
        }
      }
    }

    &--footer {
      box-shadow: var(--box-shadow-bottom-sticky);
    }

    &--header {
      .icon-close-simple {
        &::before {
          font-size: rem(24px);
        }
      }
    }
  }

  .srp-horizontal-rule {
    border-top: 1px dotted var(--text-disabled);
  }

  .filter-control-group {
    &:not(:last-child) {
      background-image: radial-gradient(
          circle closest-side,
          transparent calc(100% - 0.5px),
          #0000 100%
        ),
        radial-gradient(
          circle closest-side,
          transparent calc(100% - 0.5px),
          #0000 100%
        ),
        radial-gradient(
          circle closest-side,
          var(--text-disabled) calc(100% - 0.5px),
          #0000 100%
        ),
        radial-gradient(
          circle closest-side,
          transparent calc(100% - 0.5px),
          #0000 100%
        );
      background-repeat: repeat-x, repeat-y;
      background-size: 4px 2px, 4px 2px;
      background-position: 0 0, 100% 0, 0 100%;
    }

    padding-bottom: rem(24px);
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    margin-top: rem(24px);

    &-label {
      color: #757c8a;
    }

    &-controlls {
      display: flex;
      gap: rem(8px);
      flex-wrap: wrap;

      .skyplus-chip-filled-col-white-size-md-bg-secondary-light-txtcol-text-secondary {
        border: 1px solid #e2ebf2;
      }

      .skyplus-chip {
        span {
          font-family: var(--font-family-poppins-medium);
        }
      }

      .skyplus-button {
        width: rem(104px);

        @include media('>=tablet') {
          width: rem(76px);
        }

        button {
          width: 100%;

          .skyplus-text {
            font-family: var(--font-family-poppins-medium);
          }
        }
      }

      .box-control-button {
        padding: 0;
        width: rem(76px);
        height: rem(78px);
        background: var(--white);
        border-radius: rem(8px);
      }

      .icon {
        font-size: rem(24px);
        color: var(--text-secondary);
      }

      .box-control-text {
        color: var(--text-secondary);
      }

      .box-control-form-element input:checked + label::before {
        opacity: 1;
        transform: scale(1);
      }

      .box-control-form-element input:checked + label .icon {
        color: get-color(primary-main);
      }

      .box-control-form-element input:checked + label .title {
        color: get-color(primary-main);
      }

      .box-control-form-element input:checked + label {
        background-color: #eaf8ff;
        border: 1px solid #afe4ff;
      }

      .filter-control-group-default {
        background-color: var(--white);
        color: var(--text-secondary);
        border: 1px solid var(--action-selected-background);
      }

      .filter-control-group-clicked {
        background-color: var(--action-selected-background);
        color: var(--text-primary);
        border: 1px solid var(--secondary-main);

        .icon {
          color: #000 !important;
        }
      }
    }
  }

  .filter-control-checkbox {
    display: flex;
    gap: rem(30px);
    margin-top: rem(24px);
    padding-bottom: rem(20px);

    &-span {
      color: var(--text-primary);
    }
  }

  &-footer {
    display: flex;
    flex-direction: row;
    gap: rem(16px);
    width: 100%;
    margin: rem(24px) rem(24px) rem(32px);
    justify-content: center;

    .skyplus-button {
      width: 100%;
    }
  }
}

input[type='checkbox'] {
  width: 0;
  height: 0;
  position: relative;
  cursor: pointer;
}

input[type='checkbox']::before {
  content: '';
  display: block;
  position: absolute;
  width: rem(18.5px);
  height: rem(18.5px);
  top: 0;
  left: 0;
  border: rem(1.5px) solid var(--sel-con-toggle-selected);
  border-radius: 5px;
}

input[type='checkbox']:checked::after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--sel-con-toggle-selected);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 7px;
}

.hidden-fillter {
  display: none;
 
  @include media('>=tablet') {
     display: block;   
}
}
