.srp-footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  border-top-left-radius: rem(16px);
  border-top-right-radius: rem(16px);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  border: 1px solid rgb(255 255 255 / 39%);
  z-index: 99;

  &:has(.loyalty-points--custom-slider-wrapper) {
    border-radius: rem(24px) rem(24px) 0 0;
  }

  @include media('>=tablet') {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0.0625rem solid var(--secondary-medium);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    box-shadow: var(--bs-box-shadow-sm);
  }

  background-color: rgb(237 240 247 / 96%);

  .srp-price-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(14px) rem(24px);
    position: relative;

    @include media('>=tablet') {
      gap: rem(105px);
      padding: rem(12px) rem(64px) rem(8px) 0;
      justify-content: flex-end;
      max-width: rem(1440px);
      margin: auto;
      border: none;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
    }

    @include media('<tablet') {
      &-left>.skyplus-heading>.earn-potential-points {
        font-size: rem(14px);
        font-weight: 500;
        line-height: rem(32px);
        letter-spacing: -0.6px;
        vertical-align: middle;
      }
    }

    .dash {
      content: '';
      border: 2px solid get-color(sel-con-disabled-stroke);
      width: rem(40px);
      top: rem(6px);
      left: calc(50% - rem(20px));
      position: absolute;
      border-radius: rem(20px);

      @include media('>=tablet') {
        display: none;
      }
    }

    &-left {
      .total {
        color: get-color(text-tertiary);
        font-size: rem(12px);

        @include media('>=tablet') {
          margin-top: rem(16px);
        }

        &.loyaltyLabel {
          text-transform: uppercase;
        }
      }

      .total-amount {
        font-family: var(--font-family-poppins-regular);
        font-size: rem(24px);
        margin: rem(4px) 0 0;
      }

      .sub-heading {
        color: get-color(text-tertiary);
        display: none;

        @include media('>=tablet') {
          display: block;
        }
      }

      .view-details {
        display: block;
        color: var(--color-button-link);
        cursor: pointer;
        font-size: rem(14px);
        text-transform: capitalize;
        text-decoration: underline;
        font-family: var(--font-family-poppins-regular);

        @include media('>=tablet') {
          margin-bottom: rem(20px);
        }
      }

      .bluechip-point-container {
        display: flex;
        align-items: center;

        .bluechip-icon {
          margin: rem(0) rem(2px) 0 0;
        }
      }
    }

    .srp-price-footer-left {
      @include media('>=tablet') {
        display: flex;
        align-items: center;
      }

      .total,
      .total-amount,
      .view-details {
        @include media('>=tablet') {
          margin: 0;
        }
      }

      .total-amount {
        @include media('>=tablet') {
          margin: 0 rem(16px);
        }
      }
    }

    .loyalty-footer {
      flex-direction: column;
      align-items: flex-start;

      .total-amount {
        @include media('>=tablet') {
          margin: rem(4px) 0;
        }

        @include media('<tablet') {
          font-size: rem(16px);
        }
      }
    }

    &-right {
      margin-top: rem(-6px);

      button {
        padding: rem(12px) rem(32px) !important;
        border-radius: rem(30px);
        font-family: var(--font-family-poppins-medium);

        @include media('>=tablet') {
          padding: rem(6px) rem(16px) !important;
        }
      }
    }
  }
}