@import './styles/main';

.pe-container-wrapper>div:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include media('>=desktop') {
        flex-direction: row;
    }
}