.visa_traveller_details {
  .radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16px);

    @include media('>=tablet') {
      gap: rem(32px);
    }
  }

  .radio-container {
    display: flex;
    align-items: center;
  }

  .custom-radio-label {
    margin-left: rem(5px);
    color: var(--text-secondary);
    font-size: rem(14px);
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    line-height: rem(20px);
    padding: rem(10px) 0;
  }

  .custom-radio-btn {
    appearance: none;
    margin-right: 0;
    position: relative;
    cursor: pointer;
    width: rem(20px);
    height: rem(20px);
    border: rem(1.5px) solid var(--sel-con-selected-background);
    border-radius: 50%;


    &:focus-visible {
      outline: rem(1px) solid var(--secondary-main);
      outline-offset: rem(2px);
    }
  }

  .custom-radio-btn::after {
    content: '';
    width: rem(10px);
    height: rem(10px);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
  }



  .radio-disabled {
    pointer-events: none !important;

    input {
      accent-color: var(--text-disabled) !important;
      border-color: var(--text-disabled) !important;
    }

    label {
      color: var(--text-disabled) !important;
    }
  }

  .custom-radio-btn:checked::after,
  .custom-radio-btn:disabled:checked::after,
  .radio-disabled.radio-checked input::after,
  .radio-disabled.radio-checked input:disabled:checked::after {
    opacity: 1;
    background: var(--sel-con-selected-background);
  }

  .radio-checked {
    label {
      color: var(--primary-main) !important;
    }
  }

  .radio-box-group-error-msg {
    color: var(--bs-red);
  }
}