.trips-cards-container,
.modal-cards-container {
  .trip-card {
    border-radius: rem(8px);
    overflow: hidden;
    height: rem(280px);
    padding: rem(16px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include media('>=tablet') {
      flex-basis: 50%;
      width: 50%;
    }
    &.modal-card {
      flex-basis: 100%;
      width: 100%;
      margin: rem(10px) 0;
      z-index: 1;
    }
    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .skyplus-slider {
      .swiper-des {
        .swiper-wrapper {
          .swiper-slide {
            padding: 0 rem(10px);
            width: 100% !important;
            height: 100%;
            overflow-y: hidden;
          }
        }
        .swiper-pagination {
          position: relative;
          bottom: 0;
          .swiper-pagination-bullet {
            background: white;
            width: rem(6px);
            height: rem(6px);
            opacity: 0.6;
          }
          .swiper-pagination-bullet-active {
            width: rem(16px);
            height: rem(6px);
            opacity: 1;
          }
        }
      }
    }
    .booking-status-container {
      display: flex;
      gap: rem(8px);
      margin: rem(8px) 0;
      padding: 0 rem(10px);
      position: relative;
      .journey-type {
        padding: 0 rem(8px);
        background-color: transparent;
        border: solid rem(1px) var(--white);
        color: var(--white);
      }
      span {
        background-color: var(--white);
        padding: rem(2px) rem(8px) rem(2px) rem(2px);
        border-radius: rem(30px);
        display: flex;
        font-size: rem(10px);
        font-family: var(--font-family-poppins-medium);
        align-items: center;
        gap: rem(4px);
        i {
          &::before {
            font-size: rem(16px);
          }
        }
      }
      span.bg-green {
        background-color: var(--secondary-deep);
        color: var(--system-success);
      }

      span.bg-red {
        background-color: var(--system-warning-light);
        color: var(--system-warning);
      }
    }
    .date-pax {
      display: flex;
      justify-content: space-between;
      color: var(--white);
      font-size: rem(10px);
      @include media('>=tablet') {
        font-size: rem(12px);
      }
      .journey-date {
        .journey-type {
          padding: rem(0px) rem(8px);
          margin: rem(0px) rem(8px);
          font-size: rem(10px);
          border-radius: rem(18px);
          border: rem(1px) solid var(--white);
          @include media('>=tablet') {
            font-size: rem(12px);
          }
        }
      }
      .icon-Passenger::before {
        color: var(--white);
        font-size: rem(12px);
        @include media('>=tablet') {
          font-size: rem(16px);
        }
      }
      .icon-calender::before {
        color: var(--white);
        font-size: rem(12px);
        @include media('>=tablet') {
          font-size: rem(16px);
        }
      }
    }
    .flight-info {
      display: flex;
      justify-content: space-between;
      .destination-container {
        text-align: right;
      }
      .origin-container,
      .destination-container {
        flex-basis: 25%;
        color: var(--white);
        .origin,
        .destination {
          font-family: var(--font-family-poppins-regular);
          color: var(--white);
          font-size: rem(20px);
          font-style: normal;
          font-weight: 600;
          line-height: rem(24px);
        }
        .origin-name,
        .destination-name {
          font-family: var(--font-family-poppins-regular);
          font-size: rem(12px);
          font-style: normal;
          font-weight: 300;
          line-height: rem(18px);
        }
      }
      .journeylap-container {
        flex-basis: 40%;
        .journey-lap {
          .journey-lap-flight-icon {
            color: var(--white);
          }
          .journey-lap-line {
            border-top: rem(1px) dotted var(--white);
          }
          .skyplus-text {
            color: var(--white);
          }
          .body-small-regular.text-color {
            color: var(--white);
          }
        }
      }
    }
    .trips-card-btn-container {
      .trips-card-btn {
        margin: rem(5px) rem(0px);
        height: rem(32px);
        font-size: rem(14px);
        width: 100%;
      }
      @include media('>=tablet') {
        display: flex;
        gap: rem(10px);
        .skyplus-button {
          flex-basis: 50%;
          flex-grow: 1;
          .trips-card-btn {
            margin: rem(5px) rem(0px);
            height: rem(36px);
            font-size: rem(14px);
            width: 100%;
          }
        }
      }
    }
  }
}
.tooltip-message-container {
  background-color: var(--system-warning-light);
  width: auto;
  padding: rem(4px) rem(8px);
  height: rem(48px);
  bottom: rem(5px);
  @include media('>=tablet') {
    bottom: 0;
  }
  left: rem(10px);
  display: none;
  z-index: 1;
  span {
    background-color: var(--white);
    padding: 0 rem(2px);
    border-radius: rem(30px);
    display: flex;
    font-size: rem(10px);
    font-family: var(--font-family-poppins-medium);
    align-items: center;
    i {
      &::before {
        font-size: rem(16px);
      }
    }
  }
  span.bg-green {
    background-color: var(--secondary-deep);
    color: var(--system-success);
  }

  span.bg-red {
    background-color: var(--system-warning-light);
    color: var(--system-warning);
  }
}
.partial-status-container {
  cursor: pointer;
  
}
.partial-status-wrapper{
  &:hover{
    .tooltip-message-container{
      display: block;
    }
  }
}
