@import "../../index";

.destination {
  &-toggle {
    position: sticky;
    top: rem(48px) ;
    z-index: 1028;
    margin: rem(24px) 0 rem(32px) ;
    padding: rem(4px);
    background-color: var(--white);
    border: 1px solid var(--secondary-deep);
    border-radius: rem(22px);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(40%, 1fr);

    @include scroll-snap-styles;

    @include media(">=tablet") {
      top: rem(80px) ;
    }

    @include media(">=desktop") {
      margin: rem(32px) 0;
      grid-auto-columns: minmax(30%, 1fr);
    }
  }

  &-segment-btn {
    button {
      padding: rem(8px) rem(16px);
      display: flex;
      gap: rem(8px);
      align-items: center;
      justify-content: center;
      border: 0;
      outline: 0;
      font-size: rem(14px);
      font-weight: 500;
      line-height: rem(20px);


      .dots {
        flex-grow: 1;
        width: rem(48px);
        max-width: rem(48px);
        border-bottom: rem(1px) dotted currentcolor;
      }

      @include media(">=desktop") {
        font-size: rem(16px);
        line-height: rem(24px);
      }
    }

    &.not-selected button {
      background-color: transparent;
      color: var(--text-tertiary);
    }
  }
}
