$chip-background : #EBF3FE;
$hover-bg: #F6FCFF;
$hover-border: #00AEE5;

.visa-srp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: rem(12px);
  width: 100%;
  position: relative;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;

  @include media('>=tablet') {
    min-width: rem(763px);
    max-width: rem(1440px);
    margin-bottom: rem(40px);
  }

  &-head {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: rem(24px) 0;
  }

  .visa-service-popup {
    .popup-modal-global__content {
      .popup-modal-global__close-overlay-button {
        cursor: pointer;
        position: relative;
      }

      padding: rem(24px) !important;

      .flight-srp-icon {
        margin-right: rem(8px);
      }
    }
  }
  .visa-disclaimer-popup {
    font-family: var(--font-family-poppins-regular);
    .popup-modal-global {
      &__bg-overlay {
        @include media('<=tablet') {
          align-items: center;
        }
      }
      &__header {
        &__title {
          @include media('<=tablet') {
            width: auto;
            font-size: rem(24px);
            line-height: rem(24px);
          }
        }
      }
      &__content {
        width: calc(100% - 32px);
        padding: rem(20px);
        padding-bottom: 0;
        border-radius: rem(12px);
        @include media('>=tablet') {
          width: rem(708px);
          padding: rem(24px);
          padding-bottom: 0;
        }
      }
      &__close-overlay-button {
        cursor: pointer;
        position: relative;
        @include media('<=tablet') {
          top: rem(12px);
          right: - rem(20px);
          background-color: transparent;
          left: unset;
          svg {
            width: rem(24px);
            height: rem(24px);
          }
        }
      }
    }
    &-disclaimer-text {
      font-size: rem(12px);
      line-height: rem(18px);
      font-weight: 400;
      color: var(--text-secondary);
      @include media('>=tablet') {
        font-size: rem(16px);
        line-height: rem(24px);
      }
    }
    &-ctas {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      gap: rem(16px);
      .skyplus-button  {
        width: auto;
        min-width: calc(50% - 8px);
        max-width: calc(50% - 8px);
        @include media('>=tablet') {
          max-width: 50%;
          min-width: rem(155px);
        }
      }
      @include media('>=tablet') {
        gap: rem(24px);
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      margin: rem(16px) 0;
      padding: rem(11px) rem(24px);
      border-radius: rem(24px);
      font-size: rem(14px);
      line-height: rem(20px);
      @include media('>=tablet') {
        padding: rem(8px) rem(32px);
        border-radius: rem(28px);
        font-size: rem(16px);
        line-height: rem(24px);
      }
      &.cancel {
        border: rem(1px) solid var(--primary-main);
        padding: rem(11px) rem(24px);
        @include media('>=tablet') {
          padding: rem(7px) rem(32px);
        }
      }
    }
    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      background-color:  var(--text-alice-blue);
      color: var(--text-primary);
      font-weight: 400;
      height: rem(36px);
      font-size: rem(12px);
      line-height: rem(18px);
      padding-right: rem(16px);
      border-bottom-left-radius: rem(12px);
      border-bottom-right-radius: rem(12px);
      width:calc(100% + 40px);
      margin-left: - rem(20px);
      @include media('>=tablet') {
        width:calc(100% + 48px);
        margin-left: - rem(24px);
        font-size: rem(12px);
        line-height: rem(18px);
        justify-content: flex-end;
        height: rem(44px);
        font-size: rem(16px);
        line-height: rem(24px);
      }
    }
  }
}

.visa-srp-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(16px);
  border-radius: rem(12px);
  box-shadow: var(--box-shadow-card-soft);
  background-color: var(--white);
  width: 100%;

  @include media('>=tablet') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: rem(16px);
    border-radius: rem(12px);
    gap: rem(16px);
    box-shadow: var(--box-shadow-card-soft);
    background-color: var(--white);
    width: 100%;
  }

  &-left {
    display: flex;

    @include media('>=tablet') {
      display: flex;
    }

    .left-radio {
      display: none;
      z-index: 999;

      @include media('>=tablet') {
        display: block;
      }
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .radio {
        display: inline-block;
      }

      &-radio {
        display: flex;

        .radio {
          @include media('>=tablet') {
            display: none;
          }
        }
      }

      &-chips {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: rem(32px);
        order: 2;

        @include media('>=tablet') {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          order: unset;
          margin-bottom: 0;
        }

        &-prices {
          display: flex;
          justify-content: space-evenly;
          width: 50%;

          .adult-price,
          .child-price {
            .text {
              font-family: var(--font-family-poppins-regular);
              font-size: rem(12px);
              font-weight: 400;
              line-height: rem(16px);
              color: var(--text-tertiary);
            }

            .curr {
              font-family: var(--font-family-poppins-regular);
              font-size: rem(16px);
              font-weight: 600;
              line-height: rem(24px);
              color: var(--primary-main);
            }
          }

          @include media('>=tablet') {
            display: none;
          }
        }
      }

      &__text {

        font-family: var(--font-family-poppins-regular);
        font-weight: 500;
        font-size: rem(16px);
        line-height: rem(20px);
        margin-top: rem(8px);
        color: var(--text-primary);

        @include media('>=tablet') {
          font-family: var(--font-family-poppins-regular);
          font-weight: 600;
          font-size: rem(20px);
          line-height: rem(36px);
          margin-top: rem(4px);
        }
      }

      .chips-bg {
        background-color: var(--system-warning-light);
        border: rem(1px) solid var(--system-warning);
        order: 2;

        @include media('>=tablet') {
          background-color: var(--system-warning-light);
          border: rem(2px) solid var(--system-warning);
          order: unset;
          margin-bottom: 0;
        }

        .chips-text {
          font-size: rem(10px);
          font-weight: 500;
          font-family: var(--font-family-poppins-regular);
          line-height: rem(14px);
          color: var(--system-warning);
        }
      }

      &-service {
        @include media('>=tablet') {
          margin-top: rem(9px);
        }

        .text {
          font-family: var(--font-family-poppins-regular);
          font-weight: 400;
          font-size: rem(12px);
          line-height: rem(20px);
          color: var(--text-primary);

          @include media('>=tablet') {
            font-family: var(--font-family-poppins-regular);
            font-weight: 400;
            font-size: rem(14px);
            line-height: rem(20px);
          }

          ul>li {
            font-family: var(--font-family-poppins-regular);
            font-weight: 400;
            font-size: rem(10px);
            line-height: rem(16px);
            color: var(--other-divider);
            list-style-type: disc;
            margin-left: rem(18px);
            margin-top: rem(4px);

            @include media('>=tablet') {
              font-family: var(--font-family-poppins-regular);
              font-weight: 400;
              font-size: rem(14px);
              line-height: rem(16px);
              color: var(--other-divider);
              list-style-type: disc;
              margin-left: rem(18px);
              margin-top: rem(4px);
            }
          }
        }

      }

      &-view {
        cursor: pointer;
        font-family: var(--font-family-poppins-regular);
        font-weight: 400;
        font-size: rem(12px);
        line-height: rem(20px);
        color: var(--primary-main);
        text-decoration: underline;
        margin-top: rem(4px);

        @include media('>=tablet') {
          font-family: var(--font-family-poppins-regular);
          font-weight: 400;
          font-size: rem(14px);
          line-height: rem(20px);
          color: var(--primary-main);
          text-decoration: underline;
          margin-top: rem(4px);
        }
      }
    }

    .chip-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-radius: 0 0 rem(12px) rem(12px);
      padding: rem(5px) rem(20px);
      text-align: center;
      background: $chip-background;
      font-family: var(--font-family-poppins-regular);
      font-size: rem(12px);
      font-weight: 400;
      line-height: rem(20px);

      @include media('>=tablet') {
        display: none;
        gap: rem(16px);
      }
    }
  }

  &-right {
    display: none;

    @include media('>=tablet') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: nowrap;
    }

    &-prices {
      @include media('>tablet') {
        display: flex;
        gap: rem(24px);
        flex-grow: 1;
        margin-right: rem(14px);
      }

      .adult-price,
      .child-price {
        .text {
          font-family: var(--font-family-poppins-regular);
          font-size: rem(12px);
          font-weight: 400;
          line-height: rem(16px);
          color: var(--text-tertiary);
        }

        .curr {
          font-family: var(--font-family-poppins-regular);
          font-size: rem(20px);
          font-weight: 600;
          line-height: rem(24px);
          color: var(--primary-main);
        }

        .tax {
          font-family: var(--font-family-poppins-regular);
          font-size: rem(10px);
          font-weight: 400;
          line-height: rem(18px);
          color: var(--text-tertiary);
        }
      }
    }

    &-chips {
      .chips-bg {
        background-color: $chip-background;

        .chips-text {
          font-family: var(--font-family-poppins-regular);
          font-weight: 400;
          font-size: rem(12px);
          line-height: rem(20px);
          color: var(--text-secondary);
        }
      }
    }
  }
}

.visa-srp-wrapper.active {
  box-shadow: var(--box-shadow-card-soft);
  background-color: $hover-bg;
  border: rem(1px) solid $hover-border;
}

.popup-modal-global__bg-overlay {
  justify-content: center;
  align-items: flex-end;
  width: 100%;

  &-button {
    display: flex;
  }

  @include media('>=tablet') {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .popup-modal-global__content {
    border-radius: rem(12px) rem(12px) 0 0;
    width: 100%;
    padding: rem(20px);

    @include media('>=tablet') {
      background-color: var(--white);
      border-radius: rem(8px);
      padding: rem(30px);
      position: unset;
      transform: unset;
      width: rem(408px);
    }
  }

  .popup-modal-global {
    &__header {
      height: rem(44px) !important;

      &__title {
        color: var(--text-primary);
        text-align: center;
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(16px);
        font-weight: 400;
        line-height: rem(20px);
        letter-spacing: rem(1px);
        margin-bottom: rem(20px);
        cursor: pointer;
        width: 100%;

        @include media('>=tablet') {
          text-align: left;
          color: var(--text-primary);
          font-family: var(--font-family-bauhuas-std-medium);
          font-size: rem(32px);
          font-weight: 500;
        }
      }

    }

    &__close-overlay-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: rem(-73px);
      left: -40%;

      transform: translate(-50%, -50%);
      width: rem(40px);
      height: rem(34px);
      background-color: var(--white);
      border-radius: 50%;

      @include media('>=tablet') {
        background-color: transparent;
        position: relative;
        top: rem(10px);
        left: rem(24px);
      }
    }

  }
}

.visa-srp-wrapper__info-popup {
  @include media('>=tablet') {
    max-width: rem(360px);

  }

  &-test {
    overflow: hidden;
    margin-bottom: rem(16px);
  }

  &-test li {
    color: var(--text-primary);
    font-family: var(--font-family-poppins-regular);
    font-size: rem(16px);
    font-weight: rem(400);
    line-height: rem(24px);
    padding: rem(8px);
    display: flex;
    align-items: baseline;


    & .icon-Flight {
      color: var(--offer-card-icon);
    }

    & span {
      font-family: var(--font-family-poppins-regular);
      font-size: rem(14px);
      font-weight: 400;
      line-height: rem(24px);
    }

    @include media('>=tablet') {
      color: var(--text-primary);
      font-family: var(--font-family-poppins-regular);
      font-size: rem(16px);
      font-weight: rem(400);
      line-height: rem(24px);
      padding: rem(8px);
    }
  }
}