.journey-bar__leg span:first-child::after {
  border: rem(2px) dotted;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  content: "";
  display: inline-block;
  margin: 0 rem(8px);
  width: rem(24px);
}

.visa-srp-header {
  display: flex;

  & span {
    margin-right: rem(6px);
  }
}

.sky-icons {
  margin: 0 rem(8px);
}

.visa-srp-wrapper .active {
  .radio-input+span::after {
    opacity: 1;
  }
}

.visa-srp-head {
  display: flex;
  flex-direction: column-reverse;
  padding: rem(0px);

  &-tabs {
    display: flex;

    .flight-journey-tab-wrapper {
      width: 100%;

      .flight-journey-tab-container {
        overflow: hidden;

        .flight-journey-tab-container__leg span:first-child::after {
          display: none;
        }
      }


    }

    @include media('>=tablet') {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 67%;
      margin: 0 auto;

    }

    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    @include media('>=tablet') {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 67%;
      margin: 0 auto;

      .flight-journey-tab-wrapper {
        width: 100%;
      }
    }

    &-btn {
      background-color: var(--white);

      .flight-journey-tab-container__outer {
        min-width: 50%;
        flex: 0 0 auto;

        @include media('>=tablet') {
          min-width: rem(160px);
          flex: 1;
        }
      }
    }
  }


}

.visa-srp-head-btn {
  order: 0;

}

.visa-srp-head-text {
  display: block;
  order: 2;
  padding-bottom: rem(8px);
  font-size: rem(24px) !important;
  font-weight: 400;
  line-height: rem(32px);
  color: var(--text-primary);
  font-family: var(--font-family-bauhuas-std-medium);
  letter-spacing: rem(-0.8px);

  @include media('>=tablet') {
    font-size: rem(24px) !important;
    display: block;
    order: 1;
    font-size: rem(18px);
    font-weight: 500;
    line-height: rem(48px);
    color: var(--bs-black);
    padding-bottom: rem(28px);

    & span {
      font-size: rem(40px);
    }

  }


}

.text-subtitle {
  order: 1;
  color: var(--text-secondary);
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(20px);
  margin-bottom: rem(16px);
}

.note {
  background: var(--text-alice-blue);
  padding: rem(12px);
  border-radius: rem(8px);
  width: 100%;
  margin-top: 32px;

  @include media ('>=tablet') {
    margin-top: 16px;
  }

  &-disclaimer {
    font-family: var(--font-family-poppins-regular);
    color: var(--text-primary);
    font-size: rem(12px);
    font-weight: 400;
    line-height: rem(24px);
  }

  &-text {
    font-family: var(--font-family-poppins-regular);
    color: var(--other-divider);
    font-size: rem(12px);
    font-weight: 400;
    line-height: rem(18px);

    .text-blue {
      color: var(--text-primary-main);
    }
  }

  @include media ('>=tablet') {
    .visa-srp-head {
      display: flex;
      flex-direction: column;
      gap: rem(32px);

    }

    .visa-srp-head-btn {
      order: -1;
    }

    .visa-srp-head-text {
      display: block;
      font-family: var(--font-family-bauhuas-std-medium);
      color: var(--text-primary);
      font-size: rem(24px);
      font-weight: 400;
      line-height: rem(40px);

    }
  }



  .flight-journey-tab-container__outer.active>div span {
    color: var(--white);
    font-family: var(--font-family-poppins-regular);
    font-size: rem(16px);
    font-weight: 500;
    line-height: rem(24px);
  }


}

.no-visa-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: rem(20px);
  border-radius: rem(12px);
  box-shadow: var(--box-shadow-card-soft);
  background-color: var(--secondary-white);
  border: 0.0625rem solid var(--secondary-main);
  font-family: var(--font-family-poppins-regular);
  font-weight: 400;
  font-size: rem(12px);
  line-height: rem(24px);
  margin-top: rem(4px);

  @include media('>=tablet') {
    font-weight: 600;
    font-size: rem(16px);
    line-height: rem(36px);
  }

}

.show-more {
  color: var(--text-primary-main);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-flow: wrap;
}

.read-more,
.read-less {
  cursor: pointer;
  text-decoration: underline;
}