.point-redemption-container {
  z-index: 2;
  display: flex;
  padding: rem(16px);
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  font-family: var(--font-family-poppins-regular);
  background: var(--action-selected-background);
  flex-direction: column;

  @include media(">=tablet") {
    flex-direction: row;
    border-radius: 0 rem(12px) rem(12px) 0;
  }

  .container-heading {
    color: var(--other-divider);

    font-size: rem(11px);
    font-weight: 400;
    line-height: rem(18px);

    @include media(">=tablet") {
      font-size: rem(12px);
    }

    /* 163.636% */
  }

  .amount {
    color: var(--sel-con-active-text);
    font-family: var(--font-family-bauhuas-std-medium);
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(32px);
    letter-spacing: rem(-0.6px);
      @include media(">=tablet") {
        margin-bottom: rem(8px);
    }
  }

  .view-summary {
    display: flex;
    align-items: center;
    color: var(--primary-main);
    cursor: pointer;
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(20px);
    @include media(">=tablet") {
      font-size: rem(16px);
      font-weight: 500;
      line-height: rem(24px);
      padding: rem(4px) 0;
    }
  }

  .points-summary {
    display: flex;
    justify-content: center;
    align-items: stretch;

    /* Ensure items stretch to equal height */
    @include media(">=tablet") {
      flex-direction: column;
      height: 100%;
      width: 30%;
    }

    width: 100%;

    .points-item {
      padding: rem(24px);
      border-radius: rem(12px) 0 0 0;
      border: rem(1px) solid $border-color-secondary;
      background: $light-grey-alpha-1;

      @include media(">=tablet") {
        height: 100%;
        width: unset;
      }

      width: 100%;

    }

    .final-container {
      padding: rem(24px);
      border: rem(1px) solid $border-color-secondary;
      background: $light-grey-alpha-1;

      @include media(">=tablet") {
        height: 100%;
        width: unset;
      }

      width: 100%;
      border-radius: 0 rem(12px) 0 0;

      @include media(">=tablet") {
        border-radius: 0 0 0 rem(12px);
      }
    }
  }

  .border-with-points {
    border-radius: rem(12px) !important;
  }

  .secondary-container {
    display: flex;
    padding: rem(12px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(12px);
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0 0 rem(12px) rem(12px);
    border: rem(1px) solid $border-color-secondary;
    background: $light-grey-alpha-1;

    @include media(">=tablet") {
      border-radius: 0 rem(12px) rem(12px) 0;
      gap: rem(24px);
    }

    .point-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(8px);

      .point-section {
        color: var(--bs-black);
        font-family: var(--font-family-bauhuas-std-medium);
        font-size: rem(32px);
        font-style: normal;
        font-weight: 500;
        line-height: rem(44px);
        letter-spacing: rem(-0.8px);

        @include media(">=tablet") {
          font-size: rem(40px);
        }
      }

      .reward {
        color: var(--text-secondary);
        font-size: rem(14px);
        font-weight: 500;
        line-height: rem(24px);

        @include media(">=tablet") {
          font-size: rem(24px);
        }

        /* 100% */
      }
    }

    .button-wrapper {
      display: flex;
      cursor: pointer;
      width: 85%;
      padding: rem(12px) rem(32px);
      justify-content: center;
      align-items: center;
      gap: rem(4px);
      border-radius: rem(28px);
      background: var(--primary-main);
      backdrop-filter: blur(8px);
        @include media(">=tablet") {
      width: 65%;
      padding: rem(16px) rem(44px);

        }
      span {
        color: var(--secondary-white);
        text-align: center;
        font-size: rem(14px);
        font-weight: 500;
        line-height: rem(20px);

        @include media(">=tablet") {
          font-size: rem(16px);
          line-height: rem(24px);

        }

        /* 142.857% */
      }
    }
  }
}