.bubble-button-item {
  display: flex;
  width: 100%;
  padding: rem(16px) rem(16px) rem(16px) rem(28px);
  border-radius: rem(54px);
  background-color: get-color(white);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: rem(10px);
  font-family: var(--font-family-poppins-medium);

  @include media('>tablet') {
    width: rem(350px);
    flex-wrap: nowrap;
    margin-right: rem(10px);
  }

  &__left {
    .body-large-medium {
      color: get-color(primary-main);
      font-family: var(--font-family-poppins-medium);
    }

    .button-desc {
      display: flex;
      font-weight: 400;
      justify-content: space-between;
      align-items: center;
      gap: rem(8px);

      .body-medium-regular{
        color: get-color(text-secondary);
      }

      .row {
        content: '';
        border: 1px solid get-color(text-secondary);
        height: rem(12px);
        display: inline-block;
      }
    }
  }

  &__right {
    width: rem(36px);
    height: rem(36px);
    background-color: get-color(primary-main);
    border-radius: rem(20px);
    position: relative;

    svg {
      position: absolute;
      top: rem(10px);
      left: rem(10px);
      width: rem(16px);
      height: rem(16px);
    }
  }
}

.search-widget-form-body.xplore_grid{
  grid-template-columns: 3fr 3fr 0fr minmax(0, min-content) 0fr;

  @include media('>=desktop'){
    grid-template-columns: 3fr 0fr 1fr minmax(0, min-content) 1.5fr;
  }
}
